In [8]:
import pandas as pd
import os

In [9]:
os.getcwd()

'/home/adalaber/Escritorio/ADALAB/LORENA/CLASES/modulo2/proyecto/project-da-promo-d-module-2-team-2-/notebooks'

In [10]:
df_kaggle = pd.read_csv("../datos/data_remaning_kaggle.csv")

In [22]:
df_kaggle.head()
#eliminamos las partes de la cuestión 38, ya que pertenece a las Cuestiones suplementarias y estas están dirigidas a un público no especializado (estudiantes y no profesionales)

,Unnamed: 0,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_kaggle.drop(["Q38_B_Part_1"]:,inplace = True)

SyntaxError: invalid syntax (2205891086.py, line 1)

In [ ]:
df_kaggle.columns
#son tipo de preguntas select all that apply/multirespuesta

In [27]:
for elemento in df_kaggle.columns:
    if "38" in elemento:
        df_kaggle.drop([elemento],axis = 1, inplace = True)
df_kaggle.columns

Index(['Unnamed: 0', 'index', 'Q18_Part_1', 'Q18_Part_2', 'Q18_Part_3',
       'Q18_Part_4', 'Q18_Part_5', 'Q18_Part_6', 'Q18_OTHER', 'Q19_Part_1',
       ...
       'Q36_B_Part_7', 'Q36_B_OTHER', 'Q37_B_Part_1', 'Q37_B_Part_2',
       'Q37_B_Part_3', 'Q37_B_Part_4', 'Q37_B_Part_5', 'Q37_B_Part_6',
       'Q37_B_Part_7', 'Q37_B_OTHER'],
      dtype='object', length=190)

In [28]:
# función para eliminar las columnas en las que no nos vamos a centrar en el estudio
def eliminar (dataframe, *num_columna):
    for elemento in dataframe.columns:
        for i  in num_columna:
            if i in elemento:
                dataframe.drop([elemento],axis = 1, inplace = True)
    return dataframe.columns

In [30]:
#HEMOS BORRADO LOS ELEMENTOS QUE APARECEN EN LA LISTA DE *ARGS, QUE HEMOS CONSIDERADO QUE NO VAMOS A UTILIZAR EN NUESTRO ANÁLISIS
eliminar(df_kaggle,*['27_B', '29_B', '30_B', '31_B', '32_B', '34_B', '36_B', '37_B', '38_B'])

Index(['Unnamed: 0', 'index', 'Q18_Part_1', 'Q18_Part_2', 'Q18_Part_3',
       'Q18_Part_4', 'Q18_Part_5', 'Q18_Part_6', 'Q18_OTHER', 'Q19_Part_1',
       ...
       'Q42_Part_3', 'Q42_Part_4', 'Q42_Part_5', 'Q42_Part_6', 'Q42_Part_7',
       'Q42_Part_8', 'Q42_Part_9', 'Q42_Part_10', 'Q42_Part_11', 'Q42_OTHER'],
      dtype='object', length=101)

In [13]:
df_exported_data = pd.read_csv("../datos/exported_db_data.csv")

In [32]:
df_exported_data.head()

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
for i in df_exported_data.columns:
    print(i)
#LAS HERRAMIENTAS DE NOTEBOOKS

index
Q10_Part_1
Q10_Part_2
Q10_Part_3
Q10_Part_4
Q10_Part_5
Q10_Part_6
Q10_Part_7
Q10_Part_8
Q10_Part_9
Q10_Part_10
Q10_Part_11
Q10_Part_12
Q10_Part_13
Q10_Part_14
Q10_Part_15
Q10_Part_16
Q10_OTHER

In [17]:
df_data_txt = pd.read_csv("../datos/data_txt_clean.txt", sep = ";")

In [18]:
df_data_txt.head(2)

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN

In [33]:
for i in df_data_txt.columns:
    print(i)
#COMMENT: hay que ver cuáles sirven y cuáles no

index
Q3
Q4
Q5
Q6
Q8
Q11
Q13
Q15
Q20
Q21
Q22
Q23
Q25
Q26
Q33
Q35
Q41
Q7
Q9
Q12
Q14
Q16
Q17
Q24
Q32
Q34

In [19]:
df_data_xml = pd.read_xml("../datos/data_xml_clean.xml")

In [20]:
df_data_xml.head()

   level_0  index  time    age gender
0        0      0   910  50-54    Man
1        1      1   784  50-54    Man
2        2      2   924  22-24    Man
3        3      3   575  45-49    Man
4        4      4   781  45-49    Man

In [35]:
for i in df_data_xml.columns:
    print(i)
#COMMENT: edad y género podemos mantenerlas como columnas

level_0
index
time
age
gender