In [2]:
import pandas as pd
import os

In [3]:
os.getcwd()

'/home/adalaber/Escritorio/ADALAB/LORENA/CLASES/modulo2/proyecto/project-da-promo-d-module-2-team-2-/notebooks'

In [4]:
df_kaggle = pd.read_csv("../datos/data_remaning_kaggle.csv")

In [6]:
df_kaggle.head(3)

,Unnamed: 0,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_exported_data = pd.read_csv("../datos/exported_db_data.csv")

In [8]:
df_exported_data.head(2)

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
with open("../datos/data_txt_clean.txt") as f:
    fichero_txt = f.read()

In [6]:
print(fichero_txt[0:50])
#meterlo en sql en una tabla para poder hacer una query y hacer un dataframe de este archivo

index;Q3;Q4;Q5;Q6;Q8;Q11;Q13;Q15;Q20;Q21;Q22;Q23;Q

In [7]:
import xml.etree.ElementTree as ET

In [8]:
tree = ET.parse("../datos/data_xml_clean.xml")

In [10]:
root = tree.getroot()