In [2]:
import re
import numpy as np
import pandas as pd
import pickle

In [3]:
pd.options.mode.chained_assignment = None  
pd.options.display.max_columns=None
pd.options.display.max_rows=100
pd.set_option('display.max_colwidth', None)

In [4]:
df = pd.read_csv('../datos/datos_sin_unos.csv', index_col = 0)
df.head(2)

,Unnamed: 0,age,gender,country,continent,job_title,work_activities,size_DA_dept,years_programming,first_language_rec,dev_language,primary_data_tool,IDE,big_data,BI_tools,visualisation,ML,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other,dev_language_Javascript,dev_language_None,dev_language_R,dev_language_Bash,dev_language_Python,dev_language_Other,dev_language_C,dev_language_MATLAB,dev_language_Julia,dev_language_Java,dev_language_C++,dev_language_Swift,dev_language_SQL,IDE_None,IDE_Sublime Text,IDE_Vim / Emacs,IDE_RStudio,IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc),IDE_Other,IDE_Visual Studio,IDE_Notepad++,IDE_Visual Studio Code (VSCode),IDE_Spyder,IDE_PyCharm,IDE_MATLAB,IDE_Jupyter Notebook,visualisation_None,visualisation_Matplotlib,visualisation_Other,visualisation_Seaborn,visualisation_Altair,visualisation_Shiny,visualisation_D3 js,visualisation_Bokeh,visualisation_Leaflet / Folium,visualisation_Plotly / Plotly Express,visualisation_Geoplotlib,visualisation_Ggplot / ggplot2,activities_ML_prototypes,activities_run_ML,activities_ML_research,activities_Other,activities_improve_ML,activities_None,activities_analyze_data,activities_data_infrastructure,big_data_Google Cloud Firestore,big_data_Google Cloud BigTable,big_data_Google Cloud Spanner,big_data_PostgreSQL,big_data_Microsoft Azure Cosmos DB,big_data_SQLite,big_data_Amazon DynamoDB,big_data_None,big_data_Microsoft Azure SQL Database,big_data_Amazon RDS,big_data_Other,big_data_Snowflake,big_data_Amazon Aurora,big_data_Google Cloud SQL,big_data_Microsoft SQL Server,big_data_Oracle Database,big_data_Google Cloud BigQuery,big_data_Amazon Redshift,big_data_IBM Db2,big_data_MongoDB,big_data_MySQL,BI_tools_None,BI_tools_Tableau,BI_tools_Looker,BI_tools_Google Data Studio,BI_tools_TIBCO Spotfire,BI_tools_Other,BI_tools_Qlik,BI_tools_Tableau CRM,BI_tools_SAP Analytics Cloud,BI_tools_Sisense,BI_tools_Microsoft Power BI,BI_tools_Amazon QuickSight,BI_tools_Salesforce,BI_tools_Microsoft Azure Synapse,BI_tools_Domo,BI_tools_Thoughtspot,BI_tools_Alteryx
0,0,50-54,Man,India,Asia,Other,None of these activities are an important part of my role at work,3-4,5-10 years,Python,"Python, R","Local development environments (RStudio, JupyterLab, etc.)",Vim / Emacs,PostgreSQL,None,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium",5-10 years,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,NaN,NaN,R,NaN,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vim / Emacs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matplotlib,NaN,Seaborn,NaN,Shiny,NaN,NaN,Leaflet / Folium,NaN,NaN,Ggplot / ggplot2,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,PostgreSQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,50-54,Man,Indonesia,Asia,Program/Project Manager,Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data,1-2,20+ years,Python,"SQL, C, C++, Java","Advanced statistical software (SPSS, SAS, etc.)","Notepad++,Jupyter Notebook",NaN,NaN,Matplotlib,< 1 year,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,Java,C++,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Notepad++,NaN,NaN,NaN,NaN,Jupyter Notebook,NaN,Matplotlib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data_infrastructure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_da = df[(df["job_title"] == "Business Analyst") | (df["job_title"] == "Data Analyst")]

In [6]:
with open('../datos/diccionario_respuestas.pkl', 'rb') as f:
    diccionario_respuestas = pickle.load(f)

In [7]:
lista_columnas_combinar = ['dev_language_', 'IDE_', 'visualisation_', 'activities_', 'big_data_', 'BI_tools_', 'sharing_', 'notebooks_']

In [8]:
df_da.replace(np.nan, "", inplace=True)

In [9]:
def replace_punto_coma(col):
    return re.sub(r";+", ";", col)

In [10]:
def replace_none(col):
    return re.sub(r"None;", ";", col)

In [11]:
def columna_combo(dataframe, lista_columnas, nombre):
    lista = []
    dataframe[nombre] = ""

    for col in dataframe.columns:
        for i in lista_columnas:
            if i in col:
                lista.append(col)
    
    set_col = set(lista)
    print(set_col)
    for col in set_col:
        dataframe[nombre] += df_da[col] + ";"

    dataframe[nombre] = dataframe[nombre].apply(replace_punto_coma)
    
    dataframe[nombre] = dataframe[nombre].apply(replace_none)

    dataframe[nombre] = dataframe[nombre].apply(lambda x: x.strip(";"))
    
    dataframe[nombre] = dataframe[nombre].apply(replace_punto_coma)

    df_combo_counts = dataframe[nombre].value_counts().reset_index()

    df_combo_counts.columns = ['tools', 'count']
    
    display(df_combo_counts.head(20))
    
    return df_combo_counts

In [12]:
# def columna_combo(lista_columnas, nombre):

#     df_da[nombre] = ""

#     for col in df_da.columns:
#         for i in lista_columnas:
#             if i in col:
#                 df_da[nombre] += df_da[col] + ";"

#     df_da[nombre] = df_da[nombre].apply(replace_punto_coma)
    
#     df_da[nombre] = df_da[nombre].apply(replace_none)

#     df_da[nombre] = df_da[nombre].apply(lambda x: x.strip(";"))
    
#     df_da[nombre] = df_da[nombre].apply(replace_punto_coma)

#     df_combo_counts = df_da[nombre].value_counts().reset_index()

#     df_combo_counts.columns = ['tools', 'count']
    
#     display(df_combo_counts.head(20))
    
#     return df_combo_counts

In [13]:
df_combo_all = columna_combo(df_da, lista_columnas_combinar, 'combo_all')

/tmp/ipykernel_4956/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

{'big_data_MySQL', 'notebooks_ObservableNotebooks', 'IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc)', 'dev_language_Julia', 'notebooks_AmazonSagemakerStudioNotebooks', 'visualisation_Ggplot / ggplot2', 'big_data_Google Cloud Firestore', 'big_data_PostgreSQL', 'BI_tools_Qlik', 'IDE_Jupyter Notebook', 'IDE_PyCharm', 'big_data_Google Cloud Spanner', 'dev_language_Swift', 'BI_tools_Microsoft Power BI', 'big_data_Amazon DynamoDB', 'IDE_Spyder', 'visualisation_None', 'IDE_Visual Studio Code (VSCode)', 'visualisation_Seaborn', 'IDE_Notepad++', 'visualisation_Leaflet / Folium', 'notebooks_Other', 'IDE_Other', 'big_data_Amazon RDS', 'activities_ML_research', 'sharing_Streamlit', 'activities_Other', 'big_data_Google Cloud SQL', 'BI_tools_Domo', 'BI_tools_Tableau CRM', 'activities_improve_ML', 'notebooks_CodeOcean', 'notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI)', 'big_data_Google Cloud BigTable', 'notebooks_Binder/JupyterHub', 'dev_language_Javascript', 'sharing_Colab', 'visualisation_D3 js', 'notebooks_KaggleNotebooks', 'big_data_MongoDB', 'IDE_Visual Studio', 'dev_language_C++', 'IDE_Vim / Emacs', 'BI_tools_Tableau', 'dev_language_None', 'BI_tools_Alteryx', 'notebooks_DatabricksCollaborativeNotebooks', 'dev_language_Other', 'activities_data_infrastructure', 'big_data_Google Cloud BigQuery', 'BI_tools_Amazon QuickSight', 'notebooks_Zeppelin/ZeplNotebooks', 'big_data_SQLite', 'dev_language_SQL', 'visualisation_Matplotlib', 'sharing_PlotlyDash', 'dev_language_Python', 'visualisation_Bokeh', 'BI_tools_Google Data Studio', 'IDE_MATLAB', 'big_data_Oracle Database', 'dev_language_R', 'BI_tools_SAP Analytics Cloud', 'visualisation_Geoplotlib', 'notebooks_None', 'IDE_Sublime Text', 'IDE_RStudio', 'big_data_Microsoft SQL Server', 'notebooks_IBMWatsonStudio', 'sharing_NBViewer', 'sharing_GitHub', 'visualisation_Plotly / Plotly Express', 'BI_tools_Other', 'notebooks_ColabNotebooks', 'BI_tools_Salesforce', 'big_data_Snowflake', 'sharing_Kaggle', 'sharing_does_not_share', 'BI_tools_None', 'BI_tools_Sisense', 'dev_language_Bash', 'big_data_Microsoft Azure Cosmos DB', 'visualisation_Altair', 'notebooks_AmazonEMRNotebooks', 'BI_tools_Microsoft Azure Synapse', 'visualisation_Shiny', 'big_data_None', 'big_data_IBM Db2', 'visualisation_Other', 'big_data_Amazon Aurora', 'IDE_None', 'sharing_Other', 'notebooks_DeepnoteNotebooks', 'dev_language_MATLAB', 'sharing_Shiny', 'big_data_Amazon Redshift', 'dev_language_Java', 'BI_tools_TIBCO Spotfire', 'BI_tools_Thoughtspot', 'big_data_Other', 'notebooks_AzureNotebooks', 'activities_ML_prototypes', 'notebooks_GoogleCloudDatalab', 'activities_analyze_data', 'sharing_Personalblog', 'big_data_Microsoft Azure SQL Database', 'BI_tools_Looker', 'activities_None', 'notebooks_Paperspace/Gradient', 'activities_run_ML', 'dev_language_C'}

,tools,count
0,analyze_data,136
1,,37
2,Other,21
3,data_infrastructure;analyze_data,16
4,data_infrastructure,11
5,ML_research;improve_ML;data_infrastructure;ML_prototypes;analyze_data;run_ML,8
6,ML_research;analyze_data,7
7,run_ML,5
8,Ggplot / ggplot2;R;RStudio;analyze_data,4
9,data_infrastructure;ML_prototypes;analyze_data,4
10,Jupyter Notebook;Seaborn;Matplotlib;Python;analyze_data,4
11,analyze_data;run_ML,4
12,Jupyter Notebook;Seaborn; Kaggle Notebooks;Matplotlib;Python,4
13,Jupyter Notebook;Seaborn;SQL;Matplotlib;Python;analyze_data,3
14,ML_prototypes;analyze_data,3
15,Other;analyze_data,3
16,Other;SQL;analyze_data,3
17,Other;SQL,3
18,PyCharm;Matplotlib;Python,3
19,Jupyter Notebook;Seaborn; Kaggle Notebooks;data_infrastructure;SQL;Matplotlib;Python;analyze_data,3

In [14]:
df_dev_language_vis = columna_combo(df_da, ['dev_language_', 'visualisation_'], 'combo_dev_lang_vis')

{'visualisation_Altair', 'dev_language_R', 'visualisation_Shiny', 'dev_language_Julia', 'visualisation_Ggplot / ggplot2', 'visualisation_Other', 'visualisation_Geoplotlib', 'dev_language_Javascript', 'visualisation_D3 js', 'dev_language_MATLAB', 'dev_language_Java', 'dev_language_C++', 'dev_language_None', 'dev_language_Other', 'visualisation_Plotly / Plotly Express', 'dev_language_Swift', 'visualisation_Leaflet / Folium', 'dev_language_SQL', 'visualisation_Matplotlib', 'dev_language_Python', 'visualisation_Bokeh', 'visualisation_None', 'visualisation_Seaborn', 'dev_language_C', 'dev_language_Bash'}

/tmp/ipykernel_4956/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

,tools,count
0,,314
1,SQL;Matplotlib;Python;Seaborn,223
2,Matplotlib;Python;Seaborn,154
3,Plotly / Plotly Express;SQL;Matplotlib;Python;Seaborn,94
4,Python,72
5,SQL;Matplotlib;Python,72
6,Matplotlib;Python,72
7,SQL,69
8,SQL;Python,54
9,Plotly / Plotly Express;Matplotlib;Python;Seaborn,52
10,R;Ggplot / ggplot2;SQL;Matplotlib;Python;Seaborn,45
11,R;Ggplot / ggplot2;SQL,32
12,R;Ggplot / ggplot2;Plotly / Plotly Express;SQL;Matplotlib;Python;Seaborn,28
13,Other;SQL,27
14,R;SQL;Python,26
15,R;Ggplot / ggplot2,22
16,Ggplot / ggplot2;Plotly / Plotly Express;SQL;Matplotlib;Python;Seaborn,22
17,Other;SQL;Matplotlib;Python;Seaborn,21
18,R;SQL;Matplotlib;Python;Seaborn,20
19,Other;SQL;Python,20

In [15]:
#['dev_language_', 'IDE_', 'visualisation_', 'activities_', 'big_data_', 'BI_tools_', 'sharing_', 'notebooks_']

In [16]:
df_dev_language_BI = columna_combo(df_da, ['dev_language_', 'BI_tools_'], 'combo_dev_lang_BI')

/tmp/ipykernel_4956/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

{'BI_tools_Microsoft Azure Synapse', 'dev_language_R', 'BI_tools_SAP Analytics Cloud', 'BI_tools_Domo', 'dev_language_Julia', 'BI_tools_Tableau CRM', 'BI_tools_Qlik', 'dev_language_Javascript', 'dev_language_MATLAB', 'dev_language_Java', 'dev_language_C++', 'BI_tools_TIBCO Spotfire', 'BI_tools_Tableau', 'dev_language_None', 'BI_tools_Alteryx', 'BI_tools_Thoughtspot', 'dev_language_Other', 'BI_tools_Other', 'dev_language_Swift', 'BI_tools_Microsoft Power BI', 'BI_tools_Salesforce', 'BI_tools_Amazon QuickSight', 'dev_language_SQL', 'dev_language_Python', 'BI_tools_Google Data Studio', 'BI_tools_None', 'BI_tools_Looker', 'BI_tools_Sisense', 'dev_language_C', 'dev_language_Bash'}

                                      tools  count
0                                    Python    326
1                                SQL;Python    314
2                                              311
3                              R;SQL;Python    152
4                                  R;Python     86
5                        Tableau;SQL;Python     62
6             Microsoft Power BI;SQL;Python     59
7                                       SQL     55
8                          Other;SQL;Python     46
9     Tableau;Microsoft Power BI;SQL;Python     45
10                           Tableau;Python     40
11                                        R     37
12  R;Tableau;Microsoft Power BI;SQL;Python     36
13                     R;Tableau;SQL;Python     34
14               Javascript;Java;SQL;Python     33
15                         C++;SQL;Python;C     30
16                                    R;SQL     28
17                          Java;SQL;Python     24
18                             C++;Python;C     24
19                                    Other     23

In [17]:
df_dev_language_big_data = columna_combo(df_da, ['dev_language_', 'big_data_'], 'combo_dev_lang_big_data')

{'big_data_MySQL', 'big_data_Oracle Database', 'dev_language_R', 'big_data_Amazon RDS', 'big_data_Google Cloud SQL', 'big_data_None', 'dev_language_Julia', 'big_data_IBM Db2', 'big_data_PostgreSQL', 'big_data_Google Cloud Firestore', 'big_data_Amazon Aurora', 'big_data_Google Cloud BigTable', 'dev_language_Javascript', 'dev_language_MATLAB', 'big_data_MongoDB', 'big_data_Amazon Redshift', 'big_data_Microsoft SQL Server', 'dev_language_Java', 'dev_language_C++', 'dev_language_None', 'dev_language_Other', 'big_data_Other', 'big_data_Google Cloud BigQuery', 'big_data_Google Cloud Spanner', 'dev_language_Swift', 'big_data_Snowflake', 'big_data_SQLite', 'big_data_Amazon DynamoDB', 'dev_language_SQL', 'dev_language_Python', 'big_data_Microsoft Azure SQL Database', 'dev_language_C', 'dev_language_Bash', 'big_data_Microsoft Azure Cosmos DB'}

/tmp/ipykernel_4956/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

                              tools  count
0                            Python    328
1                                      321
2                        SQL;Python    293
3                      R;SQL;Python    144
4                          R;Python     94
5                               SQL     54
6                                 R     39
7                  MySQL;SQL;Python     37
8                  Other;SQL;Python     36
9                      MySQL;Python     33
10       Javascript;Java;SQL;Python     31
11                            R;SQL     29
12                 C++;SQL;Python;C     28
13  Microsoft SQL Server;SQL;Python     23
14                     C++;Python;C     23
15                            Other     22
16            PostgreSQL;SQL;Python     21
17                  Java;SQL;Python     21
18                     Other;Python     21
19           Javascript;Java;Python     20

In [18]:
df_dev_language_notebooks = columna_combo(df_da, ['dev_language_', 'notebooks_'], 'combo_dev_lang_notebooks_')

{'notebooks_Other', 'notebooks_AmazonEMRNotebooks', 'dev_language_R', 'notebooks_ObservableNotebooks', 'dev_language_Julia', 'notebooks_AmazonSagemakerStudioNotebooks', 'combo_dev_lang_notebooks_', 'notebooks_CodeOcean', 'notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI)', 'notebooks_None', 'notebooks_Binder/JupyterHub', 'dev_language_Javascript', 'notebooks_DeepnoteNotebooks', 'dev_language_MATLAB', 'notebooks_KaggleNotebooks', 'notebooks_IBMWatsonStudio', 'dev_language_Java', 'dev_language_C++', 'dev_language_None', 'notebooks_DatabricksCollaborativeNotebooks', 'dev_language_Other', 'notebooks_ColabNotebooks', 'dev_language_Swift', 'notebooks_AzureNotebooks', 'notebooks_Zeppelin/ZeplNotebooks', 'notebooks_GoogleCloudDatalab', 'dev_language_SQL', 'dev_language_Python', 'notebooks_Paperspace/Gradient', 'dev_language_C', 'dev_language_Bash'}

/tmp/ipykernel_4956/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

                                               tools  count
0                                                       318
1                                         SQL;Python    179
2                                             Python    132
3                        Kaggle Notebooks;SQL;Python     94
4                         Colab Notebooks;SQL;Python     84
5                            Kaggle Notebooks;Python     78
6                                     R;R;SQL;Python     74
7        Kaggle Notebooks;Colab Notebooks;SQL;Python     73
8                             Colab Notebooks;Python     72
9                                                SQL     66
10           Kaggle Notebooks;Colab Notebooks;Python     54
11                                           R;R;SQL     47
12                                        R;R;Python     46
13  R;R; Kaggle Notebooks;Colab Notebooks;SQL;Python     39
14                  R;R; Kaggle Notebooks;SQL;Python     39
15                    R;R;Colab Notebooks;SQL;Python     34
16                                               R;R     34
17                      R;R; Kaggle Notebooks;Python     30
18                                  Other;SQL;Python     25
19                        R;R;Colab Notebooks;Python     24

In [19]:
df_combo_all_tools = columna_combo(df_da, ['dev_language_', 'IDE_', 'visualisation_', 'big_data_', 'BI_tools_', 'notebooks_'], 'combo_all_tools')

/tmp/ipykernel_4956/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

{'big_data_MySQL', 'notebooks_ObservableNotebooks', 'IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc)', 'dev_language_Julia', 'notebooks_AmazonSagemakerStudioNotebooks', 'visualisation_Ggplot / ggplot2', 'big_data_Google Cloud Firestore', 'big_data_PostgreSQL', 'BI_tools_Qlik', 'IDE_Jupyter Notebook', 'IDE_PyCharm', 'big_data_Google Cloud Spanner', 'dev_language_Swift', 'BI_tools_Microsoft Power BI', 'big_data_Amazon DynamoDB', 'IDE_Spyder', 'visualisation_None', 'IDE_Visual Studio Code (VSCode)', 'visualisation_Seaborn', 'IDE_Notepad++', 'visualisation_Leaflet / Folium', 'notebooks_Other', 'IDE_Other', 'big_data_Amazon RDS', 'big_data_Google Cloud SQL', 'BI_tools_Domo', 'BI_tools_Tableau CRM', 'notebooks_CodeOcean', 'notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI)', 'big_data_Google Cloud BigTable', 'notebooks_Binder/JupyterHub', 'dev_language_Javascript', 'visualisation_D3 js', 'notebooks_KaggleNotebooks', 'big_data_MongoDB', 'IDE_Visual Studio', 'dev_language_C++', 'IDE_Vim / Emacs', 'BI_tools_Tableau', 'dev_language_None', 'BI_tools_Alteryx', 'notebooks_DatabricksCollaborativeNotebooks', 'dev_language_Other', 'big_data_Google Cloud BigQuery', 'BI_tools_Amazon QuickSight', 'notebooks_Zeppelin/ZeplNotebooks', 'big_data_SQLite', 'dev_language_SQL', 'visualisation_Matplotlib', 'dev_language_Python', 'visualisation_Bokeh', 'BI_tools_Google Data Studio', 'IDE_MATLAB', 'big_data_Oracle Database', 'dev_language_R', 'BI_tools_SAP Analytics Cloud', 'combo_dev_lang_notebooks_', 'visualisation_Geoplotlib', 'notebooks_None', 'IDE_Sublime Text', 'IDE_RStudio', 'big_data_Microsoft SQL Server', 'notebooks_IBMWatsonStudio', 'visualisation_Plotly / Plotly Express', 'BI_tools_Other', 'notebooks_ColabNotebooks', 'BI_tools_Salesforce', 'big_data_Snowflake', 'BI_tools_None', 'BI_tools_Sisense', 'dev_language_Bash', 'big_data_Microsoft Azure Cosmos DB', 'visualisation_Altair', 'notebooks_AmazonEMRNotebooks', 'BI_tools_Microsoft Azure Synapse', 'visualisation_Shiny', 'big_data_None', 'big_data_IBM Db2', 'visualisation_Other', 'big_data_Amazon Aurora', 'IDE_None', 'notebooks_DeepnoteNotebooks', 'dev_language_MATLAB', 'big_data_Amazon Redshift', 'dev_language_Java', 'BI_tools_TIBCO Spotfire', 'BI_tools_Thoughtspot', 'big_data_Other', 'notebooks_AzureNotebooks', 'notebooks_GoogleCloudDatalab', 'big_data_Microsoft Azure SQL Database', 'BI_tools_Looker', 'notebooks_Paperspace/Gradient', 'dev_language_C'}

,tools,count
0,,288
1,Ggplot / ggplot2;R;R;R;RStudio,9
2,Jupyter Notebook;Seaborn;Matplotlib;Python;Python,9
3,Jupyter Notebook;Seaborn;SQL;Matplotlib;Python;SQL;Python,8
4,Other;Other,7
5,Jupyter Notebook;Seaborn; Kaggle Notebooks;Matplotlib;Python; Kaggle Notebooks;Colab Notebooks;Python;Colab Notebooks,7
6,PyCharm;Python;Python,7
7,Jupyter Notebook;Seaborn; Kaggle Notebooks;Matplotlib;Python; Kaggle Notebooks;Python,6
8,SQL;SQL,6
9,Jupyter Notebook;Seaborn; Kaggle Notebooks;SQL;Matplotlib;Python; Kaggle Notebooks;SQL;Python,6
10,Jupyter Notebook;Seaborn;SQL;Matplotlib;Python;Colab Notebooks;SQL;Python;Colab Notebooks,5
11,Jupyter Notebook;Visual Studio Code (VSCode);Seaborn;Visual Studio;SQL;Matplotlib;Python;SQL;Python,5
12,Jupyter Notebook; Kaggle Notebooks;Python; Kaggle Notebooks;Python,5
13,Other;SQL;Other;SQL,4
14,Jupyter Notebook;Seaborn; Kaggle Notebooks;SQL;Matplotlib;Python; Kaggle Notebooks;SQL;Python;Plotly / Plotly Express,4
15,PyCharm;Matplotlib;Python;Python,4
16,Ggplot / ggplot2;SQL;R;R;R;SQL;RStudio,4
17,Jupyter Notebook;Seaborn;Matplotlib;Python;Colab Notebooks;Python;Colab Notebooks,3
18,Other;SQL;SQL,3
19,Jupyter Notebook;Seaborn;SQL;Matplotlib;Python;R;R;R;Colab Notebooks;SQL;Python;Colab Notebooks,3

In [20]:
df_combo_R_vis = columna_combo(df_da, ['dev_language_R', 'visualisation_'], 'combo_R_vis')

{'visualisation_Matplotlib', 'visualisation_Altair', 'dev_language_R', 'visualisation_Shiny', 'visualisation_D3 js', 'visualisation_Bokeh', 'visualisation_None', 'visualisation_Plotly / Plotly Express', 'visualisation_Seaborn', 'visualisation_Ggplot / ggplot2', 'visualisation_Other', 'visualisation_Leaflet / Folium', 'visualisation_Geoplotlib'}

/tmp/ipykernel_4956/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

                                                            tools  count
0                                                                    686
1                                              Matplotlib;Seaborn    541
2                                                      Matplotlib    273
3                      Matplotlib;Plotly / Plotly Express;Seaborn    230
4                                              R;Ggplot / ggplot2    111
5                           Matplotlib;R;Seaborn;Ggplot / ggplot2     84
6                                                               R     79
7                                            Matplotlib;R;Seaborn     61
8   Matplotlib;R;Plotly / Plotly Express;Seaborn;Ggplot / ggplot2     59
9                             Matplotlib;Seaborn;Ggplot / ggplot2     53
10                                                          Other     52
11    Matplotlib;Plotly / Plotly Express;Seaborn;Ggplot / ggplot2     51
12                             Matplotlib;Plotly / Plotly Express     49
13                                                   Matplotlib;R     40
14                                                        Seaborn     38
15                                  Matplotlib;R;Ggplot / ggplot2     35
16                   Matplotlib;R;Plotly / Plotly Express;Seaborn     34
17                                       R;Shiny;Ggplot / ggplot2     28
18                                        Plotly / Plotly Express     21
19               R;Shiny;Plotly / Plotly Express;Ggplot / ggplot2     21

In [21]:
df_combo_data_vis_bi = columna_combo(df_da, ['visualisation_', 'big_data_', 'BI_tools_',], 'data_vis_bi')

/tmp/ipykernel_4956/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

{'big_data_MySQL', 'visualisation_Altair', 'big_data_Oracle Database', 'visualisation_Shiny', 'BI_tools_Microsoft Azure Synapse', 'BI_tools_SAP Analytics Cloud', 'big_data_Amazon RDS', 'big_data_Google Cloud SQL', 'big_data_None', 'BI_tools_Domo', 'visualisation_Ggplot / ggplot2', 'big_data_PostgreSQL', 'big_data_Google Cloud Firestore', 'visualisation_Other', 'big_data_Amazon Aurora', 'big_data_IBM Db2', 'visualisation_Geoplotlib', 'BI_tools_Tableau CRM', 'BI_tools_Qlik', 'big_data_Google Cloud BigTable', 'visualisation_D3 js', 'big_data_MongoDB', 'big_data_Amazon Redshift', 'big_data_Microsoft SQL Server', 'BI_tools_TIBCO Spotfire', 'BI_tools_Tableau', 'BI_tools_Alteryx', 'BI_tools_Thoughtspot', 'big_data_Other', 'visualisation_Plotly / Plotly Express', 'BI_tools_Other', 'big_data_Google Cloud BigQuery', 'big_data_Google Cloud Spanner', 'BI_tools_Microsoft Power BI', 'BI_tools_Salesforce', 'BI_tools_Amazon QuickSight', 'big_data_Snowflake', 'big_data_SQLite', 'big_data_Amazon DynamoDB', 'visualisation_Matplotlib', 'visualisation_Bokeh', 'visualisation_None', 'big_data_Microsoft Azure SQL Database', 'BI_tools_Google Data Studio', 'visualisation_Seaborn', 'BI_tools_None', 'BI_tools_Looker', 'BI_tools_Sisense', 'visualisation_Leaflet / Folium', 'big_data_Microsoft Azure Cosmos DB'}

                                                          tools  count
0                                                                  579
1                                            Matplotlib;Seaborn    293
2                                                    Matplotlib    155
3                    Plotly / Plotly Express;Matplotlib;Seaborn    124
4                           Ggplot / ggplot2;Matplotlib;Seaborn     74
5                                              Ggplot / ggplot2     61
6   Ggplot / ggplot2;Plotly / Plotly Express;Matplotlib;Seaborn     52
7                                                         Other     34
8                                                       Seaborn     29
9                            Plotly / Plotly Express;Matplotlib     27
10                                  Ggplot / ggplot2;Matplotlib     26
11                                   Tableau;Matplotlib;Seaborn     14
12                                       Shiny;Ggplot / ggplot2     14
13                                             MySQL;Matplotlib     12
14                                     MySQL;Matplotlib;Seaborn     12
15                                      Plotly / Plotly Express     12
16                                     Other;Matplotlib;Seaborn     11
17                                                        MySQL     11
18                                           Microsoft Power BI     11
19        Geoplotlib;Plotly / Plotly Express;Matplotlib;Seaborn     11

In [22]:
lista_drop = ['big_data_None',
 'dev_language_Javascript',
 'dev_language_Other',
 'dev_language_C++',
 'sharing_Colab',
 'notebooks_GoogleCloudDatalab',
 'IDE_Sublime Text',
 'big_data_SQLite',
 'notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI)',
 'notebooks_Binder/JupyterHub',
 'visualisation_Shiny',
 'dev_language_MATLAB',
 'big_data_Oracle Database',
 'BI_tools_Google Data Studio',
 'big_data_MongoDB',
 'visualisation_Geoplotlib',
 'big_data_Google Cloud BigQuery',
 'IDE_MATLAB',
 'IDE_Other',
 'notebooks_AzureNotebooks',
 'notebooks_IBMWatsonStudio',
 'big_data_Microsoft Azure SQL Database',
 'visualisation_Bokeh',
 'dev_language_Bash',
 'sharing_Personalblog',
 'visualisation_Other',
 'big_data_Google Cloud SQL',
 'BI_tools_Qlik',
 'notebooks_Other',
 'BI_tools_Tableau CRM',
 'visualisation_D3 js',
 'visualisation_Leaflet / Folium',
 'big_data_Amazon Redshift',
 'IDE_None',
 'notebooks_DatabricksCollaborativeNotebooks',
 'BI_tools_Salesforce',
 'IDE_Vim / Emacs',
 'BI_tools_Other',
 'big_data_Snowflake',
 'notebooks_AmazonSagemakerStudioNotebooks',
 'big_data_Google Cloud BigTable',
 'big_data_IBM Db2',
 'sharing_Shiny',
 'big_data_Other',
 'big_data_Amazon RDS',
 'big_data_Microsoft Azure Cosmos DB',
 'dev_language_None',
 'sharing_Streamlit',
 'BI_tools_SAP Analytics Cloud',
 'sharing_Other',
 'big_data_Google Cloud Firestore',
 'BI_tools_Alteryx',
 'sharing_PlotlyDash',
 'visualisation_Altair',
 'BI_tools_Microsoft Azure Synapse',
 'notebooks_AmazonEMRNotebooks',
 'big_data_Amazon DynamoDB',
 'BI_tools_Looker',
 'big_data_Google Cloud Spanner',
 'BI_tools_Amazon QuickSight',
 'notebooks_ObservableNotebooks',
 'big_data_Amazon Aurora',
 'notebooks_Zeppelin/ZeplNotebooks',
 'sharing_NBViewer',
 'BI_tools_TIBCO Spotfire',
 'notebooks_DeepnoteNotebooks',
 'notebooks_Paperspace/Gradient',
 'notebooks_CodeOcean',
 'dev_language_Julia',
 'dev_language_Swift',
 'BI_tools_Domo',
 'BI_tools_Sisense',
 'BI_tools_Thoughtspot']

In [23]:
df_limitado = df_da.drop(columns=lista_drop, axis=1)

In [24]:
df_limitado_all_tools = columna_combo(df_limitado, ['dev_language_', 'IDE_', 'visualisation_', 'big_data_', 'BI_tools_', 'notebooks_'], 'combo_all_tools')

{'big_data_MySQL', 'dev_language_R', 'IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc)', 'visualisation_Ggplot / ggplot2', 'big_data_PostgreSQL', 'combo_dev_lang_notebooks_', 'IDE_Jupyter Notebook', 'notebooks_None', 'notebooks_KaggleNotebooks', 'IDE_RStudio', 'IDE_Visual Studio', 'big_data_Microsoft SQL Server', 'dev_language_Java', 'BI_tools_Tableau', 'visualisation_Plotly / Plotly Express', 'IDE_PyCharm', 'notebooks_ColabNotebooks', 'BI_tools_Microsoft Power BI', 'dev_language_SQL', 'visualisation_Matplotlib', 'dev_language_Python', 'IDE_Spyder', 'visualisation_None', 'IDE_Visual Studio Code (VSCode)', 'visualisation_Seaborn', 'BI_tools_None', 'dev_language_C', 'IDE_Notepad++'}

,tools,count
0,,291
1,R;Ggplot / ggplot2;R;R;RStudio,12
2,Python;Jupyter Notebook;Matplotlib;Python;Seaborn,11
3,SQL;Python;Jupyter Notebook;SQL;Matplotlib;Python;Seaborn,11
4,SQL;SQL,11
5,Other,7
6,Kaggle Notebooks;Colab Notebooks;Python;Jupyter Notebook; Kaggle Notebooks;Colab Notebooks;Matplotlib;Python;Seaborn,7
7,Python;PyCharm;Python,7
8,R;Ggplot / ggplot2;R;R;SQL;RStudio;SQL,7
9,Kaggle Notebooks;Python;Jupyter Notebook; Kaggle Notebooks;Matplotlib;Python;Seaborn,7
10,Kaggle Notebooks;SQL;Python;Jupyter Notebook; Kaggle Notebooks;SQL;Matplotlib;Python;Seaborn,7
11,Colab Notebooks;SQL;Python;Jupyter Notebook;Colab Notebooks;SQL;Matplotlib;Python;Seaborn,7
12,SQL;Python;Jupyter Notebook;Visual Studio;SQL;Matplotlib;Python;Visual Studio Code (VSCode);Seaborn,6
13,SQL;Python;Jupyter Notebook;Plotly / Plotly Express;SQL;Matplotlib;Python;Seaborn,5
14,Other;SQL;SQL,5
15,Kaggle Notebooks;Python;Jupyter Notebook; Kaggle Notebooks;Python,5
16,SQL;Python;Jupyter Notebook;SQL;Matplotlib;Python,5
17,Jupyter (JupyterLab; Jupyter Notebooks; etc);Python;Jupyter Notebook;Matplotlib;Python;Seaborn,5
18,SQL;Python;Jupyter Notebook;SQL;Python,4
19,Kaggle Notebooks;Colab Notebooks;Python;Jupyter Notebook; Kaggle Notebooks;Visual Studio;Colab Notebooks;Matplotlib;Python;Visual Studio Code (VSCode);Seaborn,4

In [25]:
df_limitado_adalab = columna_combo(df_da, ['dev_language_Python', 'dev_language_SQL', 'visualisation_Seaborn', 'visualisation_Matplotlib', 'big_data_MySQL', 'BI_tools_Tableau'], 'combo_adalab')

{'big_data_MySQL', 'dev_language_SQL', 'visualisation_Matplotlib', 'dev_language_Python', 'BI_tools_Tableau CRM', 'visualisation_Seaborn', 'BI_tools_Tableau'}

/tmp/ipykernel_4956/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

                                          tools  count
0                 SQL;Matplotlib;Python;Seaborn    520
1                                                  418
2                     Matplotlib;Python;Seaborn    317
3                                    SQL;Python    191
4                         SQL;Matplotlib;Python    176
5                                        Python    157
6                                           SQL    143
7                             Matplotlib;Python    141
8   MySQL;SQL;Matplotlib;Python;Seaborn;Tableau    141
9         SQL;Matplotlib;Python;Seaborn;Tableau    123
10          MySQL;SQL;Matplotlib;Python;Seaborn    106
11      MySQL;Matplotlib;Python;Seaborn;Tableau     47
12              MySQL;Matplotlib;Python;Seaborn     43
13                           SQL;Python;Seaborn     41
14                  MySQL;SQL;Matplotlib;Python     39
15            Matplotlib;Python;Seaborn;Tableau     37
16          MySQL;SQL;Matplotlib;Python;Tableau     35
17                                  SQL;Tableau     33
18                               Python;Seaborn     31
19                SQL;Matplotlib;Python;Tableau     30