In [2]:
import re
import numpy as np
import pandas as pd
import pickle

In [3]:
pd.options.display.max_columns=None

In [46]:
df = pd.read_csv('../datos/datos_sin_unos.csv', index_col = 0)
df.head(2)

,Unnamed: 0,age,gender,country,continent,job_title,work_activities,size_DA_dept,years_programming,first_language_rec,dev_language,primary_data_tool,IDE,big_data,BI_tools,visualisation,ML,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other,dev_language_Javascript,dev_language_None,dev_language_R,dev_language_Bash,dev_language_Python,dev_language_Other,dev_language_C,dev_language_MATLAB,dev_language_Julia,dev_language_Java,dev_language_C++,dev_language_Swift,dev_language_SQL,IDE_None,IDE_Sublime Text,IDE_Vim / Emacs,IDE_RStudio,IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc),IDE_Other,IDE_Visual Studio,IDE_Notepad++,IDE_Visual Studio Code (VSCode),IDE_Spyder,IDE_PyCharm,IDE_MATLAB,IDE_Jupyter Notebook,visualisation_None,visualisation_Matplotlib,visualisation_Other,visualisation_Seaborn,visualisation_Altair,visualisation_Shiny,visualisation_D3 js,visualisation_Bokeh,visualisation_Leaflet / Folium,visualisation_Plotly / Plotly Express,visualisation_Geoplotlib,visualisation_Ggplot / ggplot2,activities_ML_prototypes,activities_run_ML,activities_ML_research,activities_Other,activities_improve_ML,activities_None,activities_analyze_data,activities_data_infrastructure,big_data_Google Cloud Firestore,big_data_Google Cloud BigTable,big_data_Google Cloud Spanner,big_data_PostgreSQL,big_data_Microsoft Azure Cosmos DB,big_data_SQLite,big_data_Amazon DynamoDB,big_data_None,big_data_Microsoft Azure SQL Database,big_data_Amazon RDS,big_data_Other,big_data_Snowflake,big_data_Amazon Aurora,big_data_Google Cloud SQL,big_data_Microsoft SQL Server,big_data_Oracle Database,big_data_Google Cloud BigQuery,big_data_Amazon Redshift,big_data_IBM Db2,big_data_MongoDB,big_data_MySQL,BI_tools_None,BI_tools_Tableau,BI_tools_Looker,BI_tools_Google Data Studio,BI_tools_TIBCO Spotfire,BI_tools_Other,BI_tools_Qlik,BI_tools_Tableau CRM,BI_tools_SAP Analytics Cloud,BI_tools_Sisense,BI_tools_Microsoft Power BI,BI_tools_Amazon QuickSight,BI_tools_Salesforce,BI_tools_Microsoft Azure Synapse,BI_tools_Domo,BI_tools_Thoughtspot,BI_tools_Alteryx
0,0,50-54,Man,India,Asia,Other,None of these activities are an important par...,3-4,5-10 years,Python,"Python, R","Local development environments (RStudio, Jupyt...",Vim / Emacs,PostgreSQL,None,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",5-10 years,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,50-54,Man,Indonesia,Asia,Program/Project Manager,Build and/or run the data infrastructure that...,1-2,20+ years,Python,"SQL, C, C++, Java","Advanced statistical software (SPSS, SAS, etc.)","Notepad++,Jupyter Notebook",NaN,NaN,Matplotlib,< 1 year,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df_da = df[(df["job_title"] == "Business Analyst") | (df["job_title"] == "Data Analyst")]

In [6]:
with open('../datos/diccionario_respuestas.pkl', 'rb') as f:
    diccionario_respuestas = pickle.load(f)

In [10]:
lista_columnas_combinar = ['dev_language_', 'IDE_', 'visualisation_', 'activities_', 'big_data_', 'BI_tools_', 'sharing_', 'notebooks_']

In [49]:
df_da.replace(np.nan, "", inplace=True)

/tmp/ipykernel_3860/3257084013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da.replace(np.nan, "", inplace=True)

In [50]:
df_da.head()

,Unnamed: 0,age,gender,country,continent,job_title,work_activities,size_DA_dept,years_programming,first_language_rec,dev_language,primary_data_tool,IDE,big_data,BI_tools,visualisation,ML,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other,dev_language_Javascript,dev_language_None,dev_language_R,dev_language_Bash,dev_language_Python,dev_language_Other,dev_language_C,dev_language_MATLAB,dev_language_Julia,dev_language_Java,dev_language_C++,dev_language_Swift,dev_language_SQL,IDE_None,IDE_Sublime Text,IDE_Vim / Emacs,IDE_RStudio,IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc),IDE_Other,IDE_Visual Studio,IDE_Notepad++,IDE_Visual Studio Code (VSCode),IDE_Spyder,IDE_PyCharm,IDE_MATLAB,IDE_Jupyter Notebook,visualisation_None,visualisation_Matplotlib,visualisation_Other,visualisation_Seaborn,visualisation_Altair,visualisation_Shiny,visualisation_D3 js,visualisation_Bokeh,visualisation_Leaflet / Folium,visualisation_Plotly / Plotly Express,visualisation_Geoplotlib,visualisation_Ggplot / ggplot2,activities_ML_prototypes,activities_run_ML,activities_ML_research,activities_Other,activities_improve_ML,activities_None,activities_analyze_data,activities_data_infrastructure,big_data_Google Cloud Firestore,big_data_Google Cloud BigTable,big_data_Google Cloud Spanner,big_data_PostgreSQL,big_data_Microsoft Azure Cosmos DB,big_data_SQLite,big_data_Amazon DynamoDB,big_data_None,big_data_Microsoft Azure SQL Database,big_data_Amazon RDS,big_data_Other,big_data_Snowflake,big_data_Amazon Aurora,big_data_Google Cloud SQL,big_data_Microsoft SQL Server,big_data_Oracle Database,big_data_Google Cloud BigQuery,big_data_Amazon Redshift,big_data_IBM Db2,big_data_MongoDB,big_data_MySQL,BI_tools_None,BI_tools_Tableau,BI_tools_Looker,BI_tools_Google Data Studio,BI_tools_TIBCO Spotfire,BI_tools_Other,BI_tools_Qlik,BI_tools_Tableau CRM,BI_tools_SAP Analytics Cloud,BI_tools_Sisense,BI_tools_Microsoft Power BI,BI_tools_Amazon QuickSight,BI_tools_Salesforce,BI_tools_Microsoft Azure Synapse,BI_tools_Domo,BI_tools_Thoughtspot,BI_tools_Alteryx
16,16,50-54,Man,Belgium,Europe,Data Analyst,Analyze and understand data to influence produ...,5-9,20+ years,Python,"Python, SQL","Local development environments (RStudio, Jupyt...","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",,,"Matplotlib ,Seaborn ,Plotly / Plotly Express",1-2 years,Kaggle Notebooks,Colab Notebooks,,,,,,,,,,Databricks Collaborative Notebooks,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
32,32,22-24,Nonbinary,United States of America,America,Data Analyst,,3-4,< 1 years,R,R,,RStudio,,,Ggplot / ggplot2,I do not use machine learning methods,,,,,,,,,,,Google Cloud Datalab,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
33,33,30-34,Woman,Egypt,Africa,Data Analyst,Analyze and understand data to influence produ...,0,3-5 years,R,Python,"Basic statistical software (Microsoft Excel, G...","Notepad++,Jupyter Notebook",None,None,None,I do not use machine learning methods,Kaggle Notebooks,Colab Notebooks,,,,,,,,,,,,,,,,,,,,,,,,I do not share my work publicly,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
46,46,22-24,Man,China,Asia,Data Analyst,Analyze and understand data to influence produ...,0,< 1 years,Python,"Python, SQL, C, C++, Java, Javascript, MATLAB","Basic statistical software (Microsoft Excel, G...","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",,,"Matplotlib ,Plotly / Plotly Express",1-2 years,Kaggle Notebooks,,Azure Notebooks,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
52,52,40-44,Man,South Africa,Africa,Data Analyst,Analyze and understand data to influence produ...,1-2,1-3 years,R,"R, SQL","Local development environments (RStudio, Jupyt...","RStudio ,Jupyter Notebook",None,Microsoft Power BI,"Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny",1-2 years,,,,,,,IBM Watson Studio,,,,,,,,,,,,,,,,,,,I do not share my work publicly,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

In [51]:
df_da['combo_all'] = ""

for i in lista_columnas_combinar:
    for col in df_da.columns:
        if i in col:
            df_da['combo_all'] += df_da[col] + ";"

/tmp/ipykernel_3860/4207448832.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_da['combo_all'] = ""
/tmp/ipykernel_3860/4207448832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da['combo_all'] = ""
/tmp/ipykernel_3860/4207448832.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da['combo_all'] += df_da[col] + ";"

In [52]:
df_da.head()

,Unnamed: 0,age,gender,country,continent,job_title,work_activities,size_DA_dept,years_programming,first_language_rec,dev_language,primary_data_tool,IDE,big_data,BI_tools,visualisation,ML,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other,dev_language_Javascript,dev_language_None,dev_language_R,dev_language_Bash,dev_language_Python,dev_language_Other,dev_language_C,dev_language_MATLAB,dev_language_Julia,dev_language_Java,dev_language_C++,dev_language_Swift,dev_language_SQL,IDE_None,IDE_Sublime Text,IDE_Vim / Emacs,IDE_RStudio,IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc),IDE_Other,IDE_Visual Studio,IDE_Notepad++,IDE_Visual Studio Code (VSCode),IDE_Spyder,IDE_PyCharm,IDE_MATLAB,IDE_Jupyter Notebook,visualisation_None,visualisation_Matplotlib,visualisation_Other,visualisation_Seaborn,visualisation_Altair,visualisation_Shiny,visualisation_D3 js,visualisation_Bokeh,visualisation_Leaflet / Folium,visualisation_Plotly / Plotly Express,visualisation_Geoplotlib,visualisation_Ggplot / ggplot2,activities_ML_prototypes,activities_run_ML,activities_ML_research,activities_Other,activities_improve_ML,activities_None,activities_analyze_data,activities_data_infrastructure,big_data_Google Cloud Firestore,big_data_Google Cloud BigTable,big_data_Google Cloud Spanner,big_data_PostgreSQL,big_data_Microsoft Azure Cosmos DB,big_data_SQLite,big_data_Amazon DynamoDB,big_data_None,big_data_Microsoft Azure SQL Database,big_data_Amazon RDS,big_data_Other,big_data_Snowflake,big_data_Amazon Aurora,big_data_Google Cloud SQL,big_data_Microsoft SQL Server,big_data_Oracle Database,big_data_Google Cloud BigQuery,big_data_Amazon Redshift,big_data_IBM Db2,big_data_MongoDB,big_data_MySQL,BI_tools_None,BI_tools_Tableau,BI_tools_Looker,BI_tools_Google Data Studio,BI_tools_TIBCO Spotfire,BI_tools_Other,BI_tools_Qlik,BI_tools_Tableau CRM,BI_tools_SAP Analytics Cloud,BI_tools_Sisense,BI_tools_Microsoft Power BI,BI_tools_Amazon QuickSight,BI_tools_Salesforce,BI_tools_Microsoft Azure Synapse,BI_tools_Domo,BI_tools_Thoughtspot,BI_tools_Alteryx,combo_all
16,16,50-54,Man,Belgium,Europe,Data Analyst,Analyze and understand data to influence produ...,5-9,20+ years,Python,"Python, SQL","Local development environments (RStudio, Jupyt...","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",,,"Matplotlib ,Seaborn ,Plotly / Plotly Express",1-2 years,Kaggle Notebooks,Colab Notebooks,,,,,,,,,,Databricks Collaborative Notebooks,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;...
32,32,22-24,Nonbinary,United States of America,America,Data Analyst,,3-4,< 1 years,R,R,,RStudio,,,Ggplot / ggplot2,I do not use machine learning methods,,,,,,,,,,,Google Cloud Datalab,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;...
33,33,30-34,Woman,Egypt,Africa,Data Analyst,Analyze and understand data to influence produ...,0,3-5 years,R,Python,"Basic statistical software (Microsoft Excel, G...","Notepad++,Jupyter Notebook",None,None,None,I do not use machine learning methods,Kaggle Notebooks,Colab Notebooks,,,,,,,,,,,,,,,,,,,,,,,,I do not share my work publicly,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;...
46,46,22-24,Man,China,Asia,Data Analyst,Analyze and understand data to influence produ...,0,< 1 years,Python,"Python, SQL, C, C++, Java, Javascript, MATLAB","Basic statistical software (Microsoft Excel, G...","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",,,"Matplotlib ,Plotly / Plotly Express",1-2 years,Kaggle Notebooks,,Azure Notebooks,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;...
52,52,40-44,Man,South Africa,Africa,Data Analyst,Analyze and understand data to influence produ...,1-2,1-3 years,R,"R, SQL","Local development environments (RStudio, Jupyt...","RStudio ,Jupyter Notebook",None,Microsoft Power BI,"Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny",1-2 years,,,,,,,IBM Watson Studio,,,,,,,,,,,,,,,,,,,I do not share my work publicly,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;...

In [26]:
df_da['combo_all'] = df_da['combo_all'].apply(lambda x: x.strip(";"))

/tmp/ipykernel_3860/1009655525.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da['combo_all'] = df_da['combo_all'].apply(lambda x: x.strip(";"))

In [31]:
def replace_punto_coma(col):
    return re.sub(r";+", ";", col)

In [32]:
df_da['combo_all'] = df_da['combo_all'].apply(replace_punto_coma)

/tmp/ipykernel_3860/411228439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da['combo_all'] = df_da['combo_all'].apply(replace_punto_coma)

In [33]:
df_da.head()

,Unnamed: 0,age,gender,country,continent,job_title,work_activities,size_DA_dept,years_programming,first_language_rec,dev_language,primary_data_tool,IDE,big_data,BI_tools,visualisation,ML,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other,combo_all
16,16,50-54,Man,Belgium,Europe,Data Analyst,Analyze and understand data to influence produ...,5-9,20+ years,Python,"Python, SQL","Local development environments (RStudio, Jupyt...","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",,,"Matplotlib ,Seaborn ,Plotly / Plotly Express",1-2 years,Kaggle Notebooks,Colab Notebooks,,,,,,,,,,Databricks Collaborative Notebooks,,,,,,,,,,,,,,,,Kaggle Notebooks;Colab Notebooks; Databricks ...
32,32,22-24,Nonbinary,United States of America,America,Data Analyst,,3-4,< 1 years,R,R,,RStudio,,,Ggplot / ggplot2,I do not use machine learning methods,,,,,,,,,,,Google Cloud Datalab,,,,,,,,,,,,,,,,,Google Cloud Datalab
33,33,30-34,Woman,Egypt,Africa,Data Analyst,Analyze and understand data to influence produ...,0,3-5 years,R,Python,"Basic statistical software (Microsoft Excel, G...","Notepad++,Jupyter Notebook",None,None,None,I do not use machine learning methods,Kaggle Notebooks,Colab Notebooks,,,,,,,,,,,,,,,,,,,,,,,,I do not share my work publicly,,I do not share my work publicly; Kaggle Notebo...
46,46,22-24,Man,China,Asia,Data Analyst,Analyze and understand data to influence produ...,0,< 1 years,Python,"Python, SQL, C, C++, Java, Javascript, MATLAB","Basic statistical software (Microsoft Excel, G...","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",,,"Matplotlib ,Plotly / Plotly Express",1-2 years,Kaggle Notebooks,,Azure Notebooks,,,,,,,,,,,,,,,,,,,,,,,,,Kaggle Notebooks;Azure Notebooks
52,52,40-44,Man,South Africa,Africa,Data Analyst,Analyze and understand data to influence produ...,1-2,1-3 years,R,"R, SQL","Local development environments (RStudio, Jupyt...","RStudio ,Jupyter Notebook",None,Microsoft Power BI,"Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny",1-2 years,,,,,,,IBM Watson Studio,,,,,,,,,,,,,,,,,,,I do not share my work publicly,,I do not share my work publicly; IBM Watson St...

In [40]:
df_combo_counts = df_da['combo_all'].value_counts().reset_index()

In [42]:
df_combo_counts.columns = ['tools', 'count']

In [44]:
df_combo_counts.head(50)

                                                tools  count
0                                                None    444
1                I do not share my work publicly;None    297
2                                                        286
3                                    Kaggle Notebooks    193
4                                     Colab Notebooks    147
5                    Kaggle Notebooks;Colab Notebooks    120
6                                        GitHub ;None     76
7     I do not share my work publicly;Colab Notebooks     63
8                  GitHub ; Kaggle ; Kaggle Notebooks     52
9                           Kaggle ; Kaggle Notebooks     47
10  I do not share my work publicly; Kaggle Notebooks     42
11                               Google Cloud Datalab     38
12  I do not share my work publicly; Kaggle Notebo...     37
13                               Binder / JupyterHub      35
14                              GitHub ; Kaggle ;None     35
15                                              Other     34
16   GitHub ; Kaggle ; Colab ; Kaggle Notebooks;Co...     28
17   GitHub ; Kaggle ; Kaggle Notebooks;Colab Note...     27
18  Google Cloud Notebooks (AI Platform / Vertex AI)      25
19                    GitHub ; Colab ;Colab Notebooks     23
20                          GitHub ; Kaggle Notebooks     21
21                            GitHub ;Colab Notebooks     21
22                                       Kaggle ;None     20
23              I do not share my work publicly;Other     18
24                                 IBM Watson Studio      18
25             Kaggle Notebooks; Binder / JupyterHub      18
26                             Colab ;Colab Notebooks     17
27  I do not share my work publicly; Binder / Jupy...     17
28                                    Azure Notebooks     15
29          Kaggle ; Kaggle Notebooks;Colab Notebooks     15
30          GitHub ; Kaggle Notebooks;Colab Notebooks     14
31           GitHub ; Kaggle ; Colab ;Colab Notebooks     14
32              Kaggle Notebooks;Google Cloud Datalab     13
33                                         Other;None     13
34                   GitHub ; Kaggle ;Colab Notebooks     13
35    I do not share my work publicly;Azure Notebooks     12
36              Colab Notebooks; Binder / JupyterHub      11
37   Kaggle Notebooks;Google Cloud Notebooks (AI P...     10
38  I do not share my work publicly;Google Cloud D...     10
39   GitHub ; Kaggle ; Kaggle Notebooks; Binder / ...     10
40   Kaggle Notebooks;Colab Notebooks; Binder / Ju...      9
41               Colab Notebooks;Google Cloud Datalab      9
42  I do not share my work publicly;Google Cloud N...      9
43                                        Other;Other      9
44                                      GitHub ;Other      8
45             GitHub ; Kaggle ; Binder / JupyterHub       8
46   Kaggle Notebooks;Colab Notebooks; IBM Watson ...      8
47                            Kaggle ;Colab Notebooks      8
48               Kaggle Notebooks; IBM Watson Studio       7
49   GitHub ;Google Cloud Notebooks (AI Platform /...      7