In [1]:
import re
import numpy as np
import pandas as pd
import pickle

In [2]:
pd.options.display.max_columns=None
pd.options.display.max_rows=100
pd.set_option('display.max_colwidth', None)

In [3]:
df = pd.read_csv('../datos/datos_sin_unos.csv', index_col = 0)
df.head(2)

,Unnamed: 0,age,gender,country,continent,job_title,work_activities,size_DA_dept,years_programming,first_language_rec,dev_language,primary_data_tool,IDE,big_data,BI_tools,visualisation,ML,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other,dev_language_Javascript,dev_language_None,dev_language_R,dev_language_Bash,dev_language_Python,dev_language_Other,dev_language_C,dev_language_MATLAB,dev_language_Julia,dev_language_Java,dev_language_C++,dev_language_Swift,dev_language_SQL,IDE_None,IDE_Sublime Text,IDE_Vim / Emacs,IDE_RStudio,IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc),IDE_Other,IDE_Visual Studio,IDE_Notepad++,IDE_Visual Studio Code (VSCode),IDE_Spyder,IDE_PyCharm,IDE_MATLAB,IDE_Jupyter Notebook,visualisation_None,visualisation_Matplotlib,visualisation_Other,visualisation_Seaborn,visualisation_Altair,visualisation_Shiny,visualisation_D3 js,visualisation_Bokeh,visualisation_Leaflet / Folium,visualisation_Plotly / Plotly Express,visualisation_Geoplotlib,visualisation_Ggplot / ggplot2,activities_ML_prototypes,activities_run_ML,activities_ML_research,activities_Other,activities_improve_ML,activities_None,activities_analyze_data,activities_data_infrastructure,big_data_Google Cloud Firestore,big_data_Google Cloud BigTable,big_data_Google Cloud Spanner,big_data_PostgreSQL,big_data_Microsoft Azure Cosmos DB,big_data_SQLite,big_data_Amazon DynamoDB,big_data_None,big_data_Microsoft Azure SQL Database,big_data_Amazon RDS,big_data_Other,big_data_Snowflake,big_data_Amazon Aurora,big_data_Google Cloud SQL,big_data_Microsoft SQL Server,big_data_Oracle Database,big_data_Google Cloud BigQuery,big_data_Amazon Redshift,big_data_IBM Db2,big_data_MongoDB,big_data_MySQL,BI_tools_None,BI_tools_Tableau,BI_tools_Looker,BI_tools_Google Data Studio,BI_tools_TIBCO Spotfire,BI_tools_Other,BI_tools_Qlik,BI_tools_Tableau CRM,BI_tools_SAP Analytics Cloud,BI_tools_Sisense,BI_tools_Microsoft Power BI,BI_tools_Amazon QuickSight,BI_tools_Salesforce,BI_tools_Microsoft Azure Synapse,BI_tools_Domo,BI_tools_Thoughtspot,BI_tools_Alteryx
0,0,50-54,Man,India,Asia,Other,None of these activities are an important part of my role at work,3-4,5-10 years,Python,"Python, R","Local development environments (RStudio, JupyterLab, etc.)",Vim / Emacs,PostgreSQL,None,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium",5-10 years,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,NaN,NaN,R,NaN,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vim / Emacs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matplotlib,NaN,Seaborn,NaN,Shiny,NaN,NaN,Leaflet / Folium,NaN,NaN,Ggplot / ggplot2,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,PostgreSQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,50-54,Man,Indonesia,Asia,Program/Project Manager,Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data,1-2,20+ years,Python,"SQL, C, C++, Java","Advanced statistical software (SPSS, SAS, etc.)","Notepad++,Jupyter Notebook",NaN,NaN,Matplotlib,< 1 year,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,Java,C++,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Notepad++,NaN,NaN,NaN,NaN,Jupyter Notebook,NaN,Matplotlib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data_infrastructure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_da = df[(df["job_title"] == "Business Analyst") | (df["job_title"] == "Data Analyst")]

In [5]:
with open('../datos/diccionario_respuestas.pkl', 'rb') as f:
    diccionario_respuestas = pickle.load(f)

In [6]:
lista_columnas_combinar = ['dev_language_', 'IDE_', 'visualisation_', 'activities_', 'big_data_', 'BI_tools_', 'sharing_', 'notebooks_']

In [7]:
df_da.replace(np.nan, "", inplace=True)

/tmp/ipykernel_760/3257084013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da.replace(np.nan, "", inplace=True)

In [8]:
def replace_punto_coma(col):
    return re.sub(r";+", ";", col)

In [9]:
def replace_none(col):
    return re.sub(r"None;", ";", col)

In [10]:
def columna_combo(lista_columnas, nombre):

    df_da[nombre] = ""

    for col in df_da.columns:
        for i in lista_columnas:
            if i in col:
                df_da[nombre] += df_da[col] + ";"

    df_da[nombre] = df_da[nombre].apply(replace_punto_coma)
    
    df_da[nombre] = df_da[nombre].apply(replace_none)

    df_da[nombre] = df_da[nombre].apply(lambda x: x.strip(";"))
    
    df_da[nombre] = df_da[nombre].apply(replace_punto_coma)

    df_combo_counts = df_da[nombre].value_counts().reset_index()

    df_combo_counts.columns = ['tools', 'count']
    
    display(df_combo_counts.head(20))
    
    return df_combo_counts

In [11]:
df_combo_all = columna_combo(lista_columnas_combinar, 'combo_all')

/tmp/ipykernel_760/3071236157.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_da[nombre] = ""
/tmp/ipykernel_760/3071236157.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = ""
/tmp/ipykernel_760/3071236157.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] += df_da[col] + ";"
/tmp/ipykernel_760/3071236157.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_punto_coma)
/tmp/ipykernel_760/3071236157.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_none)
/tmp/ipykernel_760/3071236157.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(lambda x: x.strip(";"))
/tmp/ipykernel_760/3071236157.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_punto_coma)

,tools,count
0,analyze_data,136
1,,37
2,Other,21
3,analyze_data;data_infrastructure,16
4,data_infrastructure,11
5,ML_prototypes;run_ML;ML_research;improve_ML;analyze_data;data_infrastructure,8
6,ML_research;analyze_data,7
7,run_ML,5
8,Kaggle Notebooks;Python;Jupyter Notebook;Matplotlib;Seaborn,4
9,run_ML;analyze_data,4
10,Python;Jupyter Notebook;Matplotlib;Seaborn;analyze_data,4
11,R;RStudio;Ggplot / ggplot2;analyze_data,4
12,ML_prototypes;analyze_data;data_infrastructure,4
13,Kaggle Notebooks;Python;SQL;Jupyter Notebook;Matplotlib;Seaborn;analyze_data;data_infrastructure,3
14,Python;SQL;Jupyter Notebook;Matplotlib;Seaborn,3
15,Python;PyCharm,3
16,R;SQL;RStudio;Ggplot / ggplot2;analyze_data,3
17,Python;SQL;Jupyter Notebook;Matplotlib;Seaborn;analyze_data,3
18,ML_prototypes;analyze_data,3
19,Kaggle Notebooks;Colab Notebooks;Python;Jupyter Notebook;Matplotlib;Seaborn;analyze_data,3

In [12]:
df_dev_language_vis = columna_combo(['dev_language_', 'visualisation_'], 'combo_dev_lang_vis')

/tmp/ipykernel_760/3071236157.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_da[nombre] = ""
/tmp/ipykernel_760/3071236157.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = ""
/tmp/ipykernel_760/3071236157.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] += df_da[col] + ";"
/tmp/ipykernel_760/3071236157.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_punto_coma)
/tmp/ipykernel_760/3071236157.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_none)
/tmp/ipykernel_760/3071236157.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(lambda x: x.strip(";"))
/tmp/ipykernel_760/3071236157.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_punto_coma)

,tools,count
0,,314
1,Python;SQL;Matplotlib;Seaborn,223
2,Python;Matplotlib;Seaborn,154
3,Python;SQL;Matplotlib;Seaborn;Plotly / Plotly Express,94
4,Python,72
5,Python;SQL;Matplotlib,72
6,Python;Matplotlib,72
7,SQL,69
8,Python;SQL,54
9,Python;Matplotlib;Seaborn;Plotly / Plotly Express,52
10,R;Python;SQL;Matplotlib;Seaborn;Ggplot / ggplot2,45
11,R;SQL;Ggplot / ggplot2,32
12,R;Python;SQL;Matplotlib;Seaborn;Plotly / Plotly Express;Ggplot / ggplot2,28
13,R;Python;SQL,26
14,R;Ggplot / ggplot2,22
15,Python;SQL;Matplotlib;Seaborn;Plotly / Plotly Express;Ggplot / ggplot2,22
16,R;Python;SQL;Matplotlib;Seaborn,20
17,R;Python;SQL;Ggplot / ggplot2,20
18,Other,19
19,Python;Other;SQL;Matplotlib;Seaborn,18

In [13]:
#['dev_language_', 'IDE_', 'visualisation_', 'activities_', 'big_data_', 'BI_tools_', 'sharing_', 'notebooks_']

In [14]:
df_dev_language_BI = columna_combo(['dev_language_', 'BI_tools_'], 'combo_dev_lang_BI')

/tmp/ipykernel_760/3071236157.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_da[nombre] = ""
/tmp/ipykernel_760/3071236157.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = ""
/tmp/ipykernel_760/3071236157.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] += df_da[col] + ";"
/tmp/ipykernel_760/3071236157.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_punto_coma)
/tmp/ipykernel_760/3071236157.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_none)
/tmp/ipykernel_760/3071236157.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(lambda x: x.strip(";"))
/tmp/ipykernel_760/3071236157.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_punto_coma)

                                      tools  count
0                                    Python    326
1                                Python;SQL    314
2                                              311
3                              R;Python;SQL    152
4                                  R;Python     86
5                        Python;SQL;Tableau     62
6             Python;SQL;Microsoft Power BI     59
7                                       SQL     55
8     Python;SQL;Tableau;Microsoft Power BI     45
9                            Python;Tableau     40
10                                        R     37
11  R;Python;SQL;Tableau;Microsoft Power BI     36
12                     R;Python;SQL;Tableau     34
13                         Python;Other;SQL     33
14               Javascript;Python;Java;SQL     33
15                         Python;C;C++;SQL     30
16                                    R;SQL     28
17                          Python;Java;SQL     24
18                             Python;C;C++     24
19                   Javascript;Python;Java     23

In [15]:
df_dev_language_big_data = columna_combo(['dev_language_', 'big_data_'], 'combo_dev_lang_big_data')

/tmp/ipykernel_760/3071236157.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_da[nombre] = ""
/tmp/ipykernel_760/3071236157.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = ""
/tmp/ipykernel_760/3071236157.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] += df_da[col] + ";"
/tmp/ipykernel_760/3071236157.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_punto_coma)
/tmp/ipykernel_760/3071236157.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_none)
/tmp/ipykernel_760/3071236157.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(lambda x: x.strip(";"))
/tmp/ipykernel_760/3071236157.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_punto_coma)

                              tools  count
0                            Python    328
1                                      321
2                        Python;SQL    293
3                      R;Python;SQL    144
4                          R;Python     94
5                               SQL     54
6                                 R     39
7                  Python;SQL;MySQL     37
8                      Python;MySQL     33
9        Javascript;Python;Java;SQL     31
10                            R;SQL     29
11                 Python;Other;SQL     29
12                 Python;C;C++;SQL     28
13  Python;SQL;Microsoft SQL Server     23
14                     Python;C;C++     23
15                            Other     22
16                  Python;Java;SQL     21
17            Python;SQL;PostgreSQL     21
18                     Python;Other     21
19                    Python;MATLAB     20

In [16]:
df_dev_language_notebooks = columna_combo(['dev_language_', 'notebooks_'], 'combo_dev_lang_notebooks_')

/tmp/ipykernel_760/3071236157.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_da[nombre] = ""
/tmp/ipykernel_760/3071236157.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = ""
/tmp/ipykernel_760/3071236157.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] += df_da[col] + ";"
/tmp/ipykernel_760/3071236157.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_punto_coma)
/tmp/ipykernel_760/3071236157.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_none)
/tmp/ipykernel_760/3071236157.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(lambda x: x.strip(";"))
/tmp/ipykernel_760/3071236157.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_punto_coma)

,tools,count
0,,318
1,Python;SQL;Python;SQL,179
2,Python;Python,132
3,Kaggle Notebooks;Python;SQL; Kaggle Notebooks;Python;SQL,94
4,Colab Notebooks;Python;SQL;Colab Notebooks;Python;SQL,84
5,Kaggle Notebooks;Python; Kaggle Notebooks;Python,78
6,R;Python;SQL;R;Python;SQL,74
7,Kaggle Notebooks;Colab Notebooks;Python;SQL; Kaggle Notebooks;Colab Notebooks;Python;SQL,73
8,Colab Notebooks;Python;Colab Notebooks;Python,72
9,SQL;SQL,66
10,Kaggle Notebooks;Colab Notebooks;Python; Kaggle Notebooks;Colab Notebooks;Python,54
11,R;SQL;R;SQL,47
12,R;Python;R;Python,46
13,Kaggle Notebooks;Colab Notebooks;R;Python;SQL; Kaggle Notebooks;Colab Notebooks;R;Python;SQL,39
14,Kaggle Notebooks;R;Python;SQL; Kaggle Notebooks;R;Python;SQL,39
15,R;R,34
16,Colab Notebooks;R;Python;SQL;Colab Notebooks;R;Python;SQL,34
17,Kaggle Notebooks;R;Python; Kaggle Notebooks;R;Python,30
18,Python;Other;SQL;Python;Other;SQL,25
19,Colab Notebooks;R;Python;Colab Notebooks;R;Python,24

In [17]:
df_combo_all_tools = columna_combo(['dev_language_', 'IDE_', 'visualisation_', 'big_data_', 'BI_tools_', 'notebooks_'], 'combo_all_tools')

/tmp/ipykernel_760/3071236157.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_da[nombre] = ""
/tmp/ipykernel_760/3071236157.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = ""
/tmp/ipykernel_760/3071236157.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] += df_da[col] + ";"
/tmp/ipykernel_760/3071236157.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_punto_coma)
/tmp/ipykernel_760/3071236157.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_none)
/tmp/ipykernel_760/3071236157.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(lambda x: x.strip(";"))
/tmp/ipykernel_760/3071236157.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da[nombre] = df_da[nombre].apply(replace_punto_coma)

,tools,count
0,,288
1,R;RStudio;Ggplot / ggplot2;R;R,9
2,Python;Jupyter Notebook;Matplotlib;Seaborn;Python;Python,9
3,Python;SQL;Jupyter Notebook;Matplotlib;Seaborn;Python;SQL;Python;SQL,8
4,Kaggle Notebooks;Colab Notebooks;Python;Jupyter Notebook;Matplotlib;Seaborn; Kaggle Notebooks;Colab Notebooks;Python; Kaggle Notebooks;Colab Notebooks;Python,7
5,Python;PyCharm;Python;Python,7
6,Kaggle Notebooks;Python;Jupyter Notebook;Matplotlib;Seaborn; Kaggle Notebooks;Python; Kaggle Notebooks;Python,6
7,SQL;SQL;SQL,6
8,Kaggle Notebooks;Python;SQL;Jupyter Notebook;Matplotlib;Seaborn; Kaggle Notebooks;Python;SQL; Kaggle Notebooks;Python;SQL,6
9,Other;Other;Other,6
10,Colab Notebooks;Python;SQL;Jupyter Notebook;Matplotlib;Seaborn;Colab Notebooks;Python;SQL;Colab Notebooks;Python;SQL,5
11,Python;SQL;Visual Studio;Visual Studio Code (VSCode);Jupyter Notebook;Matplotlib;Seaborn;Python;SQL;Python;SQL,5
12,Kaggle Notebooks;Python;Jupyter Notebook; Kaggle Notebooks;Python; Kaggle Notebooks;Python,5
13,Other;SQL;Other;SQL;Other;SQL,4
14,R;SQL;RStudio;Ggplot / ggplot2;R;SQL;R;SQL,4
15,Python;PyCharm;Matplotlib;Python;Python,4
16,Kaggle Notebooks;Python;SQL;Jupyter Notebook;Matplotlib;Seaborn;Plotly / Plotly Express; Kaggle Notebooks;Python;SQL; Kaggle Notebooks;Python;SQL,4
17,Colab Notebooks;Python;Jupyter Notebook;Matplotlib;Seaborn;Colab Notebooks;Python;Colab Notebooks;Python,3
18,SQL;Other;SQL;SQL,3
19,Kaggle Notebooks;Colab Notebooks;Python;Visual Studio;Visual Studio Code (VSCode);Jupyter Notebook;Matplotlib;Seaborn; Kaggle Notebooks;Colab Notebooks;Python; Kaggle Notebooks;Colab Notebooks;Python,3

In [18]:
diccionario_respuestas

{'Unnamed: 0': [],
 'age': ['50-54',
  '22-24',
  '45-49',
  '25-29',
  '18-21',
  '30-34',
  '40-44',
  '35-39',
  '70+',
  '55-59',
  '60-69'],
 'gender': ['Man',
  'Woman',
  'Nonbinary',
  'Prefer not to say',
  'Prefer to self-describe'],
 'country': ['Kenya',
  'Algeria',
  'Iraq',
  'Egypt',
  'South Africa',
  'Hong Kong (S.A.R.)',
  'Brazil',
  'Ireland',
  'Romania',
  'Colombia',
  'Ukraine',
  'Portugal',
  'Ecuador',
  'Singapore',
  'Uganda',
  'Australia',
  'Taiwan',
  'Iran',
  'Russia',
  'Tunisia',
  'United Arab Emirates',
  'France',
  'Japan',
  'Pakistan',
  'Switzerland',
  'Philippines',
  'Israel',
  'Thailand',
  'Nepal',
  'Norway',
  'Malaysia',
  'Italy',
  'Kazakhstan',
  'Morocco',
  'Saudi Arabia',
  'Greece',
  'Nigeria',
  'Germany',
  'I do not wish to disclose my location',
  'Belarus',
  'Spain',
  'South Korea',
  'Canada',
  'Other',
  'Islamic Republic of...',
  'Denmark',
  'Czech Republic',
  'Peru',
  'Mexico',
  'Belgium',
  'Ghana',
  'Ethiopia',
  'Chile',
  'Viet Nam',
  'Turkey',
  'Austria',
  'Bangladesh',
  'United Kingdom of Great Britain and Northern Ireland',
  'Indonesia',
  'Argentina',
  'Sweden',
  'Sri Lanka',
  'Poland',
  'India',
  'China',
  'Netherlands',
  'United States of America'],
 'continent': ['Asia', 'America', 'Oceania', 'Africa', 'Europe', 'Other'],
 'job_title': ['Other',
  'Program/Project Manager',
  'Software Engineer',
  'Research Scientist',
  'Currently not employed',
  'Student',
  'Data Scientist',
  'Data Analyst',
  'Machine Learning Engineer',
  'Business Analyst',
  'Data Engineer',
  'Product Manager',
  'Statistician',
  'Developer Relations/Advocacy',
  'DBA/Database Engineer'],
 'work_activities': ['Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data',
  'Build prototypes to explore applying machine learning to new areas',
  'Do research that advances the state of the art of machine learning',
  'Other',
  'Experimentation and iteration to improve existing ML models',
  'Analyze and understand data to influence product or business decisions',
  'Build and/or run a machine learning service that operationally improves my product or workflows',
  'None of these activities are an important part of my role at work'],
 'size_DA_dept': ['3-4', '1-2', '0', '5-9', '10-14', '20+', '15-19'],
 'years_programming': ['5-10 years',
  '20+ years',
  '1-3 years',
  '< 1 years',
  '3-5 years',
  '10-20 years',
  'I have never written code'],
 'first_language_rec': ['Python',
  'SQL',
  'R',
  'MATLAB',
  'C',
  'Julia',
  'Other',
  'C++',
  'Javascript',
  'Java',
  'None',
  'Bash',
  'Swift'],
 'dev_language': ['Python',
  'MATLAB',
  'Javascript',
  'None',
  'R',
  'Julia',
  'C',
  'Bash',
  'Other',
  'Java',
  'C++',
  'SQL',
  'Swift'],
 'primary_data_tool': ['Local development environments (RStudio, JupyterLab, etc.)',
  'Advanced statistical software (SPSS, SAS, etc.)',
  'Basic statistical software (Microsoft Excel, Google Sheets, etc.)',
  'Business intelligence software (Salesforce, Tableau, Spotfire, etc.)',
  'Cloud-based data software & APIs (AWS, GCP, Azure, etc.)',
  'Other'],
 'IDE': ['Jupyter Notebook',
  'None',
  'PyCharm',
  'MATLAB',
  'RStudio',
  'Notepad++',
  'Sublime Text',
  'Other',
  'Vim / Emacs',
  'Spyder',
  'Visual Studio Code (VSCode)',
  'Visual Studio',
  'Jupyter (JupyterLab; Jupyter Notebooks; etc)'],
 'big_data': ['IBM Db2',
  'Microsoft SQL Server',
  'Google Cloud Spanner',
  'Google Cloud BigTable',
  'Microsoft Azure Cosmos DB',
  'Google Cloud BigQuery',
  'SQLite',
  'PostgreSQL',
  'Microsoft Azure SQL Database',
  'Amazon DynamoDB',
  'Other',
  'Oracle Database',
  'Google Cloud Firestore',
  'MongoDB',
  'None',
  'Amazon RDS',
  'MySQL',
  'Amazon Redshift',
  'Snowflake',
  'Amazon Aurora',
  'Google Cloud SQL'],
 'BI_tools': ['Google Data Studio',
  'Qlik',
  'None',
  'Looker',
  'Alteryx',
  'Domo',
  'Other',
  'TIBCO Spotfire',
  'Amazon QuickSight',
  'SAP Analytics Cloud',
  'Thoughtspot',
  'Sisense',
  'Salesforce',
  'Tableau CRM',
  'Microsoft Azure Synapse',
  'Tableau',
  'Microsoft Power BI'],
 'visualisation': ['D3 js',
  'Bokeh',
  'None',
  'Shiny',
  'Seaborn',
  'Plotly / Plotly Express',
  'Matplotlib',
  'Ggplot / ggplot2',
  'Other',
  'Altair',
  'Geoplotlib',
  'Leaflet / Folium'],
 'ML': ['5-10 years',
  '< 1 year',
  'I do not use machine learning methods',
  '10-20 years',
  '2-3 years',
  '1-2 years',
  '4-5 years',
  '3-4 years',
  '20 or more years'],
 'notebooks_KaggleNotebooks': ['Kaggle Notebooks'],
 'notebooks_ColabNotebooks': ['Colab Notebooks'],
 'notebooks_AzureNotebooks': ['Azure Notebooks'],
 'notebooks_Paperspace/Gradient': ['Paperspace / Gradient'],
 'notebooks_Binder/JupyterHub': ['Binder / JupyterHub'],
 'notebooks_CodeOcean': ['Code Ocean'],
 'notebooks_IBMWatsonStudio': ['IBM Watson Studio'],
 'notebooks_AmazonSagemakerStudioNotebooks': ['Amazon Sagemaker Studio Notebooks'],
 'notebooks_AmazonEMRNotebooks': ['Amazon EMR Notebooks'],
 'notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI)': ['Google Cloud Notebooks (AI Platform / Vertex AI)'],
 'notebooks_GoogleCloudDatalab': ['Google Cloud Datalab'],
 'notebooks_DatabricksCollaborativeNotebooks': ['Databricks Collaborative Notebooks'],
 'notebooks_Zeppelin/ZeplNotebooks': ['Zeppelin / Zepl Notebooks'],
 'notebooks_DeepnoteNotebooks': ['Deepnote Notebooks'],
 'notebooks_ObservableNotebooks': ['Observable Notebooks'],
 'notebooks_None': ['None'],
 'notebooks_Other': ['Other'],
 'sharing_PlotlyDash': ['Plotly Dash'],
 'sharing_Streamlit': ['Streamlit'],
 'sharing_NBViewer': ['NBViewer'],
 'sharing_GitHub': ['GitHub'],
 'sharing_Personalblog': ['Personal blog'],
 'sharing_Kaggle': ['Kaggle'],
 'sharing_Colab': ['Colab'],
 'sharing_Shiny': ['Shiny'],
 'sharing_does_not_share': ['I do not share my work publicly'],
 'sharing_Other': ['Other'],
 'dev_language_Javascript': ['', 'Javascript'],
 'dev_language_None': ['', 'None'],
 'dev_language_R': ['R', ''],
 'dev_language_Bash': ['', 'Bash'],
 'dev_language_Python': ['Python', ''],
 'dev_language_Other': ['', 'Other'],
 'dev_language_C': ['', 'C'],
 'dev_language_MATLAB': ['', 'MATLAB'],
 'dev_language_Julia': ['', 'Julia'],
 'dev_language_Java': ['', 'Java'],
 'dev_language_C++': ['', 'C++'],
 'dev_language_Swift': ['', 'Swift'],
 'dev_language_SQL': ['', 'SQL'],
 'IDE_None': ['', 'None'],
 'IDE_Sublime Text': ['', 'Sublime Text'],
 'IDE_Vim / Emacs': ['Vim / Emacs', ''],
 'IDE_RStudio': ['', 'RStudio'],
 'IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc)': ['',
  'Jupyter (JupyterLab; Jupyter Notebooks; etc)'],
 'IDE_Other': ['', 'Other'],
 'IDE_Visual Studio': ['', 'Visual Studio'],
 'IDE_Notepad++': ['', 'Notepad++'],
 'IDE_Visual Studio Code (VSCode)': ['', 'Visual Studio Code (VSCode)'],
 'IDE_Spyder': ['', 'Spyder'],
 'IDE_PyCharm': ['', 'PyCharm'],
 'IDE_MATLAB': ['', 'MATLAB'],
 'IDE_Jupyter Notebook': ['', 'Jupyter Notebook'],
 'visualisation_None': ['', 'None'],
 'visualisation_Matplotlib': ['Matplotlib', ''],
 'visualisation_Other': ['', 'Other'],
 'visualisation_Seaborn': ['Seaborn', ''],
 'visualisation_Altair': ['', 'Altair'],
 'visualisation_Shiny': ['Shiny', ''],
 'visualisation_D3 js': ['', 'D3 js'],
 'visualisation_Bokeh': ['', 'Bokeh'],
 'visualisation_Leaflet / Folium': ['Leaflet / Folium', ''],
 'visualisation_Plotly / Plotly Express': ['', 'Plotly / Plotly Express'],
 'visualisation_Geoplotlib': ['', 'Geoplotlib'],
 'visualisation_Ggplot / ggplot2': ['Ggplot / ggplot2', ''],
 'activities_ML_prototypes': ['', 'ML_prototypes'],
 'activities_run_ML': ['', 'run_ML'],
 'activities_ML_research': ['', 'ML_research'],
 'activities_Other': ['', 'Other'],
 'activities_improve_ML': ['', 'improve_ML'],
 'activities_None': ['None', ''],
 'activities_analyze_data': ['', 'analyze_data'],
 'activities_data_infrastructure': ['', 'data_infrastructure'],
 'big_data_Google Cloud Firestore': ['', 'Google Cloud Firestore'],
 'big_data_Google Cloud BigTable': ['', 'Google Cloud BigTable'],
 'big_data_Google Cloud Spanner': ['', 'Google Cloud Spanner'],
 'big_data_PostgreSQL': ['PostgreSQL', ''],
 'big_data_Microsoft Azure Cosmos DB': ['', 'Microsoft Azure Cosmos DB'],
 'big_data_SQLite': ['', 'SQLite'],
 'big_data_Amazon DynamoDB': ['', 'Amazon DynamoDB'],
 'big_data_None': ['', 'None'],
 'big_data_Microsoft Azure SQL Database': ['', 'Microsoft Azure SQL Database'],
 'big_data_Amazon RDS': ['', 'Amazon RDS'],
 'big_data_Other': ['', 'Other'],
 'big_data_Snowflake': ['', 'Snowflake'],
 'big_data_Amazon Aurora': ['', 'Amazon Aurora'],
 'big_data_Google Cloud SQL': ['', 'Google Cloud SQL'],
 'big_data_Microsoft SQL Server': ['', 'Microsoft SQL Server'],
 'big_data_Oracle Database': ['', 'Oracle Database'],
 'big_data_Google Cloud BigQuery': ['', 'Google Cloud BigQuery'],
 'big_data_Amazon Redshift': ['', 'Amazon Redshift'],
 'big_data_IBM Db2': ['', 'IBM Db2'],
 'big_data_MongoDB': ['', 'MongoDB'],
 'big_data_MySQL': ['', 'MySQL'],
 'BI_tools_None': ['None', ''],
 'BI_tools_Tableau': ['', 'Tableau'],
 'BI_tools_Looker': ['', 'Looker'],
 'BI_tools_Google Data Studio': ['', 'Google Data Studio'],
 'BI_tools_TIBCO Spotfire': ['', 'TIBCO Spotfire'],
 'BI_tools_Other': ['', 'Other'],
 'BI_tools_Qlik': ['', 'Qlik'],
 'BI_tools_Tableau CRM': ['', 'Tableau CRM'],
 'BI_tools_SAP Analytics Cloud': ['', 'SAP Analytics Cloud'],
 'BI_tools_Sisense': ['', 'Sisense'],
 'BI_tools_Microsoft Power BI': ['', 'Microsoft Power BI'],
 'BI_tools_Amazon QuickSight': ['', 'Amazon QuickSight'],
 'BI_tools_Salesforce': ['', 'Salesforce'],
 'BI_tools_Microsoft Azure Synapse': ['', 'Microsoft Azure Synapse'],
 'BI_tools_Domo': ['', 'Domo'],
 'BI_tools_Thoughtspot': ['', 'Thoughtspot'],
 'BI_tools_Alteryx': ['', 'Alteryx']}