In [1]:
import re
import numpy as np
import pandas as pd
import pickle

In [2]:
pd.options.mode.chained_assignment = None  
pd.options.display.max_columns=None
pd.options.display.max_rows=100
pd.set_option('display.max_colwidth', None)

In [32]:
df = pd.read_csv('../datos/datos_sin_unos.csv', index_col = 0)
df.head(2)

,age,gender,country,continent,job_title,work_activities,size_DA_dept,dept size,years_programming,programming_experience,primary_data_tool,first_language_rec,dev_language,IDE,big_data,BI_tools,visualisation,notebooks,sharing,ML,ML_experience,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other,dev_language_Java,dev_language_C,dev_language_Other,dev_language_R,dev_language_Julia,dev_language_C++,dev_language_MATLAB,dev_language_Swift,dev_language_Bash,dev_language_Javascript,dev_language_None,dev_language_Python,dev_language_SQL,IDE_MATLAB,IDE_RStudio,IDE_Other,IDE_None,IDE_Spyder,IDE_Visual Studio,IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc),IDE_Notepad++,IDE_PyCharm,IDE_Vim / Emacs,IDE_Visual Studio Code (VSCode),IDE_Sublime Text,IDE_Jupyter Notebook,visualisation_Altair,visualisation_Ggplot / ggplot2,visualisation_Plotly / Plotly Express,visualisation_Leaflet / Folium,visualisation_Other,visualisation_Shiny,visualisation_Bokeh,visualisation_D3 js,visualisation_Matplotlib,visualisation_Geoplotlib,visualisation_None,visualisation_Seaborn,activities_Other,activities_improve_ML,activities_run_ML,activities_ML_research,activities_None,activities_data_infrastructure,activities_analyze_data,activities_ML_prototypes,big_data_Other,big_data_Google Cloud SQL,big_data_MongoDB,big_data_Microsoft SQL Server,big_data_Microsoft Azure Cosmos DB,big_data_Amazon Redshift,big_data_MySQL,big_data_Amazon RDS,big_data_Snowflake,big_data_Microsoft Azure SQL Database,big_data_Google Cloud Firestore,big_data_Google Cloud BigTable,big_data_Google Cloud BigQuery,big_data_IBM Db2,big_data_Google Cloud Spanner,big_data_Oracle Database,big_data_None,big_data_SQLite,big_data_Amazon DynamoDB,big_data_PostgreSQL,big_data_Amazon Aurora,BI_tools_TIBCO Spotfire,BI_tools_Alteryx,BI_tools_Thoughtspot,BI_tools_Other,BI_tools_Sisense,BI_tools_Salesforce,BI_tools_Microsoft Power BI,BI_tools_Domo,BI_tools_SAP Analytics Cloud,BI_tools_Tableau,BI_tools_Tableau CRM,BI_tools_Looker,BI_tools_Google Data Studio,BI_tools_Microsoft Azure Synapse,BI_tools_Qlik,BI_tools_None,BI_tools_Amazon QuickSight
0,50-59,Man,India,Asia & Oceania,Other,None of these activities are an important part of my role at work,3-4,small,5-10 years,Senior,"Local development environments (RStudio, JupyterLab, etc.)",Python,"Python, R",Vim / Emacs,PostgreSQL,None,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium",Colab Notebooks,"GitHub , Kaggle",5-10 years,5+ years,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vim / Emacs,NaN,NaN,NaN,NaN,Ggplot / ggplot2,NaN,Leaflet / Folium,NaN,Shiny,NaN,NaN,Matplotlib,NaN,NaN,Seaborn,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PostgreSQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
1,50-59,Man,Indonesia,Asia & Oceania,Program/Project Manager,Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data,1-2,small,20+ years,Senior,"Advanced statistical software (SPSS, SAS, etc.)",Python,"SQL, C, C++, Java","Notepad++,Jupyter Notebook",NaN,NaN,Matplotlib,"Kaggle Notebooks,Colab Notebooks",NaN,< 1 year,< 2 years,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Java,C,NaN,NaN,NaN,C++,NaN,NaN,NaN,NaN,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Notepad++,NaN,NaN,NaN,NaN,Jupyter Notebook,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matplotlib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data_infrastructure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_da = df[(df["job_title"] == "Business Analyst") | (df["job_title"] == "Data Analyst")]

In [5]:
with open('../datos/diccionario_respuestas.pkl', 'rb') as f:
    diccionario_respuestas = pickle.load(f)

In [6]:
lista_columnas_combinar = ['dev_language_', 'IDE_', 'visualisation_', 'activities_', 'big_data_', 'BI_tools_', 'sharing_', 'notebooks_']

In [7]:
df_da.replace(np.nan, "", inplace=True)

In [8]:
def replace_punto_coma(col):
    return re.sub(r";+", ";", col)

In [9]:
def replace_none(col):
    return re.sub(r"None;", ";", col)

In [10]:
def columna_combo(dataframe, lista_columnas, nombre):
    lista = []
    dataframe[nombre] = ""

    for col in dataframe.columns:
        for i in lista_columnas:
            if i in col:
                lista.append(col)
    
    set_col = set(lista)
    print(set_col)
    for col in set_col:
        dataframe[nombre] += df_da[col] + ";"

    dataframe[nombre] = dataframe[nombre].apply(replace_punto_coma)
    
    dataframe[nombre] = dataframe[nombre].apply(replace_none)

    dataframe[nombre] = dataframe[nombre].apply(lambda x: x.strip(";"))
    
    dataframe[nombre] = dataframe[nombre].apply(replace_punto_coma)

    df_combo_counts = dataframe[nombre].value_counts().reset_index()

    df_combo_counts.columns = ['tools', 'count']
    
    display(df_combo_counts.head(20))
    
    return df_combo_counts

In [11]:
# def columna_combo(lista_columnas, nombre):

#     df_da[nombre] = ""

#     for col in df_da.columns:
#         for i in lista_columnas:
#             if i in col:
#                 df_da[nombre] += df_da[col] + ";"

#     df_da[nombre] = df_da[nombre].apply(replace_punto_coma)
    
#     df_da[nombre] = df_da[nombre].apply(replace_none)

#     df_da[nombre] = df_da[nombre].apply(lambda x: x.strip(";"))
    
#     df_da[nombre] = df_da[nombre].apply(replace_punto_coma)

#     df_combo_counts = df_da[nombre].value_counts().reset_index()

#     df_combo_counts.columns = ['tools', 'count']
    
#     display(df_combo_counts.head(20))
    
#     return df_combo_counts

In [13]:
df_dev_language_vis = columna_combo(df_da, ['dev_language_', 'visualisation_'], 'combo_dev_lang_vis')

{'visualisation_Shiny', 'visualisation_D3 js', 'visualisation_None', 'dev_language_Bash', 'visualisation_Ggplot / ggplot2', 'dev_language_Other', 'dev_language_Julia', 'dev_language_Python', 'dev_language_C++', 'visualisation_Other', 'visualisation_Bokeh', 'visualisation_Leaflet / Folium', 'dev_language_Java', 'dev_language_Javascript', 'dev_language_SQL', 'visualisation_Geoplotlib', 'dev_language_R', 'dev_language_C', 'dev_language_MATLAB', 'visualisation_Plotly / Plotly Express', 'dev_language_None', 'visualisation_Altair', 'dev_language_Swift', 'visualisation_Matplotlib', 'visualisation_Seaborn'}

/tmp/ipykernel_1792/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

,tools,count
0,,314
1,Python;SQL;Matplotlib;Seaborn,223
2,Python;Matplotlib;Seaborn,154
3,Python;SQL;Plotly / Plotly Express;Matplotlib;Seaborn,94
4,Python;Matplotlib,72
5,Python;SQL;Matplotlib,72
6,Python,72
7,SQL,69
8,Python;SQL,54
9,Python;Plotly / Plotly Express;Matplotlib;Seaborn,52
10,Ggplot / ggplot2;Python;SQL;R;Matplotlib;Seaborn,45
11,Ggplot / ggplot2;SQL;R,32
12,Ggplot / ggplot2;Python;SQL;R;Plotly / Plotly Express;Matplotlib;Seaborn,28
13,Other;SQL,27
14,Python;SQL;R,26
15,Ggplot / ggplot2;R,22
16,Ggplot / ggplot2;Python;SQL;Plotly / Plotly Express;Matplotlib;Seaborn,22
17,Python;SQL;R;Matplotlib;Seaborn,20
18,Ggplot / ggplot2;Python;SQL;R,20
19,Other,19

In [14]:
#['dev_language_', 'IDE_', 'visualisation_', 'activities_', 'big_data_', 'BI_tools_', 'sharing_', 'notebooks_']

In [15]:
df_dev_language_BI = columna_combo(df_da, ['dev_language_', 'BI_tools_'], 'combo_dev_lang_BI')

{'BI_tools_Salesforce', 'BI_tools_Other', 'BI_tools_Domo', 'dev_language_Bash', 'dev_language_Other', 'dev_language_Julia', 'dev_language_Python', 'BI_tools_Tableau', 'BI_tools_Thoughtspot', 'BI_tools_Microsoft Azure Synapse', 'dev_language_C++', 'BI_tools_Microsoft Power BI', 'BI_tools_Looker', 'BI_tools_Google Data Studio', 'BI_tools_Sisense', 'BI_tools_TIBCO Spotfire', 'dev_language_Java', 'dev_language_Javascript', 'dev_language_SQL', 'BI_tools_Amazon QuickSight', 'dev_language_R', 'dev_language_C', 'dev_language_MATLAB', 'BI_tools_None', 'BI_tools_Qlik', 'dev_language_None', 'dev_language_Swift', 'BI_tools_SAP Analytics Cloud', 'BI_tools_Tableau CRM', 'BI_tools_Alteryx'}

/tmp/ipykernel_1792/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

                                      tools  count
0                                    Python    326
1                                Python;SQL    314
2                                              311
3                              Python;SQL;R    152
4                                  Python;R     86
5                        Python;Tableau;SQL     62
6             Python;Microsoft Power BI;SQL     59
7                                       SQL     55
8                          Other;Python;SQL     46
9     Python;Tableau;Microsoft Power BI;SQL     45
10                           Python;Tableau     40
11                                        R     37
12  Python;Tableau;Microsoft Power BI;SQL;R     36
13                     Python;Tableau;SQL;R     34
14               Python;Java;Javascript;SQL     33
15                         Python;C++;SQL;C     30
16                                    SQL;R     28
17                             Python;C++;C     24
18                          Python;Java;SQL     24
19                   Python;Java;Javascript     23

In [16]:
df_dev_language_big_data = columna_combo(df_da, ['dev_language_', 'big_data_'], 'combo_dev_lang_big_data')

{'big_data_Microsoft Azure Cosmos DB', 'big_data_Amazon RDS', 'dev_language_Bash', 'big_data_MongoDB', 'dev_language_Other', 'dev_language_Julia', 'big_data_Microsoft SQL Server', 'dev_language_Python', 'big_data_Amazon DynamoDB', 'dev_language_C++', 'big_data_Amazon Aurora', 'big_data_PostgreSQL', 'big_data_Google Cloud Firestore', 'dev_language_Java', 'big_data_Google Cloud BigQuery', 'dev_language_Javascript', 'dev_language_SQL', 'big_data_MySQL', 'dev_language_R', 'big_data_Oracle Database', 'dev_language_C', 'big_data_Google Cloud SQL', 'big_data_Other', 'dev_language_MATLAB', 'big_data_Snowflake', 'big_data_Microsoft Azure SQL Database', 'big_data_Google Cloud Spanner', 'big_data_None', 'big_data_Google Cloud BigTable', 'big_data_SQLite', 'big_data_Amazon Redshift', 'dev_language_None', 'big_data_IBM Db2', 'dev_language_Swift'}

/tmp/ipykernel_1792/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

                              tools  count
0                            Python    328
1                                      321
2                        Python;SQL    293
3                      Python;SQL;R    144
4                          Python;R     94
5                               SQL     54
6                                 R     39
7                  Python;SQL;MySQL     37
8                      Python;MySQL     33
9        Python;Java;Javascript;SQL     31
10                 Other;Python;SQL     29
11                            SQL;R     29
12                 Python;C++;SQL;C     28
13                     Python;C++;C     23
14  Microsoft SQL Server;Python;SQL     23
15                            Other     22
16                  Python;Java;SQL     21
17            Python;PostgreSQL;SQL     21
18                    Python;MATLAB     20
19           Python;Java;Javascript     20

In [17]:
df_dev_language_notebooks = columna_combo(df_da, ['dev_language_', 'notebooks_'], 'combo_dev_lang_notebooks_')

/tmp/ipykernel_1792/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

{'notebooks_CodeOcean', 'notebooks_AmazonSagemakerStudioNotebooks', 'notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI)', 'dev_language_Bash', 'notebooks_ColabNotebooks', 'notebooks_Zeppelin/ZeplNotebooks', 'dev_language_Other', 'notebooks_KaggleNotebooks', 'dev_language_Julia', 'combo_dev_lang_notebooks_', 'notebooks_AmazonEMRNotebooks', 'dev_language_Python', 'notebooks_Binder/JupyterHub', 'notebooks_Paperspace/Gradient', 'dev_language_C++', 'notebooks_AzureNotebooks', 'notebooks_GoogleCloudDatalab', 'dev_language_Java', 'notebooks_ObservableNotebooks', 'dev_language_Javascript', 'dev_language_SQL', 'notebooks_IBMWatsonStudio', 'dev_language_R', 'dev_language_C', 'dev_language_MATLAB', 'notebooks_DatabricksCollaborativeNotebooks', 'notebooks_None', 'dev_language_None', 'notebooks_Other', 'dev_language_Swift', 'notebooks_DeepnoteNotebooks'}

,tools,count
0,,318
1,Python;SQL,179
2,Python,132
3,Kaggle Notebooks; Kaggle Notebooks;Python;SQL,94
4,Colab Notebooks;Colab Notebooks;Python;SQL,84
5,Kaggle Notebooks; Kaggle Notebooks;Python,78
6,Python;SQL;R,74
7,Colab Notebooks; Kaggle Notebooks;Colab Notebooks; Kaggle Notebooks;Python;SQL,73
8,Colab Notebooks;Colab Notebooks;Python,72
9,SQL,66
10,Colab Notebooks; Kaggle Notebooks;Colab Notebooks; Kaggle Notebooks;Python,54
11,SQL;R,47
12,Python;R,46
13,Colab Notebooks; Kaggle Notebooks;Colab Notebooks; Kaggle Notebooks;Python;SQL;R,39
14,Kaggle Notebooks; Kaggle Notebooks;Python;SQL;R,39
15,Colab Notebooks;Colab Notebooks;Python;SQL;R,34
16,R,34
17,Kaggle Notebooks; Kaggle Notebooks;Python;R,30
18,Other;Other;Python;SQL,25
19,Colab Notebooks;Colab Notebooks;Python;R,24

In [18]:
df_combo_all_tools = columna_combo(df_da, ['dev_language_', 'IDE_', 'visualisation_', 'big_data_', 'BI_tools_', 'notebooks_'], 'combo_all_tools')

/tmp/ipykernel_1792/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

{'notebooks_CodeOcean', 'visualisation_Shiny', 'visualisation_D3 js', 'BI_tools_Salesforce', 'dev_language_Julia', 'dev_language_Python', 'BI_tools_Tableau', 'BI_tools_Microsoft Azure Synapse', 'BI_tools_Microsoft Power BI', 'visualisation_Other', 'visualisation_Bokeh', 'big_data_Amazon Aurora', 'IDE_Spyder', 'big_data_PostgreSQL', 'BI_tools_TIBCO Spotfire', 'notebooks_ObservableNotebooks', 'big_data_Google Cloud BigQuery', 'big_data_MySQL', 'BI_tools_Amazon QuickSight', 'IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc)', 'dev_language_R', 'notebooks_DatabricksCollaborativeNotebooks', 'big_data_Snowflake', 'big_data_None', 'dev_language_None', 'IDE_Vim / Emacs', 'dev_language_Swift', 'visualisation_Altair', 'visualisation_Matplotlib', 'BI_tools_Tableau CRM', 'notebooks_Paperspace/Gradient', 'notebooks_DeepnoteNotebooks', 'notebooks_AmazonSagemakerStudioNotebooks', 'dev_language_Bash', 'IDE_MATLAB', 'notebooks_Binder/JupyterHub', 'IDE_Notepad++', 'IDE_Sublime Text', 'BI_tools_Google Data Studio', 'dev_language_Java', 'dev_language_SQL', 'IDE_Jupyter Notebook', 'notebooks_IBMWatsonStudio', 'big_data_Microsoft Azure SQL Database', 'big_data_SQLite', 'BI_tools_Alteryx', 'big_data_Microsoft Azure Cosmos DB', 'BI_tools_Other', 'BI_tools_Domo', 'notebooks_ColabNotebooks', 'IDE_None', 'big_data_MongoDB', 'dev_language_Other', 'notebooks_KaggleNotebooks', 'big_data_Microsoft SQL Server', 'notebooks_AmazonEMRNotebooks', 'IDE_Visual Studio', 'dev_language_C++', 'BI_tools_Looker', 'notebooks_GoogleCloudDatalab', 'BI_tools_Sisense', 'dev_language_Javascript', 'IDE_RStudio', 'dev_language_C', 'big_data_Google Cloud SQL', 'big_data_Other', 'BI_tools_Qlik', 'IDE_PyCharm', 'big_data_Amazon Redshift', 'big_data_IBM Db2', 'visualisation_Seaborn', 'IDE_Visual Studio Code (VSCode)', 'notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI)', 'visualisation_None', 'big_data_Amazon RDS', 'visualisation_Ggplot / ggplot2', 'notebooks_Zeppelin/ZeplNotebooks', 'combo_dev_lang_notebooks_', 'BI_tools_Thoughtspot', 'big_data_Amazon DynamoDB', 'notebooks_AzureNotebooks', 'visualisation_Leaflet / Folium', 'big_data_Google Cloud Firestore', 'visualisation_Geoplotlib', 'big_data_Oracle Database', 'dev_language_MATLAB', 'BI_tools_None', 'big_data_Google Cloud Spanner', 'big_data_Google Cloud BigTable', 'visualisation_Plotly / Plotly Express', 'notebooks_None', 'IDE_Other', 'notebooks_Other', 'BI_tools_SAP Analytics Cloud'}

,tools,count
0,,288
1,R;RStudio;Ggplot / ggplot2;R,9
2,Python;Matplotlib;Jupyter Notebook;Seaborn;Python,9
3,Python;Matplotlib;SQL;Jupyter Notebook;Seaborn;Python;SQL,8
4,Python;Matplotlib;Jupyter Notebook;Colab Notebooks; Kaggle Notebooks;Seaborn;Colab Notebooks; Kaggle Notebooks;Colab Notebooks; Kaggle Notebooks;Python,7
5,Python;PyCharm;Python,7
6,Python;Matplotlib;Jupyter Notebook; Kaggle Notebooks;Seaborn; Kaggle Notebooks; Kaggle Notebooks;Python,6
7,SQL;SQL,6
8,Python;Matplotlib;SQL;Jupyter Notebook; Kaggle Notebooks;Seaborn; Kaggle Notebooks; Kaggle Notebooks;Python;SQL,6
9,Other;Other;Other,6
10,Python;Matplotlib;SQL;Jupyter Notebook;Colab Notebooks;Seaborn;Colab Notebooks;Colab Notebooks;Python;SQL,5
11,Python;Matplotlib;SQL;Jupyter Notebook;Visual Studio;Seaborn;Visual Studio Code (VSCode);Python;SQL,5
12,Python;Jupyter Notebook; Kaggle Notebooks; Kaggle Notebooks; Kaggle Notebooks;Python,5
13,SQL;Other;Other;Other;SQL,4
14,R;SQL;RStudio;Ggplot / ggplot2;SQL;R,4
15,Python;Matplotlib;PyCharm;Python,4
16,Python;Matplotlib;SQL;Jupyter Notebook; Kaggle Notebooks;Seaborn; Kaggle Notebooks; Kaggle Notebooks;Python;SQL;Plotly / Plotly Express,4
17,Python;Matplotlib;Jupyter Notebook;Colab Notebooks;Seaborn;Colab Notebooks;Colab Notebooks;Python,3
18,SQL;SQL;Other,3
19,Python;Matplotlib;Jupyter Notebook;Colab Notebooks; Kaggle Notebooks;Visual Studio;Seaborn;Visual Studio Code (VSCode);Colab Notebooks; Kaggle Notebooks;Colab Notebooks; Kaggle Notebooks;Python,3

In [19]:
df_combo_R_vis = columna_combo(df_da, ['dev_language_R', 'visualisation_'], 'combo_R_vis')

{'visualisation_Shiny', 'visualisation_Leaflet / Folium', 'visualisation_D3 js', 'visualisation_None', 'visualisation_Plotly / Plotly Express', 'visualisation_Altair', 'visualisation_Matplotlib', 'visualisation_Ggplot / ggplot2', 'visualisation_Seaborn', 'visualisation_Other', 'visualisation_Bokeh', 'visualisation_Geoplotlib', 'dev_language_R'}

/tmp/ipykernel_1792/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

                                                            tools  count
0                                                                    686
1                                              Matplotlib;Seaborn    541
2                                                      Matplotlib    273
3                      Plotly / Plotly Express;Matplotlib;Seaborn    230
4                                              Ggplot / ggplot2;R    111
5                           Matplotlib;Ggplot / ggplot2;Seaborn;R     84
6                                                               R     79
7                                            Matplotlib;Seaborn;R     61
8   Plotly / Plotly Express;Matplotlib;Ggplot / ggplot2;Seaborn;R     59
9                             Matplotlib;Ggplot / ggplot2;Seaborn     53
10                                                          Other     52
11    Plotly / Plotly Express;Matplotlib;Ggplot / ggplot2;Seaborn     51
12                             Plotly / Plotly Express;Matplotlib     49
13                                                   Matplotlib;R     40
14                                                        Seaborn     38
15                                  Matplotlib;Ggplot / ggplot2;R     35
16                   Plotly / Plotly Express;Matplotlib;Seaborn;R     34
17                                       Shiny;Ggplot / ggplot2;R     28
18                                        Plotly / Plotly Express     21
19               Shiny;Plotly / Plotly Express;Ggplot / ggplot2;R     21

In [20]:
df_combo_data_vis_bi = columna_combo(df_da, ['visualisation_', 'big_data_', 'BI_tools_',], 'data_vis_bi')

{'visualisation_Shiny', 'visualisation_D3 js', 'BI_tools_Salesforce', 'visualisation_None', 'big_data_Microsoft Azure Cosmos DB', 'BI_tools_Other', 'big_data_Amazon RDS', 'BI_tools_Domo', 'visualisation_Ggplot / ggplot2', 'big_data_MongoDB', 'big_data_Microsoft SQL Server', 'BI_tools_Tableau', 'BI_tools_Thoughtspot', 'BI_tools_Microsoft Azure Synapse', 'big_data_Amazon DynamoDB', 'BI_tools_Microsoft Power BI', 'visualisation_Other', 'visualisation_Bokeh', 'big_data_Amazon Aurora', 'BI_tools_Looker', 'BI_tools_Google Data Studio', 'big_data_PostgreSQL', 'BI_tools_Sisense', 'visualisation_Leaflet / Folium', 'big_data_Google Cloud Firestore', 'BI_tools_TIBCO Spotfire', 'big_data_Google Cloud BigQuery', 'big_data_MySQL', 'BI_tools_Amazon QuickSight', 'visualisation_Geoplotlib', 'big_data_Oracle Database', 'big_data_Google Cloud SQL', 'big_data_Other', 'big_data_Snowflake', 'big_data_Microsoft Azure SQL Database', 'big_data_Google Cloud Spanner', 'big_data_None', 'BI_tools_None', 'big_data_Google Cloud BigTable', 'big_data_SQLite', 'visualisation_Plotly / Plotly Express', 'BI_tools_Qlik', 'big_data_Amazon Redshift', 'visualisation_Altair', 'visualisation_Matplotlib', 'visualisation_Seaborn', 'big_data_IBM Db2', 'BI_tools_SAP Analytics Cloud', 'BI_tools_Tableau CRM', 'BI_tools_Alteryx'}

/tmp/ipykernel_1792/751838128.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dataframe[nombre] = ""

                                                          tools  count
0                                                                  579
1                                            Matplotlib;Seaborn    293
2                                                    Matplotlib    155
3                    Plotly / Plotly Express;Matplotlib;Seaborn    124
4                           Ggplot / ggplot2;Matplotlib;Seaborn     74
5                                              Ggplot / ggplot2     61
6   Ggplot / ggplot2;Plotly / Plotly Express;Matplotlib;Seaborn     52
7                                                         Other     34
8                                                       Seaborn     29
9                            Plotly / Plotly Express;Matplotlib     27
10                                  Ggplot / ggplot2;Matplotlib     26
11                                       Shiny;Ggplot / ggplot2     14
12                                   Tableau;Matplotlib;Seaborn     14
13                                             MySQL;Matplotlib     12
14                                      Plotly / Plotly Express     12
15                                     MySQL;Matplotlib;Seaborn     12
16                                           Microsoft Power BI     11
17                                                        MySQL     11
18                                         Microsoft SQL Server     11
19                                     Other;Matplotlib;Seaborn     11

In [25]:
top_20 = ['dev_language_Python',
 'IDE_Jupyter Notebook',
 'visualisation_Matplotlib',
 'dev_language_SQL',
 'visualisation_Seaborn',
 'IDE_Visual Studio',
 'notebooks_KaggleNotebooks',
 'notebooks_None',
 'dev_language_R',
 'notebooks_ColabNotebooks',
 'IDE_Visual Studio Code (VSCode)',
 'visualisation_Ggplot / ggplot2',
 'IDE_RStudio',
 'visualisation_Plotly / Plotly Express',
 'BI_tools_Tableau',
 'sharing_GitHub',
 'IDE_PyCharm',
 'big_data_MySQL',
 'BI_tools_Microsoft Power BI',
 'IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc)']

In [26]:
df_limitado = df_da.filter(items = top_20)

In [27]:
df_limitado_all_tools = columna_combo(df_limitado, ['dev_language_', 'IDE_', 'visualisation_', 'big_data_', 'BI_tools_', 'notebooks_'], 'combo_all_tools')

{'visualisation_Ggplot / ggplot2', 'notebooks_ColabNotebooks', 'notebooks_KaggleNotebooks', 'dev_language_Python', 'BI_tools_Tableau', 'IDE_Visual Studio', 'BI_tools_Microsoft Power BI', 'big_data_MySQL', 'dev_language_SQL', 'IDE_Jupyter Notebook', 'IDE_RStudio', 'IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc)', 'dev_language_R', 'visualisation_Plotly / Plotly Express', 'IDE_PyCharm', 'notebooks_None', 'visualisation_Matplotlib', 'visualisation_Seaborn', 'IDE_Visual Studio Code (VSCode)'}

,tools,count
0,,311
1,SQL,38
2,Python;Jupyter Notebook;Matplotlib;Seaborn,25
3,Python;SQL;Jupyter Notebook;Matplotlib;Seaborn,24
4,Ggplot / ggplot2;RStudio;R,21
5,Python;PyCharm,15
6,Kaggle Notebooks;Python;SQL;Jupyter Notebook;Matplotlib;Seaborn,15
7,Kaggle Notebooks;Python;Jupyter Notebook;Matplotlib;Seaborn,14
8,Colab Notebooks; Kaggle Notebooks;Python;Jupyter Notebook;Matplotlib;Seaborn,14
9,Python,13
10,Python;SQL,13
11,Ggplot / ggplot2;SQL;RStudio;R,12
12,Colab Notebooks;Python;SQL;Jupyter Notebook;Matplotlib;Seaborn,12
13,Python;Jupyter Notebook;Matplotlib,11
14,Python;SQL;Jupyter Notebook;Matplotlib,10
15,Python;SQL;Jupyter Notebook;Plotly / Plotly Express;Matplotlib;Seaborn,10
16,Python;Jupyter Notebook,10
17,Python;Visual Studio;SQL;Jupyter Notebook;Matplotlib;Seaborn;Visual Studio Code (VSCode),10
18,Kaggle Notebooks;Python;SQL;Jupyter Notebook;Plotly / Plotly Express;Matplotlib;Seaborn,10
19,Python;Visual Studio;Visual Studio Code (VSCode),9

In [28]:
df_limitado_adalab = columna_combo(df_da, ['dev_language_Python', 'dev_language_SQL', 'visualisation_Seaborn', 'visualisation_Matplotlib', 'big_data_MySQL', 'BI_tools_Tableau'], 'combo_adalab')

{'dev_language_Python', 'BI_tools_Tableau', 'big_data_MySQL', 'dev_language_SQL', 'visualisation_Matplotlib', 'visualisation_Seaborn', 'BI_tools_Tableau CRM'}

                                          tools  count
0                 Python;SQL;Matplotlib;Seaborn    520
1                                                  418
2                     Python;Matplotlib;Seaborn    317
3                                    Python;SQL    191
4                         Python;SQL;Matplotlib    176
5                                        Python    157
6                                           SQL    143
7                             Python;Matplotlib    141
8   Python;Tableau;MySQL;SQL;Matplotlib;Seaborn    141
9         Python;Tableau;SQL;Matplotlib;Seaborn    123
10          Python;MySQL;SQL;Matplotlib;Seaborn    106
11      Python;Tableau;MySQL;Matplotlib;Seaborn     47
12              Python;MySQL;Matplotlib;Seaborn     43
13                           Python;SQL;Seaborn     41
14                  Python;MySQL;SQL;Matplotlib     39
15            Python;Tableau;Matplotlib;Seaborn     37
16          Python;Tableau;MySQL;SQL;Matplotlib     35
17                                  Tableau;SQL     33
18                               Python;Seaborn     31
19                Python;Tableau;SQL;Matplotlib     30

In [29]:
df_python_sql = columna_combo(df_da, ['dev_language_Python', 'dev_language_SQL'], 'combo_python_sql')

{'dev_language_Python', 'dev_language_SQL'}

        tools  count
0  Python;SQL   1570
1      Python    895
2                508
3         SQL    296

In [30]:
df_lang_top3 = columna_combo(df_da, ['dev_language_Python', 'dev_language_SQL', 'dev_language_R'], 'combo_lang_top3')

{'dev_language_Python', 'dev_language_R', 'dev_language_SQL'}

          tools  count
0    Python;SQL   1027
1        Python    694
2  Python;R;SQL    543
3                  425
4      Python;R    201
5           SQL    195
6         R;SQL    101
7             R     83

In [34]:
df.columns

Index(['age', 'gender', 'country', 'continent', 'job_title', 'work_activities',
       'size_DA_dept', 'dept size', 'years_programming',
       'programming_experience',
       ...
       'BI_tools_SAP Analytics Cloud', 'BI_tools_Tableau',
       'BI_tools_Tableau CRM', 'BI_tools_Looker',
       'BI_tools_Google Data Studio', 'BI_tools_Microsoft Azure Synapse',
       'BI_tools_Qlik', 'BI_tools_None', 'BI_tools_Amazon QuickSight',
       'combo_lang_top3'],
      dtype='object', length=133)