In [1]:
import pandas as pd
import sys
sys.path.append('../')
from src import soporte as sp
import soporte_variables as sv

In [2]:
pd.options.display.max_columns = None

## Cargamos los datos

In [3]:
df = pd.read_csv('../datos/datos_limpios_juntados.csv', index_col = 0)
df.head(2)

,age,gender,country,continent,job_title,work_activities,size_DA_dept,dept size,years_programming,programming_experience,primary_data_tool,first_language_rec,dev_language,IDE,big_data,BI_tools,visualisation,notebooks,sharing,ML,ML_experience
0,50-59,Man,India,Asia & Oceania,Other,None of these activities are an important par...,3-4,small,5-10 years,Senior,"Local development environments (RStudio, Jupyt...",Python,"Python, R",Vim / Emacs,PostgreSQL,None,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",Colab Notebooks,"GitHub , Kaggle",5-10 years,5+ years
1,50-59,Man,Indonesia,Asia & Oceania,Program/Project Manager,Build and/or run the data infrastructure that...,1-2,small,20+ years,Senior,"Advanced statistical software (SPSS, SAS, etc.)",Python,"SQL, C, C++, Java","Notepad++,Jupyter Notebook",NaN,NaN,Matplotlib,"Kaggle Notebooks,Colab Notebooks",NaN,< 1 year,< 2 years

In [4]:
df_da_ba = df[(df["job_title"] == "Business Analyst") | (df["job_title"] == "Data Analyst")]
df_da_ba.head(2)

,age,gender,country,continent,job_title,work_activities,size_DA_dept,dept size,years_programming,programming_experience,primary_data_tool,first_language_rec,dev_language,IDE,big_data,BI_tools,visualisation,notebooks,sharing,ML,ML_experience
16,50-59,Man,Belgium,Europe,Data Analyst,Analyze and understand data to influence produ...,5-9,medium,20+ years,Senior,"Local development environments (RStudio, Jupyt...",Python,"Python, SQL","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",NaN,NaN,"Matplotlib ,Seaborn ,Plotly / Plotly Express","Kaggle Notebooks,Colab Notebooks, Databricks ...",NaN,1-2 years,< 2 years
32,18-29,Nonbinary,United States of America,America,Data Analyst,NaN,3-4,small,< 1 years,Junior,NaN,R,R,RStudio,NaN,NaN,Ggplot / ggplot2,Google Cloud Datalab,NaN,I do not use machine learning methods,None

In [5]:
df_da_ba.shape

(3269, 21)

## Exploracion Inicial

In [6]:
ex = sp.Exploracion(df)

In [7]:
ex.explore(df, "Todos los datos")

EXPLORACIÓN DEL DATAFRAME TODOS LOS DATOS
--------------
El dataframe Todos los datos tiene 25973 filas y 21 columnas
--------------
El dataframe Todos los datos tiene las siguientes columnas:
age
gender
country
continent
job_title
work_activities
size_DA_dept
dept size
years_programming
programming_experience
primary_data_tool
first_language_rec
dev_language
IDE
big_data
BI_tools
visualisation
notebooks
sharing
ML
ML_experience
--------------
Una muestra de dos filas seleccionadas al azar:

,age,gender,country,continent,job_title,work_activities,size_DA_dept,dept size,years_programming,programming_experience,primary_data_tool,first_language_rec,dev_language,IDE,big_data,BI_tools,visualisation,notebooks,sharing,ML,ML_experience
20163,18-29,Man,India,Asia & Oceania,Student,NaN,NaN,NaN,< 1 years,Junior,"Basic statistical software (Microsoft Excel, G...",Python,"Python, C","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",NaN,NaN,"Matplotlib ,Seaborn ,Plotly / Plotly Express","Colab Notebooks, Binder / JupyterHub",NaN,< 1 year,< 2 years
4354,18-29,Man,United Kingdom of Great Britain and Northern I...,Europe,Student,NaN,NaN,NaN,3-5 years,Senior,NaN,Python,"Python, R",Jupyter Notebook,NaN,NaN,Matplotlib,"Colab Notebooks, Deepnote Notebooks",NaN,2-3 years,2-5 years

--------------
Los principales estadísticos de las variables categóricas son:

,count,unique,top,freq
age,25973,5,18-29,14526
gender,25973,5,Man,20598
country,25973,66,India,7434
continent,25973,5,Asia & Oceania,14302
job_title,25973,15,Student,6804
work_activities,15635,96,Analyze and understand data to influence produ...,2891
size_DA_dept,16126,7,1-2,3642
dept size,16126,3,small,9264
years_programming,25973,7,1-3 years,7874
programming_experience,25973,3,Junior,13755
primary_data_tool,18489,6,"Basic statistical software (Microsoft Excel, G...",7246
first_language_rec,24940,13,Python,20213
dev_language,24941,825,Python,4740
IDE,24934,1330,Jupyter Notebook,2341
big_data,9484,1558,None,2297
BI_tools,9399,392,None,4123
visualisation,23970,467,"Matplotlib ,Seaborn",5697
notebooks,24810,723,None,7174
sharing,9211,170,I do not share my work publicly,3167
ML,23754,9,< 1 year,9163
ML_experience,23754,4,< 2 years,13838

--------------
El porcentaje de nulos por columna:
age: 0.0
gender: 0.0
country: 0.0
continent: 0.0
job_title: 0.0
work_activities: 39.80287221345243
size_DA_dept: 37.9124475416779
dept size: 37.9124475416779
years_programming: 0.0
programming_experience: 0.0
primary_data_tool: 28.81453817425788
first_language_rec: 3.9772070996804376
dev_language: 3.9733569475994304
IDE: 4.000308012166481
big_data: 63.48515766372772
BI_tools: 63.81242059061333
visualisation: 7.711854618257422
notebooks: 4.477726870211373
sharing: 64.53624918184269
ML: 8.543487467754977
ML_experience: 8.543487467754977
--------------

In [8]:
ex.explore(df_da_ba, "Data Analyst y Business Analyst")

EXPLORACIÓN DEL DATAFRAME DATA ANALYST Y BUSINESS ANALYST
--------------
El dataframe Data Analyst y Business Analyst tiene 3269 filas y 21 columnas
--------------
El dataframe Data Analyst y Business Analyst tiene las siguientes columnas:
age
gender
country
continent
job_title
work_activities
size_DA_dept
dept size
years_programming
programming_experience
primary_data_tool
first_language_rec
dev_language
IDE
big_data
BI_tools
visualisation
notebooks
sharing
ML
ML_experience
--------------
Una muestra de dos filas seleccionadas al azar:

,age,gender,country,continent,job_title,work_activities,size_DA_dept,dept size,years_programming,programming_experience,primary_data_tool,first_language_rec,dev_language,IDE,big_data,BI_tools,visualisation,notebooks,sharing,ML,ML_experience
4862,18-29,Man,Ethiopia,Africa,Data Analyst,NaN,NaN,NaN,< 1 years,Junior,NaN,Python,"Python, Java, MATLAB","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",NaN,NaN,"Matplotlib ,Plotly / Plotly Express",Colab Notebooks,NaN,NaN,NaN
14364,30-39,Man,India,Asia & Oceania,Data Analyst,Analyze and understand data to influence produ...,20+,large,< 1 years,Junior,"Business intelligence software (Salesforce, Ta...",Python,"Python, SQL, Other","Visual Studio Code (VSCode) , Notepad++,Jupyte...","MongoDB , Microsoft SQL Server , Microsoft Az...","Microsoft Power BI, Microsoft Azure Synapse","Matplotlib ,Seaborn ,Bokeh , Other","Kaggle Notebooks,Colab Notebooks",I do not share my work publicly,< 1 year,< 2 years

--------------
Los principales estadísticos de las variables categóricas son:

,count,unique,top,freq
age,3269,5,18-29,1562
gender,3269,5,Man,2538
country,3269,66,India,795
continent,3269,5,Asia & Oceania,1635
job_title,3269,2,Data Analyst,2301
work_activities,2971,73,Analyze and understand data to influence produ...,1117
size_DA_dept,3064,7,1-2,743
dept size,3064,3,small,1778
years_programming,3269,7,1-3 years,991
programming_experience,3269,3,Junior,1881
primary_data_tool,2509,6,"Basic statistical software (Microsoft Excel, G...",1117
first_language_rec,2993,13,Python,2195
dev_language,2994,250,"Python, SQL",622
IDE,2991,474,Jupyter Notebook,377
big_data,1712,394,None,349
BI_tools,1701,155,None,395
visualisation,2924,208,"Matplotlib ,Seaborn",602
notebooks,2983,215,None,933
sharing,1659,90,I do not share my work publicly,610
ML,2905,9,< 1 year,1155
ML_experience,2905,4,< 2 years,1779

--------------
El porcentaje de nulos por columna:
age: 0.0
gender: 0.0
country: 0.0
continent: 0.0
job_title: 0.0
work_activities: 9.115937595594984
size_DA_dept: 6.271030896298563
dept size: 6.271030896298563
years_programming: 0.0
programming_experience: 0.0
primary_data_tool: 23.248699908228815
first_language_rec: 8.442948914040992
dev_language: 8.4123585194249
IDE: 8.504129703273172
big_data: 47.62924441725298
BI_tools: 47.96573875802998
visualisation: 10.55368614255124
notebooks: 8.748852860201897
sharing: 49.25053533190578
ML: 11.134903640256958
ML_experience: 11.134903640256958
--------------

## Extraemos los valores únicos de cada columna

In [9]:
diccionario_respuestas = ex.dict_respuestas(df_da_ba)

## Contamos los valores y calculamos el %

In [10]:
ex.count_respuestas(df_da_ba, **diccionario_respuestas)

------------
PREGUNTA age (%)
18-29    47.78
30-39    30.74
40-49    13.67
50-59     5.51
60+       2.29
Name: age, dtype: float64
------------
PREGUNTA gender (%)
Man                        77.64
Woman                      20.80
Prefer not to say           1.16
Nonbinary                   0.24
Prefer to self-describe     0.15
Name: gender, dtype: float64
----------------
PREGUNTA MULTIRESPUESTA country
Czech Republic: total: 8, 0.2%
Kazakhstan: total: 5, 0.2%
Ukraine: total: 24, 0.7%
Bangladesh: total: 31, 0.9%
Romania: total: 4, 0.1%
Hong Kong (S.A.R.): total: 0, 0.0%
Norway: total: 3, 0.1%
Germany: total: 45, 1.4%
Ireland: total: 86, 2.6%
United Arab Emirates: total: 17, 0.5%
Uganda: total: 4, 0.1%
Poland: total: 33, 1.0%
Argentina: total: 32, 1.0%
China: total: 121, 3.7%
Italy: total: 31, 0.9%
Chile: total: 16, 0.5%
Algeria: total: 2, 0.1%
Turkey: total: 36, 1.1%
Russia: total: 108, 3.3%
Canada: total: 49, 1.5%
Peru: total: 29, 0.9%
Denmark: total: 3, 0.1%
Malaysia: total: 17, 0.5%
United Kingdom of Great Britain and Northern Ireland: total: 77, 2.4%
Ghana: total: 16, 0.5%
Ethiopia: total: 2, 0.1%
Israel: total: 16, 0.5%
Iraq: total: 4, 0.1%
Greece: total: 15, 0.5%
Nepal: total: 5, 0.2%
Netherlands: total: 20, 0.6%
Spain: total: 48, 1.5%
South Korea: total: 42, 1.3%
Saudi Arabia: total: 16, 0.5%
Viet Nam: total: 32, 1.0%
Belarus: total: 6, 0.2%
Morocco: total: 8, 0.2%
Japan: total: 84, 2.6%
Nigeria: total: 132, 4.0%
Brazil: total: 110, 3.4%
Islamic Republic of...: total: 16, 0.5%
Austria: total: 5, 0.2%
Philippines: total: 19, 0.6%
United States of America: total: 367, 11.2%
Sri Lanka: total: 7, 0.2%
Belgium: total: 7, 0.2%
Pakistan: total: 50, 1.5%
Australia: total: 49, 1.5%
Thailand: total: 20, 0.6%
France: total: 42, 1.3%
Kenya: total: 48, 1.5%
Indonesia: total: 60, 1.8%
Colombia: total: 41, 1.3%
Mexico: total: 49, 1.5%
India: total: 795, 24.3%
Egypt: total: 101, 3.1%
Singapore: total: 30, 0.9%
Switzerland: total: 8, 0.2%
Tunisia: total: 5, 0.2%
Sweden: total: 10, 0.3%
Taiwan: total: 41, 1.3%
Other: total: 181, 5.5%
Portugal: total: 15, 0.5%
Ecuador: total: 11, 0.3%
South Africa: total: 11, 0.3%
Iran: total: 16, 0.5%
I do not wish to disclose my location: total: 7, 0.2%
------------
PREGUNTA continent (%)
Asia & Oceania    50.02
America           21.54
Europe            12.63
Africa            10.06
Other              5.75
Name: continent, dtype: float64
------------
PREGUNTA job_title (%)
Data Analyst        70.39
Business Analyst    29.61
Name: job_title, dtype: float64
----------------
PREGUNTA MULTIRESPUESTA work_activities
Other: total: 121, 3.7%
Do research that advances the state of the art of machine learning: total: 344, 10.5%
Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data: total: 957, 29.3%
Analyze and understand data to influence product or business decisions: total: 2343, 71.7%
Build prototypes to explore applying machine learning to new areas: total: 571, 17.5%
Experimentation and iteration to improve existing ML models: total: 398, 12.2%
None of these activities are an important part of my role at work: total: 274, 8.4%
Build and/or run a machine learning service that operationally improves my product or workflows: total: 446, 13.6%
------------
PREGUNTA size_DA_dept (%)
1-2      22.73
20+      19.79
3-4      16.55
0        15.11
5-9      11.07
10-14     6.36
15-19     2.11
Name: size_DA_dept, dtype: float64
------------
PREGUNTA dept size (%)
small     54.39
large     21.90
medium    17.44
Name: dept size, dtype: float64
------------
PREGUNTA years_programming (%)
1-3 years                    30.32
< 1 years                    27.23
3-5 years                    14.84
5-10 years                    9.39
I have never written code     8.41
10-20 years                   6.06
20+ years                     3.76
Name: years_programming, dtype: float64
------------
PREGUNTA programming_experience (%)
Junior             57.54
Senior             34.05
Sin experiencia     8.41
Name: programming_experience, dtype: float64
------------
PREGUNTA primary_data_tool (%)
Basic statistical software (Microsoft Excel, Google Sheets, etc.)       34.17
Local development environments (RStudio, JupyterLab, etc.)              21.26
Business intelligence software (Salesforce, Tableau, Spotfire, etc.)    11.26
Advanced statistical software (SPSS, SAS, etc.)                          5.35
Other                                                                    2.54
Cloud-based data software & APIs (AWS, GCP, Azure, etc.)                 2.17
Name: primary_data_tool, dtype: float64
------------
PREGUNTA first_language_rec (%)
Python        67.15
SQL           10.68
R              8.05
C++            1.19
Java           0.92
C              0.76
Other          0.73
MATLAB         0.61
Julia          0.43
None           0.43
Javascript     0.40
Bash           0.18
Swift          0.03
Name: first_language_rec, dtype: float64
----------------
PREGUNTA MULTIRESPUESTA dev_language
Other: total: 300, 9.2%
Bash: total: 131, 4.0%
R: total: 928, 28.4%
MATLAB: total: 230, 7.0%
Python: total: 2465, 75.4%
Swift: total: 20, 0.6%
Java: total: 505, 15.4%
SQL: total: 1866, 57.1%
None: total: 59, 1.8%
no se puede para C++
C: total: 388, 11.9%
Javascript: total: 327, 10.0%
Julia: total: 21, 0.6%
----------------
PREGUNTA MULTIRESPUESTA IDE
Other: total: 154, 4.7%
no se puede para Notepad++
Spyder: total: 476, 14.6%
Visual Studio: total: 1144, 35.0%
RStudio: total: 820, 25.1%
Jupyter (JupyterLab; Jupyter Notebooks; etc): total: 0, 0.0%
MATLAB: total: 166, 5.1%
Jupyter Notebook: total: 2149, 65.7%
Visual Studio Code (VSCode): total: 0, 0.0%
PyCharm: total: 728, 22.3%
None: total: 90, 2.8%
Sublime Text: total: 259, 7.9%
Vim / Emacs: total: 86, 2.6%
----------------
PREGUNTA MULTIRESPUESTA big_data
Other: total: 62, 1.9%
Amazon RDS: total: 62, 1.9%
Google Cloud Firestore: total: 56, 1.7%
Google Cloud BigTable: total: 65, 2.0%
Microsoft SQL Server: total: 442, 13.5%
Amazon Aurora: total: 31, 0.9%
MySQL: total: 685, 21.0%
Oracle Database: total: 217, 6.6%
Google Cloud Spanner: total: 37, 1.1%
IBM Db2: total: 63, 1.9%
Google Cloud BigQuery: total: 169, 5.2%
None: total: 349, 10.7%
Microsoft Azure SQL Database: total: 139, 4.3%

/mnt/c/Users/Master/Desktop/Adalab/project-da-promo-d-module-2-team-2-/notebooks/../src/soporte.py:468: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  total = dataframe[key].str.contains(respuesta, regex = True).sum()
/mnt/c/Users/Master/Desktop/Adalab/project-da-promo-d-module-2-team-2-/notebooks/../src/soporte.py:468: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  total = dataframe[key].str.contains(respuesta, regex = True).sum()

Amazon Redshift: total: 92, 2.8%
Amazon DynamoDB: total: 42, 1.3%
Snowflake: total: 79, 2.4%
PostgreSQL: total: 364, 11.1%
MongoDB: total: 205, 6.3%
Google Cloud SQL: total: 120, 3.7%
Microsoft Azure Cosmos DB: total: 60, 1.8%
SQLite: total: 242, 7.4%
----------------
PREGUNTA MULTIRESPUESTA BI_tools
Other: total: 80, 2.4%
Domo: total: 19, 0.6%
Salesforce: total: 87, 2.7%
Thoughtspot: total: 12, 0.4%
Sisense: total: 16, 0.5%
TIBCO Spotfire: total: 26, 0.8%
Tableau CRM: total: 107, 3.3%
Microsoft Power BI: total: 673, 20.6%
Looker: total: 39, 1.2%
Alteryx: total: 54, 1.7%
Tableau: total: 749, 22.9%
None: total: 395, 12.1%
Google Data Studio: total: 217, 6.6%
Amazon QuickSight: total: 34, 1.0%
Qlik: total: 118, 3.6%
SAP Analytics Cloud: total: 59, 1.8%
Microsoft Azure Synapse: total: 45, 1.4%
----------------
PREGUNTA MULTIRESPUESTA visualisation
Other: total: 127, 3.9%
Altair: total: 50, 1.5%
Plotly / Plotly Express: total: 796, 24.3%
Matplotlib: total: 1984, 60.7%
D3 js: total: 105, 3.2%
Bokeh: total: 138, 4.2%
None: total: 420, 12.8%
Geoplotlib: total: 198, 6.1%
Leaflet / Folium: total: 94, 2.9%
Seaborn: total: 1559, 47.7%
Shiny: total: 235, 7.2%
Ggplot / ggplot2: total: 830, 25.4%
----------------
PREGUNTA MULTIRESPUESTA notebooks
Azure Notebooks: total: 152, 4.6%
Binder / JupyterHub: total: 235, 7.2%
Databricks Collaborative Notebooks: total: 88, 2.7%
Zeppelin / Zepl Notebooks: total: 28, 0.9%
IBM Watson Studio: total: 144, 4.4%
Colab Notebooks: total: 920, 28.1%
Observable Notebooks: total: 31, 0.9%
Amazon Sagemaker Studio Notebooks: total: 73, 2.2%
Code Ocean: total: 22, 0.7%
Amazon EMR Notebooks: total: 45, 1.4%
Deepnote Notebooks: total: 26, 0.8%
Google Cloud Notebooks (AI Platform / Vertex AI): total: 0, 0.0%
Paperspace / Gradient: total: 23, 0.7%
Kaggle Notebooks: total: 1077, 32.9%
Other: total: 113, 3.5%
None: total: 933, 28.5%
Google Cloud Datalab: total: 274, 8.4%
----------------
PREGUNTA MULTIRESPUESTA sharing
Colab: total: 275, 8.4%
Personal blog: total: 127, 3.9%
Streamlit: total: 59, 1.8%
NBViewer: total: 28, 0.9%
Kaggle: total: 573, 17.5%
Shiny: total: 63, 1.9%
Plotly Dash: total: 53, 1.6%
I do not share my work publicly: total: 610, 18.7%
GitHub: total: 745, 22.8%
Other: total: 56, 1.7%
------------
PREGUNTA ML (%)
< 1 year                                 35.33
1-2 years                                19.09
I do not use machine learning methods    18.02
2-3 years                                 8.20
3-4 years                                 3.43
4-5 years                                 2.23
5-10 years                                1.59
10-20 years                               0.73
20 or more years                          0.24
Name: ML, dtype: float64
------------
PREGUNTA ML_experience (%)
< 2 years    54.42
None         18.02
2-5 years    13.86
5+ years      2.57
Name: ML_experience, dtype: float64

## Exploramos con pd.crosstab

In [12]:
df_crosstab_gen_exp = pd.crosstab(df_da_ba['gender'], df_da_ba['programming_experience'], normalize = True) * 100
df_crosstab_gen_exp

programming_experience      Junior     Senior  Sin experiencia
gender
Man                      44.141939  27.256042         6.240441
Nonbinary                 0.122362   0.091771         0.030590
Prefer not to say         0.550627   0.520037         0.091771
Prefer to self-describe   0.061181   0.061181         0.030590
Woman                    12.664423   6.118079         2.018966

In [14]:
# Sacamos tabla de contigencia cruzando género y la pregunta q8, donde se recoge la información de recomendación sobre herramientas de programación para iniciarse en análisis de datos

df_crosstab_gen_herr = pd.crosstab(df_da_ba['gender'], df_da_ba['first_language_rec'], normalize = True, margins = True) * 100
df_crosstab_gen_herr.T

gender,Man,Nonbinary,Prefer not to say,Prefer to self-describe,Woman,All
first_language_rec,,,,,,
Bash,0.133645,0.000000,0.033411,0.000000,0.033411,0.200468
C,0.601403,0.000000,0.000000,0.000000,0.233879,0.835282
C++,1.002339,0.000000,0.033411,0.000000,0.267290,1.303040
Java,0.701637,0.000000,0.000000,0.000000,0.300702,1.002339
Javascript,0.334113,0.000000,0.066823,0.000000,0.033411,0.434347
Julia,0.367524,0.033411,0.000000,0.000000,0.066823,0.467758
MATLAB,0.434347,0.000000,0.000000,0.000000,0.233879,0.668226
None,0.367524,0.000000,0.033411,0.000000,0.066823,0.467758
Other,0.735048,0.000000,0.000000,0.000000,0.066823,0.801871
Python,58.235884,0.100234,0.735048,0.100234,14.166388,73.337788
R,6.281323,0.066823,0.133645,0.000000,2.305379,8.787170
SQL,8.720347,0.033411,0.133645,0.033411,2.739726,11.660541
Swift,0.033411,0.000000,0.000000,0.000000,0.000000,0.033411
All,77.948547,0.233879,1.169395,0.133645,20.514534,100.000000