In [16]:
import pandas as pd
import numpy as np
import re

In [17]:
pd.options.display.max_columns = None

## Cargamos los datos

In [18]:
df = pd.read_csv('../datos/datos_limpios_juntados.csv', index_col = 0)
df.head(2)

,age,gender,country,continent,job_title,work_activities,size_DA_dept,dept size,years_programming,programming_experience,primary_data_tool,first_language_rec,dev_language,IDE,big_data,BI_tools,visualisation,notebooks,sharing,ML,ML_experience
0,50-59,Man,India,Asia & Oceania,Other,None of these activities are an important par...,3-4,small,5-10 years,Senior,"Local development environments (RStudio, Jupyt...",Python,"Python, R",Vim / Emacs,PostgreSQL,None,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",Colab Notebooks,"GitHub , Kaggle",5-10 years,5+ years
1,50-59,Man,Indonesia,Asia & Oceania,Program/Project Manager,Build and/or run the data infrastructure that...,1-2,small,20+ years,Senior,"Advanced statistical software (SPSS, SAS, etc.)",Python,"SQL, C, C++, Java","Notepad++,Jupyter Notebook",NaN,NaN,Matplotlib,"Kaggle Notebooks,Colab Notebooks",NaN,< 1 year,< 2 years

In [19]:
df_da_ba = df[(df["job_title"] == "Business Analyst") | (df["job_title"] == "Data Analyst")]
df_da_ba.head(2)

,age,gender,country,continent,job_title,work_activities,size_DA_dept,dept size,years_programming,programming_experience,primary_data_tool,first_language_rec,dev_language,IDE,big_data,BI_tools,visualisation,notebooks,sharing,ML,ML_experience
16,50-59,Man,Belgium,Europe,Data Analyst,Analyze and understand data to influence produ...,5-9,medium,20+ years,Senior,"Local development environments (RStudio, Jupyt...",Python,"Python, SQL","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",NaN,NaN,"Matplotlib ,Seaborn ,Plotly / Plotly Express","Kaggle Notebooks,Colab Notebooks, Databricks ...",NaN,1-2 years,< 2 years
32,18-29,Nonbinary,United States of America,America,Data Analyst,NaN,3-4,small,< 1 years,Junior,NaN,R,R,RStudio,NaN,NaN,Ggplot / ggplot2,Google Cloud Datalab,NaN,I do not use machine learning methods,None

In [20]:
df_da_ba.shape

(3269, 21)

## Exploracion Inicial

In [21]:
def explore(dataframe, nombre):
    print(f"EXPLORACIÓN DEL DATAFRAME {nombre.upper()}")
    print("--------------")
    print(f"El dataframe {nombre} tiene {dataframe.shape[0]} filas y {dataframe.shape[1]} columnas")
    print("--------------")
    print(f"El dataframe {nombre} tiene las siguientes columnas:")
    for col in dataframe.columns:
        print(col)     
    print("--------------")
    print("Una muestra de dos filas seleccionadas al azar:")
    display(dataframe.sample(2))
    print("--------------")
    print(f"Los principales estadísticos de las variables categóricas son:")
    display(dataframe.describe(include=object).T)
    print("--------------")
    print("El porcentaje de nulos por columna:")
    for i, col in enumerate(dataframe.isnull().sum()):
        print(f"{dataframe.isnull().sum().index[i]}: {col/dataframe.shape[0]*100}")
    print("--------------")

In [22]:
explore(df, "Todos los datos")

EXPLORACIÓN DEL DATAFRAME TODOS LOS DATOS
--------------
El dataframe Todos los datos tiene 25973 filas y 21 columnas
--------------
El dataframe Todos los datos tiene las siguientes columnas:
age
gender
country
continent
job_title
work_activities
size_DA_dept
dept size
years_programming
programming_experience
primary_data_tool
first_language_rec
dev_language
IDE
big_data
BI_tools
visualisation
notebooks
sharing
ML
ML_experience
--------------
Una muestra de dos filas seleccionadas al azar:

,age,gender,country,continent,job_title,work_activities,size_DA_dept,dept size,years_programming,programming_experience,primary_data_tool,first_language_rec,dev_language,IDE,big_data,BI_tools,visualisation,notebooks,sharing,ML,ML_experience
7432,30-39,Man,Japan,Asia & Oceania,Developer Relations/Advocacy,Build and/or run the data infrastructure that...,1-2,small,1-3 years,Junior,"Basic statistical software (Microsoft Excel, G...",Python,"Python, Other","Spyder,Jupyter Notebook",None,Tableau,"Matplotlib ,Seaborn",Colab Notebooks,I do not share my work publicly,1-2 years,< 2 years
6695,30-39,Man,Singapore,Asia & Oceania,Software Engineer,None of these activities are an important par...,0,small,10-20 years,Senior,"Local development environments (RStudio, Jupyt...",Python,"Python, SQL","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",NaN,NaN,"Matplotlib ,Plotly / Plotly Express",None,NaN,1-2 years,< 2 years

--------------
Los principales estadísticos de las variables categóricas son:

,count,unique,top,freq
age,25973,5,18-29,14526
gender,25973,5,Man,20598
country,25973,66,India,7434
continent,25973,5,Asia & Oceania,14302
job_title,25973,15,Student,6804
work_activities,15635,96,Analyze and understand data to influence produ...,2891
size_DA_dept,16126,7,1-2,3642
dept size,16126,3,small,9264
years_programming,25973,7,1-3 years,7874
programming_experience,25973,3,Junior,13755
primary_data_tool,18489,6,"Basic statistical software (Microsoft Excel, G...",7246
first_language_rec,24940,13,Python,20213
dev_language,24941,825,Python,4740
IDE,24934,1330,Jupyter Notebook,2341
big_data,9484,1558,None,2297
BI_tools,9399,392,None,4123
visualisation,23970,467,"Matplotlib ,Seaborn",5697
notebooks,24810,723,None,7174
sharing,9211,170,I do not share my work publicly,3167
ML,23754,9,< 1 year,9163
ML_experience,23754,4,< 2 years,13838

--------------
El porcentaje de nulos por columna:
age: 0.0
gender: 0.0
country: 0.0
continent: 0.0
job_title: 0.0
work_activities: 39.80287221345243
size_DA_dept: 37.9124475416779
dept size: 37.9124475416779
years_programming: 0.0
programming_experience: 0.0
primary_data_tool: 28.81453817425788
first_language_rec: 3.9772070996804376
dev_language: 3.9733569475994304
IDE: 4.000308012166481
big_data: 63.48515766372772
BI_tools: 63.81242059061333
visualisation: 7.711854618257422
notebooks: 4.477726870211373
sharing: 64.53624918184269
ML: 8.543487467754977
ML_experience: 8.543487467754977
--------------

In [23]:
explore(df_da_ba, "Data Analyst y Business Analyst")

EXPLORACIÓN DEL DATAFRAME DATA ANALYST Y BUSINESS ANALYST
--------------
El dataframe Data Analyst y Business Analyst tiene 3269 filas y 21 columnas
--------------
El dataframe Data Analyst y Business Analyst tiene las siguientes columnas:
age
gender
country
continent
job_title
work_activities
size_DA_dept
dept size
years_programming
programming_experience
primary_data_tool
first_language_rec
dev_language
IDE
big_data
BI_tools
visualisation
notebooks
sharing
ML
ML_experience
--------------
Una muestra de dos filas seleccionadas al azar:

,age,gender,country,continent,job_title,work_activities,size_DA_dept,dept size,years_programming,programming_experience,primary_data_tool,first_language_rec,dev_language,IDE,big_data,BI_tools,visualisation,notebooks,sharing,ML,ML_experience
24735,30-39,Man,Other,Other,Data Analyst,Analyze and understand data to influence produ...,5-9,medium,1-3 years,Junior,"Local development environments (RStudio, Jupyt...",Python,"Python, SQL, C++, Javascript, Swift, Bash, MATLAB","Visual Studio ,MATLAB ,Jupyter Notebook","MySQL , PostgreSQL , SQLite , Microsoft SQL Se...","Google Data Studio, Microsoft Azure Synapse","Matplotlib ,Seaborn","Kaggle Notebooks,Azure Notebooks,Google Cloud...","GitHub , Kaggle",1-2 years,< 2 years
8978,30-39,Woman,Colombia,America,Data Analyst,Build and/or run the data infrastructure that...,3-4,small,3-5 years,Senior,"Advanced statistical software (SPSS, SAS, etc.)",Python,"Python, R, SQL","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...","MongoDB , Microsoft SQL Server",Microsoft Power BI,"Matplotlib ,Seaborn ,Plotly / Plotly Express ...",Google Cloud Notebooks (AI Platform / Vertex A...,"GitHub , Colab",1-2 years,< 2 years

--------------
Los principales estadísticos de las variables categóricas son:

,count,unique,top,freq
age,3269,5,18-29,1562
gender,3269,5,Man,2538
country,3269,66,India,795
continent,3269,5,Asia & Oceania,1635
job_title,3269,2,Data Analyst,2301
work_activities,2971,73,Analyze and understand data to influence produ...,1117
size_DA_dept,3064,7,1-2,743
dept size,3064,3,small,1778
years_programming,3269,7,1-3 years,991
programming_experience,3269,3,Junior,1881
primary_data_tool,2509,6,"Basic statistical software (Microsoft Excel, G...",1117
first_language_rec,2993,13,Python,2195
dev_language,2994,250,"Python, SQL",622
IDE,2991,474,Jupyter Notebook,377
big_data,1712,394,None,349
BI_tools,1701,155,None,395
visualisation,2924,208,"Matplotlib ,Seaborn",602
notebooks,2983,215,None,933
sharing,1659,90,I do not share my work publicly,610
ML,2905,9,< 1 year,1155
ML_experience,2905,4,< 2 years,1779

--------------
El porcentaje de nulos por columna:
age: 0.0
gender: 0.0
country: 0.0
continent: 0.0
job_title: 0.0
work_activities: 9.115937595594984
size_DA_dept: 6.271030896298563
dept size: 6.271030896298563
years_programming: 0.0
programming_experience: 0.0
primary_data_tool: 23.248699908228815
first_language_rec: 8.442948914040992
dev_language: 8.4123585194249
IDE: 8.504129703273172
big_data: 47.62924441725298
BI_tools: 47.96573875802998
visualisation: 10.55368614255124
notebooks: 8.748852860201897
sharing: 49.25053533190578
ML: 11.134903640256958
ML_experience: 11.134903640256958
--------------

## Extraemos los valores únicos de cada columna

In [24]:
#esta función crea un dicionario con el número de la columna como keys y una lista de los valores únicos de la columna como values
def dict_respuestas(dataframe):
    
    dic_respuestas = {}
    
    for col in dataframe.columns:
        lista_nueva = []
        #ignoramos la columna index
        if col == "index":
            pass
        #comprobamos si los valores únicos son más de 20 - si es una pregunta multirespuesta 
        elif len(dataframe[col].unique()) > 22:
            #crea una lista de los valores únicos
                lista_unicos = list(dataframe[col].unique())
                for sublist in lista_unicos:
                    #cada lista dentro de los valores únicos se divide por las comas 
                    try:
                        lista_nueva.extend(sublist.split(","))
                    except:
                        pass
                    #lista de todas las posibles respuestas individuales
                    #la convertimos en set para eliminar los duplicados 
                    set_unicos = set(lista_nueva)
                    #lo volvemos a convertir en lista para poder usarla cómodamente
                    lista_nueva = list(set_unicos)
        else:
            #si no es multirespuesta podemos usar el unique para ver los valores únicos 
            lista_nueva = list(dataframe[col].unique())
        #list comprehension para quitar los nulos    
        lista_sin_nan = [item for item in lista_nueva if not (pd.isnull(item)) == True]
        #metemos la lista sin nulos en un diccionario donde el key es el número de la columna y los values con la lista de valores únicos lista_sin_nan
        dic_respuestas[col] = lista_sin_nan
        
        print("-------------------")
        print (f"{col} : {dic_respuestas[col]}")

    return dic_respuestas

In [25]:
diccionario_respuestas = dict_respuestas(df_da_ba)

-------------------
age : ['50-59', '18-29', '30-39', '40-49', '60+']
-------------------
gender : ['Man', 'Nonbinary', 'Woman', 'Prefer not to say', 'Prefer to self-describe']
-------------------
country : ['South Africa', 'Algeria', 'Ethiopia', 'Austria', 'Norway', 'Kenya', 'Romania', 'Turkey', 'Indonesia', 'Russia', 'Nigeria', 'United Arab Emirates', 'Iraq', 'Mexico', 'Malaysia', 'Ireland', 'Switzerland', 'Pakistan', 'Spain', 'Sweden', 'Iran', 'Argentina', 'Italy', 'Egypt', 'Belgium', 'Poland', 'South Korea', 'Singapore', 'France', 'Sri Lanka', 'Belarus', 'Germany', 'Netherlands', 'Ukraine', 'Morocco', 'United Kingdom of Great Britain and Northern Ireland', 'Israel', 'Viet Nam', 'Portugal', 'Chile', 'India', 'Japan', 'Philippines', 'Tunisia', 'I do not wish to disclose my location', 'Colombia', 'Canada', 'Australia', 'Brazil', 'Denmark', 'Ecuador', 'Hong Kong (S.A.R.)', 'Taiwan', ' Islamic Republic of...', 'Ghana', 'Saudi Arabia', 'Bangladesh', 'Kazakhstan', 'Other', 'Peru', 'Nepal', 'China', 'Uganda', 'United States of America', 'Thailand', 'Czech Republic', 'Greece']
-------------------
continent : ['Europe', 'America', 'Africa', 'Asia & Oceania', 'Other']
-------------------
job_title : ['Data Analyst', 'Business Analyst']
-------------------
work_activities : [' Other', ' Build and/or run a machine learning service that operationally improves my product or workflows', ' Build prototypes to explore applying machine learning to new areas', ' None of these activities are an important part of my role at work', ' Do research that advances the state of the art of machine learning', ' Experimentation and iteration to improve existing ML models', ' Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data', 'Analyze and understand data to influence product or business decisions']
-------------------
size_DA_dept : ['5-9', '3-4', '0', '1-2', '20+', '10-14', '15-19']
-------------------
dept size : ['medium', 'small', 'large']
-------------------
years_programming : ['20+ years', '< 1 years', '3-5 years', '1-3 years', '5-10 years', 'I have never written code', '10-20 years']
-------------------
programming_experience : ['Senior', 'Junior', 'Sin experiencia']
-------------------
primary_data_tool : ['Local development environments (RStudio, JupyterLab, etc.)', 'Basic statistical software (Microsoft Excel, Google Sheets, etc.)', 'Business intelligence software (Salesforce, Tableau, Spotfire, etc.)', 'Cloud-based data software & APIs (AWS, GCP, Azure, etc.)', 'Advanced statistical software (SPSS, SAS, etc.)', 'Other']
-------------------
first_language_rec : ['Python', 'R', 'C', 'SQL', 'Java', 'C++', 'MATLAB', 'Other', 'Julia', 'Javascript', 'Bash', 'None', 'Swift']
-------------------
dev_language : [' R', ' Other', ' C++', ' None', ' SQL', ' C', 'Python', ' Java', ' Bash', ' Julia', ' Javascript', ' Swift', ' MATLAB']
-------------------
IDE : [' Notepad++', 'RStudio ', 'Jupyter Notebook', ' Other', 'Visual Studio ', ' Sublime Text', 'MATLAB ', ' Spyder', 'Visual Studio Code (VSCode) ', 'PyCharm ', ' None', 'Jupyter (JupyterLab; Jupyter Notebooks; etc) ', ' Vim / Emacs']
-------------------
big_data : [' IBM Db2 ', ' Microsoft SQL Server ', ' None', ' MongoDB ', ' Microsoft Azure Cosmos DB ', ' Google Cloud SQL ', ' Amazon Redshift ', ' Amazon DynamoDB ', ' Google Cloud BigTable ', ' Google Cloud Spanner ', ' Oracle Database ', ' PostgreSQL ', ' Other', ' Amazon RDS ', 'MySQL ', ' Snowflake ', ' Google Cloud Firestore ', ' Amazon Aurora ', ' SQLite ', ' Google Cloud BigQuery ', ' Microsoft Azure SQL Database ']
-------------------
BI_tools : [' TIBCO Spotfire', ' Microsoft Power BI', ' Qlik', ' Sisense ', ' SAP Analytics Cloud ', ' Other', ' Looker', ' Domo', ' None', ' Salesforce', ' Microsoft Azure Synapse ', ' Google Data Studio', ' Alteryx ', ' Tableau', ' Tableau CRM', ' Thoughtspot ', 'Amazon QuickSight']
-------------------
visualisation : ['Altair ', ' Other', 'D3 js ', ' None', 'Geoplotlib ', 'Shiny ', 'Bokeh ', 'Leaflet / Folium ', 'Ggplot / ggplot2 ', 'Seaborn ', ' Matplotlib ', 'Plotly / Plotly Express ']
-------------------
notebooks : [' Databricks Collaborative Notebooks ', 'Other', 'None', ' Amazon EMR Notebooks ', 'Azure Notebooks', ' Paperspace / Gradient ', ' Amazon Sagemaker Studio Notebooks ', 'Colab Notebooks', ' IBM Watson Studio ', ' Binder / JupyterHub ', 'Google Cloud Notebooks (AI Platform / Vertex AI) ', ' Deepnote Notebooks ', ' Zeppelin / Zepl Notebooks ', ' Code Ocean ', ' Kaggle Notebooks', 'Google Cloud Datalab', ' Observable Notebooks ']
-------------------
sharing : ['Other', ' Colab ', ' Kaggle ', ' Personal blog ', ' Shiny ', ' GitHub ', ' Streamlit ', ' Plotly Dash ', 'I do not share my work publicly', ' NBViewer ']
-------------------
ML : ['1-2 years', 'I do not use machine learning methods', '< 1 year', '2-3 years', '3-4 years', '5-10 years', '4-5 years', '10-20 years', '20 or more years']
-------------------
ML_experience : ['< 2 years', 'None', '2-5 years', '5+ years']

## Contamos los valores y calculamos el %

In [26]:
#devuelve el valor de cada valor único y su porcentaje
#el diccionario abajo es el diccionario de respuestas que acabamos de hacer 
def count_respuestas(dataframe, **diccionario):
    for key in diccionario:
        #usamos el diccionario, sacamos los valores únicos de cada pregunta para encontrar la columna del dataframe, 
        # y el sum nos dice cuántas veces aparece      
        if key == "index":
            pass
        elif len(dataframe[key].unique()) > 22:
            print("----------------")
            print(f"PREGUNTA MULTIRESPUESTA {key}")  
            for respuesta in diccionario[key]:
                try:
                    total = dataframe[key].str.contains(respuesta, regex = True).sum()
                    print(f"{respuesta}: total: {total}, {round(total/dataframe.shape[0]*100, 1)}%")
                except:
                    print(f"no se puede para {respuesta}")
        else:
            print("------------")
            print(f"PREGUNTA {key} (%)")
            print(f"{round((dataframe[key].value_counts()/dataframe.shape[0]*100),2)}")

In [27]:
count_respuestas(df_da_ba, **diccionario_respuestas)

------------
PREGUNTA age (%)
18-29    47.78
30-39    30.74
40-49    13.67
50-59     5.51
60+       2.29
Name: age, dtype: float64
------------
PREGUNTA gender (%)
Man                        77.64
Woman                      20.80
Prefer not to say           1.16
Nonbinary                   0.24
Prefer to self-describe     0.15
Name: gender, dtype: float64
----------------
PREGUNTA MULTIRESPUESTA country
South Africa: total: 11, 0.3%
Algeria: total: 2, 0.1%
Ethiopia: total: 2, 0.1%
Austria: total: 5, 0.2%
Norway: total: 3, 0.1%
Kenya: total: 48, 1.5%
Romania: total: 4, 0.1%
Turkey: total: 36, 1.1%
Indonesia: total: 60, 1.8%
Russia: total: 108, 3.3%
Nigeria: total: 132, 4.0%
United Arab Emirates: total: 17, 0.5%
Iraq: total: 4, 0.1%
Mexico: total: 49, 1.5%
Malaysia: total: 17, 0.5%
Ireland: total: 86, 2.6%
Switzerland: total: 8, 0.2%
Pakistan: total: 50, 1.5%
Spain: total: 48, 1.5%
Sweden: total: 10, 0.3%
Iran: total: 16, 0.5%
Argentina: total: 32, 1.0%
Italy: total: 31, 0.9%
Egypt: total: 101, 3.1%
Belgium: total: 7, 0.2%
Poland: total: 33, 1.0%
South Korea: total: 42, 1.3%
Singapore: total: 30, 0.9%
France: total: 42, 1.3%
Sri Lanka: total: 7, 0.2%
Belarus: total: 6, 0.2%
Germany: total: 45, 1.4%
Netherlands: total: 20, 0.6%
Ukraine: total: 24, 0.7%
Morocco: total: 8, 0.2%
United Kingdom of Great Britain and Northern Ireland: total: 77, 2.4%
Israel: total: 16, 0.5%
Viet Nam: total: 32, 1.0%
Portugal: total: 15, 0.5%
Chile: total: 16, 0.5%
India: total: 795, 24.3%
Japan: total: 84, 2.6%
Philippines: total: 19, 0.6%
Tunisia: total: 5, 0.2%
I do not wish to disclose my location: total: 7, 0.2%
Colombia: total: 41, 1.3%
Canada: total: 49, 1.5%
Australia: total: 49, 1.5%
Brazil: total: 110, 3.4%
Denmark: total: 3, 0.1%
Ecuador: total: 11, 0.3%
Hong Kong (S.A.R.): total: 0, 0.0%
Taiwan: total: 41, 1.3%
 Islamic Republic of...: total: 16, 0.5%
Ghana: total: 16, 0.5%
Saudi Arabia: total: 16, 0.5%
Bangladesh: total: 31, 0.9%
Kazakhstan: total: 5, 0.2%
Other: total: 181, 5.5%
Peru: total: 29, 0.9%
Nepal: total: 5, 0.2%
China: total: 121, 3.7%
Uganda: total: 4, 0.1%
United States of America: total: 367, 11.2%
Thailand: total: 20, 0.6%
Czech Republic: total: 8, 0.2%
Greece: total: 15, 0.5%
------------
PREGUNTA continent (%)
Asia & Oceania    50.02
America           21.54
Europe            12.63
Africa            10.06
Other              5.75
Name: continent, dtype: float64
------------
PREGUNTA job_title (%)
Data Analyst        70.39
Business Analyst    29.61
Name: job_title, dtype: float64
----------------
PREGUNTA MULTIRESPUESTA work_activities
 Other: total: 121, 3.7%
 Build and/or run a machine learning service that operationally improves my product or workflows: total: 446, 13.6%
 Build prototypes to explore applying machine learning to new areas: total: 571, 17.5%
 None of these activities are an important part of my role at work: total: 274, 8.4%
 Do research that advances the state of the art of machine learning: total: 344, 10.5%
 Experimentation and iteration to improve existing ML models: total: 398, 12.2%
 Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data: total: 957, 29.3%
Analyze and understand data to influence product or business decisions: total: 2343, 71.7%
------------
PREGUNTA size_DA_dept (%)
1-2      22.73
20+      19.79
3-4      16.55
0        15.11
5-9      11.07
10-14     6.36
15-19     2.11
Name: size_DA_dept, dtype: float64
------------
PREGUNTA dept size (%)
small     54.39
large     21.90
medium    17.44
Name: dept size, dtype: float64
------------
PREGUNTA years_programming (%)
1-3 years                    30.32
< 1 years                    27.23
3-5 years                    14.84
5-10 years                    9.39
I have never written code     8.41
10-20 years                   6.06
20+ years                     3.76
Name: years_programming, dtype: float64
------------
PREGUNTA programming_experience (%)
Junior             57.54
Senior             34.05
Sin experiencia     8.41
Name: programming_experience, dtype: float64
------------
PREGUNTA primary_data_tool (%)
Basic statistical software (Microsoft Excel, Google Sheets, etc.)       34.17
Local development environments (RStudio, JupyterLab, etc.)              21.26
Business intelligence software (Salesforce, Tableau, Spotfire, etc.)    11.26
Advanced statistical software (SPSS, SAS, etc.)                          5.35
Other                                                                    2.54
Cloud-based data software & APIs (AWS, GCP, Azure, etc.)                 2.17
Name: primary_data_tool, dtype: float64
------------
PREGUNTA first_language_rec (%)
Python        67.15
SQL           10.68
R              8.05
C++            1.19
Java           0.92
C              0.76
Other          0.73
MATLAB         0.61
Julia          0.43
None           0.43
Javascript     0.40
Bash           0.18
Swift          0.03
Name: first_language_rec, dtype: float64
----------------
PREGUNTA MULTIRESPUESTA dev_language
 R: total: 928, 28.4%
 Other: total: 300, 9.2%
no se puede para  C++
 None: total: 59, 1.8%
 SQL: total: 1866, 57.1%
 C: total: 388, 11.9%
Python: total: 2465, 75.4%
 Java: total: 505, 15.4%
 Bash: total: 131, 4.0%
 Julia: total: 21, 0.6%
 Javascript: total: 327, 10.0%
 Swift: total: 20, 0.6%
 MATLAB: total: 230, 7.0%
----------------
PREGUNTA MULTIRESPUESTA IDE
no se puede para  Notepad++
RStudio : total: 820, 25.1%
Jupyter Notebook: total: 2149, 65.7%
 Other: total: 154, 4.7%
Visual Studio : total: 1144, 35.0%
 Sublime Text: total: 259, 7.9%
MATLAB : total: 166, 5.1%
 Spyder: total: 476, 14.6%
Visual Studio Code (VSCode) : total: 0, 0.0%
PyCharm : total: 728, 22.3%
 None: total: 90, 2.8%
Jupyter (JupyterLab; Jupyter Notebooks; etc) : total: 0, 0.0%
 Vim / Emacs: total: 86, 2.6%
----------------
PREGUNTA MULTIRESPUESTA big_data
 IBM Db2 : total: 63, 1.9%
 Microsoft SQL Server : total: 442, 13.5%
 None: total: 349, 10.7%
 MongoDB : total: 205, 6.3%
 Microsoft Azure Cosmos DB : total: 60, 1.8%
 Google Cloud SQL : total: 120, 3.7%
 Amazon Redshift : total: 92, 2.8%
 Amazon DynamoDB : total: 42, 1.3%
 Google Cloud BigTable : total: 65, 2.0%
 Google Cloud Spanner : total: 37, 1.1%
 Oracle Database : total: 217, 6.6%
 PostgreSQL : total: 364, 11.1%
 Other: total: 62, 1.9%
 Amazon RDS : total: 62, 1.9%
MySQL : total: 685, 21.0%
 Snowflake : total: 79, 2.4%
 Google Cloud Firestore : total: 56, 1.7%
 Amazon Aurora : total: 31, 0.9%
 SQLite : total: 242, 7.4%
 Google Cloud BigQuery : total: 169, 5.2%
 Microsoft Azure SQL Database : total: 139, 4.3%
----------------
PREGUNTA MULTIRESPUESTA BI_tools
 TIBCO Spotfire: total: 26, 0.8%
 Microsoft Power BI: total: 673, 20.6%
 Qlik: total: 118, 3.6%
 Sisense : total: 16, 0.5%
 SAP Analytics Cloud : total: 59, 1.8%
 Other: total: 80, 2.4%
 Looker: total: 39, 1.2%
 Domo: total: 19, 0.6%
 None: total: 395, 12.1%
 Salesforce: total: 87, 2.7%
 Microsoft Azure Synapse : total: 45, 1.4%
 Google Data Studio: total: 217, 6.6%
 Alteryx : total: 54, 1.7%
 Tableau: total: 749, 22.9%
 Tableau CRM: total: 107, 3.3%
 Thoughtspot : total: 12, 0.4%
Amazon QuickSight: total: 34, 1.0%
----------------
PREGUNTA MULTIRESPUESTA visualisation
Altair : total: 50, 1.5%
 Other: total: 127, 3.9%
D3 js : total: 105, 3.2%
 None: total: 420, 12.8%
Geoplotlib : total: 198, 6.1%
Shiny : total: 235, 7.2%
Bokeh : total: 138, 4.2%

/tmp/ipykernel_1251/2681907443.py:14: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  total = dataframe[key].str.contains(respuesta, regex = True).sum()
/tmp/ipykernel_1251/2681907443.py:14: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  total = dataframe[key].str.contains(respuesta, regex = True).sum()

Leaflet / Folium : total: 94, 2.9%
Ggplot / ggplot2 : total: 830, 25.4%
Seaborn : total: 1559, 47.7%
 Matplotlib : total: 1984, 60.7%
Plotly / Plotly Express : total: 796, 24.3%
----------------
PREGUNTA MULTIRESPUESTA notebooks
 Databricks Collaborative Notebooks : total: 88, 2.7%
Other: total: 113, 3.5%
None: total: 933, 28.5%
 Amazon EMR Notebooks : total: 45, 1.4%
Azure Notebooks: total: 152, 4.6%
 Paperspace / Gradient : total: 23, 0.7%
 Amazon Sagemaker Studio Notebooks : total: 73, 2.2%
Colab Notebooks: total: 920, 28.1%
 IBM Watson Studio : total: 144, 4.4%
 Binder / JupyterHub : total: 235, 7.2%
Google Cloud Notebooks (AI Platform / Vertex AI) : total: 0, 0.0%
 Deepnote Notebooks : total: 26, 0.8%
 Zeppelin / Zepl Notebooks : total: 28, 0.9%
 Code Ocean : total: 22, 0.7%
 Kaggle Notebooks: total: 1077, 32.9%
Google Cloud Datalab: total: 274, 8.4%
 Observable Notebooks : total: 31, 0.9%
----------------
PREGUNTA MULTIRESPUESTA sharing
Other: total: 56, 1.7%
 Colab : total: 275, 8.4%
 Kaggle : total: 573, 17.5%
 Personal blog : total: 127, 3.9%
 Shiny : total: 63, 1.9%
 GitHub : total: 745, 22.8%
 Streamlit : total: 59, 1.8%
 Plotly Dash : total: 53, 1.6%
I do not share my work publicly: total: 610, 18.7%
 NBViewer : total: 28, 0.9%
------------
PREGUNTA ML (%)
< 1 year                                 35.33
1-2 years                                19.09
I do not use machine learning methods    18.02
2-3 years                                 8.20
3-4 years                                 3.43
4-5 years                                 2.23
5-10 years                                1.59
10-20 years                               0.73
20 or more years                          0.24
Name: ML, dtype: float64
------------
PREGUNTA ML_experience (%)
< 2 years    54.42
None         18.02
2-5 years    13.86
5+ years      2.57
Name: ML_experience, dtype: float64

In [ ]:
df_crosstab_gen_exp = pd.crosstab(df_da_ba['gender'], df_da_ba['experiencia programacion'], normalize = True) * 100
df_crosstab_gen_exp

experiencia programacion     Junior     Senior  Sin experiencia
gender
Man                       44.141939  27.256042         6.240441
Nonbinary                  0.122362   0.091771         0.030590
Prefer not to say          0.550627   0.520037         0.091771
Prefer to self-describe    0.061181   0.061181         0.030590
Woman                     12.664423   6.118079         2.018966

In [ ]:
# Sacamos tabla de contigencia cruzando género y la pregunta q8, donde se recoge la información de recomendación sobre herramientas de programación para iniciarse en análisis de datos

df_crosstab_gen_herr = pd.crosstab(df_da_ba['gender'], df_da_ba['Q8'], normalize = True, margins = True) * 100
df_crosstab_gen_herr.T

gender,Man,Nonbinary,Prefer not to say,Prefer to self-describe,Woman,All
Q8,,,,,,
Bash,0.133645,0.000000,0.033411,0.000000,0.033411,0.200468
C,0.601403,0.000000,0.000000,0.000000,0.233879,0.835282
C++,1.002339,0.000000,0.033411,0.000000,0.267290,1.303040
Java,0.701637,0.000000,0.000000,0.000000,0.300702,1.002339
Javascript,0.334113,0.000000,0.066823,0.000000,0.033411,0.434347
Julia,0.367524,0.033411,0.000000,0.000000,0.066823,0.467758
MATLAB,0.434347,0.000000,0.000000,0.000000,0.233879,0.668226
None,0.367524,0.000000,0.033411,0.000000,0.066823,0.467758
Other,0.735048,0.000000,0.000000,0.000000,0.066823,0.801871
Python,58.235884,0.100234,0.735048,0.100234,14.166388,73.337788
R,6.281323,0.066823,0.133645,0.000000,2.305379,8.787170
SQL,8.720347,0.033411,0.133645,0.033411,2.739726,11.660541
Swift,0.033411,0.000000,0.000000,0.000000,0.000000,0.033411
All,77.948547,0.233879,1.169395,0.133645,20.514534,100.000000