In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_columns = None

## Cargamos los datos

In [3]:
df_unidos = pd.read_csv('../datos/datos_unidos.csv', index_col=0)
df_unidos.head(2)

,index,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER
0,0,50-54,Man,India,Other,5-10 years,Python,5-10 years,3-4,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN
1,1,50-54,Man,Indonesia,Program/Project Manager,20+ years,Python,< 1 year,1-2,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_da_ba = pd.read_csv('../datos/datos_da_ba.csv', index_col=0)
df_da_ba.head(2)

,index,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER
16,16,50-54,Man,Belgium,Data Analyst,20+ years,Python,1-2 years,5-9,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",Analyze and understand data to influence produ...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32,22-24,Nonbinary,United States of America,Data Analyst,< 1 years,R,I do not use machine learning methods,3-4,NaN,R,RStudio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_da_ba.shape

(3269, 42)

## Extraemos los valores únicos de cada columna

In [6]:
#esta función crea un dicionario con el número de la columna como keys y una lista de los valores únicos de la columna como values
def dict_respuestas(dataframe):
    
    dic_respuestas = {}
    
    for col in dataframe.columns:
        lista_nueva = []
        #ignoramos la columna index
        if col == "index":
            pass
        #comprobamos si los valores únicos son más de 20 - si es una pregunta multirespuesta 
        elif len(dataframe[col].unique()) > 22:
            #crea una lista de los valores únicos
                lista_unicos = list(dataframe[col].unique())
                for sublist in lista_unicos:
                    #cada lista dentro de los valores únicos se divide por las comas 
                    try:
                        lista_nueva.extend(sublist.split(","))
                    except:
                        pass
                    #lista de todas las posibles respuestas individuales
                    #la convertimos en set para eliminar los duplicados 
                    set_unicos = set(lista_nueva)
                    #lo volvemos a convertir en lista para poder usarla cómodamente
                    lista_nueva = list(set_unicos)
        else:
            #si no es multirespuesta podemos usar el unique para ver los valores únicos 
            lista_nueva = list(dataframe[col].unique())
        #list comprehension para quitar los nulos    
        lista_sin_nan = [item for item in lista_nueva if not (pd.isnull(item)) == True]
        #metemos la lista sin nulos en un diccionario donde el key es el número de la columna y los values con la lista de valores únicos lista_sin_nan
        dic_respuestas[col] = lista_sin_nan
        
        print("-------------------")
        print (f"{col} : {dic_respuestas[col]}")

    return dic_respuestas

In [7]:
diccionario_respuestas = dict_respuestas(df_da_ba)

-------------------
index : []
-------------------
age : ['50-54', '22-24', '30-34', '40-44', '70+', '45-49', '18-21', '55-59', '25-29', '35-39', '60-69']
-------------------
gender : ['Man', 'Nonbinary', 'Woman', 'Prefer not to say', 'Prefer to self-describe']
-------------------
Q3 : ['Japan', 'France', 'Argentina', 'United Arab Emirates', 'Denmark', 'Ukraine', 'Belarus', 'Mexico', 'Tunisia', 'Ecuador', 'South Africa', 'Israel', 'United States of America', 'Belgium', 'Kenya', 'Thailand', 'Malaysia', 'Norway', 'Morocco', 'Netherlands', 'Brazil', ' Islamic Republic of...', 'Portugal', 'Indonesia', 'Turkey', 'Czech Republic', 'Spain', 'Viet Nam', 'Switzerland', 'I do not wish to disclose my location', 'Uganda', 'Sri Lanka', 'Germany', 'Chile', 'Poland', 'Hong Kong (S.A.R.)', 'Romania', 'Ethiopia', 'Canada', 'South Korea', 'Peru', 'Colombia', 'Singapore', 'Saudi Arabia', 'Sweden', 'Iraq', 'Algeria', 'Australia', 'China', 'India', 'Taiwan', 'Pakistan', 'Egypt', 'Kazakhstan', 'Greece', 'Nigeria', 'Russia', 'Italy', 'Ireland', 'Nepal', 'Iran', 'United Kingdom of Great Britain and Northern Ireland', 'Ghana', 'Bangladesh', 'Austria', 'Other', 'Philippines']
-------------------
Q5 : ['Data Analyst', 'Business Analyst']
-------------------
Q6 : ['20+ years', '< 1 years', '3-5 years', '1-3 years', '5-10 years', 'I have never written code', '10-20 years']
-------------------
Q8 : ['Python', 'R', 'C', 'SQL', 'Java', 'C++', 'MATLAB', 'Other', 'Julia', 'Javascript', 'Bash', 'None', 'Swift']
-------------------
Q15 : ['1-2 years', 'I do not use machine learning methods', '< 1 year', '2-3 years', '3-4 years', '5-10 years', '4-5 years', '10-20 years', '20 or more years']
-------------------
Q22 : ['5-9', '3-4', '0', '1-2', '20+', '10-14', '15-19']
-------------------
Q41 : ['Local development environments (RStudio, JupyterLab, etc.)', 'Basic statistical software (Microsoft Excel, Google Sheets, etc.)', 'Business intelligence software (Salesforce, Tableau, Spotfire, etc.)', 'Cloud-based data software & APIs (AWS, GCP, Azure, etc.)', 'Advanced statistical software (SPSS, SAS, etc.)', 'Other']
-------------------
Q7 : ['Python', ' R', ' None', ' C++', ' Bash', ' Swift', ' SQL', ' Other', ' C', ' MATLAB', ' Javascript', ' Julia', ' Java']
-------------------
Q9 : ['PyCharm ', 'MATLAB ', 'RStudio ', 'Jupyter (JupyterLab', ' None', ' Vim / Emacs', 'Jupyter Notebook', 'Visual Studio Code (VSCode) ', ' Other', ' etc) ', ' Sublime Text', ' Spyder', ' Jupyter Notebooks', 'Visual Studio ', ' Notepad++']
-------------------
Q24 : [' Build and/or run the data infrastructure that my business uses for storing', ' None of these activities are an important part of my role at work', ' Experimentation and iteration to improve existing ML models', 'Analyze and understand data to influence product or business decisions', ' Build prototypes to explore applying machine learning to new areas', ' analyzing', ' and operationalizing data', ' Other', ' Do research that advances the state of the art of machine learning', ' Build and/or run a machine learning service that operationally improves my product or workflows']
-------------------
Q32 : [' Microsoft Azure SQL Database ', ' SQLite ', ' Amazon Aurora ', 'MySQL ', ' Google Cloud BigTable ', ' None', ' Google Cloud Spanner ', ' Amazon RDS ', ' MongoDB ', ' Google Cloud BigQuery ', ' Google Cloud Firestore ', ' PostgreSQL ', ' Microsoft SQL Server ', ' Oracle Database ', ' Other', ' IBM Db2 ', ' Snowflake ', ' Microsoft Azure Cosmos DB ', ' Google Cloud SQL ', ' Amazon DynamoDB ', ' Amazon Redshift ']
-------------------
Q34 : [' SAP Analytics Cloud ', 'Amazon QuickSight', ' None', ' Tableau', ' Microsoft Power BI', ' Looker', ' Alteryx ', ' TIBCO Spotfire', ' Qlik', ' Domo', ' Thoughtspot ', ' Other', ' Salesforce', ' Microsoft Azure Synapse ', ' Google Data Studio', ' Sisense ', ' Tableau CRM']
-------------------
Q10_Part_1 : [' Kaggle Notebooks']
-------------------
Q10_Part_2 : ['Colab Notebooks']
-------------------
Q10_Part_3 : ['Azure Notebooks']
-------------------
Q10_Part_4 : [' Paperspace / Gradient ']
-------------------
Q10_Part_5 : [' Binder / JupyterHub ']
-------------------
Q10_Part_6 : [' Code Ocean ']
-------------------
Q10_Part_7 : [' IBM Watson Studio ']
-------------------
Q10_Part_8 : [' Amazon Sagemaker Studio Notebooks ']
-------------------
Q10_Part_9 : [' Amazon EMR Notebooks ']
-------------------
Q10_Part_10 : ['Google Cloud Notebooks (AI Platform / Vertex AI) ']
-------------------
Q10_Part_11 : ['Google Cloud Datalab']
-------------------
Q10_Part_12 : [' Databricks Collaborative Notebooks ']
-------------------
Q10_Part_13 : [' Zeppelin / Zepl Notebooks ']
-------------------
Q10_Part_14 : [' Deepnote Notebooks ']
-------------------
Q10_Part_15 : [' Observable Notebooks ']
-------------------
Q10_Part_16 : ['None']
-------------------
Q10_OTHER : ['Other']
-------------------
Q39_Part_1 : [' Plotly Dash ']
-------------------
Q39_Part_2 : [' Streamlit ']
-------------------
Q39_Part_3 : [' NBViewer ']
-------------------
Q39_Part_4 : [' GitHub ']
-------------------
Q39_Part_5 : [' Personal blog ']
-------------------
Q39_Part_6 : [' Kaggle ']
-------------------
Q39_Part_7 : [' Colab ']
-------------------
Q39_Part_8 : [' Shiny ']
-------------------
Q39_Part_9 : ['I do not share my work publicly']
-------------------
Q39_OTHER : ['Other']

## Contamos los valores y calculamos el %

In [10]:
#devuelve el valor de cada valor único y su porcentaje
#el diccionario abajo es el diccionario de respuestas que acabamos de hacer 
def count_list(dataframe, **diccionario):
    for key in diccionario:
        print("----------------")
        print(f"PREGUNTA {key}")  
        #usamos el diccionario, sacamos los valores únicos de cada pregunta para encontrar la columna del dataframe, 
        # y el sum nos dice cuántas veces aparece      
        for lista in diccionario[key]:
            try:
                total = dataframe[key].str.contains(lista, regex = True).sum()
                print(f"{lista}: total: {total}, {round(total/dataframe.shape[0]*100, 1)}%")
            except:
                print(f"no se puede para {lista}")

In [11]:
count_list(df_da_ba, **diccionario_respuestas)

----------------
PREGUNTA index
----------------
PREGUNTA age
50-54: total: 121, 3.7%
22-24: total: 538, 16.5%
30-34: total: 590, 18.0%
40-44: total: 270, 8.3%
70+: total: 12, 0.4%
45-49: total: 177, 5.4%
18-21: total: 236, 7.2%
55-59: total: 59, 1.8%
25-29: total: 788, 24.1%
35-39: total: 415, 12.7%
60-69: total: 63, 1.9%
----------------
PREGUNTA gender
Man: total: 2538, 77.6%
Nonbinary: total: 8, 0.2%
Woman: total: 680, 20.8%
Prefer not to say: total: 38, 1.2%
Prefer to self-describe: total: 5, 0.2%
----------------
PREGUNTA Q3
Japan: total: 84, 2.6%
France: total: 42, 1.3%
Argentina: total: 32, 1.0%
United Arab Emirates: total: 17, 0.5%
Denmark: total: 3, 0.1%
Ukraine: total: 24, 0.7%
Belarus: total: 6, 0.2%
Mexico: total: 49, 1.5%
Tunisia: total: 5, 0.2%
Ecuador: total: 11, 0.3%
South Africa: total: 11, 0.3%
Israel: total: 16, 0.5%
United States of America: total: 367, 11.2%
Belgium: total: 7, 0.2%
Kenya: total: 48, 1.5%
Thailand: total: 20, 0.6%
Malaysia: total: 17, 0.5%
Norway: total: 3, 0.1%
Morocco: total: 8, 0.2%
Netherlands: total: 20, 0.6%
Brazil: total: 110, 3.4%
 Islamic Republic of...: total: 16, 0.5%
Portugal: total: 15, 0.5%
Indonesia: total: 60, 1.8%
Turkey: total: 36, 1.1%
Czech Republic: total: 8, 0.2%
Spain: total: 48, 1.5%
Viet Nam: total: 32, 1.0%
Switzerland: total: 8, 0.2%
I do not wish to disclose my location: total: 7, 0.2%
Uganda: total: 4, 0.1%
Sri Lanka: total: 7, 0.2%
Germany: total: 45, 1.4%
Chile: total: 16, 0.5%
Poland: total: 33, 1.0%
Hong Kong (S.A.R.): total: 0, 0.0%
Romania: total: 4, 0.1%
Ethiopia: total: 2, 0.1%
Canada: total: 49, 1.5%
South Korea: total: 42, 1.3%
Peru: total: 29, 0.9%
Colombia: total: 41, 1.3%
Singapore: total: 30, 0.9%
Saudi Arabia: total: 16, 0.5%
Sweden: total: 10, 0.3%
Iraq: total: 4, 0.1%
Algeria: total: 2, 0.1%
Australia: total: 49, 1.5%
China: total: 121, 3.7%
India: total: 795, 24.3%
Taiwan: total: 41, 1.3%
Pakistan: total: 50, 1.5%
Egypt: total: 101, 3.1%
Kazakhstan: total: 5, 0.2%
Greece: total: 15, 0.5%
Nigeria: total: 132, 4.0%
Russia: total: 108, 3.3%
Italy: total: 31, 0.9%
Ireland: total: 86, 2.6%
Nepal: total: 5, 0.2%
Iran: total: 16, 0.5%
United Kingdom of Great Britain and Northern Ireland: total: 77, 2.4%
Ghana: total: 16, 0.5%
Bangladesh: total: 31, 0.9%
Austria: total: 5, 0.2%
Other: total: 181, 5.5%
Philippines: total: 19, 0.6%
----------------
PREGUNTA Q5
Data Analyst: total: 2301, 70.4%
Business Analyst: total: 968, 29.6%
----------------
PREGUNTA Q6
20+ years: total: 198, 6.1%
< 1 years: total: 890, 27.2%
3-5 years: total: 485, 14.8%
1-3 years: total: 991, 30.3%
5-10 years: total: 307, 9.4%
I have never written code: total: 275, 8.4%
10-20 years: total: 198, 6.1%
----------------
PREGUNTA Q8
Python: total: 2195, 67.1%
R: total: 263, 8.0%
C: total: 64, 2.0%
SQL: total: 349, 10.7%
Java: total: 43, 1.3%
no se puede para C++
MATLAB: total: 20, 0.6%
Other: total: 24, 0.7%
Julia: total: 14, 0.4%
Javascript: total: 13, 0.4%
Bash: total: 6, 0.2%
None: total: 14, 0.4%
Swift: total: 1, 0.0%
----------------
PREGUNTA Q15
1-2 years: total: 624, 19.1%
I do not use machine learning methods: total: 589, 18.0%
< 1 year: total: 1155, 35.3%
2-3 years: total: 268, 8.2%
3-4 years: total: 112, 3.4%
5-10 years: total: 52, 1.6%
4-5 years: total: 73, 2.2%
10-20 years: total: 24, 0.7%

/tmp/ipykernel_2547/2722212731.py:11: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  total = dataframe[key].str.contains(lista, regex = True).sum()

20 or more years: total: 8, 0.2%
----------------
PREGUNTA Q22
5-9: total: 362, 11.1%
3-4: total: 541, 16.5%
0: total: 1349, 41.3%
1-2: total: 743, 22.7%
20+: total: 647, 19.8%
10-14: total: 208, 6.4%
15-19: total: 69, 2.1%
----------------
PREGUNTA Q41
Local development environments (RStudio, JupyterLab, etc.): total: 0, 0.0%
Basic statistical software (Microsoft Excel, Google Sheets, etc.): total: 0, 0.0%
Business intelligence software (Salesforce, Tableau, Spotfire, etc.): total: 0, 0.0%
Cloud-based data software & APIs (AWS, GCP, Azure, etc.): total: 0, 0.0%
Advanced statistical software (SPSS, SAS, etc.): total: 0, 0.0%
Other: total: 83, 2.5%
----------------
PREGUNTA Q7
Python: total: 2465, 75.4%
 R: total: 928, 28.4%
 None: total: 59, 1.8%
no se puede para  C++
 Bash: total: 131, 4.0%
 Swift: total: 20, 0.6%
 SQL: total: 1866, 57.1%
 Other: total: 300, 9.2%
 C: total: 388, 11.9%
 MATLAB: total: 230, 7.0%
 Javascript: total: 327, 10.0%
 Julia: total: 21, 0.6%
 Java: total: 505, 15.4%
----------------
PREGUNTA Q9
PyCharm : total: 728, 22.3%
MATLAB : total: 166, 5.1%
RStudio : total: 820, 25.1%
no se puede para Jupyter (JupyterLab
 None: total: 90, 2.8%
 Vim / Emacs: total: 86, 2.6%
Jupyter Notebook: total: 2149, 65.7%
Visual Studio Code (VSCode) : total: 0, 0.0%
 Other: total: 154, 4.7%
no se puede para  etc)
 Sublime Text: total: 259, 7.9%
 Spyder: total: 476, 14.6%
 Jupyter Notebooks: total: 634, 19.4%
Visual Studio : total: 1144, 35.0%
no se puede para  Notepad++
----------------
PREGUNTA Q24
 Build and/or run the data infrastructure that my business uses for storing: total: 957, 29.3%
 None of these activities are an important part of my role at work: total: 274, 8.4%
 Experimentation and iteration to improve existing ML models: total: 398, 12.2%
Analyze and understand data to influence product or business decisions: total: 2343, 71.7%
 Build prototypes to explore applying machine learning to new areas: total: 571, 17.5%
 analyzing: total: 957, 29.3%
 and operationalizing data: total: 957, 29.3%
 Other: total: 121, 3.7%
 Do research that advances the state of the art of machine learning: total: 344, 10.5%
 Build and/or run a machine learning service that operationally improves my product or workflows: total: 446, 13.6%
----------------
PREGUNTA Q32
 Microsoft Azure SQL Database : total: 139, 4.3%
 SQLite : total: 242, 7.4%
 Amazon Aurora : total: 31, 0.9%
MySQL : total: 685, 21.0%
 Google Cloud BigTable : total: 65, 2.0%
 None: total: 349, 10.7%
 Google Cloud Spanner : total: 37, 1.1%
 Amazon RDS : total: 62, 1.9%
 MongoDB : total: 205, 6.3%
 Google Cloud BigQuery : total: 169, 5.2%
 Google Cloud Firestore : total: 56, 1.7%
 PostgreSQL : total: 364, 11.1%
 Microsoft SQL Server : total: 442, 13.5%
 Oracle Database : total: 217, 6.6%
 Other: total: 62, 1.9%
 IBM Db2 : total: 63, 1.9%
 Snowflake : total: 79, 2.4%
 Microsoft Azure Cosmos DB : total: 60, 1.8%
 Google Cloud SQL : total: 120, 3.7%
 Amazon DynamoDB : total: 42, 1.3%
 Amazon Redshift : total: 92, 2.8%
----------------
PREGUNTA Q34
 SAP Analytics Cloud : total: 59, 1.8%
Amazon QuickSight: total: 34, 1.0%
 None: total: 395, 12.1%
 Tableau: total: 749, 22.9%
 Microsoft Power BI: total: 673, 20.6%
 Looker: total: 39, 1.2%
 Alteryx : total: 54, 1.7%
 TIBCO Spotfire: total: 26, 0.8%
 Qlik: total: 118, 3.6%
 Domo: total: 19, 0.6%
 Thoughtspot : total: 12, 0.4%
 Other: total: 80, 2.4%
 Salesforce: total: 87, 2.7%
 Microsoft Azure Synapse : total: 45, 1.4%
 Google Data Studio: total: 217, 6.6%
 Sisense : total: 16, 0.5%
 Tableau CRM: total: 107, 3.3%
----------------
PREGUNTA Q10_Part_1
 Kaggle Notebooks: total: 1077, 32.9%
----------------
PREGUNTA Q10_Part_2
Colab Notebooks: total: 920, 28.1%
----------------
PREGUNTA Q10_Part_3
Azure Notebooks: total: 152, 4.6%
----------------
PREGUNTA Q10_Part_4
 Paperspace / Gradient : total: 23, 0.7%
----------------
PREGUNTA Q10_Part_5
 Binder / JupyterHub : total: 235, 7.2%
----------------
PREGUNTA Q10_Part_6
 Code Ocean : total: 22, 0.7%
----------------
PREGUNTA Q10_Part_7
 IBM Watson Studio : total: 144, 4.4%
----------------
PREGUNTA Q10_Part_8
 Amazon Sagemaker Studio Notebooks : total: 73, 2.2%
----------------
PREGUNTA Q10_Part_9
 Amazon EMR Notebooks : total: 45, 1.4%
----------------
PREGUNTA Q10_Part_10
Google Cloud Notebooks (AI Platform / Vertex AI) : total: 0, 0.0%
----------------
PREGUNTA Q10_Part_11
Google Cloud Datalab: total: 274, 8.4%
----------------
PREGUNTA Q10_Part_12
 Databricks Collaborative Notebooks : total: 88, 2.7%
----------------
PREGUNTA Q10_Part_13
 Zeppelin / Zepl Notebooks : total: 28, 0.9%
----------------
PREGUNTA Q10_Part_14
 Deepnote Notebooks : total: 26, 0.8%
----------------
PREGUNTA Q10_Part_15
 Observable Notebooks : total: 31, 0.9%
----------------
PREGUNTA Q10_Part_16
None: total: 933, 28.5%
----------------
PREGUNTA Q10_OTHER
Other: total: 113, 3.5%
----------------
PREGUNTA Q39_Part_1
 Plotly Dash : total: 53, 1.6%
----------------
PREGUNTA Q39_Part_2
 Streamlit : total: 59, 1.8%
----------------
PREGUNTA Q39_Part_3
 NBViewer : total: 28, 0.9%
----------------
PREGUNTA Q39_Part_4
 GitHub : total: 745, 22.8%
----------------
PREGUNTA Q39_Part_5
 Personal blog : total: 127, 3.9%
----------------
PREGUNTA Q39_Part_6
 Kaggle : total: 573, 17.5%
----------------
PREGUNTA Q39_Part_7
 Colab : total: 275, 8.4%
----------------
PREGUNTA Q39_Part_8
 Shiny : total: 63, 1.9%
----------------
PREGUNTA Q39_Part_9
I do not share my work publicly: total: 610, 18.7%
----------------
PREGUNTA Q39_OTHER
Other: total: 56, 1.7%