In [3]:
import pandas as pd
import numpy as np
import re

In [4]:
pd.options.display.max_columns = None

## Cargamos los datos

In [5]:
df_unido = pd.read_csv('../datos/datos_limpios.csv', index_col = 0)
df_unido.head(2)

,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER
0,50-54,Man,India,Other,5-10 years,Python,5-10 years,3-4,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN
1,50-54,Man,Indonesia,Program/Project Manager,20+ years,Python,< 1 year,1-2,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_da_ba = pd.read_csv('../datos/datos_da_ba.csv', index_col=0)
df_da_ba.head(2)

,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER
16,50-54,Man,Belgium,Data Analyst,20+ years,Python,1-2 years,5-9,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",Analyze and understand data to influence produ...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,22-24,Nonbinary,United States of America,Data Analyst,< 1 years,R,I do not use machine learning methods,3-4,NaN,R,RStudio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_da_ba.shape

(3269, 41)

## Exploracion Inicial

In [13]:
def explore(dataframe, nombre):
    print(f"EXPLORACIÓN DEL DATAFRAME {nombre.upper()}")
    print("--------------")
    print(f"El dataframe {nombre} tiene {dataframe.shape[0]} filas y {dataframe.shape[1]} columnas")
    print("--------------")
    print(f"El dataframe {nombre} tiene las siguientes columnas:")
    for col in dataframe.columns:
        print(col)     
    print("--------------")
    print("Una muestra de dos filas seleccionadas al azar:")
    display(dataframe.sample(2))
    print("--------------")
    print(f"Los principales estadísticos de las variables numéricas son:")
    display(dataframe.describe().T)
    print("--------------")
    print(f"Los principales estadísticos de las variables categóricas son:")
    display(dataframe.describe(include=object).T)
    print("--------------")
    print("El porcentaje de nulos por columna:")
    for i, col in enumerate(dataframe.isnull().sum()):
        print(f"{dataframe.isnull().sum().index[i]}: {col/dataframe.shape[0]*100}")
    print("--------------")

In [14]:
explore(df_unido, "Todos los datos")

EXPLORACIÓN DEL DATAFRAME TODOS LOS DATOS
--------------
El dataframe Todos los datos tiene 25973 filas y 41 columnas
--------------
El dataframe Todos los datos tiene las siguientes columnas:
age
gender
Q3
Q5
Q6
Q8
Q15
Q22
Q41
Q7
Q9
Q24
Q32
Q34
Q10_Part_1
Q10_Part_2
Q10_Part_3
Q10_Part_4
Q10_Part_5
Q10_Part_6
Q10_Part_7
Q10_Part_8
Q10_Part_9
Q10_Part_10
Q10_Part_11
Q10_Part_12
Q10_Part_13
Q10_Part_14
Q10_Part_15
Q10_Part_16
Q10_OTHER
Q39_Part_1
Q39_Part_2
Q39_Part_3
Q39_Part_4
Q39_Part_5
Q39_Part_6
Q39_Part_7
Q39_Part_8
Q39_Part_9
Q39_OTHER
--------------
Una muestra de dos filas seleccionadas al azar:

,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER
10880,25-29,Man,Viet Nam,Currently not employed,< 1 years,Python,< 1 year,NaN,"Basic statistical software (Microsoft Excel, G...",Python,"Visual Studio Code (VSCode) ,Jupyter Notebook",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8103,35-39,Man,Singapore,Currently not employed,< 1 years,Python,< 1 year,NaN,"Basic statistical software (Microsoft Excel, G...",Python,"Spyder,Jupyter Notebook, Other",NaN,NaN,NaN,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,IBM Watson Studio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

--------------
Los principales estadísticos de las variables numéricas son:

,count,unique,top,freq
age,25973,11,25-29,4931
gender,25973,5,Man,20598
Q3,25973,66,India,7434
Q5,25973,15,Student,6804
Q6,25973,7,1-3 years,7874
Q8,24940,13,Python,20213
Q15,23754,9,< 1 year,9163
Q22,16126,7,1-2,3642
Q41,18489,6,"Basic statistical software (Microsoft Excel, G...",7246
Q7,24941,825,Python,4740
Q9,24934,1330,Jupyter Notebook,2341
Q24,15635,96,Analyze and understand data to influence produ...,2891
Q32,9484,1558,None,2297
Q34,9399,392,None,4123
Q10_Part_1,9507,1,Kaggle Notebooks,9507
Q10_Part_2,9792,1,Colab Notebooks,9792
Q10_Part_3,1062,1,Azure Notebooks,1062
Q10_Part_4,209,1,Paperspace / Gradient,209
Q10_Part_5,1770,1,Binder / JupyterHub,1770
Q10_Part_6,175,1,Code Ocean,175
Q10_Part_7,1067,1,IBM Watson Studio,1067
Q10_Part_8,753,1,Amazon Sagemaker Studio Notebooks,753
Q10_Part_9,348,1,Amazon EMR Notebooks,348
Q10_Part_10,2051,1,Google Cloud Notebooks (AI Platform / Vertex AI),2051
Q10_Part_11,1794,1,Google Cloud Datalab,1794
Q10_Part_12,590,1,Databricks Collaborative Notebooks,590
Q10_Part_13,251,1,Zeppelin / Zepl Notebooks,251
Q10_Part_14,260,1,Deepnote Notebooks,260
Q10_Part_15,147,1,Observable Notebooks,147
Q10_Part_16,7174,1,None,7174
Q10_OTHER,737,1,Other,737
Q39_Part_1,293,1,Plotly Dash,293
Q39_Part_2,387,1,Streamlit,387
Q39_Part_3,136,1,NBViewer,136
Q39_Part_4,4586,1,GitHub,4586
Q39_Part_5,705,1,Personal blog,705
Q39_Part_6,3065,1,Kaggle,3065
Q39_Part_7,1848,1,Colab,1848
Q39_Part_8,305,1,Shiny,305
Q39_Part_9,3167,1,I do not share my work publicly,3167
Q39_OTHER,306,1,Other,306

--------------
Los principales estadísticos de las variables categóricas son:

,count,unique,top,freq
age,25973,11,25-29,4931
gender,25973,5,Man,20598
Q3,25973,66,India,7434
Q5,25973,15,Student,6804
Q6,25973,7,1-3 years,7874
Q8,24940,13,Python,20213
Q15,23754,9,< 1 year,9163
Q22,16126,7,1-2,3642
Q41,18489,6,"Basic statistical software (Microsoft Excel, G...",7246
Q7,24941,825,Python,4740
Q9,24934,1330,Jupyter Notebook,2341
Q24,15635,96,Analyze and understand data to influence produ...,2891
Q32,9484,1558,None,2297
Q34,9399,392,None,4123
Q10_Part_1,9507,1,Kaggle Notebooks,9507
Q10_Part_2,9792,1,Colab Notebooks,9792
Q10_Part_3,1062,1,Azure Notebooks,1062
Q10_Part_4,209,1,Paperspace / Gradient,209
Q10_Part_5,1770,1,Binder / JupyterHub,1770
Q10_Part_6,175,1,Code Ocean,175
Q10_Part_7,1067,1,IBM Watson Studio,1067
Q10_Part_8,753,1,Amazon Sagemaker Studio Notebooks,753
Q10_Part_9,348,1,Amazon EMR Notebooks,348
Q10_Part_10,2051,1,Google Cloud Notebooks (AI Platform / Vertex AI),2051
Q10_Part_11,1794,1,Google Cloud Datalab,1794
Q10_Part_12,590,1,Databricks Collaborative Notebooks,590
Q10_Part_13,251,1,Zeppelin / Zepl Notebooks,251
Q10_Part_14,260,1,Deepnote Notebooks,260
Q10_Part_15,147,1,Observable Notebooks,147
Q10_Part_16,7174,1,None,7174
Q10_OTHER,737,1,Other,737
Q39_Part_1,293,1,Plotly Dash,293
Q39_Part_2,387,1,Streamlit,387
Q39_Part_3,136,1,NBViewer,136
Q39_Part_4,4586,1,GitHub,4586
Q39_Part_5,705,1,Personal blog,705
Q39_Part_6,3065,1,Kaggle,3065
Q39_Part_7,1848,1,Colab,1848
Q39_Part_8,305,1,Shiny,305
Q39_Part_9,3167,1,I do not share my work publicly,3167
Q39_OTHER,306,1,Other,306

--------------
El porcentaje de nulos por columna:
age: 0.0
gender: 0.0
Q3: 0.0
Q5: 0.0
Q6: 0.0
Q8: 3.9772070996804376
Q15: 8.543487467754977
Q22: 37.9124475416779
Q41: 28.81453817425788
Q7: 3.9733569475994304
Q9: 4.000308012166481
Q24: 39.80287221345243
Q32: 63.48515766372772
Q34: 63.81242059061333
Q10_Part_1: 63.39660416586456
Q10_Part_2: 62.2993108227775
Q10_Part_3: 95.91113848997036
Q10_Part_4: 99.19531821506949
Q10_Part_5: 93.18523081661726
Q10_Part_6: 99.32622338582374
Q10_Part_7: 95.89188772956531
Q10_Part_8: 97.10083548300157
Q10_Part_9: 98.66014707580949
Q10_Part_10: 92.10333808185423
Q10_Part_11: 93.09282716667309
Q10_Part_12: 97.72841027220576
Q10_Part_13: 99.03361182766719
Q10_Part_14: 98.99896045893813
Q10_Part_15: 99.43402764409194
Q10_Part_16: 72.37900897085436
Q10_OTHER: 97.16243791629769
Q39_Part_1: 98.8719054402649
Q39_Part_2: 98.50999114465021
Q39_Part_3: 99.47637931698303
Q39_Part_4: 82.34320255650098
Q39_Part_5: 97.28564278288992
Q39_Part_6: 88.19928387171294
Q39_Part_7: 92.88491895429868
Q39_Part_8: 98.82570361529281
Q39_Part_9: 87.8065683594502
Q39_OTHER: 98.8218534632118
--------------

In [15]:
explore(df_da_ba, "Data Analyst y Business Analyst")

EXPLORACIÓN DEL DATAFRAME DATA ANALYST Y BUSINESS ANALYST
--------------
El dataframe Data Analyst y Business Analyst tiene 3269 filas y 41 columnas
--------------
El dataframe Data Analyst y Business Analyst tiene las siguientes columnas:
age
gender
Q3
Q5
Q6
Q8
Q15
Q22
Q41
Q7
Q9
Q24
Q32
Q34
Q10_Part_1
Q10_Part_2
Q10_Part_3
Q10_Part_4
Q10_Part_5
Q10_Part_6
Q10_Part_7
Q10_Part_8
Q10_Part_9
Q10_Part_10
Q10_Part_11
Q10_Part_12
Q10_Part_13
Q10_Part_14
Q10_Part_15
Q10_Part_16
Q10_OTHER
Q39_Part_1
Q39_Part_2
Q39_Part_3
Q39_Part_4
Q39_Part_5
Q39_Part_6
Q39_Part_7
Q39_Part_8
Q39_Part_9
Q39_OTHER
--------------
Una muestra de dos filas seleccionadas al azar:

,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER
22827,22-24,Man,India,Data Analyst,I have never written code,NaN,NaN,20+,"Advanced statistical software (SPSS, SAS, etc.)",NaN,NaN,Analyze and understand data to influence produ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14780,30-34,Woman,Other,Business Analyst,< 1 years,Python,< 1 year,1-2,"Basic statistical software (Microsoft Excel, G...","C, C++, MATLAB","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",None of these activities are an important par...,None,"Tableau, SAP Analytics Cloud",Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle,NaN,NaN,NaN,NaN

--------------
Los principales estadísticos de las variables numéricas son:

,count,unique,top,freq
age,3269,11,25-29,788
gender,3269,5,Man,2538
Q3,3269,66,India,795
Q5,3269,2,Data Analyst,2301
Q6,3269,7,1-3 years,991
Q8,2993,13,Python,2195
Q15,2905,9,< 1 year,1155
Q22,3064,7,1-2,743
Q41,2509,6,"Basic statistical software (Microsoft Excel, G...",1117
Q7,2994,250,"Python, SQL",622
Q9,2991,474,Jupyter Notebook,377
Q24,2971,73,Analyze and understand data to influence produ...,1117
Q32,1712,394,None,349
Q34,1701,155,None,395
Q10_Part_1,1077,1,Kaggle Notebooks,1077
Q10_Part_2,920,1,Colab Notebooks,920
Q10_Part_3,152,1,Azure Notebooks,152
Q10_Part_4,23,1,Paperspace / Gradient,23
Q10_Part_5,235,1,Binder / JupyterHub,235
Q10_Part_6,22,1,Code Ocean,22
Q10_Part_7,144,1,IBM Watson Studio,144
Q10_Part_8,73,1,Amazon Sagemaker Studio Notebooks,73
Q10_Part_9,45,1,Amazon EMR Notebooks,45
Q10_Part_10,236,1,Google Cloud Notebooks (AI Platform / Vertex AI),236
Q10_Part_11,274,1,Google Cloud Datalab,274
Q10_Part_12,88,1,Databricks Collaborative Notebooks,88
Q10_Part_13,28,1,Zeppelin / Zepl Notebooks,28
Q10_Part_14,26,1,Deepnote Notebooks,26
Q10_Part_15,31,1,Observable Notebooks,31
Q10_Part_16,933,1,None,933
Q10_OTHER,113,1,Other,113
Q39_Part_1,53,1,Plotly Dash,53
Q39_Part_2,59,1,Streamlit,59
Q39_Part_3,28,1,NBViewer,28
Q39_Part_4,745,1,GitHub,745
Q39_Part_5,127,1,Personal blog,127
Q39_Part_6,573,1,Kaggle,573
Q39_Part_7,275,1,Colab,275
Q39_Part_8,63,1,Shiny,63
Q39_Part_9,610,1,I do not share my work publicly,610
Q39_OTHER,56,1,Other,56

--------------
Los principales estadísticos de las variables categóricas son:

,count,unique,top,freq
age,3269,11,25-29,788
gender,3269,5,Man,2538
Q3,3269,66,India,795
Q5,3269,2,Data Analyst,2301
Q6,3269,7,1-3 years,991
Q8,2993,13,Python,2195
Q15,2905,9,< 1 year,1155
Q22,3064,7,1-2,743
Q41,2509,6,"Basic statistical software (Microsoft Excel, G...",1117
Q7,2994,250,"Python, SQL",622
Q9,2991,474,Jupyter Notebook,377
Q24,2971,73,Analyze and understand data to influence produ...,1117
Q32,1712,394,None,349
Q34,1701,155,None,395
Q10_Part_1,1077,1,Kaggle Notebooks,1077
Q10_Part_2,920,1,Colab Notebooks,920
Q10_Part_3,152,1,Azure Notebooks,152
Q10_Part_4,23,1,Paperspace / Gradient,23
Q10_Part_5,235,1,Binder / JupyterHub,235
Q10_Part_6,22,1,Code Ocean,22
Q10_Part_7,144,1,IBM Watson Studio,144
Q10_Part_8,73,1,Amazon Sagemaker Studio Notebooks,73
Q10_Part_9,45,1,Amazon EMR Notebooks,45
Q10_Part_10,236,1,Google Cloud Notebooks (AI Platform / Vertex AI),236
Q10_Part_11,274,1,Google Cloud Datalab,274
Q10_Part_12,88,1,Databricks Collaborative Notebooks,88
Q10_Part_13,28,1,Zeppelin / Zepl Notebooks,28
Q10_Part_14,26,1,Deepnote Notebooks,26
Q10_Part_15,31,1,Observable Notebooks,31
Q10_Part_16,933,1,None,933
Q10_OTHER,113,1,Other,113
Q39_Part_1,53,1,Plotly Dash,53
Q39_Part_2,59,1,Streamlit,59
Q39_Part_3,28,1,NBViewer,28
Q39_Part_4,745,1,GitHub,745
Q39_Part_5,127,1,Personal blog,127
Q39_Part_6,573,1,Kaggle,573
Q39_Part_7,275,1,Colab,275
Q39_Part_8,63,1,Shiny,63
Q39_Part_9,610,1,I do not share my work publicly,610
Q39_OTHER,56,1,Other,56

--------------
El porcentaje de nulos por columna:
age: 0.0
gender: 0.0
Q3: 0.0
Q5: 0.0
Q6: 0.0
Q8: 8.442948914040992
Q15: 11.134903640256958
Q22: 6.271030896298563
Q41: 23.248699908228815
Q7: 8.4123585194249
Q9: 8.504129703273172
Q24: 9.115937595594984
Q32: 47.62924441725298
Q34: 47.96573875802998
Q10_Part_1: 67.05414499847048
Q10_Part_2: 71.8568369531967
Q10_Part_3: 95.35026001835423
Q10_Part_4: 99.29642092382991
Q10_Part_5: 92.81125726521871
Q10_Part_6: 99.32701131844601
Q10_Part_7: 95.59498317528296
Q10_Part_8: 97.76690119302539
Q10_Part_9: 98.62343224227592
Q10_Part_10: 92.78066687060263
Q10_Part_11: 91.61823187519119
Q10_Part_12: 97.30804527378403
Q10_Part_13: 99.14346895074947
Q10_Part_14: 99.20464973998165
Q10_Part_15: 99.05169776690119
Q10_Part_16: 71.45916182318753
Q10_OTHER: 96.54328540838176
Q39_Part_1: 98.37870908534721
Q39_Part_2: 98.19516671765066
Q39_Part_3: 99.14346895074947
Q39_Part_4: 77.21015601101254
Q39_Part_5: 96.1150198837565
Q39_Part_6: 82.47170388498012
Q39_Part_7: 91.5876414805751
Q39_Part_8: 98.07280513918629
Q39_Part_9: 81.33985928418477
Q39_OTHER: 98.28693790149893
--------------

## Extraemos los valores únicos de cada columna

In [16]:
#esta función crea un dicionario con el número de la columna como keys y una lista de los valores únicos de la columna como values
def dict_respuestas(dataframe):
    
    dic_respuestas = {}
    
    for col in dataframe.columns:
        lista_nueva = []
        #ignoramos la columna index
        if col == "index":
            pass
        #comprobamos si los valores únicos son más de 20 - si es una pregunta multirespuesta 
        elif len(dataframe[col].unique()) > 22:
            #crea una lista de los valores únicos
                lista_unicos = list(dataframe[col].unique())
                for sublist in lista_unicos:
                    #cada lista dentro de los valores únicos se divide por las comas 
                    try:
                        lista_nueva.extend(sublist.split(","))
                    except:
                        pass
                    #lista de todas las posibles respuestas individuales
                    #la convertimos en set para eliminar los duplicados 
                    set_unicos = set(lista_nueva)
                    #lo volvemos a convertir en lista para poder usarla cómodamente
                    lista_nueva = list(set_unicos)
        else:
            #si no es multirespuesta podemos usar el unique para ver los valores únicos 
            lista_nueva = list(dataframe[col].unique())
        #list comprehension para quitar los nulos    
        lista_sin_nan = [item for item in lista_nueva if not (pd.isnull(item)) == True]
        #metemos la lista sin nulos en un diccionario donde el key es el número de la columna y los values con la lista de valores únicos lista_sin_nan
        dic_respuestas[col] = lista_sin_nan
        
        print("-------------------")
        print (f"{col} : {dic_respuestas[col]}")

    return dic_respuestas

In [17]:
diccionario_respuestas = dict_respuestas(df_da_ba)

-------------------
age : ['50-54', '22-24', '30-34', '40-44', '70+', '45-49', '18-21', '55-59', '25-29', '35-39', '60-69']
-------------------
gender : ['Man', 'Nonbinary', 'Woman', 'Prefer not to say', 'Prefer to self-describe']
-------------------
Q3 : ['Tunisia', 'Poland', 'Sri Lanka', 'Turkey', 'Ecuador', 'Belarus', 'Morocco', 'Sweden', 'Taiwan', 'Switzerland', 'Nigeria', 'United States of America', 'Israel', 'Japan', 'Singapore', 'Thailand', 'France', 'Chile', 'Mexico', 'Italy', 'Peru', 'Kazakhstan', 'South Africa', 'Nepal', 'Denmark', 'Portugal', 'Ethiopia', 'Indonesia', 'Iran', 'Colombia', 'Saudi Arabia', 'Germany', 'Bangladesh', 'Belgium', 'Spain', 'India', 'South Korea', 'Ireland', 'Pakistan', 'United Kingdom of Great Britain and Northern Ireland', ' Islamic Republic of...', 'Canada', 'Ghana', 'Algeria', 'Australia', 'Uganda', 'Kenya', 'I do not wish to disclose my location', 'Egypt', 'Hong Kong (S.A.R.)', 'Romania', 'Czech Republic', 'Other', 'Argentina', 'Viet Nam', 'Netherlands', 'China', 'United Arab Emirates', 'Austria', 'Brazil', 'Philippines', 'Russia', 'Iraq', 'Norway', 'Greece', 'Ukraine', 'Malaysia']
-------------------
Q5 : ['Data Analyst', 'Business Analyst']
-------------------
Q6 : ['20+ years', '< 1 years', '3-5 years', '1-3 years', '5-10 years', 'I have never written code', '10-20 years']
-------------------
Q8 : ['Python', 'R', 'C', 'SQL', 'Java', 'C++', 'MATLAB', 'Other', 'Julia', 'Javascript', 'Bash', 'None', 'Swift']
-------------------
Q15 : ['1-2 years', 'I do not use machine learning methods', '< 1 year', '2-3 years', '3-4 years', '5-10 years', '4-5 years', '10-20 years', '20 or more years']
-------------------
Q22 : ['5-9', '3-4', '0', '1-2', '20+', '10-14', '15-19']
-------------------
Q41 : ['Local development environments (RStudio, JupyterLab, etc.)', 'Basic statistical software (Microsoft Excel, Google Sheets, etc.)', 'Business intelligence software (Salesforce, Tableau, Spotfire, etc.)', 'Cloud-based data software & APIs (AWS, GCP, Azure, etc.)', 'Advanced statistical software (SPSS, SAS, etc.)', 'Other']
-------------------
Q7 : [' SQL', ' Other', ' Javascript', ' MATLAB', ' C++', ' Swift', ' R', ' C', ' Java', 'Python', ' Julia', ' Bash', ' None']
-------------------
Q9 : ['Jupyter (JupyterLab; Jupyter Notebooks; etc) ', ' Other', ' Spyder', 'Visual Studio ', 'RStudio ', ' Sublime Text', 'Visual Studio Code (VSCode) ', 'Jupyter Notebook', 'PyCharm ', ' None', ' Vim / Emacs', ' Notepad++', 'MATLAB ']
-------------------
Q24 : [' Experimentation and iteration to improve existing ML models', ' Other', ' Build prototypes to explore applying machine learning to new areas', ' None of these activities are an important part of my role at work', ' Do research that advances the state of the art of machine learning', ' Build and/or run a machine learning service that operationally improves my product or workflows', 'Analyze and understand data to influence product or business decisions', ' Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data']
-------------------
Q32 : [' MongoDB ', ' Oracle Database ', ' Google Cloud BigQuery ', ' Amazon DynamoDB ', ' SQLite ', ' Microsoft SQL Server ', ' Google Cloud BigTable ', ' Amazon RDS ', ' Amazon Aurora ', ' Snowflake ', ' Microsoft Azure Cosmos DB ', ' Other', 'MySQL ', ' Google Cloud Spanner ', ' Microsoft Azure SQL Database ', ' None', ' PostgreSQL ', ' IBM Db2 ', ' Amazon Redshift ', ' Google Cloud SQL ', ' Google Cloud Firestore ']
-------------------
Q34 : [' Tableau', ' Sisense ', ' Other', ' Microsoft Power BI', ' SAP Analytics Cloud ', ' Qlik', ' Tableau CRM', ' Looker', ' Domo', ' Alteryx ', ' Google Data Studio', ' Salesforce', ' Thoughtspot ', ' Microsoft Azure Synapse ', ' None', 'Amazon QuickSight', ' TIBCO Spotfire']
-------------------
Q10_Part_1 : [' Kaggle Notebooks']
-------------------
Q10_Part_2 : ['Colab Notebooks']
-------------------
Q10_Part_3 : ['Azure Notebooks']
-------------------
Q10_Part_4 : [' Paperspace / Gradient ']
-------------------
Q10_Part_5 : [' Binder / JupyterHub ']
-------------------
Q10_Part_6 : [' Code Ocean ']
-------------------
Q10_Part_7 : [' IBM Watson Studio ']
-------------------
Q10_Part_8 : [' Amazon Sagemaker Studio Notebooks ']
-------------------
Q10_Part_9 : [' Amazon EMR Notebooks ']
-------------------
Q10_Part_10 : ['Google Cloud Notebooks (AI Platform / Vertex AI) ']
-------------------
Q10_Part_11 : ['Google Cloud Datalab']
-------------------
Q10_Part_12 : [' Databricks Collaborative Notebooks ']
-------------------
Q10_Part_13 : [' Zeppelin / Zepl Notebooks ']
-------------------
Q10_Part_14 : [' Deepnote Notebooks ']
-------------------
Q10_Part_15 : [' Observable Notebooks ']
-------------------
Q10_Part_16 : ['None']
-------------------
Q10_OTHER : ['Other']
-------------------
Q39_Part_1 : [' Plotly Dash ']
-------------------
Q39_Part_2 : [' Streamlit ']
-------------------
Q39_Part_3 : [' NBViewer ']
-------------------
Q39_Part_4 : [' GitHub ']
-------------------
Q39_Part_5 : [' Personal blog ']
-------------------
Q39_Part_6 : [' Kaggle ']
-------------------
Q39_Part_7 : [' Colab ']
-------------------
Q39_Part_8 : [' Shiny ']
-------------------
Q39_Part_9 : ['I do not share my work publicly']
-------------------
Q39_OTHER : ['Other']

## Contamos los valores y calculamos el %

In [29]:
#devuelve el valor de cada valor único y su porcentaje
#el diccionario abajo es el diccionario de respuestas que acabamos de hacer 
def count_respuestas(dataframe, **diccionario):
    for key in diccionario:
        #usamos el diccionario, sacamos los valores únicos de cada pregunta para encontrar la columna del dataframe, 
        # y el sum nos dice cuántas veces aparece      
        if key == "index":
            pass
        elif len(dataframe[key].unique()) > 22:
            print("----------------")
            print(f"PREGUNTA MULTIRESPUESTA {key}")  
            for respuesta in diccionario[key]:
                try:
                    total = dataframe[key].str.contains(respuesta, regex = True).sum()
                    print(f"{respuesta}: total: {total}, {round(total/dataframe.shape[0]*100, 1)}%")
                except:
                    print(f"no se puede para {respuesta}")
        else:
            print("------------")
            print(f"PREGUNTA {key} (%)")
            print(f"{round((dataframe[key].value_counts()/dataframe.shape[0]*100),2)}")

In [30]:
count_respuestas(df_da_ba, **diccionario_respuestas)

------------
PREGUNTA age (%)
25-29    24.11
30-34    18.05
22-24    16.46
35-39    12.70
40-44     8.26
18-21     7.22
45-49     5.41
50-54     3.70
60-69     1.93
55-59     1.80
70+       0.37
Name: age, dtype: float64
------------
PREGUNTA gender (%)
Man                        77.64
Woman                      20.80
Prefer not to say           1.16
Nonbinary                   0.24
Prefer to self-describe     0.15
Name: gender, dtype: float64
----------------
PREGUNTA MULTIRESPUESTA Q3
Tunisia: total: 5, 0.2%
Poland: total: 33, 1.0%
Sri Lanka: total: 7, 0.2%
Turkey: total: 36, 1.1%
Ecuador: total: 11, 0.3%
Belarus: total: 6, 0.2%
Morocco: total: 8, 0.2%
Sweden: total: 10, 0.3%
Taiwan: total: 41, 1.3%
Switzerland: total: 8, 0.2%
Nigeria: total: 132, 4.0%
United States of America: total: 367, 11.2%
Israel: total: 16, 0.5%
Japan: total: 84, 2.6%
Singapore: total: 30, 0.9%
Thailand: total: 20, 0.6%
France: total: 42, 1.3%
Chile: total: 16, 0.5%
Mexico: total: 49, 1.5%
Italy: total: 31, 0.9%
Peru: total: 29, 0.9%
Kazakhstan: total: 5, 0.2%
South Africa: total: 11, 0.3%
Nepal: total: 5, 0.2%
Denmark: total: 3, 0.1%
Portugal: total: 15, 0.5%
Ethiopia: total: 2, 0.1%
Indonesia: total: 60, 1.8%
Iran: total: 16, 0.5%
Colombia: total: 41, 1.3%
Saudi Arabia: total: 16, 0.5%
Germany: total: 45, 1.4%
Bangladesh: total: 31, 0.9%
Belgium: total: 7, 0.2%
Spain: total: 48, 1.5%
India: total: 795, 24.3%
South Korea: total: 42, 1.3%
Ireland: total: 86, 2.6%
Pakistan: total: 50, 1.5%
United Kingdom of Great Britain and Northern Ireland: total: 77, 2.4%
 Islamic Republic of...: total: 16, 0.5%
Canada: total: 49, 1.5%
Ghana: total: 16, 0.5%
Algeria: total: 2, 0.1%
Australia: total: 49, 1.5%
Uganda: total: 4, 0.1%
Kenya: total: 48, 1.5%
I do not wish to disclose my location: total: 7, 0.2%
Egypt: total: 101, 3.1%
Hong Kong (S.A.R.): total: 0, 0.0%
Romania: total: 4, 0.1%
Czech Republic: total: 8, 0.2%
Other: total: 181, 5.5%
Argentina: total: 32, 1.0%
Viet Nam: total: 32, 1.0%
Netherlands: total: 20, 0.6%
China: total: 121, 3.7%
United Arab Emirates: total: 17, 0.5%
Austria: total: 5, 0.2%
Brazil: total: 110, 3.4%
Philippines: total: 19, 0.6%
Russia: total: 108, 3.3%
Iraq: total: 4, 0.1%
Norway: total: 3, 0.1%
Greece: total: 15, 0.5%
Ukraine: total: 24, 0.7%
Malaysia: total: 17, 0.5%
------------
PREGUNTA Q5 (%)
Data Analyst        70.39
Business Analyst    29.61
Name: Q5, dtype: float64
------------
PREGUNTA Q6 (%)
1-3 years                    30.32
< 1 years                    27.23
3-5 years                    14.84
5-10 years                    9.39
I have never written code     8.41
10-20 years                   6.06
20+ years                     3.76
Name: Q6, dtype: float64
------------
PREGUNTA Q8 (%)
Python        67.15
SQL           10.68
R              8.05
C++            1.19
Java           0.92
C              0.76
Other          0.73
MATLAB         0.61
Julia          0.43
None           0.43
Javascript     0.40
Bash           0.18
Swift          0.03
Name: Q8, dtype: float64
------------
PREGUNTA Q15 (%)
< 1 year                                 35.33
1-2 years                                19.09
I do not use machine learning methods    18.02
2-3 years                                 8.20
3-4 years                                 3.43
4-5 years                                 2.23
5-10 years                                1.59
10-20 years                               0.73
20 or more years                          0.24
Name: Q15, dtype: float64
------------
PREGUNTA Q22 (%)
1-2      22.73
20+      19.79
3-4      16.55
0        15.11
5-9      11.07
10-14     6.36
15-19     2.11
Name: Q22, dtype: float64
------------
PREGUNTA Q41 (%)
Basic statistical software (Microsoft Excel, Google Sheets, etc.)       34.17
Local development environments (RStudio, JupyterLab, etc.)              21.26
Business intelligence software (Salesforce, Tableau, Spotfire, etc.)    11.26
Advanced statistical software (SPSS, SAS, etc.)                          5.35
Other                                                                    2.54
Cloud-based data software & APIs (AWS, GCP, Azure, etc.)                 2.17
Name: Q41, dtype: float64
----------------
PREGUNTA MULTIRESPUESTA Q7
 SQL: total: 1866, 57.1%
 Other: total: 300, 9.2%
 Javascript: total: 327, 10.0%
 MATLAB: total: 230, 7.0%
no se puede para  C++
 Swift: total: 20, 0.6%

/tmp/ipykernel_2123/2681907443.py:14: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  total = dataframe[key].str.contains(respuesta, regex = True).sum()
/tmp/ipykernel_2123/2681907443.py:14: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  total = dataframe[key].str.contains(respuesta, regex = True).sum()

 R: total: 928, 28.4%
 C: total: 388, 11.9%
 Java: total: 505, 15.4%
Python: total: 2465, 75.4%
 Julia: total: 21, 0.6%
 Bash: total: 131, 4.0%
 None: total: 59, 1.8%
----------------
PREGUNTA MULTIRESPUESTA Q9
Jupyter (JupyterLab; Jupyter Notebooks; etc) : total: 0, 0.0%
 Other: total: 154, 4.7%
 Spyder: total: 476, 14.6%
Visual Studio : total: 1144, 35.0%
RStudio : total: 820, 25.1%
 Sublime Text: total: 259, 7.9%
Visual Studio Code (VSCode) : total: 0, 0.0%
Jupyter Notebook: total: 2149, 65.7%
PyCharm : total: 728, 22.3%
 None: total: 90, 2.8%
 Vim / Emacs: total: 86, 2.6%
no se puede para  Notepad++
MATLAB : total: 166, 5.1%
----------------
PREGUNTA MULTIRESPUESTA Q24
 Experimentation and iteration to improve existing ML models: total: 398, 12.2%
 Other: total: 121, 3.7%
 Build prototypes to explore applying machine learning to new areas: total: 571, 17.5%
 None of these activities are an important part of my role at work: total: 274, 8.4%
 Do research that advances the state of the art of machine learning: total: 344, 10.5%
 Build and/or run a machine learning service that operationally improves my product or workflows: total: 446, 13.6%
Analyze and understand data to influence product or business decisions: total: 2343, 71.7%
 Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data: total: 957, 29.3%
----------------
PREGUNTA MULTIRESPUESTA Q32
 MongoDB : total: 205, 6.3%
 Oracle Database : total: 217, 6.6%
 Google Cloud BigQuery : total: 169, 5.2%
 Amazon DynamoDB : total: 42, 1.3%
 SQLite : total: 242, 7.4%
 Microsoft SQL Server : total: 442, 13.5%
 Google Cloud BigTable : total: 65, 2.0%
 Amazon RDS : total: 62, 1.9%
 Amazon Aurora : total: 31, 0.9%
 Snowflake : total: 79, 2.4%
 Microsoft Azure Cosmos DB : total: 60, 1.8%
 Other: total: 62, 1.9%
MySQL : total: 685, 21.0%
 Google Cloud Spanner : total: 37, 1.1%
 Microsoft Azure SQL Database : total: 139, 4.3%
 None: total: 349, 10.7%
 PostgreSQL : total: 364, 11.1%
 IBM Db2 : total: 63, 1.9%
 Amazon Redshift : total: 92, 2.8%
 Google Cloud SQL : total: 120, 3.7%
 Google Cloud Firestore : total: 56, 1.7%
----------------
PREGUNTA MULTIRESPUESTA Q34
 Tableau: total: 749, 22.9%
 Sisense : total: 16, 0.5%
 Other: total: 80, 2.4%
 Microsoft Power BI: total: 673, 20.6%
 SAP Analytics Cloud : total: 59, 1.8%
 Qlik: total: 118, 3.6%
 Tableau CRM: total: 107, 3.3%
 Looker: total: 39, 1.2%
 Domo: total: 19, 0.6%
 Alteryx : total: 54, 1.7%
 Google Data Studio: total: 217, 6.6%
 Salesforce: total: 87, 2.7%
 Thoughtspot : total: 12, 0.4%
 Microsoft Azure Synapse : total: 45, 1.4%
 None: total: 395, 12.1%
Amazon QuickSight: total: 34, 1.0%
 TIBCO Spotfire: total: 26, 0.8%
------------
PREGUNTA Q10_Part_1 (%)
 Kaggle Notebooks    32.95
Name: Q10_Part_1, dtype: float64
------------
PREGUNTA Q10_Part_2 (%)
Colab Notebooks    28.14
Name: Q10_Part_2, dtype: float64
------------
PREGUNTA Q10_Part_3 (%)
Azure Notebooks    4.65
Name: Q10_Part_3, dtype: float64
------------
PREGUNTA Q10_Part_4 (%)
 Paperspace / Gradient     0.7
Name: Q10_Part_4, dtype: float64
------------
PREGUNTA Q10_Part_5 (%)
 Binder / JupyterHub     7.19
Name: Q10_Part_5, dtype: float64
------------
PREGUNTA Q10_Part_6 (%)
 Code Ocean     0.67
Name: Q10_Part_6, dtype: float64
------------
PREGUNTA Q10_Part_7 (%)
 IBM Watson Studio     4.41
Name: Q10_Part_7, dtype: float64
------------
PREGUNTA Q10_Part_8 (%)
 Amazon Sagemaker Studio Notebooks     2.23
Name: Q10_Part_8, dtype: float64
------------
PREGUNTA Q10_Part_9 (%)
 Amazon EMR Notebooks     1.38
Name: Q10_Part_9, dtype: float64
------------
PREGUNTA Q10_Part_10 (%)
Google Cloud Notebooks (AI Platform / Vertex AI)     7.22
Name: Q10_Part_10, dtype: float64
------------
PREGUNTA Q10_Part_11 (%)
Google Cloud Datalab    8.38
Name: Q10_Part_11, dtype: float64
------------
PREGUNTA Q10_Part_12 (%)
 Databricks Collaborative Notebooks     2.69
Name: Q10_Part_12, dtype: float64
------------
PREGUNTA Q10_Part_13 (%)
 Zeppelin / Zepl Notebooks     0.86
Name: Q10_Part_13, dtype: float64
------------
PREGUNTA Q10_Part_14 (%)
 Deepnote Notebooks     0.8
Name: Q10_Part_14, dtype: float64
------------
PREGUNTA Q10_Part_15 (%)
 Observable Notebooks     0.95
Name: Q10_Part_15, dtype: float64
------------
PREGUNTA Q10_Part_16 (%)
None    28.54
Name: Q10_Part_16, dtype: float64
------------
PREGUNTA Q10_OTHER (%)
Other    3.46
Name: Q10_OTHER, dtype: float64
------------
PREGUNTA Q39_Part_1 (%)
 Plotly Dash     1.62
Name: Q39_Part_1, dtype: float64
------------
PREGUNTA Q39_Part_2 (%)
 Streamlit     1.8
Name: Q39_Part_2, dtype: float64
------------
PREGUNTA Q39_Part_3 (%)
 NBViewer     0.86
Name: Q39_Part_3, dtype: float64
------------
PREGUNTA Q39_Part_4 (%)
 GitHub     22.79
Name: Q39_Part_4, dtype: float64
------------
PREGUNTA Q39_Part_5 (%)
 Personal blog     3.88
Name: Q39_Part_5, dtype: float64
------------
PREGUNTA Q39_Part_6 (%)
 Kaggle     17.53
Name: Q39_Part_6, dtype: float64
------------
PREGUNTA Q39_Part_7 (%)
 Colab     8.41
Name: Q39_Part_7, dtype: float64
------------
PREGUNTA Q39_Part_8 (%)
 Shiny     1.93
Name: Q39_Part_8, dtype: float64
------------
PREGUNTA Q39_Part_9 (%)
I do not share my work publicly    18.66
Name: Q39_Part_9, dtype: float64
------------
PREGUNTA Q39_OTHER (%)
Other    1.71
Name: Q39_OTHER, dtype: float64

## Categorización por años de experiencia

In [21]:
df_unido.head(2)

,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER
0,50-54,Man,India,Other,5-10 years,Python,5-10 years,3-4,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN
1,50-54,Man,Indonesia,Program/Project Manager,20+ years,Python,< 1 year,1-2,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_unido['Q6'].unique()

array(['5-10 years', '20+ years', '1-3 years', '< 1 years', '3-5 years',
       '10-20 years', 'I have never written code'], dtype=object)

6, df["number_of_policies"] < 6]

creamos la lista de los valores que querremos crear cuando se cumpla cada condición
opciones = ["supreme", "good"]

aplicamos el método a nuestro DataFrame y creamos una nueva columna llamada "new_select"
df["new_select"] = np.select(condiciones, opciones)

In [23]:
condiciones = [(df_unido['Q6'] == 'I have never written code'), 
                ((df_unido['Q6'] == '< 1 years')|(df_unido['Q6'] == '1-3 years')), 
                ((df_unido['Q6'] == '3-5 years')| (df_unido['Q6'] == '5-10 years')|(df_unido['Q6'] == '10-20 years')|(df_unido['Q6'] == '20+ years'))]
categorias = ['Sin experiencia', 'Junior', 'Senior']

In [24]:
df_unido['experiencia programacion'] = np.select(condiciones, categorias)

In [25]:
df_da_ba = df_unido[(df_unido ["Q5"] == "Business Analyst") | (df_unido ["Q5"] == "Data Analyst")]

In [26]:
# df con filtrado por analista de datos y business analyst con columna categórica por experiencia creada
df_da_ba.head(1)

,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,experiencia programacion
16,50-54,Man,Belgium,Data Analyst,20+ years,Python,1-2 years,5-9,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",Analyze and understand data to influence produ...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Senior

In [27]:
df_group_genero = df_da_ba.groupby(['gender', 'experiencia programacion'])['age'].count().reset_index()
df_group_genero.head(2)

  gender experiencia programacion   age
0    Man                   Junior  1443
1    Man                   Senior   891

In [56]:
df_crosstab_gen_exp = pd.crosstab(df_da_ba['gender'], df_da_ba['experiencia programacion'], normalize = True) * 100
df_crosstab_gen_exp

experiencia programacion     Junior     Senior  Sin experiencia
gender
Man                       44.141939  27.256042         6.240441
Nonbinary                  0.122362   0.091771         0.030590
Prefer not to say          0.550627   0.520037         0.091771
Prefer to self-describe    0.061181   0.061181         0.030590
Woman                     12.664423   6.118079         2.018966

In [28]:
# Sacamos tabla de contigencia cruzando género y la pregunta q8, donde se recoge la información de recomendación sobre herramientas de programación para iniciarse en análisis de datos

df_crosstab_gen_herr = pd.crosstab(df_da_ba['gender'], df_da_ba['Q8'], normalize = True, margins = True) * 100
df_crosstab_gen_herr.T

gender,Man,Nonbinary,Prefer not to say,Prefer to self-describe,Woman,All
Q8,,,,,,
Bash,0.133645,0.000000,0.033411,0.000000,0.033411,0.200468
C,0.601403,0.000000,0.000000,0.000000,0.233879,0.835282
C++,1.002339,0.000000,0.033411,0.000000,0.267290,1.303040
Java,0.701637,0.000000,0.000000,0.000000,0.300702,1.002339
Javascript,0.334113,0.000000,0.066823,0.000000,0.033411,0.434347
Julia,0.367524,0.033411,0.000000,0.000000,0.066823,0.467758
MATLAB,0.434347,0.000000,0.000000,0.000000,0.233879,0.668226
None,0.367524,0.000000,0.033411,0.000000,0.066823,0.467758
Other,0.735048,0.000000,0.000000,0.000000,0.066823,0.801871
Python,58.235884,0.100234,0.735048,0.100234,14.166388,73.337788
R,6.281323,0.066823,0.133645,0.000000,2.305379,8.787170
SQL,8.720347,0.033411,0.133645,0.033411,2.739726,11.660541
Swift,0.033411,0.000000,0.000000,0.000000,0.000000,0.033411
All,77.948547,0.233879,1.169395,0.133645,20.514534,100.000000