In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
pd.options.display.max_columns = None

## Cargamos los datos

In [3]:
df_unidos = pd.read_csv('../datos/datos_unidos.csv', index_col=0)
df_unidos.head(2)

,Unnamed: 0,index,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER
0,0,0,50-54,Man,India,Other,5-10 years,Python,5-10 years,3-4,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN
1,1,1,50-54,Man,Indonesia,Program/Project Manager,20+ years,Python,< 1 year,1-2,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_da_ba = pd.read_csv('../datos/datos_da_ba.csv', index_col=0)
df_da_ba.head(2)

,Unnamed: 0,index,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER
16,16,16,50-54,Man,Belgium,Data Analyst,20+ years,Python,1-2 years,5-9,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",Analyze and understand data to influence produ...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32,32,22-24,Nonbinary,United States of America,Data Analyst,< 1 years,R,I do not use machine learning methods,3-4,NaN,R,RStudio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_da_ba.shape

(3269, 42)

## Extraemos los valores únicos de cada columna

In [5]:
#esta función crea un dicionario con el número de la columna como keys y una lista de los valores únicos de la columna como values
def dict_respuestas(dataframe):
    
    dic_respuestas = {}
    
    for col in dataframe.columns:
        lista_nueva = []
        #ignoramos la columna index
        if col == "index":
            pass
        #comprobamos si los valores únicos son más de 20 - si es una pregunta multirespuesta 
        elif len(dataframe[col].unique()) > 22:
            #crea una lista de los valores únicos
                lista_unicos = list(dataframe[col].unique())
                for sublist in lista_unicos:
                    #cada lista dentro de los valores únicos se divide por las comas 
                    try:
                        lista_nueva.extend(sublist.split(","))
                    except:
                        pass
                    #lista de todas las posibles respuestas individuales
                    #la convertimos en set para eliminar los duplicados 
                    set_unicos = set(lista_nueva)
                    #lo volvemos a convertir en lista para poder usarla cómodamente
                    lista_nueva = list(set_unicos)
        else:
            #si no es multirespuesta podemos usar el unique para ver los valores únicos 
            lista_nueva = list(dataframe[col].unique())
        #list comprehension para quitar los nulos    
        lista_sin_nan = [item for item in lista_nueva if not (pd.isnull(item)) == True]
        #metemos la lista sin nulos en un diccionario donde el key es el número de la columna y los values con la lista de valores únicos lista_sin_nan
        dic_respuestas[col] = lista_sin_nan
        
        print("-------------------")
        print (f"{col} : {dic_respuestas[col]}")

    return dic_respuestas

In [6]:
diccionario_respuestas = dict_respuestas(df_da_ba)

-------------------
Unnamed: 0 : []
-------------------
index : []
-------------------
age : ['50-54', '22-24', '30-34', '40-44', '70+', '45-49', '18-21', '55-59', '25-29', '35-39', '60-69']
-------------------
gender : ['Man', 'Nonbinary', 'Woman', 'Prefer not to say', 'Prefer to self-describe']
-------------------
Q3 : ['Denmark', 'Belgium', 'China', 'Iran', 'Argentina', 'Taiwan', 'Malaysia', 'Thailand', 'Bangladesh', 'Colombia', 'Other', 'Egypt', 'Belarus', 'Sweden', 'Poland', 'South Korea', 'Turkey', 'Ghana', 'Brazil', 'Switzerland', 'Chile', 'Russia', 'India', 'United States of America', 'Sri Lanka', 'France', 'Tunisia', 'Australia', 'Philippines', 'Pakistan', 'Saudi Arabia', 'Norway', 'Germany', 'Czech Republic', 'Ecuador', 'Ireland', 'Greece', 'Nepal', 'Viet Nam', 'Italy', 'Algeria', 'South Africa', 'Ethiopia', 'Peru', 'Iraq', 'Morocco', 'Indonesia', 'Canada', 'Hong Kong (S.A.R.)', 'Kenya', 'Netherlands', 'Singapore', 'Uganda', 'Portugal', 'United Arab Emirates', 'United Kingdom of Great Britain and Northern Ireland', ' Islamic Republic of...', 'Israel', 'Japan', 'Ukraine', 'Austria', 'Mexico', 'Kazakhstan', 'I do not wish to disclose my location', 'Romania', 'Spain', 'Nigeria']
-------------------
Q5 : ['Data Analyst', 'Business Analyst']
-------------------
Q6 : ['20+ years', '< 1 years', '3-5 years', '1-3 years', '5-10 years', 'I have never written code', '10-20 years']
-------------------
Q8 : ['Python', 'R', 'C', 'SQL', 'Java', 'C++', 'MATLAB', 'Other', 'Julia', 'Javascript', 'Bash', 'None', 'Swift']
-------------------
Q15 : ['1-2 years', 'I do not use machine learning methods', '< 1 year', '2-3 years', '3-4 years', '5-10 years', '4-5 years', '10-20 years', '20 or more years']
-------------------
Q22 : ['5-9', '3-4', '0', '1-2', '20+', '10-14', '15-19']
-------------------
Q41 : ['Local development environments (RStudio, JupyterLab, etc.)', 'Basic statistical software (Microsoft Excel, Google Sheets, etc.)', 'Business intelligence software (Salesforce, Tableau, Spotfire, etc.)', 'Cloud-based data software & APIs (AWS, GCP, Azure, etc.)', 'Advanced statistical software (SPSS, SAS, etc.)', 'Other']
-------------------
Q7 : [' Swift', ' R', ' None', 'Python', ' Java', ' SQL', ' C++', ' Javascript', ' C', ' MATLAB', ' Other', ' Julia', ' Bash']
-------------------
Q9 : [' Notepad++', 'Visual Studio ', ' None', ' Sublime Text', 'PyCharm ', ' Spyder', 'Jupyter (JupyterLab; Jupyter Notebooks; etc) ', ' Vim / Emacs', 'RStudio ', ' Other', 'Visual Studio Code (VSCode) ', 'Jupyter Notebook', 'MATLAB ']
-------------------
Q24 : [' Build prototypes to explore applying machine learning to new areas', ' Do research that advances the state of the art of machine learning', ' Build and/or run a machine learning service that operationally improves my product or workflows', ' Experimentation and iteration to improve existing ML models', 'Analyze and understand data to influence product or business decisions', ' None of these activities are an important part of my role at work', ' Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data', ' Other']
-------------------
Q32 : [' Amazon RDS ', ' IBM Db2 ', ' SQLite ', ' Google Cloud BigTable ', ' Amazon DynamoDB ', ' Google Cloud SQL ', ' None', ' Amazon Aurora ', ' Google Cloud Firestore ', ' Oracle Database ', ' Google Cloud BigQuery ', ' PostgreSQL ', ' Microsoft SQL Server ', ' Snowflake ', ' Microsoft Azure SQL Database ', ' Google Cloud Spanner ', ' Microsoft Azure Cosmos DB ', 'MySQL ', ' Other', ' Amazon Redshift ', ' MongoDB ']
-------------------
Q34 : [' Sisense ', ' None', ' Salesforce', ' Microsoft Power BI', ' Google Data Studio', ' Thoughtspot ', ' Domo', ' Looker', ' SAP Analytics Cloud ', ' Microsoft Azure Synapse ', ' Qlik', ' Alteryx ', 'Amazon QuickSight', ' Tableau CRM', ' TIBCO Spotfire', ' Other', ' Tableau']
-------------------
Q10_Part_1 : [' Kaggle Notebooks']
-------------------
Q10_Part_2 : ['Colab Notebooks']
-------------------
Q10_Part_3 : ['Azure Notebooks']
-------------------
Q10_Part_4 : [' Paperspace / Gradient ']
-------------------
Q10_Part_5 : [' Binder / JupyterHub ']
-------------------
Q10_Part_6 : [' Code Ocean ']
-------------------
Q10_Part_7 : [' IBM Watson Studio ']
-------------------
Q10_Part_8 : [' Amazon Sagemaker Studio Notebooks ']
-------------------
Q10_Part_9 : [' Amazon EMR Notebooks ']
-------------------
Q10_Part_10 : ['Google Cloud Notebooks (AI Platform / Vertex AI) ']
-------------------
Q10_Part_11 : ['Google Cloud Datalab']
-------------------
Q10_Part_12 : [' Databricks Collaborative Notebooks ']
-------------------
Q10_Part_13 : [' Zeppelin / Zepl Notebooks ']
-------------------
Q10_Part_14 : [' Deepnote Notebooks ']
-------------------
Q10_Part_15 : [' Observable Notebooks ']
-------------------
Q10_Part_16 : ['None']
-------------------
Q10_OTHER : ['Other']
-------------------
Q39_Part_1 : [' Plotly Dash ']
-------------------
Q39_Part_2 : [' Streamlit ']
-------------------
Q39_Part_3 : [' NBViewer ']
-------------------
Q39_Part_4 : [' GitHub ']
-------------------
Q39_Part_5 : [' Personal blog ']
-------------------
Q39_Part_6 : [' Kaggle ']
-------------------
Q39_Part_7 : [' Colab ']
-------------------
Q39_Part_8 : [' Shiny ']
-------------------
Q39_Part_9 : ['I do not share my work publicly']
-------------------
Q39_OTHER : ['Other']

## Contamos los valores y calculamos el %

In [7]:
#devuelve el valor de cada valor único y su porcentaje
#el diccionario abajo es el diccionario de respuestas que acabamos de hacer 
def count_respuestas(dataframe, **diccionario):
    for key in diccionario:
        #usamos el diccionario, sacamos los valores únicos de cada pregunta para encontrar la columna del dataframe, 
        # y el sum nos dice cuántas veces aparece      
        if key == "index":
            pass
        elif len(dataframe[key].unique()) > 22:
            print("----------------")
            print(f"PREGUNTA MULTIRESPUESTA {key}")  
            for respuesta in diccionario[key]:
                try:
                    total = dataframe[key].str.contains(respuesta, regex = True).sum()
                    print(f"{respuesta}: total: {total}, {round(total/dataframe.shape[0]*100, 1)}%")
                except:
                    print(f"no se puede para {respuesta}")
        else:
            print("------------")
            print(f"PREGUNTA {key} (%)")
            print(f"{round((dataframe[key].value_counts()[:-1]/dataframe.shape[0]*100),2)}")

In [8]:
count_respuestas(df_da_ba, **diccionario_respuestas)

----------------
PREGUNTA MULTIRESPUESTA Unnamed: 0
------------
PREGUNTA age (%)
25-29    24.11
30-34    18.05
22-24    16.46
35-39    12.70
40-44     8.26
18-21     7.22
45-49     5.41
50-54     3.70
60-69     1.93
55-59     1.80
Name: age, dtype: float64
------------
PREGUNTA gender (%)
Man                  77.64
Woman                20.80
Prefer not to say     1.16
Nonbinary             0.24
Name: gender, dtype: float64
----------------
PREGUNTA MULTIRESPUESTA Q3
Denmark: total: 3, 0.1%
Belgium: total: 7, 0.2%
China: total: 121, 3.7%
Iran: total: 16, 0.5%
Argentina: total: 32, 1.0%
Taiwan: total: 41, 1.3%
Malaysia: total: 17, 0.5%
Thailand: total: 20, 0.6%
Bangladesh: total: 31, 0.9%
Colombia: total: 41, 1.3%
Other: total: 181, 5.5%
Egypt: total: 101, 3.1%
Belarus: total: 6, 0.2%
Sweden: total: 10, 0.3%
Poland: total: 33, 1.0%
South Korea: total: 42, 1.3%
Turkey: total: 36, 1.1%
Ghana: total: 16, 0.5%
Brazil: total: 110, 3.4%
Switzerland: total: 8, 0.2%
Chile: total: 16, 0.5%
Russia: total: 108, 3.3%
India: total: 795, 24.3%
United States of America: total: 367, 11.2%
Sri Lanka: total: 7, 0.2%
France: total: 42, 1.3%
Tunisia: total: 5, 0.2%
Australia: total: 49, 1.5%
Philippines: total: 19, 0.6%
Pakistan: total: 50, 1.5%
Saudi Arabia: total: 16, 0.5%
Norway: total: 3, 0.1%
Germany: total: 45, 1.4%
Czech Republic: total: 8, 0.2%
Ecuador: total: 11, 0.3%
Ireland: total: 86, 2.6%
Greece: total: 15, 0.5%
Nepal: total: 5, 0.2%
Viet Nam: total: 32, 1.0%
Italy: total: 31, 0.9%
Algeria: total: 2, 0.1%
South Africa: total: 11, 0.3%
Ethiopia: total: 2, 0.1%
Peru: total: 29, 0.9%
Iraq: total: 4, 0.1%
Morocco: total: 8, 0.2%
Indonesia: total: 60, 1.8%
Canada: total: 49, 1.5%
Hong Kong (S.A.R.): total: 0, 0.0%
Kenya: total: 48, 1.5%
Netherlands: total: 20, 0.6%
Singapore: total: 30, 0.9%
Uganda: total: 4, 0.1%
Portugal: total: 15, 0.5%
United Arab Emirates: total: 17, 0.5%
United Kingdom of Great Britain and Northern Ireland: total: 77, 2.4%
 Islamic Republic of...: total: 16, 0.5%
Israel: total: 16, 0.5%
Japan: total: 84, 2.6%
Ukraine: total: 24, 0.7%
Austria: total: 5, 0.2%
Mexico: total: 49, 1.5%
Kazakhstan: total: 5, 0.2%

/tmp/ipykernel_4333/2923775750.py:14: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  total = dataframe[key].str.contains(respuesta, regex = True).sum()
/tmp/ipykernel_4333/2923775750.py:14: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  total = dataframe[key].str.contains(respuesta, regex = True).sum()

I do not wish to disclose my location: total: 7, 0.2%
Romania: total: 4, 0.1%
Spain: total: 48, 1.5%
Nigeria: total: 132, 4.0%
------------
PREGUNTA Q5 (%)
Data Analyst    70.39
Name: Q5, dtype: float64
------------
PREGUNTA Q6 (%)
1-3 years                    30.32
< 1 years                    27.23
3-5 years                    14.84
5-10 years                    9.39
I have never written code     8.41
10-20 years                   6.06
Name: Q6, dtype: float64
------------
PREGUNTA Q8 (%)
Python        67.15
SQL           10.68
R              8.05
C++            1.19
Java           0.92
C              0.76
Other          0.73
MATLAB         0.61
Julia          0.43
None           0.43
Javascript     0.40
Bash           0.18
Name: Q8, dtype: float64
------------
PREGUNTA Q15 (%)
< 1 year                                 35.33
1-2 years                                19.09
I do not use machine learning methods    18.02
2-3 years                                 8.20
3-4 years                                 3.43
4-5 years                                 2.23
5-10 years                                1.59
10-20 years                               0.73
Name: Q15, dtype: float64
------------
PREGUNTA Q22 (%)
1-2      22.73
20+      19.79
3-4      16.55
0        15.11
5-9      11.07
10-14     6.36
Name: Q22, dtype: float64
------------
PREGUNTA Q41 (%)
Basic statistical software (Microsoft Excel, Google Sheets, etc.)       34.17
Local development environments (RStudio, JupyterLab, etc.)              21.26
Business intelligence software (Salesforce, Tableau, Spotfire, etc.)    11.26
Advanced statistical software (SPSS, SAS, etc.)                          5.35
Other                                                                    2.54
Name: Q41, dtype: float64
----------------
PREGUNTA MULTIRESPUESTA Q7
 Swift: total: 20, 0.6%
 R: total: 928, 28.4%
 None: total: 59, 1.8%
Python: total: 2465, 75.4%
 Java: total: 505, 15.4%
 SQL: total: 1866, 57.1%
no se puede para  C++
 Javascript: total: 327, 10.0%
 C: total: 388, 11.9%
 MATLAB: total: 230, 7.0%
 Other: total: 300, 9.2%
 Julia: total: 21, 0.6%
 Bash: total: 131, 4.0%
----------------
PREGUNTA MULTIRESPUESTA Q9
no se puede para  Notepad++
Visual Studio : total: 1144, 35.0%
 None: total: 90, 2.8%
 Sublime Text: total: 259, 7.9%
PyCharm : total: 728, 22.3%
 Spyder: total: 476, 14.6%
Jupyter (JupyterLab; Jupyter Notebooks; etc) : total: 0, 0.0%
 Vim / Emacs: total: 86, 2.6%
RStudio : total: 820, 25.1%
 Other: total: 154, 4.7%
Visual Studio Code (VSCode) : total: 0, 0.0%
Jupyter Notebook: total: 2149, 65.7%
MATLAB : total: 166, 5.1%
----------------
PREGUNTA MULTIRESPUESTA Q24
 Build prototypes to explore applying machine learning to new areas: total: 571, 17.5%
 Do research that advances the state of the art of machine learning: total: 344, 10.5%
 Build and/or run a machine learning service that operationally improves my product or workflows: total: 446, 13.6%
 Experimentation and iteration to improve existing ML models: total: 398, 12.2%
Analyze and understand data to influence product or business decisions: total: 2343, 71.7%
 None of these activities are an important part of my role at work: total: 274, 8.4%
 Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data: total: 957, 29.3%
 Other: total: 121, 3.7%
----------------
PREGUNTA MULTIRESPUESTA Q32
 Amazon RDS : total: 62, 1.9%
 IBM Db2 : total: 63, 1.9%
 SQLite : total: 242, 7.4%
 Google Cloud BigTable : total: 65, 2.0%
 Amazon DynamoDB : total: 42, 1.3%
 Google Cloud SQL : total: 120, 3.7%
 None: total: 349, 10.7%
 Amazon Aurora : total: 31, 0.9%
 Google Cloud Firestore : total: 56, 1.7%
 Oracle Database : total: 217, 6.6%
 Google Cloud BigQuery : total: 169, 5.2%
 PostgreSQL : total: 364, 11.1%
 Microsoft SQL Server : total: 442, 13.5%
 Snowflake : total: 79, 2.4%
 Microsoft Azure SQL Database : total: 139, 4.3%
 Google Cloud Spanner : total: 37, 1.1%
 Microsoft Azure Cosmos DB : total: 60, 1.8%
MySQL : total: 685, 21.0%
 Other: total: 62, 1.9%
 Amazon Redshift : total: 92, 2.8%
 MongoDB : total: 205, 6.3%
----------------
PREGUNTA MULTIRESPUESTA Q34
 Sisense : total: 16, 0.5%
 None: total: 395, 12.1%
 Salesforce: total: 87, 2.7%
 Microsoft Power BI: total: 673, 20.6%
 Google Data Studio: total: 217, 6.6%
 Thoughtspot : total: 12, 0.4%
 Domo: total: 19, 0.6%
 Looker: total: 39, 1.2%
 SAP Analytics Cloud : total: 59, 1.8%
 Microsoft Azure Synapse : total: 45, 1.4%
 Qlik: total: 118, 3.6%
 Alteryx : total: 54, 1.7%
Amazon QuickSight: total: 34, 1.0%
 Tableau CRM: total: 107, 3.3%
 TIBCO Spotfire: total: 26, 0.8%
 Other: total: 80, 2.4%
 Tableau: total: 749, 22.9%
------------
PREGUNTA Q10_Part_1 (%)
Series([], Name: Q10_Part_1, dtype: float64)
------------
PREGUNTA Q10_Part_2 (%)
Series([], Name: Q10_Part_2, dtype: float64)
------------
PREGUNTA Q10_Part_3 (%)
Series([], Name: Q10_Part_3, dtype: float64)
------------
PREGUNTA Q10_Part_4 (%)
Series([], Name: Q10_Part_4, dtype: float64)
------------
PREGUNTA Q10_Part_5 (%)
Series([], Name: Q10_Part_5, dtype: float64)
------------
PREGUNTA Q10_Part_6 (%)
Series([], Name: Q10_Part_6, dtype: float64)
------------
PREGUNTA Q10_Part_7 (%)
Series([], Name: Q10_Part_7, dtype: float64)
------------
PREGUNTA Q10_Part_8 (%)
Series([], Name: Q10_Part_8, dtype: float64)
------------
PREGUNTA Q10_Part_9 (%)
Series([], Name: Q10_Part_9, dtype: float64)
------------
PREGUNTA Q10_Part_10 (%)
Series([], Name: Q10_Part_10, dtype: float64)
------------
PREGUNTA Q10_Part_11 (%)
Series([], Name: Q10_Part_11, dtype: float64)
------------
PREGUNTA Q10_Part_12 (%)
Series([], Name: Q10_Part_12, dtype: float64)
------------
PREGUNTA Q10_Part_13 (%)
Series([], Name: Q10_Part_13, dtype: float64)
------------
PREGUNTA Q10_Part_14 (%)
Series([], Name: Q10_Part_14, dtype: float64)
------------
PREGUNTA Q10_Part_15 (%)
Series([], Name: Q10_Part_15, dtype: float64)
------------
PREGUNTA Q10_Part_16 (%)
Series([], Name: Q10_Part_16, dtype: float64)
------------
PREGUNTA Q10_OTHER (%)
Series([], Name: Q10_OTHER, dtype: float64)
------------
PREGUNTA Q39_Part_1 (%)
Series([], Name: Q39_Part_1, dtype: float64)
------------
PREGUNTA Q39_Part_2 (%)
Series([], Name: Q39_Part_2, dtype: float64)
------------
PREGUNTA Q39_Part_3 (%)
Series([], Name: Q39_Part_3, dtype: float64)
------------
PREGUNTA Q39_Part_4 (%)
Series([], Name: Q39_Part_4, dtype: float64)
------------
PREGUNTA Q39_Part_5 (%)
Series([], Name: Q39_Part_5, dtype: float64)
------------
PREGUNTA Q39_Part_6 (%)
Series([], Name: Q39_Part_6, dtype: float64)
------------
PREGUNTA Q39_Part_7 (%)
Series([], Name: Q39_Part_7, dtype: float64)
------------
PREGUNTA Q39_Part_8 (%)
Series([], Name: Q39_Part_8, dtype: float64)
------------
PREGUNTA Q39_Part_9 (%)
Series([], Name: Q39_Part_9, dtype: float64)
------------
PREGUNTA Q39_OTHER (%)
Series([], Name: Q39_OTHER, dtype: float64)