In [10]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_columns = None

## Cargamos los datos

In [3]:
df_unidos = pd.read_csv('../datos/datos_unidos.csv', index_col=0)
df_unidos.head(2)

,level_0,index,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER
0,0,0,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Storage (GCS),NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
1,1,1,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN

In [4]:
df_da = pd.read_csv('../datos/datos_data_analysts.csv', index_col=0)
df_da.head(2)

,index,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q20,Q21,Q22,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER
16,16,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,20+ years,Python,A laptop,Energy/Mining,"1000-9,999 employees",5-9,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",None,"Matplotlib ,Seaborn ,Plotly / Plotly Express",Analyze and understand data to influence produ...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
32,32,22-24,Nonbinary,United States of America,Some college/university study without earning ...,Data Analyst,< 1 years,R,A personal computer / desktop,Manufacturing/Fabrication,250-999 employees,3-4,NaN,NaN,NaN,R,RStudio,NVIDIA GPUs,Ggplot / ggplot2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_da.shape

(3269, 99)

## Extraemos los valores únicos de cada columna

In [6]:

#esta función crea un dicionario con el número de la columna como keys y una lista de los valores únicos de la columna como values
def diccionario_respuestas(dataframe):
    
    dic_respuestas = {}
    
    for col in dataframe.columns:
        lista_nueva = []
        #ignoramos la columna index
        if col == "index":
            pass
        #comprobamos si los valores únicos son más de 30 - si es una pregunta multirespuesta 
        elif len(dataframe[col].unique()) > 30:
            #crea una lista de los valores únicos
                lista_unicos = list(dataframe[col].unique())
                for sublist in lista_unicos:
                    #cada lista dentro de los valores únicos se divide por las comas 
                    try:
                        lista_nueva.extend(sublist.split(","))
                    except:
                        pass
                    #lista de todas las posibles respuestas individuales
                    #la convertimos en set para eliminar los duplicados 
                    set_unicos = set(lista_nueva)
                    #lo volvemos a convertir en lista para poder usarla cómodamente
                    lista_nueva = list(set_unicos)
        else:
            #si no es multirespuesta podemos usar el unique para ver los valores únicos 
            lista_nueva = list(dataframe[col].unique())
        #list comprehension para quitar los nulos    
        lista_sin_nan = [item for item in lista_nueva if not (pd.isnull(item)) == True]
        #metemos la lista sin nulos en un diccionario donde el key es el número de la columna y los values con la lista de valores únicos lista_sin_nan
        diccionario_respuestas[col] = lista_sin_nan
        
        print("-------------------")
        print (f"{col} : {diccionario_respuestas[col]}")

    return diccionario_respuestas

In [7]:
diccionario_respuestas = listas_respuestas(df_da)

-------------------
index : []
-------------------
age : ['50-54', '22-24', '30-34', '40-44', '70+', '45-49', '18-21', '55-59', '25-29', '35-39', '60-69']
-------------------
gender : ['Man', 'Nonbinary', 'Woman', 'Prefer not to say', 'Prefer to self-describe']
-------------------
Q3 : ['Ethiopia', 'Norway', 'Germany', 'Indonesia', 'Sri Lanka', 'Other', 'United Arab Emirates', 'Uganda', 'Israel', 'Russia', 'Chile', 'Philippines', 'Switzerland', 'Peru', 'Denmark', 'Hong Kong (S.A.R.)', 'Austria', 'Portugal', ' Islamic Republic of...', 'Spain', 'Viet Nam', 'Iran', 'India', 'I do not wish to disclose my location', 'Iraq', 'Malaysia', 'Italy', 'Bangladesh', 'Colombia', 'Ghana', 'Kenya', 'Argentina', 'South Korea', 'Ecuador', 'Czech Republic', 'Nigeria', 'United Kingdom of Great Britain and Northern Ireland', 'Romania', 'Egypt', 'Poland', 'Ukraine', 'Sweden', 'Japan', 'Ireland', 'Brazil', 'South Africa', 'Mexico', 'Algeria', 'Turkey', 'Greece', 'Singapore', 'Taiwan', 'Nepal', 'United States of America', 'Belgium', 'France', 'Saudi Arabia', 'Netherlands', 'Tunisia', 'Pakistan', 'Thailand', 'Australia', 'China', 'Canada', 'Kazakhstan', 'Belarus', 'Morocco']
-------------------
Q4 : ['Bachelor’s degree', 'Some college/university study without earning a bachelor’s degree', 'Master’s degree', 'I prefer not to answer', 'Doctoral degree', 'No formal education past high school', 'Professional doctorate']
-------------------
Q5 : ['Data Analyst', 'Business Analyst']
-------------------
Q6 : ['20+ years', '< 1 years', '3-5 years', '1-3 years', '5-10 years', 'I have never written code', '10-20 years']
-------------------
Q8 : ['Python', 'R', 'C', 'SQL', 'Java', 'C++', 'MATLAB', 'Other', 'Julia', 'Javascript', 'Bash', 'None', 'Swift']
-------------------
Q11 : ['A laptop', 'A personal computer / desktop', 'A cloud computing platform (AWS, Azure, GCP, hosted notebooks, etc)', 'A deep learning workstation (NVIDIA GTX, LambdaLabs, etc)', 'None', 'Other']
-------------------
Q20 : ['Energy/Mining', 'Manufacturing/Fabrication', 'Non-profit/Service', 'Computers/Technology', 'Accounting/Finance', 'Online Service/Internet-based Services', 'Government/Public Service', 'Insurance/Risk Assessment', 'Online Business/Internet-based Sales', 'Shipping/Transportation', 'Other', 'Academics/Education', 'Hospitality/Entertainment/Sports', 'Retail/Sales', 'Medical/Pharmaceutical', 'Broadcasting/Communications', 'Marketing/CRM', 'Military/Security/Defense']
-------------------
Q21 : ['1000-9,999 employees', '250-999 employees', '0-49 employees', '50-249 employees', '10,000 or more employees']
-------------------
Q22 : ['5-9', '3-4', '0', '1-2', '20+', '10-14', '15-19']
-------------------
Q33 : ['Oracle Database ', 'IBM Db2 ', 'Snowflake ', 'PostgreSQL ', 'Google Cloud BigQuery ', 'Microsoft Azure SQL Database ', 'SQLite ', 'Microsoft SQL Server ', 'MySQL ', 'MongoDB ', 'Google Cloud SQL ', 'Amazon Redshift ', 'Amazon DynamoDB ', 'Google Cloud Spanner ', 'Google Cloud BigTable ', 'Other', 'Microsoft Azure Cosmos DB ', 'Google Cloud Firestore ', 'Amazon RDS ', 'Amazon Aurora ']
-------------------
Q35 : ['Google Data Studio', 'Microsoft Power BI', 'Tableau', 'TIBCO Spotfire', 'Amazon QuickSight', 'SAP Analytics Cloud ', 'Salesforce', 'Alteryx ', 'Domo', 'Qlik', 'Looker', 'Other', 'Microsoft Azure Synapse ', 'Tableau CRM', 'Sisense ']
-------------------
Q41 : ['Local development environments (RStudio, JupyterLab, etc.)', 'Basic statistical software (Microsoft Excel, Google Sheets, etc.)', 'Business intelligence software (Salesforce, Tableau, Spotfire, etc.)', 'Cloud-based data software & APIs (AWS, GCP, Azure, etc.)', 'Advanced statistical software (SPSS, SAS, etc.)', 'Other']
-------------------
Q7 : [' Javascript', ' MATLAB', ' Bash', ' Java', ' C', ' Swift', ' None', ' Julia', 'Python', ' R', ' Other', ' C++', ' SQL']
-------------------
Q9 : ['RStudio ', 'PyCharm ', 'MATLAB ', ' None', 'Visual Studio ', ' Sublime Text', ' etc) ', ' Vim / Emacs', 'Jupyter (JupyterLab', 'Visual Studio Code (VSCode) ', ' Other', 'Jupyter Notebook', ' Jupyter Notebooks', ' Notepad++', ' Spyder']
-------------------
Q12 : [' None', ' NVIDIA GPUs ', ' Other', 'Google Cloud TPUs ', ' NVIDIA GPUs ,Google Cloud TPUs ,AWS Trainium Chips ', 'Google Cloud TPUs ,AWS Inferentia Chips ', 'AWS Trainium Chips ,AWS Inferentia Chips ', 'Google Cloud TPUs , Other', ' NVIDIA GPUs ,Google Cloud TPUs ', 'AWS Inferentia Chips ', ' NVIDIA GPUs ,AWS Inferentia Chips ', 'AWS Trainium Chips ', ' NVIDIA GPUs ,Google Cloud TPUs ,AWS Trainium Chips ,AWS Inferentia Chips ', 'Google Cloud TPUs ,AWS Trainium Chips ', 'Google Cloud TPUs ,AWS Trainium Chips ,AWS Inferentia Chips ', ' NVIDIA GPUs ,AWS Trainium Chips ', 'AWS Inferentia Chips , Other', ' NVIDIA GPUs ,Google Cloud TPUs ,AWS Inferentia Chips ', ' NVIDIA GPUs , Other', 'Google Cloud TPUs ,AWS Trainium Chips , Other']
-------------------
Q14 : ['Leaflet / Folium ', 'Ggplot / ggplot2 ', 'Altair ', ' Matplotlib ', ' None', 'Shiny ', 'Plotly / Plotly Express ', 'Bokeh ', 'Seaborn ', 'Geoplotlib ', ' Other', 'D3 js ']
-------------------
Q24 : [' Build and/or run a machine learning service that operationally improves my product or workflows', ' Build prototypes to explore applying machine learning to new areas', ' Do research that advances the state of the art of machine learning', ' Experimentation and iteration to improve existing ML models', 'Analyze and understand data to influence product or business decisions', ' and operationalizing data', ' None of these activities are an important part of my role at work', ' Build and/or run the data infrastructure that my business uses for storing', ' analyzing', ' Other']
-------------------
Q32 : ['MySQL ', ' Microsoft SQL Server ', ' Amazon RDS ', ' Snowflake ', ' Google Cloud Firestore ', ' Google Cloud BigTable ', ' Amazon DynamoDB ', ' Amazon Aurora ', ' Oracle Database ', ' PostgreSQL ', ' Other', ' Google Cloud Spanner ', ' Amazon Redshift ', ' Microsoft Azure Cosmos DB ', ' Google Cloud BigQuery ', ' IBM Db2 ', ' None', ' Microsoft Azure SQL Database ', ' Google Cloud SQL ', ' SQLite ', ' MongoDB ']
-------------------
Q34 : [' Salesforce', ' Tableau', ' Looker', 'Amazon QuickSight', ' Google Data Studio', ' Alteryx ', ' None', ' Domo', ' Tableau CRM', ' Thoughtspot ', ' Microsoft Power BI', ' Sisense ', ' Other', ' Qlik', ' Microsoft Azure Synapse ', ' TIBCO Spotfire', ' SAP Analytics Cloud ']
-------------------
Q10_Part_1 : [' Kaggle Notebooks']
-------------------
Q10_Part_2 : ['Colab Notebooks']
-------------------
Q10_Part_3 : ['Azure Notebooks']
-------------------
Q10_Part_4 : [' Paperspace / Gradient ']
-------------------
Q10_Part_5 : [' Binder / JupyterHub ']
-------------------
Q10_Part_6 : [' Code Ocean ']
-------------------
Q10_Part_7 : [' IBM Watson Studio ']
-------------------
Q10_Part_8 : [' Amazon Sagemaker Studio Notebooks ']
-------------------
Q10_Part_9 : [' Amazon EMR Notebooks ']
-------------------
Q10_Part_10 : ['Google Cloud Notebooks (AI Platform / Vertex AI) ']
-------------------
Q10_Part_11 : ['Google Cloud Datalab']
-------------------
Q10_Part_12 : [' Databricks Collaborative Notebooks ']
-------------------
Q10_Part_13 : [' Zeppelin / Zepl Notebooks ']
-------------------
Q10_Part_14 : [' Deepnote Notebooks ']
-------------------
Q10_Part_15 : [' Observable Notebooks ']
-------------------
Q10_Part_16 : ['None']
-------------------
Q10_OTHER : ['Other']
-------------------
Q27_A_Part_1 : [' Amazon Web Services (AWS) ']
-------------------
Q27_A_Part_2 : [' Microsoft Azure ']
-------------------
Q27_A_Part_3 : [' Google Cloud Platform (GCP) ']
-------------------
Q27_A_Part_4 : [' IBM Cloud / Red Hat ']
-------------------
Q27_A_Part_5 : [' Oracle Cloud ']
-------------------
Q27_A_Part_6 : [' SAP Cloud ']
-------------------
Q27_A_Part_7 : [' Salesforce Cloud ']
-------------------
Q27_A_Part_8 : [' VMware Cloud ']
-------------------
Q27_A_Part_9 : [' Alibaba Cloud ']
-------------------
Q27_A_Part_10 : [' Tencent Cloud ']
-------------------
Q27_A_Part_11 : ['None']
-------------------
Q27_A_OTHER : ['Other']
-------------------
Q28 : [' Google Cloud Platform (GCP) ', ' Amazon Web Services (AWS) ', ' Microsoft Azure ', 'None were satisfactory', ' Alibaba Cloud ', 'They all had a similarly enjoyable developer experience', ' Salesforce Cloud ', ' Oracle Cloud ', ' IBM Cloud / Red Hat ', 'Other', ' SAP Cloud ', ' VMware Cloud ', ' Tencent Cloud ']
-------------------
Q29_A_Part_1 : [' Amazon Elastic Compute Cloud (EC2) ']
-------------------
Q29_A_Part_2 : [' Microsoft Azure Virtual Machines ']
-------------------
Q29_A_Part_3 : [' Google Cloud Compute Engine ']
-------------------
Q29_A_Part_4 : ['No / None']
-------------------
Q29_A_OTHER : ['Other']
-------------------
Q30_A_Part_1 : ['Microsoft Azure Data Lake Storage ']
-------------------
Q30_A_Part_2 : ['Microsoft Azure Disk Storage ']
-------------------
Q30_A_Part_3 : [' Amazon Simple Storage Service (S3)  ']
-------------------
Q30_A_Part_4 : [' Amazon Elastic File System (EFS)  ']
-------------------
Q30_A_Part_5 : ['Google Cloud Storage (GCS)   ']
-------------------
Q30_A_Part_6 : [' Google Cloud Filestore ']
-------------------
Q30_A_Part_7 : ['No / None']
-------------------
Q30_A_OTHER : ['Other']
-------------------
Q39_Part_1 : [' Plotly Dash ']
-------------------
Q39_Part_2 : [' Streamlit ']
-------------------
Q39_Part_3 : [' NBViewer ']
-------------------
Q39_Part_4 : [' GitHub ']
-------------------
Q39_Part_5 : [' Personal blog ']
-------------------
Q39_Part_6 : [' Kaggle ']
-------------------
Q39_Part_7 : [' Colab ']
-------------------
Q39_Part_8 : [' Shiny ']
-------------------
Q39_Part_9 : ['I do not share my work publicly']
-------------------
Q39_OTHER : ['Other']
-------------------
Q40_Part_1 : ['Coursera']
-------------------
Q40_Part_2 : ['edX']
-------------------
Q40_Part_3 : ['Kaggle Learn Courses']
-------------------
Q40_Part_4 : ['DataCamp']
-------------------
Q40_Part_5 : ['Fast.ai']
-------------------
Q40_Part_6 : ['Udacity']
-------------------
Q40_Part_7 : ['Udemy']
-------------------
Q40_Part_8 : ['LinkedIn Learning']
-------------------
Q40_Part_9 : ['Cloud-certification programs (direct from AWS, Azure, GCP, or similar)']
-------------------
Q40_Part_10 : ['University Courses (resulting in a university degree)']
-------------------
Q40_Part_11 : ['None']
-------------------
Q40_OTHER : ['Other']
-------------------
Q42_Part_1 : ['Twitter (data science influencers)']
-------------------
Q42_Part_2 : ["Email newsletters (Data Elixir, O'Reilly Data & AI, etc)"]
-------------------
Q42_Part_3 : ['Reddit (r/machinelearning, etc)']
-------------------
Q42_Part_4 : ['Kaggle (notebooks, forums, etc)']
-------------------
Q42_Part_5 : ['Course Forums (forums.fast.ai, Coursera forums, etc)']
-------------------
Q42_Part_6 : ['YouTube (Kaggle YouTube, Cloud AI Adventures, etc)']
-------------------
Q42_Part_7 : ['Podcasts (Chai Time Data Science, O’Reilly Data Show, etc)']
-------------------
Q42_Part_8 : ['Blogs (Towards Data Science, Analytics Vidhya, etc)']
-------------------
Q42_Part_9 : ['Journal Publications (peer-reviewed journals, conference proceedings, etc)']
-------------------
Q42_Part_10 : ['Slack Communities (ods.ai, kagglenoobs, etc)']
-------------------
Q42_Part_11 : ['None']
-------------------
Q42_OTHER : ['Other']

## Contamos los valores y calculamos el %

In [8]:

#devuelve el valor de cada valor único y su porcentaje
#el diccionario abajo es el diccionario de respuestas que acabamos de hacer 
def count_list(dataframe, **diccionario):
    for key in diccionario:
        print("----------------")
        print(f"PREGUNTA {key}")  
        #usamos el diccionario, sacamos los valores únicos de cada pregunta para encontrar la columna del dataframe, 
        # y el sum nos dice cuántas veces aparece      
        for lista in diccionario[key]:
            try:
                total = dataframe[key].str.contains(lista, regex = True).sum()
                print(f"{valor}: total: {total}, {round(total/dataframe.shape[0]*100, 1)}%")
            except:
                print(f"no se puede para {valor}")

In [9]:
count_list(df_da, **diccionario_respuestas)

----------------
PREGUNTA index
----------------
PREGUNTA age
50-54: total: 121, 3.7%
22-24: total: 538, 16.5%
30-34: total: 590, 18.0%
40-44: total: 270, 8.3%
70+: total: 12, 0.4%
45-49: total: 177, 5.4%
18-21: total: 236, 7.2%
55-59: total: 59, 1.8%
25-29: total: 788, 24.1%
35-39: total: 415, 12.7%
60-69: total: 63, 1.9%
----------------
PREGUNTA gender
Man: total: 2538, 77.6%
Nonbinary: total: 8, 0.2%
Woman: total: 680, 20.8%
Prefer not to say: total: 38, 1.2%
Prefer to self-describe: total: 5, 0.2%
----------------
PREGUNTA Q3
Ethiopia: total: 2, 0.1%
Norway: total: 3, 0.1%
Germany: total: 45, 1.4%
Indonesia: total: 60, 1.8%
Sri Lanka: total: 7, 0.2%
Other: total: 181, 5.5%
United Arab Emirates: total: 17, 0.5%
Uganda: total: 4, 0.1%
Israel: total: 16, 0.5%
Russia: total: 108, 3.3%
Chile: total: 16, 0.5%
Philippines: total: 19, 0.6%
Switzerland: total: 8, 0.2%
Peru: total: 29, 0.9%
Denmark: total: 3, 0.1%
Hong Kong (S.A.R.): total: 0, 0.0%
Austria: total: 5, 0.2%
Portugal: total: 15, 0.5%
 Islamic Republic of...: total: 16, 0.5%
Spain: total: 48, 1.5%
Viet Nam: total: 32, 1.0%
Iran: total: 16, 0.5%
India: total: 795, 24.3%
I do not wish to disclose my location: total: 7, 0.2%
Iraq: total: 4, 0.1%
Malaysia: total: 17, 0.5%
Italy: total: 31, 0.9%
Bangladesh: total: 31, 0.9%
Colombia: total: 41, 1.3%
Ghana: total: 16, 0.5%
Kenya: total: 48, 1.5%

/var/folders/t_/wl_dxng13j93db49220bzdd40000gn/T/ipykernel_1791/3388560854.py:7: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  total = dataframe[key].str.contains(valor, regex = True).sum()

Argentina: total: 32, 1.0%
South Korea: total: 42, 1.3%
Ecuador: total: 11, 0.3%
Czech Republic: total: 8, 0.2%
Nigeria: total: 132, 4.0%
United Kingdom of Great Britain and Northern Ireland: total: 77, 2.4%
Romania: total: 4, 0.1%
Egypt: total: 101, 3.1%
Poland: total: 33, 1.0%
Ukraine: total: 24, 0.7%
Sweden: total: 10, 0.3%
Japan: total: 84, 2.6%
Ireland: total: 86, 2.6%
Brazil: total: 110, 3.4%
South Africa: total: 11, 0.3%
Mexico: total: 49, 1.5%
Algeria: total: 2, 0.1%
Turkey: total: 36, 1.1%
Greece: total: 15, 0.5%
Singapore: total: 30, 0.9%
Taiwan: total: 41, 1.3%
Nepal: total: 5, 0.2%
United States of America: total: 367, 11.2%
Belgium: total: 7, 0.2%
France: total: 42, 1.3%
Saudi Arabia: total: 16, 0.5%
Netherlands: total: 20, 0.6%
Tunisia: total: 5, 0.2%
Pakistan: total: 50, 1.5%
Thailand: total: 20, 0.6%
Australia: total: 49, 1.5%
China: total: 121, 3.7%
Canada: total: 49, 1.5%
Kazakhstan: total: 5, 0.2%
Belarus: total: 6, 0.2%
Morocco: total: 8, 0.2%
----------------
PREGUNTA Q4
Bachelor’s degree: total: 1212, 37.1%
Some college/university study without earning a bachelor’s degree: total: 202, 6.2%
Master’s degree: total: 1514, 46.3%
I prefer not to answer: total: 83, 2.5%
Doctoral degree: total: 169, 5.2%
No formal education past high school: total: 59, 1.8%
Professional doctorate: total: 30, 0.9%
----------------
PREGUNTA Q5
Data Analyst: total: 2301, 70.4%
Business Analyst: total: 968, 29.6%
----------------
PREGUNTA Q6
20+ years: total: 198, 6.1%
< 1 years: total: 890, 27.2%
3-5 years: total: 485, 14.8%
1-3 years: total: 991, 30.3%
5-10 years: total: 307, 9.4%
I have never written code: total: 275, 8.4%
10-20 years: total: 198, 6.1%
----------------
PREGUNTA Q8
Python: total: 2195, 67.1%
R: total: 263, 8.0%
C: total: 64, 2.0%
SQL: total: 349, 10.7%
Java: total: 43, 1.3%
no se puede para C++
MATLAB: total: 20, 0.6%
Other: total: 24, 0.7%
Julia: total: 14, 0.4%
Javascript: total: 13, 0.4%
Bash: total: 6, 0.2%
None: total: 14, 0.4%
Swift: total: 1, 0.0%
----------------
PREGUNTA Q11
A laptop: total: 2082, 63.7%
A personal computer / desktop: total: 608, 18.6%
A cloud computing platform (AWS, Azure, GCP, hosted notebooks, etc): total: 0, 0.0%
A deep learning workstation (NVIDIA GTX, LambdaLabs, etc): total: 0, 0.0%
None: total: 35, 1.1%
Other: total: 15, 0.5%
----------------
PREGUNTA Q20
Energy/Mining: total: 119, 3.6%
Manufacturing/Fabrication: total: 178, 5.4%
Non-profit/Service: total: 71, 2.2%
Computers/Technology: total: 550, 16.8%
Accounting/Finance: total: 461, 14.1%
Online Service/Internet-based Services: total: 116, 3.5%
Government/Public Service: total: 179, 5.5%
Insurance/Risk Assessment: total: 98, 3.0%
Online Business/Internet-based Sales: total: 83, 2.5%
Shipping/Transportation: total: 82, 2.5%
Other: total: 188, 5.8%
Academics/Education: total: 412, 12.6%
Hospitality/Entertainment/Sports: total: 49, 1.5%
Retail/Sales: total: 165, 5.0%
Medical/Pharmaceutical: total: 135, 4.1%
Broadcasting/Communications: total: 69, 2.1%
Marketing/CRM: total: 133, 4.1%
Military/Security/Defense: total: 23, 0.7%
----------------
PREGUNTA Q21
1000-9,999 employees: total: 589, 18.0%
250-999 employees: total: 407, 12.5%
0-49 employees: total: 908, 27.8%
50-249 employees: total: 495, 15.1%
10,000 or more employees: total: 693, 21.2%
----------------
PREGUNTA Q22
5-9: total: 362, 11.1%
3-4: total: 541, 16.5%
0: total: 1349, 41.3%
1-2: total: 743, 22.7%
20+: total: 647, 19.8%
10-14: total: 208, 6.4%
15-19: total: 69, 2.1%
----------------
PREGUNTA Q33
Oracle Database : total: 61, 1.9%
IBM Db2 : total: 12, 0.4%
Snowflake : total: 17, 0.5%
PostgreSQL : total: 103, 3.2%
Google Cloud BigQuery : total: 59, 1.8%
Microsoft Azure SQL Database : total: 39, 1.2%
SQLite : total: 32, 1.0%
Microsoft SQL Server : total: 153, 4.7%
MySQL : total: 206, 6.3%
MongoDB : total: 33, 1.0%
Google Cloud SQL : total: 15, 0.5%
Amazon Redshift : total: 20, 0.6%
Amazon DynamoDB : total: 7, 0.2%
Google Cloud Spanner : total: 4, 0.1%
Google Cloud BigTable : total: 6, 0.2%
Other: total: 15, 0.5%
Microsoft Azure Cosmos DB : total: 9, 0.3%
Google Cloud Firestore : total: 7, 0.2%
Amazon RDS : total: 7, 0.2%
Amazon Aurora : total: 2, 0.1%
----------------
PREGUNTA Q35
Google Data Studio: total: 52, 1.6%
Microsoft Power BI: total: 232, 7.1%
Tableau: total: 222, 6.8%
TIBCO Spotfire: total: 4, 0.1%
Amazon QuickSight: total: 8, 0.2%
SAP Analytics Cloud : total: 13, 0.4%
Salesforce: total: 10, 0.3%
Alteryx : total: 10, 0.3%
Domo: total: 3, 0.1%
Qlik: total: 24, 0.7%
Looker: total: 5, 0.2%
Other: total: 16, 0.5%
Microsoft Azure Synapse : total: 6, 0.2%
Tableau CRM: total: 13, 0.4%
Sisense : total: 1, 0.0%
----------------
PREGUNTA Q41
Local development environments (RStudio, JupyterLab, etc.): total: 0, 0.0%
Basic statistical software (Microsoft Excel, Google Sheets, etc.): total: 0, 0.0%
Business intelligence software (Salesforce, Tableau, Spotfire, etc.): total: 0, 0.0%
Cloud-based data software & APIs (AWS, GCP, Azure, etc.): total: 0, 0.0%
Advanced statistical software (SPSS, SAS, etc.): total: 0, 0.0%
Other: total: 83, 2.5%
----------------
PREGUNTA Q7
 Javascript: total: 327, 10.0%
 MATLAB: total: 230, 7.0%
 Bash: total: 131, 4.0%
 Java: total: 505, 15.4%
 C: total: 388, 11.9%
 Swift: total: 20, 0.6%
 None: total: 59, 1.8%
 Julia: total: 21, 0.6%
Python: total: 2465, 75.4%
 R: total: 928, 28.4%
 Other: total: 300, 9.2%
no se puede para  C++
 SQL: total: 1866, 57.1%
----------------
PREGUNTA Q9
RStudio : total: 820, 25.1%
PyCharm : total: 728, 22.3%
MATLAB : total: 166, 5.1%
 None: total: 90, 2.8%
Visual Studio : total: 1144, 35.0%
 Sublime Text: total: 259, 7.9%
no se puede para  etc)
 Vim / Emacs: total: 86, 2.6%
no se puede para Jupyter (JupyterLab
Visual Studio Code (VSCode) : total: 0, 0.0%
 Other: total: 154, 4.7%
Jupyter Notebook: total: 2149, 65.7%
 Jupyter Notebooks: total: 634, 19.4%
no se puede para  Notepad++
 Spyder: total: 476, 14.6%
----------------
PREGUNTA Q12
 None: total: 1813, 55.5%
 NVIDIA GPUs : total: 688, 21.0%
 Other: total: 125, 3.8%
Google Cloud TPUs : total: 404, 12.4%
 NVIDIA GPUs ,Google Cloud TPUs ,AWS Trainium Chips : total: 18, 0.6%
Google Cloud TPUs ,AWS Inferentia Chips : total: 12, 0.4%
AWS Trainium Chips ,AWS Inferentia Chips : total: 27, 0.8%
Google Cloud TPUs , Other: total: 6, 0.2%
 NVIDIA GPUs ,Google Cloud TPUs : total: 91, 2.8%
AWS Inferentia Chips : total: 66, 2.0%
 NVIDIA GPUs ,AWS Inferentia Chips : total: 6, 0.2%
AWS Trainium Chips : total: 61, 1.9%
 NVIDIA GPUs ,Google Cloud TPUs ,AWS Trainium Chips ,AWS Inferentia Chips : total: 15, 0.5%
Google Cloud TPUs ,AWS Trainium Chips : total: 33, 1.0%
Google Cloud TPUs ,AWS Trainium Chips ,AWS Inferentia Chips : total: 24, 0.7%
 NVIDIA GPUs ,AWS Trainium Chips : total: 5, 0.2%
AWS Inferentia Chips , Other: total: 2, 0.1%
 NVIDIA GPUs ,Google Cloud TPUs ,AWS Inferentia Chips : total: 4, 0.1%
 NVIDIA GPUs , Other: total: 2, 0.1%
Google Cloud TPUs ,AWS Trainium Chips , Other: total: 1, 0.0%
----------------
PREGUNTA Q14
Leaflet / Folium : total: 94, 2.9%
Ggplot / ggplot2 : total: 830, 25.4%
Altair : total: 50, 1.5%
 Matplotlib : total: 1984, 60.7%
 None: total: 420, 12.8%
Shiny : total: 235, 7.2%
Plotly / Plotly Express : total: 796, 24.3%
Bokeh : total: 138, 4.2%
Seaborn : total: 1559, 47.7%
Geoplotlib : total: 198, 6.1%
 Other: total: 127, 3.9%
D3 js : total: 105, 3.2%
----------------
PREGUNTA Q24
 Build and/or run a machine learning service that operationally improves my product or workflows: total: 446, 13.6%
 Build prototypes to explore applying machine learning to new areas: total: 571, 17.5%
 Do research that advances the state of the art of machine learning: total: 344, 10.5%
 Experimentation and iteration to improve existing ML models: total: 398, 12.2%
Analyze and understand data to influence product or business decisions: total: 2343, 71.7%
 and operationalizing data: total: 957, 29.3%
 None of these activities are an important part of my role at work: total: 274, 8.4%
 Build and/or run the data infrastructure that my business uses for storing: total: 957, 29.3%
 analyzing: total: 957, 29.3%
 Other: total: 121, 3.7%
----------------
PREGUNTA Q32
MySQL : total: 685, 21.0%
 Microsoft SQL Server : total: 442, 13.5%
 Amazon RDS : total: 62, 1.9%
 Snowflake : total: 79, 2.4%
 Google Cloud Firestore : total: 56, 1.7%
 Google Cloud BigTable : total: 65, 2.0%
 Amazon DynamoDB : total: 42, 1.3%
 Amazon Aurora : total: 31, 0.9%
 Oracle Database : total: 217, 6.6%
 PostgreSQL : total: 364, 11.1%
 Other: total: 62, 1.9%
 Google Cloud Spanner : total: 37, 1.1%
 Amazon Redshift : total: 92, 2.8%
 Microsoft Azure Cosmos DB : total: 60, 1.8%
 Google Cloud BigQuery : total: 169, 5.2%
 IBM Db2 : total: 63, 1.9%
 None: total: 349, 10.7%
 Microsoft Azure SQL Database : total: 139, 4.3%
 Google Cloud SQL : total: 120, 3.7%
 SQLite : total: 242, 7.4%
 MongoDB : total: 205, 6.3%
----------------
PREGUNTA Q34
 Salesforce: total: 87, 2.7%
 Tableau: total: 749, 22.9%
 Looker: total: 39, 1.2%
Amazon QuickSight: total: 34, 1.0%
 Google Data Studio: total: 217, 6.6%
 Alteryx : total: 54, 1.7%
 None: total: 395, 12.1%
 Domo: total: 19, 0.6%
 Tableau CRM: total: 107, 3.3%
 Thoughtspot : total: 12, 0.4%
 Microsoft Power BI: total: 673, 20.6%
 Sisense : total: 16, 0.5%
 Other: total: 80, 2.4%
 Qlik: total: 118, 3.6%
 Microsoft Azure Synapse : total: 45, 1.4%
 TIBCO Spotfire: total: 26, 0.8%
 SAP Analytics Cloud : total: 59, 1.8%
----------------
PREGUNTA Q10_Part_1
 Kaggle Notebooks: total: 1077, 32.9%
----------------
PREGUNTA Q10_Part_2
Colab Notebooks: total: 920, 28.1%
----------------
PREGUNTA Q10_Part_3
Azure Notebooks: total: 152, 4.6%
----------------
PREGUNTA Q10_Part_4
 Paperspace / Gradient : total: 23, 0.7%
----------------
PREGUNTA Q10_Part_5
 Binder / JupyterHub : total: 235, 7.2%
----------------
PREGUNTA Q10_Part_6
 Code Ocean : total: 22, 0.7%
----------------
PREGUNTA Q10_Part_7
 IBM Watson Studio : total: 144, 4.4%
----------------
PREGUNTA Q10_Part_8
 Amazon Sagemaker Studio Notebooks : total: 73, 2.2%
----------------
PREGUNTA Q10_Part_9
 Amazon EMR Notebooks : total: 45, 1.4%
----------------
PREGUNTA Q10_Part_10
Google Cloud Notebooks (AI Platform / Vertex AI) : total: 0, 0.0%
----------------
PREGUNTA Q10_Part_11
Google Cloud Datalab: total: 274, 8.4%
----------------
PREGUNTA Q10_Part_12
 Databricks Collaborative Notebooks : total: 88, 2.7%
----------------
PREGUNTA Q10_Part_13
 Zeppelin / Zepl Notebooks : total: 28, 0.9%
----------------
PREGUNTA Q10_Part_14
 Deepnote Notebooks : total: 26, 0.8%
----------------
PREGUNTA Q10_Part_15
 Observable Notebooks : total: 31, 0.9%
----------------
PREGUNTA Q10_Part_16
None: total: 933, 28.5%
----------------
PREGUNTA Q10_OTHER
Other: total: 113, 3.5%
----------------
PREGUNTA Q27_A_Part_1
 Amazon Web Services (AWS) : total: 0, 0.0%
----------------
PREGUNTA Q27_A_Part_2
 Microsoft Azure : total: 410, 12.5%
----------------
PREGUNTA Q27_A_Part_3
 Google Cloud Platform (GCP) : total: 0, 0.0%
----------------
PREGUNTA Q27_A_Part_4
 IBM Cloud / Red Hat : total: 108, 3.3%
----------------
PREGUNTA Q27_A_Part_5
 Oracle Cloud : total: 108, 3.3%
----------------
PREGUNTA Q27_A_Part_6
 SAP Cloud : total: 86, 2.6%
----------------
PREGUNTA Q27_A_Part_7
 Salesforce Cloud : total: 76, 2.3%
----------------
PREGUNTA Q27_A_Part_8
 VMware Cloud : total: 76, 2.3%
----------------
PREGUNTA Q27_A_Part_9
 Alibaba Cloud : total: 60, 1.8%
----------------
PREGUNTA Q27_A_Part_10
 Tencent Cloud : total: 48, 1.5%
----------------
PREGUNTA Q27_A_Part_11
None: total: 552, 16.9%
----------------
PREGUNTA Q27_A_OTHER
Other: total: 51, 1.6%
----------------
PREGUNTA Q28
 Google Cloud Platform (GCP) : total: 0, 0.0%
 Amazon Web Services (AWS) : total: 0, 0.0%
 Microsoft Azure : total: 90, 2.8%
None were satisfactory: total: 18, 0.6%
 Alibaba Cloud : total: 11, 0.3%
They all had a similarly enjoyable developer experience: total: 116, 3.5%
 Salesforce Cloud : total: 10, 0.3%
 Oracle Cloud : total: 12, 0.4%
 IBM Cloud / Red Hat : total: 14, 0.4%
Other: total: 5, 0.2%
 SAP Cloud : total: 6, 0.2%
 VMware Cloud : total: 6, 0.2%
 Tencent Cloud : total: 4, 0.1%
----------------
PREGUNTA Q29_A_Part_1
 Amazon Elastic Compute Cloud (EC2) : total: 0, 0.0%
----------------
PREGUNTA Q29_A_Part_2
 Microsoft Azure Virtual Machines : total: 232, 7.1%
----------------
PREGUNTA Q29_A_Part_3
 Google Cloud Compute Engine : total: 278, 8.5%
----------------
PREGUNTA Q29_A_Part_4
No / None: total: 414, 12.7%
----------------
PREGUNTA Q29_A_OTHER
Other: total: 23, 0.7%
----------------
PREGUNTA Q30_A_Part_1
Microsoft Azure Data Lake Storage : total: 145, 4.4%
----------------
PREGUNTA Q30_A_Part_2
Microsoft Azure Disk Storage : total: 129, 3.9%
----------------
PREGUNTA Q30_A_Part_3
 Amazon Simple Storage Service (S3)  : total: 0, 0.0%
----------------
PREGUNTA Q30_A_Part_4
 Amazon Elastic File System (EFS)  : total: 0, 0.0%
----------------
PREGUNTA Q30_A_Part_5
Google Cloud Storage (GCS)   : total: 0, 0.0%
----------------
PREGUNTA Q30_A_Part_6
 Google Cloud Filestore : total: 133, 4.1%
----------------
PREGUNTA Q30_A_Part_7
No / None: total: 327, 10.0%
----------------
PREGUNTA Q30_A_OTHER
Other: total: 18, 0.6%
----------------
PREGUNTA Q39_Part_1
 Plotly Dash : total: 53, 1.6%
----------------
PREGUNTA Q39_Part_2
 Streamlit : total: 59, 1.8%
----------------
PREGUNTA Q39_Part_3
 NBViewer : total: 28, 0.9%
----------------
PREGUNTA Q39_Part_4
 GitHub : total: 745, 22.8%
----------------
PREGUNTA Q39_Part_5
 Personal blog : total: 127, 3.9%
----------------
PREGUNTA Q39_Part_6
 Kaggle : total: 573, 17.5%
----------------
PREGUNTA Q39_Part_7
 Colab : total: 275, 8.4%
----------------
PREGUNTA Q39_Part_8
 Shiny : total: 63, 1.9%
----------------
PREGUNTA Q39_Part_9
I do not share my work publicly: total: 610, 18.7%
----------------
PREGUNTA Q39_OTHER
Other: total: 56, 1.7%
----------------
PREGUNTA Q40_Part_1
Coursera: total: 1224, 37.4%
----------------
PREGUNTA Q40_Part_2
edX: total: 439, 13.4%
----------------
PREGUNTA Q40_Part_3
Kaggle Learn Courses: total: 1160, 35.5%
----------------
PREGUNTA Q40_Part_4
DataCamp: total: 728, 22.3%
----------------
PREGUNTA Q40_Part_5
Fast.ai: total: 94, 2.9%
----------------
PREGUNTA Q40_Part_6
Udacity: total: 364, 11.1%
----------------
PREGUNTA Q40_Part_7
Udemy: total: 985, 30.1%
----------------
PREGUNTA Q40_Part_8
LinkedIn Learning: total: 500, 15.3%
----------------
PREGUNTA Q40_Part_9
Cloud-certification programs (direct from AWS, Azure, GCP, or similar): total: 0, 0.0%
----------------
PREGUNTA Q40_Part_10
University Courses (resulting in a university degree): total: 0, 0.0%
----------------
PREGUNTA Q40_Part_11
None: total: 213, 6.5%
----------------
PREGUNTA Q40_OTHER
Other: total: 321, 9.8%
----------------
PREGUNTA Q42_Part_1
Twitter (data science influencers): total: 0, 0.0%
----------------
PREGUNTA Q42_Part_2
Email newsletters (Data Elixir, O'Reilly Data & AI, etc): total: 0, 0.0%
----------------
PREGUNTA Q42_Part_3
Reddit (r/machinelearning, etc): total: 0, 0.0%
----------------
PREGUNTA Q42_Part_4
Kaggle (notebooks, forums, etc): total: 0, 0.0%
----------------
PREGUNTA Q42_Part_5
Course Forums (forums.fast.ai, Coursera forums, etc): total: 0, 0.0%
----------------
PREGUNTA Q42_Part_6
YouTube (Kaggle YouTube, Cloud AI Adventures, etc): total: 0, 0.0%
----------------
PREGUNTA Q42_Part_7
Podcasts (Chai Time Data Science, O’Reilly Data Show, etc): total: 0, 0.0%
----------------
PREGUNTA Q42_Part_8
Blogs (Towards Data Science, Analytics Vidhya, etc): total: 0, 0.0%
----------------
PREGUNTA Q42_Part_9
Journal Publications (peer-reviewed journals, conference proceedings, etc): total: 0, 0.0%
----------------
PREGUNTA Q42_Part_10
Slack Communities (ods.ai, kagglenoobs, etc): total: 0, 0.0%
----------------
PREGUNTA Q42_Part_11
None: total: 174, 5.3%
----------------
PREGUNTA Q42_OTHER
Other: total: 82, 2.5%