In [19]:
import pandas as pd
import numpy as np
import re

In [20]:
pd.options.display.max_columns = None

## Cargamos los datos

In [21]:
df_unidos = pd.read_csv('../datos/datos_unidos.csv', index_col = 0)
df_unidos.head(2)

,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER
0,50-54,Man,India,Other,5-10 years,Python,5-10 years,3-4,Local development environments (RStudio; Jupyt...,Python; R,Vim / Emacs,None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN
1,50-54,Man,Indonesia,Program/Project Manager,20+ years,Python,< 1 year,1-2,Advanced statistical software (SPSS; SAS; etc.),SQL; C; C++; Java,Notepad++;Jupyter Notebook,Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_da_ba = pd.read_csv('../datos/datos_da_ba.csv', index_col=0)
df_da_ba.head(2)

,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER
16,50-54,Man,Belgium,Data Analyst,20+ years,Python,1-2 years,5-9,Local development environments (RStudio; Jupyt...,Python; SQL,Jupyter (JupyterLab; Jupyter Notebooks; etc) ;...,Analyze and understand data to influence produ...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,22-24,Nonbinary,United States of America,Data Analyst,< 1 years,R,I do not use machine learning methods,3-4,NaN,R,RStudio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_da_ba.shape

(3269, 41)

## Extraemos los valores únicos de cada columna

In [24]:
#esta función crea un dicionario con el número de la columna como keys y una lista de los valores únicos de la columna como values
def dict_respuestas(dataframe):
    
    dic_respuestas = {}
    
    for col in dataframe.columns:
        lista_nueva = []
        #ignoramos la columna index
        if col == "index":
            pass
        #comprobamos si los valores únicos son más de 20 - si es una pregunta multirespuesta 
        elif len(dataframe[col].unique()) > 22:
            #crea una lista de los valores únicos
                lista_unicos = list(dataframe[col].unique())
                for sublist in lista_unicos:
                    #cada lista dentro de los valores únicos se divide por las comas 
                    try:
                        lista_nueva.extend(sublist.split(","))
                    except:
                        pass
                    #lista de todas las posibles respuestas individuales
                    #la convertimos en set para eliminar los duplicados 
                    set_unicos = set(lista_nueva)
                    #lo volvemos a convertir en lista para poder usarla cómodamente
                    lista_nueva = list(set_unicos)
        else:
            #si no es multirespuesta podemos usar el unique para ver los valores únicos 
            lista_nueva = list(dataframe[col].unique())
        #list comprehension para quitar los nulos    
        lista_sin_nan = [item for item in lista_nueva if not (pd.isnull(item)) == True]
        #metemos la lista sin nulos en un diccionario donde el key es el número de la columna y los values con la lista de valores únicos lista_sin_nan
        dic_respuestas[col] = lista_sin_nan
        
        print("-------------------")
        print (f"{col} : {dic_respuestas[col]}")

    return dic_respuestas

In [25]:
diccionario_respuestas = dict_respuestas(df_da_ba)

-------------------
age : ['50-54', '22-24', '30-34', '40-44', '70+', '45-49', '18-21', '55-59', '25-29', '35-39', '60-69']
-------------------
gender : ['Man', 'Nonbinary', 'Woman', 'Prefer not to say', 'Prefer to self-describe']
-------------------
Q3 : ['Egypt', 'Turkey', 'Colombia', 'Nepal', 'Poland', 'Viet Nam', 'Nigeria', 'Netherlands', 'Belarus', 'Argentina', 'Norway', 'Pakistan', 'Canada', 'Italy', 'Bangladesh', 'Taiwan', 'Greece', 'India', 'Ethiopia', 'Saudi Arabia', 'Tunisia', 'Portugal', 'Denmark', 'United Kingdom of Great Britain and Northern Ireland', 'Ukraine', 'United States of America', 'Switzerland', 'Uganda', 'Ghana', 'Kenya', 'Kazakhstan', 'Iraq', 'Other', 'I do not wish to disclose my location', 'Mexico', 'Czech Republic', 'Ecuador', 'Sri Lanka', 'Philippines', 'Romania', 'South Africa', 'Japan', 'Brazil', 'Indonesia', 'Iran; Islamic Republic of...', 'Thailand', 'Malaysia', 'Sweden', 'Singapore', 'Germany', 'Spain', 'Chile', 'Australia', 'United Arab Emirates', 'France', 'Israel', 'Morocco', 'Algeria', 'South Korea', 'China', 'Peru', 'Russia', 'Ireland', 'Belgium', 'Hong Kong (S.A.R.)', 'Austria']
-------------------
Q5 : ['Data Analyst', 'Business Analyst']
-------------------
Q6 : ['20+ years', '< 1 years', '3-5 years', '1-3 years', '5-10 years', 'I have never written code', '10-20 years']
-------------------
Q8 : ['Python', 'R', 'C', 'SQL', 'Java', 'C++', 'MATLAB', 'Other', 'Julia', 'Javascript', 'Bash', 'None', 'Swift']
-------------------
Q15 : ['1-2 years', 'I do not use machine learning methods', '< 1 year', '2-3 years', '3-4 years', '5-10 years', '4-5 years', '10-20 years', '20 or more years']
-------------------
Q22 : ['5-9', '3-4', '0', '1-2', '20+', '10-14', '15-19']
-------------------
Q41 : ['Local development environments (RStudio; JupyterLab; etc.)', 'Basic statistical software (Microsoft Excel; Google Sheets; etc.)', 'Business intelligence software (Salesforce; Tableau; Spotfire; etc.)', 'Cloud-based data software & APIs (AWS; GCP; Azure; etc.)', 'Advanced statistical software (SPSS; SAS; etc.)', 'Other']
-------------------
Q7 : [' SQL; Javascript; MATLAB', 'Python; R; SQL; C++; Java', 'Python; C; MATLAB', ' SQL; C; Java', 'Python; Java; Javascript', 'Python; SQL', 'Python; SQL; C; C++; Java; Javascript; Bash; MATLAB; Other', 'Python; SQL; Java', ' R; Bash; MATLAB', ' SQL; Java; Javascript; Bash', 'Python; Java; Other', 'Python; SQL; C; Javascript; Bash', 'Python; SQL; Javascript; MATLAB', ' R; SQL; C', 'Python; C; Java; Javascript', 'Python; SQL; Java; MATLAB', ' R; SQL; Other', 'Python; R; Javascript; MATLAB', 'Python; R; Java; Javascript; MATLAB', 'Python; R; SQL; C++; Java; MATLAB', ' SQL; C', ' R; SQL; C++; Javascript; MATLAB', 'Python; R; Bash', 'Python; R; SQL; C; C++; Swift; Bash', ' R; C', 'Python', 'Python; R; SQL; C; Java', ' C; C++; Java', ' SQL; MATLAB', ' SQL; Javascript; Other', 'Python; R; Julia; MATLAB', 'Python; R; SQL', 'Python; Java; Bash; Other', 'Python; Javascript; Other', 'Python; R', 'Python; SQL; Java; Javascript', 'Python; SQL; C; C++; Java; Other', 'Python; R; SQL; Javascript; Bash', 'Python; Javascript; MATLAB', 'Python; SQL; C; C++; Java; Javascript; Swift; MATLAB', 'Python; R; SQL; C; MATLAB', 'Python; R; SQL; Julia', ' C++; MATLAB', ' Other', 'Python; SQL; C; C++; Java; Javascript; Swift; Bash', ' Java; MATLAB', 'Python; Swift', 'Python; C++; Java', 'Python; SQL; Javascript', ' SQL; C++; Javascript; MATLAB', ' Bash', 'Python; R; SQL; C++; Java; Bash', 'Python; SQL; C; C++; Java; MATLAB', ' SQL; C; Javascript; Bash', ' SQL; Other', ' R; C; C++; Java; Javascript; MATLAB', ' R; C; C++; Java; Javascript', 'Python; R; C; C++', 'Python; Java; Javascript; MATLAB', 'Python; R; SQL; C; Javascript; MATLAB', 'Python; SQL; C; Java', ' C++; Java', 'Python; SQL; Bash; Other', 'Python; C++; Java; MATLAB', 'Python; SQL; C; C++; Java; Javascript; Bash; MATLAB', 'Python; Java; Bash', ' C++', 'Python; Bash', 'Python; R; SQL; Java; Javascript; MATLAB', 'Python; Javascript; Bash', 'Python; R; SQL; C++; Javascript; MATLAB', 'Python; R; C; C++; MATLAB', 'Python; C; C++; Bash; MATLAB', 'Python; C++; MATLAB', 'Python; SQL; MATLAB', 'Python; R; SQL; Javascript; MATLAB', ' R; SQL; Bash', 'Python; SQL; C; C++', 'Python; R; SQL; C; Java; Javascript', ' SQL; C; C++; Java; Javascript', 'Python; R; SQL; Javascript; Bash; Other', ' R; Java; Swift', 'Python; R; C; C++; Java; MATLAB', 'Python; SQL; Julia', 'Python; SQL; C; C++; Java', 'Python; R; C++', 'Python; C; C++; Java; Javascript', 'Python; R; SQL; C; C++; Java', 'Python; R; Javascript; Other', ' C++; Java; Javascript', 'Python; SQL; Java; Other', 'Python; R; SQL; C; C++; Java; Javascript; Bash; MATLAB', ' C++; Other', 'Python; SQL; Javascript; Bash; MATLAB; Other', 'Python; SQL; C; C++; MATLAB', 'Python; C', 'Python; C; C++; Javascript', ' SQL', 'Python; SQL; C++; Javascript; Bash', ' C; Other', 'Python; SQL; C; Javascript', 'Python; R; C; C++; Javascript', 'Python; SQL; C; Other', 'Python; SQL; Java; Javascript; MATLAB', 'Python; R; SQL; C++; Java; Javascript', 'Python; SQL; C++; Java; MATLAB', 'Python; R; SQL; Java; Javascript; Other', 'Python; SQL; Other', 'Python; R; SQL; Julia; Bash', 'Python; Java; MATLAB', 'Python; R; SQL; Java; Javascript; Bash', 'Python; SQL; C++; MATLAB', 'Python; R; Javascript; Bash', 'Python; R; SQL; C++', 'Python; SQL; C; C++; Java; Bash', 'Python; SQL; C++; Java; Javascript; Other', ' SQL; Java; Javascript; Other', 'Python; C; C++', ' R; Bash', ' R; SQL', ' Javascript; Bash', 'Python; R; SQL; C; C++', 'Python; SQL; C; MATLAB', ' SQL; Javascript', 'Python; R; SQL; C; C++; Java; Javascript; Julia; Swift; Bash; MATLAB', 'Python; R; SQL; Java', 'Python; C++; Java; Javascript', ' SQL; C++; Javascript; Other', 'Python; C; C++; MATLAB', ' R; C++', 'Python; R; SQL; Java; Other', 'Python; R; SQL; C; C++; Javascript', 'Python; SQL; C++; Java', 'Python; R; SQL; C; Javascript', 'Python; MATLAB', 'Python; Javascript', 'Python; SQL; C; Java; Bash', 'Python; R; SQL; C; C++; Java; Bash', ' None', 'Python; SQL; C++; Other', 'Python; R; Julia', 'Python; C; C++; Java; MATLAB', 'Python; C; C++; MATLAB; Other', 'Python; SQL; C; C++; MATLAB; Other', 'Python; SQL; Bash', ' C; C++; Java; Javascript', ' SQL; Java; Other', 'Python; R; C++; MATLAB', 'Python; R; SQL; C', 'Python; R; MATLAB', 'Python; R; Other', 'Python; R; SQL; C; C++; Java; Javascript; Other', ' SQL; C++; MATLAB', ' R; MATLAB; Other', ' R', ' R; Javascript; Swift; Other', 'Python; SQL; MATLAB; Other', 'Python; SQL; Java; Javascript; Bash', ' SQL; Bash', ' C; Bash', 'Python; SQL; C++; Javascript; MATLAB', ' SQL; C++; Javascript', 'Python; R; SQL; C++; Other', 'Python; R; SQL; C++; Java; Javascript; MATLAB; Other', ' C; C++', ' R; C; Other', 'Python; C; C++; Java; Javascript; Bash; MATLAB', 'Python; SQL; C++; Java; Swift', ' R; C; C++; Java; Julia; Other', 'Python; Julia', ' C', 'Python; C++', 'Python; SQL; Bash; MATLAB', 'Python; R; SQL; C; C++; Java; Javascript; Julia; Swift; Bash; MATLAB; Other', ' R; MATLAB', 'Python; C; Java', 'Python; R; C; Javascript', ' R; SQL; C; Javascript; Bash', 'Python; SQL; C', 'Python; SQL; Javascript; Bash; Other', 'Python; R; SQL; C; C++; Java; MATLAB', 'Python; R; SQL; C; C++; Java; Swift; MATLAB', ' SQL; Java', 'Python; R; SQL; Java; Javascript', ' Javascript', 'Python; R; SQL; MATLAB; Other', ' R; SQL; Javascript', 'Python; SQL; Java; Javascript; Other', 'Python; SQL; Javascript; Bash', 'Python; SQL; C++; Javascript; Swift; Bash; MATLAB', 'Python; R; C++; MATLAB; Other', ' R; SQL; Javascript; Other', 'Python; C; C++; Java', ' R; C; Bash; MATLAB', 'Python; SQL; C; Java; Javascript; Bash', 'Python; Other', 'Python; R; SQL; C++; Java; Javascript; MATLAB', ' R; SQL; C++', 'Python; R; C', 'Python; R; SQL; Other', 'Python; C++; Other', ' R; SQL; MATLAB', 'Python; R; SQL; C; C++; Java; Javascript; MATLAB; Other', ' SQL; Java; Javascript', 'Python; SQL; C; C++; Java; Javascript', 'Python; SQL; C++; Java; Javascript', 'Python; C++; Javascript', 'Python; R; SQL; C++; MATLAB', ' SQL; C; MATLAB', 'Python; SQL; C++', 'Python; R; SQL; Java; MATLAB', 'Python; R; SQL; Javascript; Other', 'Python; SQL; C++; Java; Bash; Other', 'Python; SQL; Javascript; Other', 'Python; R; SQL; C; Java; Javascript; Other', 'Python; C++; Java; MATLAB; Other', ' SQL; C++', 'Python; R; SQL; Javascript', ' R; Other', 'Python; R; SQL; MATLAB', 'Python; C; C++; Javascript; Julia; Swift', ' SQL; C; C++; Javascript; Other', 'Python; SQL; C++; Java; Javascript; MATLAB', ' MATLAB', 'Python; R; Java', 'Python; C; C++; Java; Other', ' C; C++; MATLAB', 'Python; SQL; C; C++; Javascript; MATLAB', ' Java', 'Python; R; SQL; Swift', 'Python; C; C++; Javascript; MATLAB', 'Python; R; Javascript', 'Python; R; SQL; C++; Javascript', 'Python; SQL; Java; Bash', ' Swift', 'Python; R; SQL; C; C++; Javascript; Bash', 'Python; C++; Java; Javascript; Other', 'Python; SQL; C++; Julia', 'Python; SQL; C; C++; Java; Javascript; MATLAB', ' Java; Javascript', 'Python; SQL; C++; Javascript', 'Python; SQL; C; C++; Other', 'Python; R; SQL; Bash; Other', 'Python; R; SQL; Java; Javascript; Swift; Bash', 'Python; R; SQL; Bash', 'Python; R; SQL; C; C++; MATLAB', 'Python; SQL; C; C++; Java; Javascript; Bash', 'Python; SQL; C; Java; Javascript', 'Python; Java', 'Python; R; SQL; C; C++; Java; Javascript']
-------------------

## Contamos los valores y calculamos el %

In [26]:
#devuelve el valor de cada valor único y su porcentaje
#el diccionario abajo es el diccionario de respuestas que acabamos de hacer 
def count_respuestas(dataframe, **diccionario):
    for key in diccionario:
        #usamos el diccionario, sacamos los valores únicos de cada pregunta para encontrar la columna del dataframe, 
        # y el sum nos dice cuántas veces aparece      
        if key == "index":
            pass
        elif len(dataframe[key].unique()) > 22:
            print("----------------")
            print(f"PREGUNTA MULTIRESPUESTA {key}")  
            for respuesta in diccionario[key]:
                try:
                    total = dataframe[key].str.contains(respuesta, regex = True).sum()
                    print(f"{respuesta}: total: {total}, {round(total/dataframe.shape[0]*100, 1)}%")
                except:
                    print(f"no se puede para {respuesta}")
        else:
            print("------------")
            print(f"PREGUNTA {key} (%)")
            print(f"{round((dataframe[key].value_counts()[:-1]/dataframe.shape[0]*100),2)}")

In [27]:
count_respuestas(df_da_ba, **diccionario_respuestas)

------------
PREGUNTA age (%)
25-29    24.11
30-34    18.05
22-24    16.46
35-39    12.70
40-44     8.26
18-21     7.22
45-49     5.41
50-54     3.70
60-69     1.93
55-59     1.80
Name: age, dtype: float64
------------
PREGUNTA gender (%)
Man                  77.64
Woman                20.80
Prefer not to say     1.16
Nonbinary             0.24
Name: gender, dtype: float64
----------------
PREGUNTA MULTIRESPUESTA Q3
Egypt: total: 101, 3.1%
Turkey: total: 36, 1.1%
Colombia: total: 41, 1.3%
Nepal: total: 5, 0.2%
Poland: total: 33, 1.0%
Viet Nam: total: 32, 1.0%
Nigeria: total: 132, 4.0%
Netherlands: total: 20, 0.6%
Belarus: total: 6, 0.2%
Argentina: total: 32, 1.0%
Norway: total: 3, 0.1%
Pakistan: total: 50, 1.5%
Canada: total: 49, 1.5%
Italy: total: 31, 0.9%
Bangladesh: total: 31, 0.9%
Taiwan: total: 41, 1.3%
Greece: total: 15, 0.5%
India: total: 795, 24.3%
Ethiopia: total: 2, 0.1%
Saudi Arabia: total: 16, 0.5%
Tunisia: total: 5, 0.2%
Portugal: total: 15, 0.5%
Denmark: total: 3, 0.1%
United Kingdom of Great Britain and Northern Ireland: total: 77, 2.4%
Ukraine: total: 24, 0.7%
United States of America: total: 367, 11.2%
Switzerland: total: 8, 0.2%
Uganda: total: 4, 0.1%
Ghana: total: 16, 0.5%
Kenya: total: 48, 1.5%
Kazakhstan: total: 5, 0.2%
Iraq: total: 4, 0.1%
Other: total: 181, 5.5%
I do not wish to disclose my location: total: 7, 0.2%
Mexico: total: 49, 1.5%
Czech Republic: total: 8, 0.2%
Ecuador: total: 11, 0.3%
Sri Lanka: total: 7, 0.2%
Philippines: total: 19, 0.6%
Romania: total: 4, 0.1%
South Africa: total: 11, 0.3%
Japan: total: 84, 2.6%
Brazil: total: 110, 3.4%
Indonesia: total: 60, 1.8%
Iran; Islamic Republic of...: total: 16, 0.5%
Thailand: total: 20, 0.6%
Malaysia: total: 17, 0.5%
Sweden: total: 10, 0.3%
Singapore: total: 30, 0.9%
Germany: total: 45, 1.4%
Spain: total: 48, 1.5%
Chile: total: 16, 0.5%
Australia: total: 49, 1.5%
United Arab Emirates: total: 17, 0.5%
France: total: 42, 1.3%
Israel: total: 16, 0.5%
Morocco: total: 8, 0.2%
Algeria: total: 2, 0.1%
South Korea: total: 42, 1.3%
China: total: 121, 3.7%
Peru: total: 29, 0.9%
Russia: total: 108, 3.3%
Ireland: total: 86, 2.6%
Belgium: total: 7, 0.2%
Hong Kong (S.A.R.): total: 0, 0.0%
Austria: total: 5, 0.2%
------------
PREGUNTA Q5 (%)
Data Analyst    70.39
Name: Q5, dtype: float64
------------
PREGUNTA Q6 (%)
1-3 years                    30.32
< 1 years                    27.23
3-5 years                    14.84
5-10 years                    9.39
I have never written code     8.41
10-20 years                   6.06
Name: Q6, dtype: float64
------------
PREGUNTA Q8 (%)
Python        67.15
SQL           10.68
R              8.05
C++            1.19
Java           0.92
C              0.76
Other          0.73
MATLAB         0.61
Julia          0.43
None           0.43
Javascript     0.40
Bash           0.18
Name: Q8, dtype: float64
------------
PREGUNTA Q15 (%)
< 1 year                                 35.33
1-2 years                                19.09
I do not use machine learning methods    18.02
2-3 years                                 8.20
3-4 years                                 3.43
4-5 years                                 2.23
5-10 years                                1.59
10-20 years                               0.73
Name: Q15, dtype: float64
------------
PREGUNTA Q22 (%)
1-2      22.73
20+      19.79
3-4      16.55
0        15.11
5-9      11.07
10-14     6.36
Name: Q22, dtype: float64
------------
PREGUNTA Q41 (%)
Basic statistical software (Microsoft Excel; Google Sheets; etc.)       34.17
Local development environments (RStudio; JupyterLab; etc.)              21.26
Business intelligence software (Salesforce; Tableau; Spotfire; etc.)    11.26
Advanced statistical software (SPSS; SAS; etc.)                          5.35
Other                                                                    2.54
Name: Q41, dtype: float64
----------------
PREGUNTA MULTIRESPUESTA Q7
 SQL; Javascript; MATLAB: total: 7, 0.2%
no se puede para Python; R; SQL; C++; Java
Python; C; MATLAB: total: 5, 0.2%
 SQL; C; Java: total: 30, 0.9%
Python; Java; Javascript: total: 5, 0.2%
Python; SQL: total: 1027, 31.4%
no se puede para Python; SQL; C; C++; Java; Javascript; Bash; MATLAB; Other
Python; SQL; Java: total: 129, 3.9%
 R; Bash; MATLAB: total: 1, 0.0%
 SQL; Java; Javascript; Bash: total: 5, 0.2%
Python; Java; Other: total: 1, 0.0%
Python; SQL; C; Javascript; Bash: total: 1, 0.0%
Python; SQL; Javascript; MATLAB: total: 5, 0.2%
 R; SQL; C: total: 92, 2.8%
Python; C; Java; Javascript: total: 1, 0.0%
Python; SQL; Java; MATLAB: total: 5, 0.2%
 R; SQL; Other: total: 28, 0.9%
Python; R; Javascript; MATLAB: total: 1, 0.0%
Python; R; Java; Javascript; MATLAB: total: 1, 0.0%
no se puede para Python; R; SQL; C++; Java; MATLAB
 SQL; C: total: 248, 7.6%
no se puede para  R; SQL; C++; Javascript; MATLAB
Python; R; Bash: total: 4, 0.1%
no se puede para Python; R; SQL; C; C++; Swift; Bash
 R; C: total: 28, 0.9%
Python: total: 2465, 75.4%
Python; R; SQL; C; Java: total: 10, 0.3%
no se puede para  C; C++; Java
 SQL; MATLAB: total: 61, 1.9%
 SQL; Javascript; Other: total: 19, 0.6%
Python; R; Julia; MATLAB: total: 2, 0.1%
Python; R; SQL: total: 543, 16.6%
Python; Java; Bash; Other: total: 1, 0.0%
Python; Javascript; Other: total: 6, 0.2%
Python; R: total: 744, 22.8%
Python; SQL; Java; Javascript: total: 22, 0.7%
no se puede para Python; SQL; C; C++; Java; Other
Python; R; SQL; Javascript; Bash: total: 3, 0.1%
Python; Javascript; MATLAB: total: 2, 0.1%
no se puede para Python; SQL; C; C++; Java; Javascript; Swift; MATLAB
Python; R; SQL; C; MATLAB: total: 3, 0.1%
Python; R; SQL; Julia: total: 4, 0.1%
no se puede para  C++; MATLAB
 Other: total: 300, 9.2%
no se puede para Python; SQL; C; C++; Java; Javascript; Swift; Bash
 Java; MATLAB: total: 26, 0.8%
Python; Swift: total: 1, 0.0%
no se puede para Python; C++; Java
Python; SQL; Javascript: total: 59, 1.8%
no se puede para  SQL; C++; Javascript; MATLAB
 Bash: total: 131, 4.0%
no se puede para Python; R; SQL; C++; Java; Bash
no se puede para Python; SQL; C; C++; Java; MATLAB
 SQL; C; Javascript; Bash: total: 3, 0.1%
 SQL; Other: total: 122, 3.7%
no se puede para  R; C; C++; Java; Javascript; MATLAB
no se puede para  R; C; C++; Java; Javascript
no se puede para Python; R; C; C++
Python; Java; Javascript; MATLAB: total: 1, 0.0%
Python; R; SQL; C; Javascript; MATLAB: total: 2, 0.1%
Python; SQL; C; Java: total: 17, 0.5%
no se puede para  C++; Java

/tmp/ipykernel_16100/1125823183.py:14: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  total = dataframe[key].str.contains(respuesta, regex = True).sum()

Python; SQL; Bash; Other: total: 4, 0.1%
no se puede para Python; C++; Java; MATLAB
no se puede para Python; SQL; C; C++; Java; Javascript; Bash; MATLAB
Python; Java; Bash: total: 2, 0.1%
no se puede para  C++
Python; Bash: total: 4, 0.1%
Python; R; SQL; Java; Javascript; MATLAB: total: 1, 0.0%
Python; Javascript; Bash: total: 1, 0.0%
no se puede para Python; R; SQL; C++; Javascript; MATLAB
no se puede para Python; R; C; C++; MATLAB
no se puede para Python; C; C++; Bash; MATLAB
no se puede para Python; C++; MATLAB
Python; SQL; MATLAB: total: 32, 1.0%
Python; R; SQL; Javascript; MATLAB: total: 1, 0.0%
 R; SQL; Bash: total: 21, 0.6%
no se puede para Python; SQL; C; C++
Python; R; SQL; C; Java; Javascript: total: 4, 0.1%
no se puede para  SQL; C; C++; Java; Javascript
Python; R; SQL; Javascript; Bash; Other: total: 1, 0.0%
 R; Java; Swift: total: 1, 0.0%
no se puede para Python; R; C; C++; Java; MATLAB
Python; SQL; Julia: total: 1, 0.0%
no se puede para Python; SQL; C; C++; Java
no se puede para Python; R; C++
no se puede para Python; C; C++; Java; Javascript
no se puede para Python; R; SQL; C; C++; Java
Python; R; Javascript; Other: total: 1, 0.0%
no se puede para  C++; Java; Javascript
Python; SQL; Java; Other: total: 2, 0.1%
no se puede para Python; R; SQL; C; C++; Java; Javascript; Bash; MATLAB
no se puede para  C++; Other
Python; SQL; Javascript; Bash; MATLAB; Other: total: 1, 0.0%
no se puede para Python; SQL; C; C++; MATLAB
Python; C: total: 84, 2.6%
no se puede para Python; C; C++; Javascript
 SQL: total: 1866, 57.1%
no se puede para Python; SQL; C++; Javascript; Bash
 C; Other: total: 4, 0.1%
Python; SQL; C; Javascript: total: 5, 0.2%
no se puede para Python; R; C; C++; Javascript
Python; SQL; C; Other: total: 2, 0.1%
Python; SQL; Java; Javascript; MATLAB: total: 2, 0.1%
no se puede para Python; R; SQL; C++; Java; Javascript
no se puede para Python; SQL; C++; Java; MATLAB
Python; R; SQL; Java; Javascript; Other: total: 1, 0.0%
Python; SQL; Other: total: 62, 1.9%
Python; R; SQL; Julia; Bash: total: 2, 0.1%
Python; Java; MATLAB: total: 4, 0.1%
Python; R; SQL; Java; Javascript; Bash: total: 1, 0.0%
no se puede para Python; SQL; C++; MATLAB
Python; R; Javascript; Bash: total: 1, 0.0%
no se puede para Python; R; SQL; C++
no se puede para Python; SQL; C; C++; Java; Bash
no se puede para Python; SQL; C++; Java; Javascript; Other
 SQL; Java; Javascript; Other: total: 7, 0.2%
no se puede para Python; C; C++
 R; Bash: total: 6, 0.2%
 R; SQL: total: 644, 19.7%
 Javascript; Bash: total: 30, 0.9%
no se puede para Python; R; SQL; C; C++
Python; SQL; C; MATLAB: total: 2, 0.1%
 SQL; Javascript: total: 119, 3.6%
no se puede para Python; R; SQL; C; C++; Java; Javascript; Julia; Swift; Bash; MATLAB
Python; R; SQL; Java: total: 70, 2.1%
no se puede para Python; C++; Java; Javascript
no se puede para  SQL; C++; Javascript; Other
no se puede para Python; C; C++; MATLAB
no se puede para  R; C++
Python; R; SQL; Java; Other: total: 1, 0.0%
no se puede para Python; R; SQL; C; C++; Javascript
no se puede para Python; SQL; C++; Java
Python; R; SQL; C; Javascript: total: 3, 0.1%
Python; MATLAB: total: 25, 0.8%
Python; Javascript: total: 35, 1.1%
Python; SQL; C; Java; Bash: total: 1, 0.0%
no se puede para Python; R; SQL; C; C++; Java; Bash
 None: total: 59, 1.8%
no se puede para Python; SQL; C++; Other
Python; R; Julia: total: 4, 0.1%
no se puede para Python; C; C++; Java; MATLAB
no se puede para Python; C; C++; MATLAB; Other
no se puede para Python; SQL; C; C++; MATLAB; Other
Python; SQL; Bash: total: 41, 1.3%
no se puede para  C; C++; Java; Javascript
 SQL; Java; Other: total: 6, 0.2%
no se puede para Python; R; C++; MATLAB
Python; R; SQL; C: total: 86, 2.6%
Python; R; MATLAB: total: 10, 0.3%
Python; R; Other: total: 12, 0.4%
no se puede para Python; R; SQL; C; C++; Java; Javascript; Other
no se puede para  SQL; C++; MATLAB
 R; MATLAB; Other: total: 1, 0.0%
 R: total: 928, 28.4%
 R; Javascript; Swift; Other: total: 1, 0.0%
Python; SQL; MATLAB; Other: total: 3, 0.1%
Python; SQL; Java; Javascript; Bash: total: 3, 0.1%
 SQL; Bash: total: 63, 1.9%
 C; Bash: total: 3, 0.1%
no se puede para Python; SQL; C++; Javascript; MATLAB
no se puede para  SQL; C++; Javascript
no se puede para Python; R; SQL; C++; Other
no se puede para Python; R; SQL; C++; Java; Javascript; MATLAB; Other
no se puede para  C; C++
 R; C; Other: total: 1, 0.0%
no se puede para Python; C; C++; Java; Javascript; Bash; MATLAB
no se puede para Python; SQL; C++; Java; Swift
no se puede para  R; C; C++; Java; Julia; Other
Python; Julia: total: 4, 0.1%
 C: total: 388, 11.9%
no se puede para Python; C++
Python; SQL; Bash; MATLAB: total: 3, 0.1%
no se puede para Python; R; SQL; C; C++; Java; Javascript; Julia; Swift; Bash; MATLAB; Other
 R; MATLAB: total: 13, 0.4%
Python; C; Java: total: 3, 0.1%
Python; R; C; Javascript: total: 1, 0.0%
 R; SQL; C; Javascript; Bash: total: 1, 0.0%
Python; SQL; C: total: 140, 4.3%
Python; SQL; Javascript; Bash; Other: total: 1, 0.0%
no se puede para Python; R; SQL; C; C++; Java; MATLAB
no se puede para Python; R; SQL; C; C++; Java; Swift; MATLAB
 SQL; Java: total: 239, 7.3%
Python; R; SQL; Java; Javascript: total: 15, 0.5%
 Javascript: total: 327, 10.0%
Python; R; SQL; MATLAB; Other: total: 4, 0.1%
 R; SQL; Javascript: total: 46, 1.4%
Python; SQL; Java; Javascript; Other: total: 5, 0.2%
Python; SQL; Javascript; Bash: total: 7, 0.2%
no se puede para Python; SQL; C++; Javascript; Swift; Bash; MATLAB
no se puede para Python; R; C++; MATLAB; Other
 R; SQL; Javascript; Other: total: 8, 0.2%
no se puede para Python; C; C++; Java
 R; C; Bash; MATLAB: total: 1, 0.0%
Python; SQL; C; Java; Javascript; Bash: total: 2, 0.1%
Python; Other: total: 26, 0.8%
no se puede para Python; R; SQL; C++; Java; Javascript; MATLAB
no se puede para  R; SQL; C++
Python; R; C: total: 19, 0.6%
Python; R; SQL; Other: total: 17, 0.5%
no se puede para Python; C++; Other
 R; SQL; MATLAB: total: 28, 0.9%
no se puede para Python; R; SQL; C; C++; Java; Javascript; MATLAB; Other
 SQL; Java; Javascript: total: 43, 1.3%
no se puede para Python; SQL; C; C++; Java; Javascript
no se puede para Python; SQL; C++; Java; Javascript
no se puede para Python; C++; Javascript
no se puede para Python; R; SQL; C++; MATLAB
 SQL; C; MATLAB: total: 6, 0.2%
no se puede para Python; SQL; C++
Python; R; SQL; Java; MATLAB: total: 1, 0.0%
Python; R; SQL; Javascript; Other: total: 5, 0.2%
no se puede para Python; SQL; C++; Java; Bash; Other
Python; SQL; Javascript; Other: total: 6, 0.2%
Python; R; SQL; C; Java; Javascript; Other: total: 1, 0.0%
no se puede para Python; C++; Java; MATLAB; Other
no se puede para  SQL; C++
Python; R; SQL; Javascript: total: 37, 1.1%
 R; Other: total: 24, 0.7%
Python; R; SQL; MATLAB: total: 27, 0.8%
no se puede para Python; C; C++; Javascript; Julia; Swift
no se puede para  SQL; C; C++; Javascript; Other
no se puede para Python; SQL; C++; Java; Javascript; MATLAB
 MATLAB: total: 230, 7.0%
Python; R; Java: total: 12, 0.4%
no se puede para Python; C; C++; Java; Other
no se puede para  C; C++; MATLAB
no se puede para Python; SQL; C; C++; Javascript; MATLAB
 Java: total: 505, 15.4%
Python; R; SQL; Swift: total: 1, 0.0%
no se puede para Python; C; C++; Javascript; MATLAB
Python; R; Javascript: total: 8, 0.2%
no se puede para Python; R; SQL; C++; Javascript
Python; SQL; Java; Bash: total: 3, 0.1%
 Swift: total: 20, 0.6%
no se puede para Python; R; SQL; C; C++; Javascript; Bash
no se puede para Python; C++; Java; Javascript; Other
no se puede para Python; SQL; C++; Julia
no se puede para Python; SQL; C; C++; Java; Javascript; MATLAB
 Java; Javascript: total: 122, 3.7%
no se puede para Python; SQL; C++; Javascript
no se puede para Python; SQL; C; C++; Other
Python; R; SQL; Bash; Other: total: 4, 0.1%
Python; R; SQL; Java; Javascript; Swift; Bash: total: 1, 0.0%
Python; R; SQL; Bash: total: 19, 0.6%
no se puede para Python; R; SQL; C; C++; MATLAB
no se puede para Python; SQL; C; C++; Java; Javascript; Bash
Python; SQL; C; Java; Javascript: total: 5, 0.2%
Python; Java: total: 69, 2.1%
no se puede para Python; R; SQL; C; C++; Java; Javascript
----------------
PREGUNTA MULTIRESPUESTA Q9
Visual Studio Code (VSCode) ;PyCharm ; Sublime Text;MATLAB : total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ; Notepad++; Sublime Text;MATLAB
RStudio ;Visual Studio Code (VSCode) ; Spyder; Sublime Text;Jupyter Notebook: total: 0, 0.0%
no se puede para RStudio ;Visual Studio ;Visual Studio Code (VSCode) ; Spyder; Notepad++; Sublime Text;Jupyter Notebook
Visual Studio ;Visual Studio Code (VSCode) : total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++
Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Sublime Text;Jupyter Notebook: total: 0, 0.0%
no se puede para RStudio ; Spyder; Notepad++; Sublime Text;MATLAB
no se puede para RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++; Sublime Text;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;PyCharm ;MATLAB : total: 0, 0.0%
Visual Studio Code (VSCode) : total: 0, 0.0%
RStudio ; Spyder: total: 79, 2.4%
RStudio ;Visual Studio Code (VSCode) ;Jupyter Notebook: total: 0, 0.0%
no se puede para RStudio ;Visual Studio ; Notepad++;MATLAB ;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ;PyCharm ; Spyder;MATLAB : total: 0, 0.0%
 Other: total: 154, 4.7%
RStudio ;Visual Studio ; Spyder;Jupyter Notebook: total: 6, 0.2%
no se puede para PyCharm ; Spyder; Notepad++;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;Jupyter Notebook: total: 0, 0.0%
no se puede para  Spyder; Notepad++;MATLAB
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;PyCharm ; Spyder; Notepad++;MATLAB ;Jupyter Notebook
RStudio ;PyCharm ; Spyder;Jupyter Notebook; Other: total: 1, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;MATLAB ;Jupyter Notebook: total: 0, 0.0%
RStudio ;Jupyter Notebook: total: 129, 3.9%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio Code (VSCode) ;Jupyter Notebook: total: 0, 0.0%
no se puede para Visual Studio ; Notepad++; Sublime Text
no se puede para RStudio ; Spyder; Notepad++; Sublime Text;Jupyter Notebook
RStudio ;Visual Studio ;Visual Studio Code (VSCode) ; Spyder;MATLAB ;Jupyter Notebook: total: 0, 0.0%
RStudio ;Visual Studio Code (VSCode) ;PyCharm ; Sublime Text;Jupyter Notebook: total: 0, 0.0%
no se puede para RStudio ;PyCharm ; Notepad++; Sublime Text
RStudio ; Spyder;MATLAB : total: 5, 0.2%
 Sublime Text;Jupyter Notebook: total: 159, 4.9%
no se puede para Visual Studio ;Visual Studio Code (VSCode) ; Notepad++; Sublime Text; Vim / Emacs;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;PyCharm : total: 0, 0.0%
no se puede para PyCharm ; Notepad++;Jupyter Notebook; Other
no se puede para Visual Studio ;Visual Studio Code (VSCode) ; Notepad++
Visual Studio Code (VSCode) ;Jupyter Notebook; Other: total: 0, 0.0%
no se puede para RStudio ; Notepad++; Other
 Spyder: total: 476, 14.6%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;Visual Studio Code (VSCode) ; Notepad++; Sublime Text;MATLAB ; Other
Visual Studio ;PyCharm ;Jupyter Notebook; Other: total: 1, 0.0%
no se puede para RStudio ; Spyder; Notepad++
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ;PyCharm ; Spyder;MATLAB ;Jupyter Notebook: total: 0, 0.0%
no se puede para RStudio ; Notepad++; Sublime Text; Vim / Emacs
no se puede para RStudio ; Notepad++
no se puede para Visual Studio Code (VSCode) ; Notepad++; Sublime Text; Other
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ; Notepad++
Jupyter (JupyterLab; Jupyter Notebooks; etc) ; Spyder;MATLAB : total: 0, 0.0%
RStudio ; Spyder; Vim / Emacs;Jupyter Notebook: total: 1, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Spyder; Notepad++; Sublime Text;Jupyter Notebook
Visual Studio Code (VSCode) ;PyCharm ;MATLAB ;Jupyter Notebook: total: 0, 0.0%
no se puede para RStudio ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++;Jupyter Notebook; Other
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ; Notepad++
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ; Notepad++; Sublime Text;Jupyter Notebook
no se puede para Visual Studio Code (VSCode) ;PyCharm ; Spyder; Notepad++;Jupyter Notebook

/tmp/ipykernel_16100/1125823183.py:14: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  total = dataframe[key].str.contains(respuesta, regex = True).sum()

PyCharm ; Sublime Text: total: 54, 1.7%
RStudio ;Visual Studio ;Jupyter Notebook: total: 10, 0.3%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;MATLAB ;Jupyter Notebook: total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ; Notepad++;MATLAB ;Jupyter Notebook; Other
RStudio ;PyCharm : total: 110, 3.4%
RStudio ;PyCharm ;Jupyter Notebook: total: 43, 1.3%
no se puede para Visual Studio Code (VSCode) ;PyCharm ; Spyder; Notepad++; Sublime Text;Jupyter Notebook
no se puede para Visual Studio ;PyCharm ; Notepad++;Jupyter Notebook
no se puede para Visual Studio ;Visual Studio Code (VSCode) ; Notepad++; Other
no se puede para Visual Studio Code (VSCode) ;PyCharm ; Notepad++; Sublime Text;Jupyter Notebook; Other
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ; Notepad++; Sublime Text; Vim / Emacs;Jupyter Notebook
no se puede para  Notepad++;MATLAB ;Jupyter Notebook
no se puede para RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++;Jupyter Notebook
PyCharm ; Spyder: total: 151, 4.6%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ; Sublime Text; Vim / Emacs: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ; Vim / Emacs: total: 0, 0.0%
RStudio ;PyCharm ; Vim / Emacs;Jupyter Notebook: total: 1, 0.0%
no se puede para Visual Studio ;Visual Studio Code (VSCode) ; Spyder; Notepad++;Jupyter Notebook
no se puede para  Notepad++
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ; Notepad++; Vim / Emacs
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio Code (VSCode) ; Notepad++; Vim / Emacs
no se puede para Visual Studio Code (VSCode) ; Notepad++;Jupyter Notebook; Other
Visual Studio ;Visual Studio Code (VSCode) ;MATLAB ;Jupyter Notebook: total: 0, 0.0%
PyCharm ; Vim / Emacs;Jupyter Notebook: total: 8, 0.2%
PyCharm ; Spyder; Sublime Text;Jupyter Notebook: total: 15, 0.5%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ; Vim / Emacs;Jupyter Notebook: total: 0, 0.0%
no se puede para Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Spyder; Notepad++;Jupyter Notebook
no se puede para PyCharm ; Notepad++; Sublime Text; Vim / Emacs;Jupyter Notebook
no se puede para RStudio ; Spyder; Notepad++; Vim / Emacs;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;PyCharm : total: 0, 0.0%
Visual Studio ;Jupyter Notebook; Other: total: 2, 0.1%
Visual Studio ; Vim / Emacs;Jupyter Notebook: total: 2, 0.1%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;PyCharm ; Spyder;Jupyter Notebook: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;PyCharm ;MATLAB ;Jupyter Notebook: total: 0, 0.0%
RStudio ; Spyder;Jupyter Notebook; Other: total: 2, 0.1%
no se puede para PyCharm ; Notepad++;MATLAB ;Jupyter Notebook
no se puede para RStudio ;Visual Studio ;Visual Studio Code (VSCode) ; Notepad++;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Spyder; Sublime Text;Jupyter Notebook: total: 0, 0.0%
RStudio ;Jupyter Notebook; Other: total: 7, 0.2%
MATLAB : total: 166, 5.1%
no se puede para Visual Studio Code (VSCode) ; Notepad++;MATLAB ;Jupyter Notebook
Visual Studio Code (VSCode) ; Spyder: total: 0, 0.0%
Visual Studio Code (VSCode) ;PyCharm ; Spyder; Sublime Text;Jupyter Notebook: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ; Spyder;MATLAB ;Jupyter Notebook: total: 0, 0.0%
 Vim / Emacs;Jupyter Notebook: total: 50, 1.5%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;PyCharm ; Spyder;Jupyter Notebook: total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++; Vim / Emacs;Jupyter Notebook
 Spyder;MATLAB ;Jupyter Notebook: total: 19, 0.6%
no se puede para RStudio ;Visual Studio ;PyCharm ; Notepad++; Sublime Text;Jupyter Notebook
no se puede para  Spyder; Notepad++
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;Jupyter Notebook: total: 0, 0.0%
RStudio ; Spyder;MATLAB ;Jupyter Notebook: total: 2, 0.1%
no se puede para RStudio ; Notepad++;MATLAB ;Jupyter Notebook
RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;Jupyter Notebook: total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio Code (VSCode) ; Spyder; Notepad++;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ; Spyder;Jupyter Notebook: total: 0, 0.0%
Visual Studio ;Visual Studio Code (VSCode) ; Spyder;MATLAB : total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ; Vim / Emacs;Jupyter Notebook: total: 0, 0.0%
no se puede para RStudio ; Notepad++;Jupyter Notebook; Other
no se puede para PyCharm ; Notepad++;MATLAB
no se puede para Visual Studio ; Notepad++; Other
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;PyCharm ;Jupyter Notebook: total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++; Sublime Text; Vim / Emacs;Jupyter Notebook
no se puede para Visual Studio Code (VSCode) ;PyCharm ; Notepad++
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;PyCharm ; Spyder;Jupyter Notebook: total: 0, 0.0%
RStudio ;Visual Studio ;PyCharm ; Sublime Text;Jupyter Notebook: total: 1, 0.0%
Visual Studio ;PyCharm : total: 70, 2.1%
no se puede para PyCharm ; Notepad++
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ;PyCharm : total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Spyder; Notepad++; Sublime Text
RStudio ;Visual Studio ;PyCharm ; Spyder;MATLAB ;Jupyter Notebook: total: 2, 0.1%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;PyCharm ; Spyder; Sublime Text;Jupyter Notebook: total: 0, 0.0%
RStudio ;PyCharm ; Sublime Text;Jupyter Notebook: total: 5, 0.2%
Visual Studio ;Visual Studio Code (VSCode) ; Other: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio Code (VSCode) ; Spyder;MATLAB ;Jupyter Notebook: total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;PyCharm ; Spyder; Notepad++; Sublime Text
no se puede para  Notepad++; Sublime Text;Jupyter Notebook
PyCharm ;Jupyter Notebook; Other: total: 6, 0.2%
RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ;Jupyter Notebook: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ; Spyder;Jupyter Notebook: total: 0, 0.0%
RStudio ; Spyder;Jupyter Notebook: total: 39, 1.2%
RStudio ;Visual Studio Code (VSCode) ;PyCharm ;MATLAB : total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Spyder;MATLAB ;Jupyter Notebook: total: 0, 0.0%
Visual Studio ;PyCharm ; Spyder; Sublime Text;Jupyter Notebook: total: 2, 0.1%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ; Notepad++; Sublime Text;MATLAB ;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;MATLAB : total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ; Spyder: total: 0, 0.0%
RStudio ;MATLAB : total: 15, 0.5%
no se puede para Visual Studio ;PyCharm ; Notepad++
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;Visual Studio Code (VSCode) ;Jupyter Notebook: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ;PyCharm ; Vim / Emacs: total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ; Spyder; Notepad++;Jupyter Notebook
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;PyCharm ; Notepad++;Jupyter Notebook
Visual Studio ; Spyder: total: 25, 0.8%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ; Notepad++; Vim / Emacs
 Spyder; Sublime Text;Jupyter Notebook: total: 26, 0.8%
no se puede para RStudio ;PyCharm ; Notepad++; Vim / Emacs;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ; Vim / Emacs: total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;PyCharm ; Notepad++; Sublime Text;Jupyter Notebook
 Sublime Text; Vim / Emacs;MATLAB ;Jupyter Notebook: total: 7, 0.2%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;PyCharm ; Spyder;MATLAB ;Jupyter Notebook: total: 0, 0.0%
no se puede para Visual Studio ;Visual Studio Code (VSCode) ; Notepad++;MATLAB ;Jupyter Notebook
Visual Studio Code (VSCode) ;Jupyter Notebook: total: 0, 0.0%
PyCharm ; Sublime Text;MATLAB ;Jupyter Notebook: total: 3, 0.1%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Spyder; Notepad++; Sublime Text; Vim / Emacs;MATLAB ;Jupyter Notebook
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;PyCharm ; Notepad++;Jupyter Notebook
no se puede para Visual Studio ;PyCharm ; Notepad++;MATLAB
no se puede para Visual Studio ;Visual Studio Code (VSCode) ; Spyder; Notepad++
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio Code (VSCode) ; Vim / Emacs;Jupyter Notebook: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio Code (VSCode) ;MATLAB ;Jupyter Notebook: total: 0, 0.0%
no se puede para Visual Studio ; Spyder; Notepad++;Jupyter Notebook; Other
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Spyder; Notepad++; Sublime Text;Jupyter Notebook
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ; Notepad++;Jupyter Notebook
RStudio ; Spyder; Other: total: 1, 0.0%
RStudio ;PyCharm ;MATLAB : total: 6, 0.2%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio Code (VSCode) ;PyCharm ; Spyder; Notepad++;Jupyter Notebook
Visual Studio Code (VSCode) ;MATLAB ;Jupyter Notebook: total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;PyCharm ; Notepad++
Visual Studio Code (VSCode) ;PyCharm ; Sublime Text;MATLAB ;Jupyter Notebook: total: 0, 0.0%
Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ;Jupyter Notebook: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) : total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Sublime Text;Jupyter Notebook: total: 0, 0.0%
no se puede para  Spyder; Notepad++; Sublime Text
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ;PyCharm ; Sublime Text: total: 0, 0.0%
Visual Studio ;MATLAB ;Jupyter Notebook: total: 7, 0.2%
no se puede para Visual Studio ;PyCharm ; Notepad++; Vim / Emacs;Jupyter Notebook
RStudio ;Visual Studio Code (VSCode) : total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;PyCharm ; Spyder;MATLAB ;Jupyter Notebook: total: 0, 0.0%
RStudio ;Visual Studio Code (VSCode) ; Sublime Text;Jupyter Notebook: total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ; Notepad++
no se puede para RStudio ;Visual Studio ; Notepad++
 Spyder; Vim / Emacs: total: 5, 0.2%
Visual Studio ;Visual Studio Code (VSCode) ;MATLAB : total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio Code (VSCode) ;PyCharm ; Spyder: total: 0, 0.0%
Visual Studio Code (VSCode) ; Spyder;MATLAB ;Jupyter Notebook: total: 0, 0.0%
no se puede para Visual Studio Code (VSCode) ; Notepad++; Vim / Emacs
RStudio ;Visual Studio ; Spyder;MATLAB ;Jupyter Notebook: total: 1, 0.0%
Visual Studio ;PyCharm ;MATLAB ;Jupyter Notebook: total: 1, 0.0%
RStudio ;Visual Studio ;PyCharm ;Jupyter Notebook: total: 4, 0.1%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ;PyCharm ; Spyder: total: 0, 0.0%
no se puede para RStudio ;Visual Studio ;Visual Studio Code (VSCode) ; Spyder; Notepad++; Vim / Emacs
no se puede para RStudio ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++; Sublime Text; Vim / Emacs;Jupyter Notebook
RStudio ; Sublime Text; Vim / Emacs;Jupyter Notebook: total: 1, 0.0%
Visual Studio ; Sublime Text: total: 9, 0.3%
RStudio ;Visual Studio Code (VSCode) ; Spyder;Jupyter Notebook: total: 0, 0.0%
no se puede para Visual Studio ; Notepad++
no se puede para Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++; Sublime Text;Jupyter Notebook
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;Visual Studio Code (VSCode) ; Spyder; Notepad++; Sublime Text;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ; Sublime Text;MATLAB : total: 0, 0.0%
RStudio ;Visual Studio ;Visual Studio Code (VSCode) : total: 0, 0.0%
RStudio ;Visual Studio Code (VSCode) ;PyCharm : total: 0, 0.0%
 Spyder;Jupyter Notebook; Other: total: 6, 0.2%
Visual Studio Code (VSCode) ; Spyder;Jupyter Notebook: total: 0, 0.0%
RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm : total: 0, 0.0%
no se puede para Visual Studio Code (VSCode) ; Notepad++; Sublime Text
 Sublime Text;MATLAB : total: 18, 0.6%
no se puede para RStudio ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;Visual Studio Code (VSCode) : total: 0, 0.0%
no se puede para Visual Studio Code (VSCode) ;PyCharm ; Notepad++;Jupyter Notebook
Visual Studio Code (VSCode) ;PyCharm ; Sublime Text: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ; Sublime Text;Jupyter Notebook: total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ; Notepad++;Jupyter Notebook
RStudio ;PyCharm ; Spyder: total: 29, 0.9%
Visual Studio Code (VSCode) ;PyCharm : total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;MATLAB ;Jupyter Notebook: total: 0, 0.0%
no se puede para PyCharm ; Notepad++; Sublime Text;MATLAB ;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;MATLAB ;Jupyter Notebook: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ; Spyder;MATLAB : total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ; Spyder; Other: total: 0, 0.0%
Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Spyder;Jupyter Notebook: total: 0, 0.0%
Visual Studio Code (VSCode) ;PyCharm ; Sublime Text;Jupyter Notebook: total: 0, 0.0%
RStudio ;PyCharm ;Jupyter Notebook; Other: total: 1, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;PyCharm ; Spyder: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;PyCharm ; Spyder; Sublime Text: total: 0, 0.0%
no se puede para RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Spyder; Notepad++; Sublime Text;MATLAB ;Jupyter Notebook
no se puede para Visual Studio Code (VSCode) ; Spyder; Notepad++;Jupyter Notebook
RStudio ;PyCharm ; Sublime Text; Vim / Emacs;Jupyter Notebook: total: 2, 0.1%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++; Sublime Text;MATLAB ;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;PyCharm ; Spyder;Jupyter Notebook: total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ; Spyder; Notepad++; Vim / Emacs
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ; Spyder; Notepad++; Vim / Emacs;Jupyter Notebook
no se puede para RStudio ;Visual Studio ;Visual Studio Code (VSCode) ; Notepad++;MATLAB
Jupyter (JupyterLab; Jupyter Notebooks; etc) ; Sublime Text: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio Code (VSCode) ;PyCharm ; Vim / Emacs;Jupyter Notebook: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ; Spyder; Sublime Text;Jupyter Notebook: total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++;Jupyter Notebook
no se puede para RStudio ;Visual Studio ; Notepad++; Sublime Text; Vim / Emacs;Jupyter Notebook
no se puede para RStudio ;Visual Studio Code (VSCode) ; Spyder; Notepad++;MATLAB ;Jupyter Notebook
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++;MATLAB ;Jupyter Notebook
no se puede para Visual Studio ; Notepad++;MATLAB ;Jupyter Notebook
no se puede para Visual Studio Code (VSCode) ;PyCharm ; Notepad++; Sublime Text;Jupyter Notebook
PyCharm ; Sublime Text; Vim / Emacs;MATLAB ;Jupyter Notebook: total: 1, 0.0%
no se puede para Visual Studio ;Visual Studio Code (VSCode) ; Notepad++; Sublime Text
Visual Studio ;Visual Studio Code (VSCode) ; Sublime Text;Jupyter Notebook: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio Code (VSCode) ;PyCharm ;Jupyter Notebook: total: 0, 0.0%
RStudio ;PyCharm ; Other: total: 3, 0.1%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++;Jupyter Notebook
PyCharm ; Other: total: 6, 0.2%
no se puede para RStudio ;Visual Studio ; Notepad++;Jupyter Notebook
Visual Studio Code (VSCode) ;MATLAB : total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ; Sublime Text;Jupyter Notebook: total: 0, 0.0%
PyCharm ;MATLAB ;Jupyter Notebook: total: 14, 0.4%
no se puede para PyCharm ; Notepad++;Jupyter Notebook
Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Sublime Text: total: 0, 0.0%
no se puede para Visual Studio ; Notepad++; Sublime Text;Jupyter Notebook
Visual Studio Code (VSCode) ; Sublime Text: total: 0, 0.0%
Visual Studio Code (VSCode) ; Spyder;Jupyter Notebook; Other: total: 0, 0.0%
 Spyder;Jupyter Notebook: total: 227, 6.9%
no se puede para  Notepad++;Jupyter Notebook; Other
no se puede para Visual Studio ;PyCharm ; Spyder; Notepad++;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ;PyCharm ;Jupyter Notebook: total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++; Sublime Text;Jupyter Notebook
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ; Notepad++; Sublime Text;Jupyter Notebook
PyCharm ;Jupyter Notebook: total: 246, 7.5%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ;PyCharm ; Notepad++; Sublime Text;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio : total: 0, 0.0%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ; Notepad++; Sublime Text
no se puede para RStudio ;PyCharm ; Spyder; Notepad++;Jupyter Notebook
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio Code (VSCode) ;Jupyter Notebook: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;MATLAB : total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;PyCharm ; Spyder; Sublime Text;Jupyter Notebook: total: 0, 0.0%
no se puede para RStudio ;Visual Studio ;Visual Studio Code (VSCode) ; Notepad++
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio ;Visual Studio Code (VSCode) ; Sublime Text;Jupyter Notebook: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;Visual Studio Code (VSCode) ;PyCharm ; Spyder; Sublime Text;Jupyter Notebook: total: 0, 0.0%
Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;Visual Studio Code (VSCode) ; Sublime Text;Jupyter Notebook: total: 0, 0.0%
MATLAB ;Jupyter Notebook; Other: total: 2, 0.1%
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;RStudio ;PyCharm ; Notepad++;Jupyter Notebook
no se puede para Jupyter (JupyterLab; Jupyter Notebooks; etc) ;Visual Studio ;Visual Studio Code (VSCode) ; Spyder; Notepad++; Sublime Text

## Categorización por años de experiencia

In [29]:
df_unidos.head(2)

,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER
0,50-54,Man,India,Other,5-10 years,Python,5-10 years,3-4,Local development environments (RStudio; Jupyt...,Python; R,Vim / Emacs,None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN
1,50-54,Man,Indonesia,Program/Project Manager,20+ years,Python,< 1 year,1-2,Advanced statistical software (SPSS; SAS; etc.),SQL; C; C++; Java,Notepad++;Jupyter Notebook,Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df_unidos['Q6'].unique()

array(['5-10 years', '20+ years', '1-3 years', '< 1 years', '3-5 years',
       '10-20 years', 'I have never written code'], dtype=object)

6, df["number_of_policies"] < 6]

creamos la lista de los valores que querremos crear cuando se cumpla cada condición
opciones = ["supreme", "good"]

aplicamos el método a nuestro DataFrame y creamos una nueva columna llamada "new_select"
df["new_select"] = np.select(condiciones, opciones)

In [34]:
condiciones = [(df_unidos['Q6'] == 'I have never written code'), 
                ((df_unidos['Q6'] == '< 1 years')|(df_unidos['Q6'] == '1-3 years')), 
                ((df_unidos['Q6'] == '3-5 years')| (df_unidos['Q6'] == '5-10 years')|(df_unidos['Q6'] == '10-20 years')|(df_unidos['Q6'] == '20+ years'))]
categorias = ['Sin experiencia', 'Junior', 'Senior']

In [35]:
df_unidos['experiencia programacion'] = np.select(condiciones, categorias)

In [45]:
df_da_ba = df_unidos[(df_unidos ["Q5"] == "Business Analyst") | (df_unidos ["Q5"] == "Data Analyst")]

In [46]:
# df con filtrado por analista de datos y business analyst con columna categórica por experiencia creada
df_da_ba.head(1)

,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,experiencia programacion
16,50-54,Man,Belgium,Data Analyst,20+ years,Python,1-2 years,5-9,Local development environments (RStudio; Jupyt...,Python; SQL,Jupyter (JupyterLab; Jupyter Notebooks; etc) ;...,Analyze and understand data to influence produ...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Senior

In [52]:
df_group_genero = df_da_ba.groupby(['gender', 'experiencia programacion'])['age'].count().reset_index()
df_group_genero.head(2)

  gender experiencia programacion   age
0    Man                   Junior  1443
1    Man                   Senior   891

In [56]:
df_crosstab_gen_exp = pd.crosstab(df_da_ba['gender'], df_da_ba['experiencia programacion'], normalize = True) * 100
df_crosstab_gen_exp

experiencia programacion     Junior     Senior  Sin experiencia
gender
Man                       44.141939  27.256042         6.240441
Nonbinary                  0.122362   0.091771         0.030590
Prefer not to say          0.550627   0.520037         0.091771
Prefer to self-describe    0.061181   0.061181         0.030590
Woman                     12.664423   6.118079         2.018966

In [61]:
# Sacamos tabla de contigencia cruzando género y la pregunta q8, donde se recoge la información de recomendación sobre herramientas de programación para iniciarse en análisis de datos

df_crosstab_gen_herr = pd.crosstab(df_da_ba['gender'], df_da_ba['Q8'], normalize = True, margins = True) * 100
df_crosstab_gen_herr.T

gender,Man,Nonbinary,Prefer not to say,Prefer to self-describe,Woman,All
Q8,,,,,,
Bash,0.133645,0.000000,0.033411,0.000000,0.033411,0.200468
C,0.601403,0.000000,0.000000,0.000000,0.233879,0.835282
C++,1.002339,0.000000,0.033411,0.000000,0.267290,1.303040
Java,0.701637,0.000000,0.000000,0.000000,0.300702,1.002339
Javascript,0.334113,0.000000,0.066823,0.000000,0.033411,0.434347
Julia,0.367524,0.033411,0.000000,0.000000,0.066823,0.467758
MATLAB,0.434347,0.000000,0.000000,0.000000,0.233879,0.668226
None,0.367524,0.000000,0.033411,0.000000,0.066823,0.467758
Other,0.735048,0.000000,0.000000,0.000000,0.066823,0.801871
Python,58.235884,0.100234,0.735048,0.100234,14.166388,73.337788
R,6.281323,0.066823,0.133645,0.000000,2.305379,8.787170
SQL,8.720347,0.033411,0.133645,0.033411,2.739726,11.660541
Swift,0.033411,0.000000,0.000000,0.000000,0.000000,0.033411
All,77.948547,0.233879,1.169395,0.133645,20.514534,100.000000