In [1]:
import pandas as pd
import os

In [2]:
pd.options.display.max_columns = None

## Cargamos los datos

In [3]:
df_kaggle = pd.read_csv("../datos/data_remaning_kaggle.csv", index_col=0)
df_kaggle.head(2)

,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Storage (GCS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,Oracle Cloud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,MySQL,NaN,SQLite,Oracle Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Data Studio,NaN,NaN,NaN,NaN,Qlik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

In [4]:
df_exported_data = pd.read_csv("../datos/exported_db_data.csv")
df_exported_data.head(2)

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_data_txt = pd.read_csv("../datos/data_txt_clean.txt", sep = ";")
df_data_txt.head(2)

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN

In [6]:
df_data_xml = pd.read_xml("../datos/data_xml_clean.xml")
df_data_xml.head()

   level_0  index  time    age gender
0        0      0   910  50-54    Man
1        1      1   784  50-54    Man
2        2      2   924  22-24    Man
3        3      3   575  45-49    Man
4        4      4   781  45-49    Man

## Unimos los dataframes


Hemos unido los dos dataframes usando merge para unir los datos de xml con los de txt.

In [7]:
def unir_datos(df1, df2, df3, df4):
    df_todo = df1.merge(df2, on = "index", how = "outer")
    df_todo = df_todo.merge(df3, on = "index", how = "outer")
    df_todo = df_todo.merge(df4, on = "index", how = "outer")
    return df_todo

In [8]:
df_unido = unir_datos(df_data_xml, df_data_txt, df_exported_data, df_kaggle)

df_unido.head(2)

,level_0,index,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,0,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Storage (GCS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,Oracle Cloud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,MySQL,NaN,SQLite,Oracle Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Data Studio,NaN,NaN,NaN,NaN,Qlik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

In [9]:
df_unido.to_csv('../datos/datos_unidos_raw.csv')

In [10]:
# df_unido1 = df_data_xml.merge(df_data_txt, on = "index", how = "outer")
# df_unido1.head(2)

Unimos df_unido1 con df_exported_data (la pregunta 10 y sus subpreguntas) usando merge

In [11]:
# df_unido2 = df_unido1.merge(df_exported_data, on = "index", how = "outer")
# df_unido2.head(2)

Unimos df_unido2 con los datos de df_kaggle usando merge

In [12]:
# df_unido = df_unido2.merge(df_kaggle, on = "index", how = "outer")
# df_unido.head(2)

## Exploracion de los datos

Esta función nos explica paso a paso las características más relevantes del dataframe.

In [13]:

# def df_explore(dataframe, nombre):
#     print(f"EXPLORACIÓN DEL DATAFRAME {nombre.upper()}")
#     print("--------------")
#     print(f"El dataframe {nombre} tiene {dataframe.shape[0]} filas y {dataframe.shape[1]} columnas")
#     print("--------------")
#     print("Las primeras 5 columnas son:")
#     display(dataframe.head())
#     print("Las últimas 5 columnas son:")
#     display(dataframe.tail())
#     print("--------------")
#     print("Una muestra de dos filas seleccionadas al azar:")
#     display(dataframe.sample(2))
#     print("--------------")
#     print(f"El dataframe {nombre} tiene las siguientes columnas:")
#     for col in dataframe.columns:
#         print(col) 
#     print("--------------")
#     print(f"Los principales estadísticos de las variables numéricas son:")
#     display(dataframe.describe())
#     print("--------------")
#     print(f"Los principales estadísticos de las variables categóricas son:")
#     display(dataframe.describe(include=object))
#     print("--------------")
#     print("El porcentaje de nulos por columna:")
#     for i, col in enumerate(dataframe.isnull().sum()):
#         print(f"{dataframe.isnull().sum().index[i]}: {col/dataframe.shape[0]*100}")
#     print("--------------")
#     print("El numero de valores distintos de cada columna es:")
#     for col in dataframe.columns:
#         if len(dataframe[col].value_counts()) > 6:
#             print(col, len(dataframe[col].value_counts()))
#         else:
#             print(col, len(dataframe[col].value_counts()))
#             print(f"Los valores son: {dataframe[col].unique()}")

In [14]:
#df_explore(df_unido, "Encuesta Entera")

## Limpieza: Eliminamos columnas

In [15]:
for col in df_unido.columns:
    print(col)

level_0
index
time
age
gender
Q3
Q4
Q5
Q6
Q8
Q11
Q13
Q15
Q20
Q21
Q22
Q23
Q25
Q26
Q33
Q35
Q41
Q7
Q9
Q12
Q14
Q16
Q17
Q24
Q32
Q34
Q10_Part_1
Q10_Part_2
Q10_Part_3
Q10_Part_4
Q10_Part_5
Q10_Part_6
Q10_Part_7
Q10_Part_8
Q10_Part_9
Q10_Part_10
Q10_Part_11
Q10_Part_12
Q10_Part_13
Q10_Part_14
Q10_Part_15
Q10_Part_16
Q10_OTHER
Q18_Part_1
Q18_Part_2
Q18_Part_3
Q18_Part_4
Q18_Part_5
Q18_Part_6
Q18_OTHER
Q19_Part_1
Q19_Part_2
Q19_Part_3
Q19_Part_4
Q19_Part_5
Q19_OTHER
Q27_A_Part_1
Q27_A_Part_2
Q27_A_Part_3
Q27_A_Part_4
Q27_A_Part_5
Q27_A_Part_6
Q27_A_Part_7
Q27_A_Part_8
Q27_A_Part_9
Q27_A_Part_10
Q27_A_Part_11
Q27_A_OTHER
Q28
Q29_A_Part_1
Q29_A_Part_2
Q29_A_Part_3
Q29_A_Part_4
Q29_A_OTHER
Q30_A_Part_1
Q30_A_Part_2
Q30_A_Part_3
Q30_A_Part_4
Q30_A_Part_5
Q30_A_Part_6
Q30_A_Part_7
Q30_A_OTHER
Q31_A_Part_1
Q31_A_Part_2
Q31_A_Part_3
Q31_A_Part_4
Q31_A_Part_5
Q31_A_Part_6
Q31_A_Part_7
Q31_A_Part_8
Q31_A_Part_9
Q31_A_OTHER
Q36_A_Part_1
Q36_A_Part_2
Q36_A_Part_3
Q36_A_Part_4
Q36_A_Part_5
Q36_A_Part_6
Q36_A_Part_7
Q36_A_OTHER
Q37_A_Part_1
Q37_A_Part_2
Q37_A_Part_3
Q37_A_Part_4
Q37_A_Part_5
Q37_A_Part_6
Q37_A_Part_7
Q37_A_OTHER
Q38_A_Part_1
Q38_A_Part_2
Q38_A_Part_3
Q38_A_Part_4
Q38_A_Part_5
Q38_A_Part_6
Q38_A_Part_7
Q38_A_Part_8
Q38_A_Part_9
Q38_A_Part_10
Q38_A_Part_11
Q38_A_OTHER
Q39_Part_1
Q39_Part_2
Q39_Part_3
Q39_Part_4
Q39_Part_5
Q39_Part_6
Q39_Part_7
Q39_Part_8
Q39_Part_9
Q39_OTHER
Q40_Part_1
Q40_Part_2
Q40_Part_3
Q40_Part_4
Q40_Part_5
Q40_Part_6
Q40_Part_7
Q40_Part_8
Q40_Part_9
Q40_Part_10
Q40_Part_11
Q40_OTHER
Q42_Part_1
Q42_Part_2
Q42_Part_3
Q42_Part_4
Q42_Part_5
Q42_Part_6
Q42_Part_7
Q42_Part_8
Q42_Part_9
Q42_Part_10
Q42_Part_11
Q42_OTHER
Q27_B_Part_1
Q27_B_Part_2
Q27_B_Part_3
Q27_B_Part_4
Q27_B_Part_5
Q27_B_Part_6
Q27_B_Part_7
Q27_B_Part_8
Q27_B_Part_9
Q27_B_Part_10
Q27_B_Part_11
Q27_B_OTHER
Q29_B_Part_1
Q29_B_Part_2
Q29_B_Part_3
Q29_B_Part_4
Q29_B_OTHER
Q30_B_Part_1
Q30_B_Part_2
Q30_B_Part_3
Q30_B_Part_4
Q30_B_Part_5
Q30_B_Part_6
Q30_B_Part_7
Q30_B_OTHER
Q31_B_Part_1
Q31_B_Part_2
Q31_B_Part_3
Q31_B_Part_4
Q31_B_Part_5
Q31_B_Part_6
Q31_B_Part_7
Q31_B_Part_8
Q31_B_Part_9
Q31_B_OTHER
Q32_B_Part_1
Q32_B_Part_2
Q32_B_Part_3
Q32_B_Part_4
Q32_B_Part_5
Q32_B_Part_6
Q32_B_Part_7
Q32_B_Part_8
Q32_B_Part_9
Q32_B_Part_10
Q32_B_Part_11
Q32_B_Part_12
Q32_B_Part_13
Q32_B_Part_14
Q32_B_Part_15
Q32_B_Part_16
Q32_B_Part_17
Q32_B_Part_18
Q32_B_Part_19
Q32_B_Part_20
Q32_B_OTHER
Q34_B_Part_1
Q34_B_Part_2
Q34_B_Part_3
Q34_B_Part_4
Q34_B_Part_5
Q34_B_Part_6
Q34_B_Part_7
Q34_B_Part_8
Q34_B_Part_9
Q34_B_Part_10
Q34_B_Part_11
Q34_B_Part_12
Q34_B_Part_13
Q34_B_Part_14
Q34_B_Part_15
Q34_B_Part_16
Q34_B_OTHER
Q36_B_Part_1
Q36_B_Part_2
Q36_B_Part_3
Q36_B_Part_4
Q36_B_Part_5
Q36_B_Part_6
Q36_B_Part_7
Q36_B_OTHER
Q37_B_Part_1
Q37_B_Part_2
Q37_B_Part_3
Q37_B_Part_4
Q37_B_Part_5
Q37_B_Part_6
Q37_B_Part_7
Q37_B_OTHER
Q38_B_Part_1
Q38_B_Part_2
Q38_B_Part_3
Q38_B_Part_4
Q38_B_Part_5
Q38_B_Part_6
Q38_B_Part_7
Q38_B_Part_8
Q38_B_Part_9
Q38_B_Part_10
Q38_B_Part_11
Q38_B_OTHER

In [16]:
def eliminar_etiqueta (dataframe, *lista_columna):
    #función para eliminar las columnas en las que no nos vamos a centrar en el estudio, por etiqueta/nombre de columna, 
    #los parámetros que coge son dataframe y una lista de nombres de las columnas de ese dataframe
    for columna in dataframe.columns:
        for elemento  in lista_columna:
            if elemento == columna:
                #esta función itera por nuestra lista_columna (el arg) y comprueba si el elemento (la etiqueta a eliminar)
                # se encuentra en cada columna, y, de ser así, la eliminará usando el método .drop()
                dataframe.drop([columna],axis = 1, inplace = True)
    return dataframe.columns

In [17]:
# eliminamos columnas sueltas
eliminar_etiqueta(df_unido, *['level_0', 'time', 'Q4', 'Q11', 'Q13', 'Q20', 'Q21'])

Index(['index', 'age', 'gender', 'Q3', 'Q5', 'Q6', 'Q8', 'Q15', 'Q22', 'Q23',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=253)

In [18]:
for col in df_unido.columns:
    print(col)

index
age
gender
Q3
Q5
Q6
Q8
Q15
Q22
Q23
Q25
Q26
Q33
Q35
Q41
Q7
Q9
Q12
Q14
Q16
Q17
Q24
Q32
Q34
Q10_Part_1
Q10_Part_2
Q10_Part_3
Q10_Part_4
Q10_Part_5
Q10_Part_6
Q10_Part_7
Q10_Part_8
Q10_Part_9
Q10_Part_10
Q10_Part_11
Q10_Part_12
Q10_Part_13
Q10_Part_14
Q10_Part_15
Q10_Part_16
Q10_OTHER
Q18_Part_1
Q18_Part_2
Q18_Part_3
Q18_Part_4
Q18_Part_5
Q18_Part_6
Q18_OTHER
Q19_Part_1
Q19_Part_2
Q19_Part_3
Q19_Part_4
Q19_Part_5
Q19_OTHER
Q27_A_Part_1
Q27_A_Part_2
Q27_A_Part_3
Q27_A_Part_4
Q27_A_Part_5
Q27_A_Part_6
Q27_A_Part_7
Q27_A_Part_8
Q27_A_Part_9
Q27_A_Part_10
Q27_A_Part_11
Q27_A_OTHER
Q28
Q29_A_Part_1
Q29_A_Part_2
Q29_A_Part_3
Q29_A_Part_4
Q29_A_OTHER
Q30_A_Part_1
Q30_A_Part_2
Q30_A_Part_3
Q30_A_Part_4
Q30_A_Part_5
Q30_A_Part_6
Q30_A_Part_7
Q30_A_OTHER
Q31_A_Part_1
Q31_A_Part_2
Q31_A_Part_3
Q31_A_Part_4
Q31_A_Part_5
Q31_A_Part_6
Q31_A_Part_7
Q31_A_Part_8
Q31_A_Part_9
Q31_A_OTHER
Q36_A_Part_1
Q36_A_Part_2
Q36_A_Part_3
Q36_A_Part_4
Q36_A_Part_5
Q36_A_Part_6
Q36_A_Part_7
Q36_A_OTHER
Q37_A_Part_1
Q37_A_Part_2
Q37_A_Part_3
Q37_A_Part_4
Q37_A_Part_5
Q37_A_Part_6
Q37_A_Part_7
Q37_A_OTHER
Q38_A_Part_1
Q38_A_Part_2
Q38_A_Part_3
Q38_A_Part_4
Q38_A_Part_5
Q38_A_Part_6
Q38_A_Part_7
Q38_A_Part_8
Q38_A_Part_9
Q38_A_Part_10
Q38_A_Part_11
Q38_A_OTHER
Q39_Part_1
Q39_Part_2
Q39_Part_3
Q39_Part_4
Q39_Part_5
Q39_Part_6
Q39_Part_7
Q39_Part_8
Q39_Part_9
Q39_OTHER
Q40_Part_1
Q40_Part_2
Q40_Part_3
Q40_Part_4
Q40_Part_5
Q40_Part_6
Q40_Part_7
Q40_Part_8
Q40_Part_9
Q40_Part_10
Q40_Part_11
Q40_OTHER
Q42_Part_1
Q42_Part_2
Q42_Part_3
Q42_Part_4
Q42_Part_5
Q42_Part_6
Q42_Part_7
Q42_Part_8
Q42_Part_9
Q42_Part_10
Q42_Part_11
Q42_OTHER
Q27_B_Part_1
Q27_B_Part_2
Q27_B_Part_3
Q27_B_Part_4
Q27_B_Part_5
Q27_B_Part_6
Q27_B_Part_7
Q27_B_Part_8
Q27_B_Part_9
Q27_B_Part_10
Q27_B_Part_11
Q27_B_OTHER
Q29_B_Part_1
Q29_B_Part_2
Q29_B_Part_3
Q29_B_Part_4
Q29_B_OTHER
Q30_B_Part_1
Q30_B_Part_2
Q30_B_Part_3
Q30_B_Part_4
Q30_B_Part_5
Q30_B_Part_6
Q30_B_Part_7
Q30_B_OTHER
Q31_B_Part_1
Q31_B_Part_2
Q31_B_Part_3
Q31_B_Part_4
Q31_B_Part_5
Q31_B_Part_6
Q31_B_Part_7
Q31_B_Part_8
Q31_B_Part_9
Q31_B_OTHER
Q32_B_Part_1
Q32_B_Part_2
Q32_B_Part_3
Q32_B_Part_4
Q32_B_Part_5
Q32_B_Part_6
Q32_B_Part_7
Q32_B_Part_8
Q32_B_Part_9
Q32_B_Part_10
Q32_B_Part_11
Q32_B_Part_12
Q32_B_Part_13
Q32_B_Part_14
Q32_B_Part_15
Q32_B_Part_16
Q32_B_Part_17
Q32_B_Part_18
Q32_B_Part_19
Q32_B_Part_20
Q32_B_OTHER
Q34_B_Part_1
Q34_B_Part_2
Q34_B_Part_3
Q34_B_Part_4
Q34_B_Part_5
Q34_B_Part_6
Q34_B_Part_7
Q34_B_Part_8
Q34_B_Part_9
Q34_B_Part_10
Q34_B_Part_11
Q34_B_Part_12
Q34_B_Part_13
Q34_B_Part_14
Q34_B_Part_15
Q34_B_Part_16
Q34_B_OTHER
Q36_B_Part_1
Q36_B_Part_2
Q36_B_Part_3
Q36_B_Part_4
Q36_B_Part_5
Q36_B_Part_6
Q36_B_Part_7
Q36_B_OTHER
Q37_B_Part_1
Q37_B_Part_2
Q37_B_Part_3
Q37_B_Part_4
Q37_B_Part_5
Q37_B_Part_6
Q37_B_Part_7
Q37_B_OTHER
Q38_B_Part_1
Q38_B_Part_2
Q38_B_Part_3
Q38_B_Part_4
Q38_B_Part_5
Q38_B_Part_6
Q38_B_Part_7
Q38_B_Part_8
Q38_B_Part_9
Q38_B_Part_10
Q38_B_Part_11
Q38_B_OTHER

In [19]:
# función para eliminar las columnas en las que no nos vamos a centrar en el estudio, por rango 
def eliminar_indices (dataframe, columna1, columna2):
    #creamos un diccionario de los índices por columna de nuestro df
    diccionario = {}
    #los nombres de las columnas serán nuestras keys para poder acceder a los índices usando los nombres de las columnas (los parámetros)
    for indice, col in enumerate(df_unido.columns):
        diccionario.update({col: indice})
    #usamos el diccionario para obtener los índices en el rango 
    if columna1 in diccionario:
        indice1 = diccionario.get(columna1)
    else: 
        print('Columna1 no está en el diccionario')
    if columna2 in diccionario:
    #usamos el +1 para poder acceder al último índice
        indice2 = diccionario.get(columna2) + 1
    else: 
        print('Columna2 no está en el diccionario')
        #usamos los índices para borrar el rango de columnas y así eliminiar varias a la vez
    for elemento in dataframe.columns[indice1:indice2]:    
        dataframe.drop([elemento],axis = 1, inplace = True)
    return dataframe.columns

Con la función nos vamos deshaciendo en rangos de las columnas que no nos aportan información con valor.

In [20]:
eliminar_indices(df_unido, 'Q12', 'Q17')

Index(['index', 'age', 'gender', 'Q3', 'Q5', 'Q6', 'Q8', 'Q15', 'Q22', 'Q23',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=249)

In [21]:
eliminar_indices(df_unido, 'Q23', 'Q35')

Index(['index', 'age', 'gender', 'Q3', 'Q5', 'Q6', 'Q8', 'Q15', 'Q22', 'Q41',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=244)

In [22]:
eliminar_indices(df_unido, 'Q18_Part_1', 'Q38_A_OTHER')

Index(['index', 'age', 'gender', 'Q3', 'Q5', 'Q6', 'Q8', 'Q15', 'Q22', 'Q41',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=167)

In [23]:
eliminar_indices(df_unido, 'Q40_Part_1', 'Q38_B_OTHER')

Index(['index', 'age', 'gender', 'Q3', 'Q5', 'Q6', 'Q8', 'Q15', 'Q22', 'Q41',
       'Q7', 'Q9', 'Q24', 'Q32', 'Q34', 'Q10_Part_1', 'Q10_Part_2',
       'Q10_Part_3', 'Q10_Part_4', 'Q10_Part_5', 'Q10_Part_6', 'Q10_Part_7',
       'Q10_Part_8', 'Q10_Part_9', 'Q10_Part_10', 'Q10_Part_11', 'Q10_Part_12',
       'Q10_Part_13', 'Q10_Part_14', 'Q10_Part_15', 'Q10_Part_16', 'Q10_OTHER',
       'Q39_Part_1', 'Q39_Part_2', 'Q39_Part_3', 'Q39_Part_4', 'Q39_Part_5',
       'Q39_Part_6', 'Q39_Part_7', 'Q39_Part_8', 'Q39_Part_9', 'Q39_OTHER'],
      dtype='object')

In [24]:
for i in df_unido.columns:
    print(i)

index
age
gender
Q3
Q5
Q6
Q8
Q15
Q22
Q41
Q7
Q9
Q24
Q32
Q34
Q10_Part_1
Q10_Part_2
Q10_Part_3
Q10_Part_4
Q10_Part_5
Q10_Part_6
Q10_Part_7
Q10_Part_8
Q10_Part_9
Q10_Part_10
Q10_Part_11
Q10_Part_12
Q10_Part_13
Q10_Part_14
Q10_Part_15
Q10_Part_16
Q10_OTHER
Q39_Part_1
Q39_Part_2
Q39_Part_3
Q39_Part_4
Q39_Part_5
Q39_Part_6
Q39_Part_7
Q39_Part_8
Q39_Part_9
Q39_OTHER

In [25]:
# guardamos los datos unidos con las columnas eliminadas en un archivo de csv
df_unido.to_csv('../datos/datos_unidos.csv')

## Filtramos por Data Analysts

In [26]:
# filtramos el nuevo dataframe unido por respuestas de personas que se identifican como 
# Business Analyst o Data Analyst
df_da_ba = df_unido[(df_unido ["Q5"] == "Business Analyst") | (df_unido ["Q5"] == "Data Analyst")]

In [27]:
df_da_ba.head()

,index,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER
16,16,50-54,Man,Belgium,Data Analyst,20+ years,Python,1-2 years,5-9,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",Analyze and understand data to influence produ...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32,22-24,Nonbinary,United States of America,Data Analyst,< 1 years,R,I do not use machine learning methods,3-4,NaN,R,RStudio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33,30-34,Woman,Egypt,Data Analyst,3-5 years,R,I do not use machine learning methods,0,"Basic statistical software (Microsoft Excel, G...",Python,"Notepad++,Jupyter Notebook",Analyze and understand data to influence produ...,None,None,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN
46,46,22-24,Man,China,Data Analyst,< 1 years,Python,1-2 years,0,"Basic statistical software (Microsoft Excel, G...","Python, SQL, C, C++, Java, Javascript, MATLAB","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",Analyze and understand data to influence produ...,NaN,NaN,Kaggle Notebooks,NaN,Azure Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52,40-44,Man,South Africa,Data Analyst,1-3 years,R,1-2 years,1-2,"Local development environments (RStudio, Jupyt...","R, SQL","RStudio ,Jupyter Notebook",Analyze and understand data to influence produ...,None,Microsoft Power BI,NaN,NaN,NaN,NaN,NaN,NaN,IBM Watson Studio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN

In [28]:
# guardamos los datos unidos con las columnas eliminadas en un archivo de csv
df_da_ba.to_csv('../datos/datos_da_ba.csv')