In [1]:
import pandas as pd
import os

In [2]:
pd.options.display.max_columns = None

## Cargamos los datos

In [3]:
df_kaggle = pd.read_csv("../datos/data_remaning_kaggle.csv", index_col=0)
df_kaggle.head()

,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Storage (GCS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, Oâ€™Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,Oracle Cloud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,MySQL,NaN,SQLite,Oracle Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Data Studio,NaN,NaN,NaN,NaN,Qlik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataRobot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,NaN,NaN,NaN,DataCamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN,Amazon Web Services (AWS),NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Virtual Machines,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Azure Machine Learning Studio,Google Cloud Vertex AI,DataRobot,NaN,NaN,NaN,NaN,NaN,NaN,MySQL,PostgreSQL,NaN,NaN,MongoDB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Power BI,NaN,NaN,NaN,Tableau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataRobot AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,edX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,Amazon Web Services (AWS),Microsoft Azure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Virtual Machines,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Virtual Machines,NaN,NaN,NaN,Microsoft Azure Data Lake Storage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Azure Machine Learning Studio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Weights & Biases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_exported_data = pd.read_csv("../datos/exported_db_data.csv")
df_exported_data.head()

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_data_txt = pd.read_csv("../datos/data_txt_clean.txt", sep = ";")
df_data_txt.head(2)

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelorâ€™s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN

In [6]:
df_data_xml = pd.read_xml("../datos/data_xml_clean.xml")
df_data_xml.head()

   level_0  index  time    age gender
0        0      0   910  50-54    Man
1        1      1   784  50-54    Man
2        2      2   924  22-24    Man
3        3      3   575  45-49    Man
4        4      4   781  45-49    Man

## Unimos los dataframes

In [7]:
df_unido1 = df_data_xml.merge(df_data_txt, on = "index", how = "outer")
df_unido1.head(2)

,level_0,index,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,0,910,50-54,Man,India,Bachelorâ€™s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,1,784,50-54,Man,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN
2,2,2,924,22-24,Man,Pakistan,Masterâ€™s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",0,I do not know,$0-999,$0 ($USD),MySQL,NaN,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None
3,3,3,575,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,"1000-9,999 employees",0,I do not know,"30,000-39,999",$0 ($USD),NaN,NaN,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN
4,4,4,781,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,50-249 employees,5-9,We use ML methods for generating insights (but...,"30,000-39,999","$1000-$9,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI

In [8]:
df_unido2 = df_unido1.merge(df_exported_data, on = "index", how = "outer")
df_unido2.head(2)

,level_0,index,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,0,910,50-54,Man,India,Bachelorâ€™s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,784,50-54,Man,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,924,22-24,Man,Pakistan,Masterâ€™s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",0,I do not know,$0-999,$0 ($USD),MySQL,NaN,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,575,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,"1000-9,999 employees",0,I do not know,"30,000-39,999",$0 ($USD),NaN,NaN,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,781,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,50-249 employees,5-9,We use ML methods for generating insights (but...,"30,000-39,999","$1000-$9,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_unido = df_unido2.merge(df_kaggle, on = "index", how = "outer")
df_unido.head(2)

,level_0,index,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,0,910,50-54,Man,India,Bachelorâ€™s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Storage (GCS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, Oâ€™Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,784,50-54,Man,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,Oracle Cloud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,MySQL,NaN,SQLite,Oracle Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Data Studio,NaN,NaN,NaN,NaN,Qlik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,2,924,22-24,Man,Pakistan,Masterâ€™s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",0,I do not know,$0-999,$0 ($USD),MySQL,NaN,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataRobot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,NaN,NaN,NaN,DataCamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN,Amazon Web Services (AWS),NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Virtual Machines,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Azure Machine Learning Studio,Google Cloud Vertex AI,DataRobot,NaN,NaN,NaN,NaN,NaN,NaN,MySQL,PostgreSQL,NaN,NaN,MongoDB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Power BI,NaN,NaN,NaN,Tableau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataRobot AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,575,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,"1000-9,999 employees",0,I do not know,"30,000-39,999",$0 ($USD),NaN,NaN,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,edX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,Amazon Web Services (AWS),Microsoft Azure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Virtual Machines,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,4,4,781,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,50-249 employees,5-9,We use ML methods for generating insights (but...,"30,000-39,999","$1000-$9,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Virtual Machines,NaN,NaN,NaN,Microsoft Azure Data Lake Storage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Azure Machine Learning Studio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Weights & Biases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exploracion de los datos

In [20]:
# def df_explore(dataframe, nombre):
#     print(f"EXPLORACIÃ“N DEL DATAFRAME {nombre.upper()}")
#     print("--------------")
#     print(f"El dataframe {nombre} tiene {dataframe.shape[0]} filas y {dataframe.shape[1]} columnas")
#     print("--------------")
#     print("Las primeras 5 columnas son:")
#     display(dataframe.head())
#     print("Las Ãºltimas 5 columnas son:")
#     display(dataframe.tail())
#     print("--------------")
#     print("Una muestra de dos filas seleccionadas al azar:")
#     display(dataframe.sample(2))
#     print("--------------")
#     print(f"El dataframe {nombre} tiene las siguientes columnas:")
#     for col in dataframe.columns:
#         print(col) 
#     print("--------------")
#     print(f"Los principales estadÃ­sticos de las variables numÃ©ricas son:")
#     display(dataframe.describe())
#     print("--------------")
#     print(f"Los principales estadÃ­sticos de las variables categÃ³ricas son:")
#     display(dataframe.describe(include=object))
#     print("--------------")
#     print("El porcentaje de nulos por columna:")
#     for i, col in enumerate(dataframe.isnull().sum()):
#         print(f"{dataframe.isnull().sum().index[i]}: {col/dataframe.shape[0]*100}")
#     print("--------------")
#     print("El numero de valores distintos de cada columna es:")
#     for col in dataframe.columns:
#         if len(dataframe[col].value_counts()) > 6:
#             print(col, len(dataframe[col].value_counts()))
#         else:
#             print(col, len(dataframe[col].value_counts()))
#             print(f"Los valores son: {dataframe[col].unique()}")

In [21]:
df_explore(df_unido, "Encuesta Entera")

EXPLORACIÃ“N DEL DATAFRAME ENCUESTA ENTERA
--------------
El dataframe Encuesta Entera tiene 25973 filas y 260 columnas
--------------
Las primeras 5 columnas son:

,level_0,index,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,0,910,50-54,Man,India,Bachelorâ€™s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Storage (GCS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, Oâ€™Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,784,50-54,Man,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,Oracle Cloud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,MySQL,NaN,SQLite,Oracle Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Data Studio,NaN,NaN,NaN,NaN,Qlik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,2,924,22-24,Man,Pakistan,Masterâ€™s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",0,I do not know,$0-999,$0 ($USD),MySQL,NaN,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataRobot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,NaN,NaN,NaN,DataCamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN,Amazon Web Services (AWS),NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Virtual Machines,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Azure Machine Learning Studio,Google Cloud Vertex AI,DataRobot,NaN,NaN,NaN,NaN,NaN,NaN,MySQL,PostgreSQL,NaN,NaN,MongoDB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Power BI,NaN,NaN,NaN,Tableau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataRobot AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,575,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,"1000-9,999 employees",0,I do not know,"30,000-39,999",$0 ($USD),NaN,NaN,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,edX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,Amazon Web Services (AWS),Microsoft Azure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Virtual Machines,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,4,4,781,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,50-249 employees,5-9,We use ML methods for generating insights (but...,"30,000-39,999","$1000-$9,999",NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Virtual Machines,NaN,NaN,NaN,Microsoft Azure Data Lake Storage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Azure Machine Learning Studio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Weights & Biases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Las Ãºltimas 5 columnas son:

,level_0,index,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
25968,25968,25968,1756,30-34,Man,Egypt,Bachelorâ€™s degree,Data Analyst,1-3 years,Python,A laptop,Never,1-2 years,Computers/Technology,"10,000 or more employees",20+,We are exploring ML methods (and may one day p...,"15,000-19,999","$1000-$9,999",MongoDB,NaN,"Business intelligence software (Salesforce, Ta...","Python, SQL, Javascript, Bash","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",NVIDIA GPUs,"Matplotlib ,Seaborn","Scikit-learn , TensorFlow ,Keras ,PyTorch ,Xgb...","Linear or Logistic Regression, Gradient Boosti...",Analyze and understand data to influence produ...,"PostgreSQL , SQLite , MongoDB , Microsoft SQL...",Microsoft Power BI,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,Amazon Sagemaker Studio Notebooks,Amazon EMR Notebooks,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...",NaN,"Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazon Web Services (AWS),Microsoft Azure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazon Web Services (AWS),Amazon Elastic Compute Cloud (EC2),Microsoft Azure Virtual Machines,NaN,NaN,NaN,NaN,NaN,Amazon Simple Storage Service (S3),Amazon Elastic File System (EFS),NaN,NaN,NaN,NaN,Amazon SageMaker,NaN,NaN,NaN,Databricks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,NaN,Colab,NaN,NaN,NaN,Coursera,NaN,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,LinkedIn Learning,"Cloud-certification programs (direct from AWS,...",NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,"Slack Communities (ods.ai, kagglenoobs, etc)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25969,25969,25969,253,22-24,Man,China,Masterâ€™s degree,Student,1-3 years,Python,A personal computer / desktop,More than 25 times,1-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python,PyCharm,None,None,PyTorch,"Dense Neural Networks (MLPs, etc)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,25970,25970,494,50-54,Man,Sweden,Doctoral degree,Research Scientist,I have never written code,NaN,NaN,NaN,NaN,Academics/Education,"1000-9,999 employees",20+,I do not know,$0-999,$1-$99,NaN,NaN,"Basic statistical software (Microsoft Excel, G...",NaN,NaN,NaN,NaN,NaN,NaN,None of these activities are an important par...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,NaN,NaN,NaN,NaN,NaN,NaN,LinkedIn Learning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,Amazon Web Services (AWS),Microsoft Azure,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazon Elastic Compute Cloud (EC2),Microsoft Azure Virtual Machines,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazon SageMaker,Azure Machine Learning Studio,Google Cloud Vertex AI,DataRobot,Databricks,Dataiku,Alteryx,Rapidminer,NaN,NaN,MySQL,PostgreSQL,SQLite,Oracle Database,MongoDB,Snowflake,IBM Db2,Microsoft SQL Server,Microsoft Azure SQL Database,Microsoft Azure Cosmos DB,Amazon Redshift,Amazon Aurora,Amazon DynamoDB,Amazon RDS,Google Cloud BigQuery,Google Cloud SQL,Google Cloud Firestore,Google Cloud BigTable,Google Cloud Spanner,NaN,NaN,NaN,NaN,NaN,Looker,Tableau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
25971,25971,25971,277,45-49,Man,United States of America,Masterâ€™s degree,Data Scientist,5-10 years,Python,A laptop,2-5 times,4-5 years,Online Service/Internet-based Services,"10,000 or more employees",20+,"We have well established ML methods (i.e., mod...",NaN,NaN,NaN,NaN,NaN,"Python, SQL","Notepad++,Jupyter Notebook",None,"Matplotlib ,Seaborn",Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,25972,25972,255,18-21,Man,India,Bachelorâ€™s degree,Business Analyst,I have never written code,NaN,NaN,NaN,NaN,Other,0-49 employees,0,I do not know,$0-999,$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)",NaN,NaN,NaN,NaN,NaN,NaN,Analyze and understand data to influence produ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,IBM Cloud / Red Hat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

--------------
Una muestra de dos filas seleccionadas al azar:

,level_0,index,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
10646,10646,10646,782,30-34,Man,Hong Kong (S.A.R.),Masterâ€™s degree,Research Scientist,3-5 years,Python,"A deep learning workstation (NVIDIA GTX, Lambd...",Never,3-4 years,Computers/Technology,250-999 employees,5-9,We are exploring ML methods (and may one day p...,"50,000-59,999",$0 ($USD),NaN,NaN,"Local development environments (RStudio, Jupyt...",Python,Visual Studio Code (VSCode),NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras ,PyTorch ,PyT...","Convolutional Neural Networks, Recurrent Neur...",Build and/or run a machine learning service t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...",NaN,Image classification and other general purpose...,NaN,NaN,NaN,NaN,"Encoder-decorder models (seq2seq, vanilla tran...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,edX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Weights & Biases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8999,8999,8999,76923,45-49,Man,Japan,Bachelorâ€™s degree,Product Manager,< 1 years,Python,A laptop,Never,< 1 year,Broadcasting/Communications,"10,000 or more employees",0,"We recently started using ML methods (i.e., mo...","100,000-124,999",$0 ($USD),NaN,NaN,NaN,Python,Jupyter Notebook,None,"Matplotlib ,Seaborn",TensorFlow,None,None of these activities are an important par...,NaN,NaN,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

--------------
El dataframe Encuesta Entera tiene las siguientes columnas:
level_0
index
time
age
gender
Q3
Q4
Q5
Q6
Q8
Q11
Q13
Q15
Q20
Q21
Q22
Q23
Q25
Q26
Q33
Q35
Q41
Q7
Q9
Q12
Q14
Q16
Q17
Q24
Q32
Q34
Q10_Part_1
Q10_Part_2
Q10_Part_3
Q10_Part_4
Q10_Part_5
Q10_Part_6
Q10_Part_7
Q10_Part_8
Q10_Part_9
Q10_Part_10
Q10_Part_11
Q10_Part_12
Q10_Part_13
Q10_Part_14
Q10_Part_15
Q10_Part_16
Q10_OTHER
Q18_Part_1
Q18_Part_2
Q18_Part_3
Q18_Part_4
Q18_Part_5
Q18_Part_6
Q18_OTHER
Q19_Part_1
Q19_Part_2
Q19_Part_3
Q19_Part_4
Q19_Part_5
Q19_OTHER
Q27_A_Part_1
Q27_A_Part_2
Q27_A_Part_3
Q27_A_Part_4
Q27_A_Part_5
Q27_A_Part_6
Q27_A_Part_7
Q27_A_Part_8
Q27_A_Part_9
Q27_A_Part_10
Q27_A_Part_11
Q27_A_OTHER
Q28
Q29_A_Part_1
Q29_A_Part_2
Q29_A_Part_3
Q29_A_Part_4
Q29_A_OTHER
Q30_A_Part_1
Q30_A_Part_2
Q30_A_Part_3
Q30_A_Part_4
Q30_A_Part_5
Q30_A_Part_6
Q30_A_Part_7
Q30_A_OTHER
Q31_A_Part_1
Q31_A_Part_2
Q31_A_Part_3
Q31_A_Part_4
Q31_A_Part_5
Q31_A_Part_6
Q31_A_Part_7
Q31_A_Part_8
Q31_A_Part_9
Q31_A_OTHER
Q36_A_Part_1
Q36_A_Part_2
Q36_A_Part_3
Q36_A_Part_4
Q36_A_Part_5
Q36_A_Part_6
Q36_A_Part_7
Q36_A_OTHER
Q37_A_Part_1
Q37_A_Part_2
Q37_A_Part_3
Q37_A_Part_4
Q37_A_Part_5
Q37_A_Part_6
Q37_A_Part_7
Q37_A_OTHER
Q38_A_Part_1
Q38_A_Part_2
Q38_A_Part_3
Q38_A_Part_4
Q38_A_Part_5
Q38_A_Part_6
Q38_A_Part_7
Q38_A_Part_8
Q38_A_Part_9
Q38_A_Part_10
Q38_A_Part_11
Q38_A_OTHER
Q39_Part_1
Q39_Part_2
Q39_Part_3
Q39_Part_4
Q39_Part_5
Q39_Part_6
Q39_Part_7
Q39_Part_8
Q39_Part_9
Q39_OTHER
Q40_Part_1
Q40_Part_2
Q40_Part_3
Q40_Part_4
Q40_Part_5
Q40_Part_6
Q40_Part_7
Q40_Part_8
Q40_Part_9
Q40_Part_10
Q40_Part_11
Q40_OTHER
Q42_Part_1
Q42_Part_2
Q42_Part_3
Q42_Part_4
Q42_Part_5
Q42_Part_6
Q42_Part_7
Q42_Part_8
Q42_Part_9
Q42_Part_10
Q42_Part_11
Q42_OTHER
Q27_B_Part_1
Q27_B_Part_2
Q27_B_Part_3
Q27_B_Part_4
Q27_B_Part_5
Q27_B_Part_6
Q27_B_Part_7
Q27_B_Part_8
Q27_B_Part_9
Q27_B_Part_10
Q27_B_Part_11
Q27_B_OTHER
Q29_B_Part_1
Q29_B_Part_2
Q29_B_Part_3
Q29_B_Part_4
Q29_B_OTHER
Q30_B_Part_1
Q30_B_Part_2
Q30_B_Part_3
Q30_B_Part_4
Q30_B_Part_5
Q30_B_Part_6
Q30_B_Part_7
Q30_B_OTHER
Q31_B_Part_1
Q31_B_Part_2
Q31_B_Part_3
Q31_B_Part_4
Q31_B_Part_5
Q31_B_Part_6
Q31_B_Part_7
Q31_B_Part_8
Q31_B_Part_9
Q31_B_OTHER
Q32_B_Part_1
Q32_B_Part_2
Q32_B_Part_3
Q32_B_Part_4
Q32_B_Part_5
Q32_B_Part_6
Q32_B_Part_7
Q32_B_Part_8
Q32_B_Part_9
Q32_B_Part_10
Q32_B_Part_11
Q32_B_Part_12
Q32_B_Part_13
Q32_B_Part_14
Q32_B_Part_15
Q32_B_Part_16
Q32_B_Part_17
Q32_B_Part_18
Q32_B_Part_19
Q32_B_Part_20
Q32_B_OTHER
Q34_B_Part_1
Q34_B_Part_2
Q34_B_Part_3
Q34_B_Part_4
Q34_B_Part_5
Q34_B_Part_6
Q34_B_Part_7
Q34_B_Part_8
Q34_B_Part_9
Q34_B_Part_10
Q34_B_Part_11
Q34_B_Part_12
Q34_B_Part_13
Q34_B_Part_14
Q34_B_Part_15
Q34_B_Part_16
Q34_B_OTHER
Q36_B_Part_1
Q36_B_Part_2
Q36_B_Part_3
Q36_B_Part_4
Q36_B_Part_5
Q36_B_Part_6
Q36_B_Part_7
Q36_B_OTHER
Q37_B_Part_1
Q37_B_Part_2
Q37_B_Part_3
Q37_B_Part_4
Q37_B_Part_5
Q37_B_Part_6
Q37_B_Part_7
Q37_B_OTHER
Q38_B_Part_1
Q38_B_Part_2
Q38_B_Part_3
Q38_B_Part_4
Q38_B_Part_5
Q38_B_Part_6
Q38_B_Part_7
Q38_B_Part_8
Q38_B_Part_9
Q38_B_Part_10
Q38_B_Part_11
Q38_B_OTHER
--------------
Los principales estadÃ­sticos de las variables numÃ©ricas son:

,level_0,index,time,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER
count,25973.000000,25973.000000,2.597300e+04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,12986.000000,12986.000000,1.105466e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,7497.903607,7497.903607,1.014716e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,0.000000,1.200000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,6493.000000,6493.000000,4.430000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,12986.000000,12986.000000,6.560000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,19479.000000,19479.000000,1.038000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,25972.000000,25972.000000,2.488653e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

--------------
Los principales estadÃ­sticos de las variables categÃ³ricas son:

,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
count,25973,25973,25973,25973,25973,25973,24940,24720,24403,23754,16325,16251,16126,15952,15391,15183,4656,2237,18489,24941,24934,24582,23970,19624,19315,15635,9484,9399,9507,9792,1062,209,1770,175,1067,753,348,2051,1794,590,251,260,147,7174,737,2662,2740,2716,4373,1492,1439,119,2643,2023,748,2351,1331,109,3721,2450,3142,572,454,290,275,390,259,172,2689,337,3127,2270,1503,1960,1795,98,908,841,2308,685,1950,772,1510,92,991,945,714,332,825,203,254,293,6381,275,1009,781,1186,344,952,893,6338,214,751,316,321,271,377,449,1196,223,217,538,106,98,1726,119,110,177,91,1067,6239,225,293,387,136,4586,705,3065,1848,305,3167,306,9649,3028,8670,3996,1157,2803,6440,2693,1804,4882,1762,2081,3747,3441,2939,11373,2996,10401,2022,7977,3350,1995,1007,583,7494,5648,7484,2589,1712,910,784,792,632,550,2238,269,5378,5793,7497,970,78,3649,5029,5304,1832,2202,763,792,1019,4111,349,6135,3289,3036,2304,4288,1086,1195,3143,2680,1551,1211,1182,1493,2245,2844,3284,1627,2050,1253,1872,255,4923,1267,4090,559,5421,1264,1699,783,276,268,526,315,1343,1695,262,3056,292,3496,3648,4761,2183,3331,4752,3221,323,4817,1387,1649,1545,2683,3152,1398,280,1276,1583,633,591,4239,729,737,1020,666,2747,4542,377
unique,11,5,66,7,15,7,13,6,5,9,18,5,7,6,26,6,20,16,6,825,1330,26,467,1401,756,96,1558,392,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,13,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
top,25-29,Man,India,Masterâ€™s degree,Student,1-3 years,Python,A laptop,Never,< 1 year,Computers/Technology,0-49 employees,1-2,We are exploring ML methods (and may one day p...,$0-999,$0 ($USD),MySQL,Microsoft Power BI,"Basic statistical software (Microsoft Excel, G...",Python,Jupyter Notebook,None,"Matplotlib ,Seaborn",Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,None,Kaggle Notebooks,Colab Notebooks,Azure Notebooks,Paperspace / Gradient,Binder / JupyterHub,Code Ocean,IBM Watson Studio,Amazon Sagemaker Studio Notebooks,Amazon EMR Notebooks,Google Cloud Notebooks (AI Platform / Vertex AI),Google Cloud Datalab,Databricks Collaborative Notebooks,Zeppelin / Zepl Notebooks,Deepnote Notebooks,Observable Notebooks,None,Other,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,"Generative Networks (GAN, VAE, etc)",None,Other,"Word embeddings/vectors (GLoVe, fastText, word...","Encoder-decorder models (seq2seq, vanilla tran...","Contextualized embeddings (ELMo, CoVe)","Transformer language models (GPT-3, BERT, XLne...",None,Other,Amazon Web Services (AWS),Microsoft Azure,Google Cloud Platform (GCP),IBM Cloud / Red Hat,Oracle Cloud,SAP Cloud,Salesforce Cloud,VMware Cloud,Alibaba Cloud,Tencent Cloud,None,Other,Amazon Web Services (AWS),Amazon Elastic Compute Cloud (EC2),Microsoft Azure Virtual Machines,Google Cloud Compute Engine,No / None,Other,Microsoft Azure Data Lake Storage,Microsoft Azure Disk Storage,Amazon Simple Storage Service (S3),Amazon Elastic File System (EFS),Google Cloud Storage (GCS),Google Cloud Filestore,No / None,Other,Amazon SageMaker,Azure Machine Learning Studio,Google Cloud Vertex AI,DataRobot,Databricks,Dataiku,Alteryx,Rapidminer,No / None,Other,"Automated data augmentation (e.g. imgaug, albu...",Automated feature engineering/selection (e.g. ...,"Automated model selection (e.g. auto-sklearn, ...",Automated model architecture searches (e.g. da...,Automated hyperparameter tuning (e.g. hyperopt...,Automation of full ML pipelines (e.g. Google A...,No / None,Other,Google Cloud AutoML,H2O Driverless AI,Databricks AutoML,DataRobot AutoML,Amazon Sagemaker Autopilot,Azure Automated Machine Learning,No / None,Other,Neptune.ai,Weights & Biases,Comet.ml,Sacred + Omniboard,TensorBoard,Guild.ai,Polyaxon,ClearML,Domino Model Monitor,MLflow,No / None,Other,Plotly Dash,Streamlit,NBViewer,GitHub,Personal blog,Kaggle,Colab,Shiny,I do not share my work publicly,Other,Coursera,edX,Kaggle Learn Courses,DataCamp,Fast.ai,Udacity,Udemy,LinkedIn Learning,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,None,Other,Twitter (data science influencers),"Email newsletters (Data Elixir, O'Reilly Data ...","Reddit (r/machinelearning, etc)","Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...","YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, Oâ€™Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...","Slack Communities (ods.ai, kagglenoobs, etc)",None,Other,Amazon Web Services (AWS),Microsoft Azure,Google Cloud Platform (GCP),IBM Cloud / Red Hat,Oracle Cloud,SAP Cloud,VMware Cloud,Salesforce Cloud,Alibaba Cloud,Tencent Cloud,None,Other,Amazon Elastic Compute Cloud (EC2),Microsoft Azure Virtual Machines,Google Cloud Compute Engine,None,Other,Amazon SageMaker,Azure Machine Learning Studio,Google Cloud Vertex AI,DataRobot,Databricks,Dataiku,Alteryx,Rapidminer,None,Other,MySQL,PostgreSQL,SQLite,Oracle Database,MongoDB,Snowflake,IBM Db2,Microsoft SQL Server,Microsoft Azure SQL Database,Microsoft Azure Cosmos DB,Amazon Redshift,Amazon Aurora,Amazon DynamoDB,Amazon RDS,Google Cloud BigQuery,Google Cloud SQL,Google Cloud Firestore,Google Cloud BigTable,Google Cloud Spanner,None,Other,Microsoft Power BI,Amazon QuickSight,Google Data Studio,Looker,Tableau,Salesforce,Tableau CRM,Qlik,Domo,TIBCO Spotfire,Alteryx,Sisense,SAP Analytics Cloud,Microsoft Azure Synapse,Thoughtspot,None,Other,"Automated data augmentation (e.g. imgaug, albu...",Automated feature engineering/selection (e.g. ...,"Automated model selection (e.g. auto-sklearn, ...",Automated model architecture searches (e.g. da...,Automated hyperparameter tuning (e.g. hyperopt...,Automation of full ML pipelines (e.g. Google C...,None,Other,Google Cloud AutoML,H2O Driverless AI,Databricks AutoML,DataRobot AutoML,Amazon Sagemaker Autopilot,Azure Automated Machine Learning,None,Other,Neptune.ai,Weights & Biases,Comet.ml,Sacred + Omniboard,TensorBoard,Guild.ai,Polyaxon,ClearML,Domino Model Monitor,MLflow,None,Other
freq,4931,20598,7434,10132,6804,7874,20213,16231,16457,9163,4079,5055,3642,3390,3369,5903,1110,790,7246,4740,2341,13234,5697,2688,1807,2891,2297,4123,9507,9792,1062,209,1770,175,1067,753,348,2051,1794,590,251,260,147,7174,737,2662,2740,2716,4373,1492,1439,119,2643,2023,748,2351,1331,109,3721,2450,3142,572,454,290,275,390,259,172,2689,337,836,2270,1503,1960,1795,98,908,841,2308,685,1950,772,1510,92,991,945,714,332,825,203,254,293,6381,275,1009,781,1186,344,952,893,6338,214,751,316,321,271,377,449,1196,223,217,538,106,98,1726,119,110,177,91,1067,6239,225,293,387,136,4586,705,3065,1848,305,3167,306,9649,3028,8670,3996,1157,2803,6440,2693,1804,4882,1762,2081,3747,3441,2939,11373,2996,10401,2022,7977,3350,1995,1007,583,7494,5648,7484,2589,1712,910,784,792,632,550,2238,269,5378,5793,7497,970,78,3649,5029,5304,1832,2202,763,792,1019,4111,349,6135,3289,3036,2304,4288,1086,1195,3143,2680,1551,1211,1182,1493,2245,2844,3284,1627,2050,1253,1872,255,4923,1267,4090,559,5421,1264,1699,783,276,268,526,315,1343,1695,262,3056,292,3496,3648,4761,2183,3331,4752,3221,323,4817,1387,1649,1545,2683,3152,1398,280,1276,1583,633,591,4239,729,737,1020,666,2747,4542,377

--------------
El porcentaje de nulos por columna:
level_0: 0.0
index: 0.0
time: 0.0
age: 0.0
gender: 0.0
Q3: 0.0
Q4: 0.0
Q5: 0.0
Q6: 0.0
Q8: 3.9772070996804376
Q11: 4.824240557502021
Q13: 6.044738767181303
Q15: 8.543487467754977
Q20: 37.14626727755746
Q21: 37.43117853155199
Q22: 37.9124475416779
Q23: 38.582374003773154
Q25: 40.74230932121819
Q26: 41.54314095406769
Q33: 82.07369191083048
Q35: 91.3872097947869
Q41: 28.81453817425788
Q7: 3.9733569475994304
Q9: 4.000308012166481
Q12: 5.355561544681016
Q14: 7.711854618257422
Q16: 24.444615562314713
Q17: 25.634312555345932
Q24: 39.80287221345243
Q32: 63.48515766372772
Q34: 63.81242059061333
Q10_Part_1: 63.39660416586456
Q10_Part_2: 62.2993108227775
Q10_Part_3: 95.91113848997036
Q10_Part_4: 99.19531821506949
Q10_Part_5: 93.18523081661726
Q10_Part_6: 99.32622338582374
Q10_Part_7: 95.89188772956531
Q10_Part_8: 97.10083548300157
Q10_Part_9: 98.66014707580949
Q10_Part_10: 92.10333808185423
Q10_Part_11: 93.09282716667309
Q10_Part_12: 97.72841027220576
Q10_Part_13: 99.03361182766719
Q10_Part_14: 98.99896045893813
Q10_Part_15: 99.43402764409194
Q10_Part_16: 72.37900897085436
Q10_OTHER: 97.16243791629769
Q18_Part_1: 89.75089516035884
Q18_Part_2: 89.45058329804027
Q18_Part_3: 89.54298694798445
Q18_Part_4: 83.16328494975551
Q18_Part_5: 94.25557309513725
Q18_Part_6: 94.45963115543063
Q18_OTHER: 99.54183190236014
Q19_Part_1: 89.82404804989798
Q19_Part_2: 92.21114234012244
Q19_Part_3: 97.12008624340662
Q19_Part_4: 90.94829245755207
Q19_Part_5: 94.87544758017941
Q19_OTHER: 99.58033342317022
Q27_A_Part_1: 85.6735841065722
Q27_A_Part_2: 90.56712740153236
Q27_A_Part_3: 87.90282216147538
Q27_A_Part_4: 97.79771300966388
Q27_A_Part_5: 98.25203095522274
Q27_A_Part_6: 98.88345589650791
Q27_A_Part_7: 98.94120817772301
Q27_A_Part_8: 98.4984406884072
Q27_A_Part_9: 99.00281061101913
Q27_A_Part_10: 99.33777384206675
Q27_A_Part_11: 89.64694105417163
Q27_A_OTHER: 98.70249874870058
Q28: 87.96057444269049
Q29_A_Part_1: 91.26015477611365
Q29_A_Part_2: 94.21322142224618
Q29_A_Part_3: 92.45370192122589
Q29_A_Part_4: 93.08897701459207
Q29_A_OTHER: 99.62268509606129
Q30_A_Part_1: 96.50406191044546
Q30_A_Part_2: 96.76202209987295
Q30_A_Part_3: 91.11384899703539
Q30_A_Part_4: 97.36264582451007
Q30_A_Part_5: 92.49220344203596
Q30_A_Part_6: 97.02768259346244
Q30_A_Part_7: 94.18627035767912
Q30_A_OTHER: 99.64578600854733
Q31_A_Part_1: 96.18449928772186
Q31_A_Part_2: 96.3616062834482
Q31_A_Part_3: 97.25099141416086
Q31_A_Part_4: 98.7217495091056
Q31_A_Part_5: 96.82362453316907
Q31_A_Part_6: 99.21841912755553
Q31_A_Part_7: 99.02206137142417
Q31_A_Part_8: 98.8719054402649
Q31_A_Part_9: 75.43217957109306
Q31_A_OTHER: 98.94120817772301
Q36_A_Part_1: 96.11519655026373
Q36_A_Part_2: 96.99303122473337
Q36_A_Part_3: 95.43371963192546
Q36_A_Part_4: 98.67554768413352
Q36_A_Part_5: 96.33465521888115
Q36_A_Part_6: 96.56181419166057
Q36_A_Part_7: 75.59773611057636
Q36_A_OTHER: 99.17606745466446
Q37_A_Part_1: 97.1085357871636
Q37_A_Part_2: 98.78335194240172
Q37_A_Part_3: 98.7641011819967
Q37_A_Part_4: 98.95660878604706
Q37_A_Part_5: 98.54849266546029
Q37_A_Part_6: 98.27128171562777
Q37_A_Part_7: 95.39521811111538
Q37_A_OTHER: 99.14141608593539
Q38_A_Part_1: 99.16451699842143
Q38_A_Part_2: 97.92861818041813
Q38_A_Part_3: 99.59188387941323
Q38_A_Part_4: 99.62268509606129
Q38_A_Part_5: 93.35463750818157
Q38_A_Part_6: 99.54183190236014
Q38_A_Part_7: 99.57648327108922
Q38_A_Part_8: 99.31852308166172
Q38_A_Part_9: 99.64963616062835
Q38_A_Part_10: 95.89188772956531
Q38_A_Part_11: 75.97890116659607
Q38_A_OTHER: 99.13371578177338
Q39_Part_1: 98.8719054402649
Q39_Part_2: 98.50999114465021
Q39_Part_3: 99.47637931698303
Q39_Part_4: 82.34320255650098
Q39_Part_5: 97.28564278288992
Q39_Part_6: 88.19928387171294
Q39_Part_7: 92.88491895429868
Q39_Part_8: 98.82570361529281
Q39_Part_9: 87.8065683594502
Q39_OTHER: 98.8218534632118
Q40_Part_1: 62.84988257036153
Q40_Part_2: 88.3417394987102
Q40_Part_3: 66.61918145766758
Q40_Part_4: 84.61479228429522
Q40_Part_5: 95.54537404227467
Q40_Part_6: 89.20802371693682
Q40_Part_7: 75.20502059831364
Q40_Part_8: 89.63154044584762
Q40_Part_9: 93.05432564586302
Q40_Part_10: 81.20355754052285
Q40_Part_11: 93.21603203326532
Q40_OTHER: 91.98783351942403
Q42_Part_1: 85.57348015246602
Q42_Part_2: 86.75162668925422
Q42_Part_3: 88.68440303391985
Q42_Part_4: 56.21222038270511
Q42_Part_5: 88.46494436530243
Q42_Part_6: 59.95456820544411
Q42_Part_7: 92.21499249220344
Q42_Part_8: 69.28733684980557
Q42_Part_9: 87.10199052862589
Q42_Part_10: 92.31894659839064
Q42_Part_11: 96.12289685442576
Q42_OTHER: 97.75536133677281
Q27_B_Part_1: 71.14696030493205
Q27_B_Part_2: 78.25434104647132
Q27_B_Part_3: 71.18546182574211
Q27_B_Part_4: 90.03195626227236
Q27_B_Part_5: 93.40853963731567
Q27_B_Part_6: 96.49636160628344
Q27_B_Part_7: 96.98148076849036
Q27_B_Part_8: 96.9506795518423
Q27_B_Part_9: 97.56670388480345
Q27_B_Part_10: 97.88241635544604
Q27_B_Part_11: 91.38335964270588
Q27_B_OTHER: 98.96430909020907
Q29_B_Part_1: 79.29388210834328
Q29_B_Part_2: 77.69606899472528
Q29_B_Part_3: 71.13540984868902
Q29_B_Part_4: 96.26535248142302
Q29_B_OTHER: 99.69968813768145
Q30_B_Part_1: 100.0
Q30_B_Part_2: 100.0
Q30_B_Part_3: 100.0
Q30_B_Part_4: 100.0
Q30_B_Part_5: 100.0
Q30_B_Part_6: 100.0
Q30_B_Part_7: 100.0
Q30_B_OTHER: 100.0
Q31_B_Part_1: 85.95079505640473
Q31_B_Part_2: 80.63758518461479
Q31_B_Part_3: 79.5787933623378
Q31_B_Part_4: 92.9465213875948
Q31_B_Part_5: 91.52196511762214
Q31_B_Part_6: 97.0623339621915
Q31_B_Part_7: 96.9506795518423
Q31_B_Part_8: 96.07669502945366
Q31_B_Part_9: 84.17202479497941
Q31_B_OTHER: 98.65629692372849
Q32_B_Part_1: 76.37931698302083
Q32_B_Part_2: 87.33684980556731
Q32_B_Part_3: 88.31093828206214
Q32_B_Part_4: 91.1292496053594
Q32_B_Part_5: 83.49054787664113
Q32_B_Part_6: 95.81873484002618
Q32_B_Part_7: 95.3990682631964
Q32_B_Part_8: 87.89897200939437
Q32_B_Part_9: 89.6815924229007
Q32_B_Part_10: 94.02841412235783
Q32_B_Part_11: 95.33746582990028
Q32_B_Part_12: 95.44912024024948
Q32_B_Part_13: 94.25172294305625
Q32_B_Part_14: 91.35640857813884
Q32_B_Part_15: 89.05016748161553
Q32_B_Part_16: 87.35610056597235
Q32_B_Part_17: 93.7358025642013
Q32_B_Part_18: 92.10718823393525
Q32_B_Part_19: 95.17575944249798
Q32_B_Part_20: 92.79251530435452
Q32_B_OTHER: 99.01821121934317
Q34_B_Part_1: 81.04570130520156
Q34_B_Part_2: 95.12185731336388
Q34_B_Part_3: 84.25287798868055
Q34_B_Part_4: 97.84776498671698
Q34_B_Part_5: 79.12832556885996
Q34_B_Part_6: 95.1334077696069
Q34_B_Part_7: 93.45859161436877
Q34_B_Part_8: 96.98533092057137
Q34_B_Part_9: 98.93735802564201
Q34_B_Part_10: 98.96815924229007
Q34_B_Part_11: 97.97482000539021
Q34_B_Part_12: 98.78720209448272
Q34_B_Part_13: 94.82924575520732
Q34_B_Part_14: 93.47399222269279
Q34_B_Part_15: 98.99126015477611
Q34_B_Part_16: 88.233935240442
Q34_B_OTHER: 98.8757555923459
Q36_B_Part_1: 86.53986832479883
Q36_B_Part_2: 85.95464520848573
Q36_B_Part_3: 81.66942594232472
Q36_B_Part_4: 91.59511800716128
Q36_B_Part_5: 87.175143418165
Q36_B_Part_6: 81.7040773110538
Q36_B_Part_7: 87.59866014707582
Q36_B_OTHER: 98.75640087783466
Q37_B_Part_1: 81.45381742578832
Q37_B_Part_2: 94.65983906364302
Q37_B_Part_3: 93.65109921841913
Q37_B_Part_4: 94.05151503484387
Q37_B_Part_5: 89.67004196665769
Q37_B_Part_6: 87.86432064066531
Q37_B_Part_7: 94.61748739075193
Q37_B_OTHER: 98.92195741731798
Q38_B_Part_1: 95.08720594463482
Q38_B_Part_2: 93.9052092557656
Q38_B_Part_3: 97.56285373272244
Q38_B_Part_4: 97.72456012012475
Q38_B_Part_5: 83.67920532861048
Q38_B_Part_6: 97.19323913294575
Q38_B_Part_7: 97.16243791629769
Q38_B_Part_8: 96.07284487737266
Q38_B_Part_9: 97.4357987140492
Q38_B_Part_10: 89.42363223347323
Q38_B_Part_11: 82.51260924806529
Q38_B_OTHER: 98.54849266546029
--------------
El numero de valores distintos de cada columna es:
level_0 25973
index 25973
time 4421
age 11
gender 5
Los valores son: ['Man' 'Woman' 'Nonbinary' 'Prefer not to say' 'Prefer to self-describe']
Q3 66
Q4 7
Q5 15
Q6 7
Q8 13
Q11 6
Los valores son: ['A laptop'
 'A cloud computing platform (AWS, Azure, GCP, hosted notebooks, etc)'
 'A personal computer / desktop'
 'A deep learning workstation (NVIDIA GTX, LambdaLabs, etc)' nan 'Other'
 'None']
Q13 5
Los valores son: ['2-5 times' 'Never' 'More than 25 times' nan 'Once' '6-25 times']
Q15 9
Q20 18
Q21 5
Los valores son: ['50-249 employees' '1000-9,999 employees' nan '10,000 or more employees'
 '0-49 employees' '250-999 employees']
Q22 7
Q23 6
Los valores son: ['No (we do not use ML methods)'
 'We are exploring ML methods (and may one day put a model into production)'
 'I do not know'
 'We use ML methods for generating insights (but do not put working models into production)'
 nan
 'We have well established ML methods (i.e., models in production for more than 2 years)'
 'We recently started using ML methods (i.e., models in production for less than 2 years)']
Q25 26
Q26 6
Los valores son: ['$100-$999' '$0 ($USD)' '$1000-$9,999' nan '$1-$99'
 '$100,000 or more ($USD)' '$10,000-$99,999']
Q33 20
Q35 16
Q41 6
Los valores son: ['Local development environments (RStudio, JupyterLab, etc.)'
 'Advanced statistical software (SPSS, SAS, etc.)'
 'Basic statistical software (Microsoft Excel, Google Sheets, etc.)' nan
 'Business intelligence software (Salesforce, Tableau, Spotfire, etc.)'
 'Cloud-based data software & APIs (AWS, GCP, Azure, etc.)' 'Other']
Q7 825
Q9 1330
Q12 26
Q14 467
Q16 1401
Q17 756
Q24 96
Q32 1558
Q34 392
Q10_Part_1 1
Los valores son: [nan ' Kaggle Notebooks']
Q10_Part_2 1
Los valores son: ['Colab Notebooks' nan]
Q10_Part_3 1
Los valores son: [nan 'Azure Notebooks']
Q10_Part_4 1
Los valores son: [nan ' Paperspace / Gradient ']
Q10_Part_5 1
Los valores son: [nan ' Binder / JupyterHub ']
Q10_Part_6 1
Los valores son: [nan ' Code Ocean ']
Q10_Part_7 1
Los valores son: [nan ' IBM Watson Studio ']
Q10_Part_8 1
Los valores son: [nan ' Amazon Sagemaker Studio Notebooks ']
Q10_Part_9 1
Los valores son: [nan ' Amazon EMR Notebooks ']
Q10_Part_10 1
Los valores son: [nan 'Google Cloud Notebooks (AI Platform / Vertex AI) ']
Q10_Part_11 1
Los valores son: [nan 'Google Cloud Datalab']
Q10_Part_12 1
Los valores son: [nan ' Databricks Collaborative Notebooks ']
Q10_Part_13 1
Los valores son: [nan ' Zeppelin / Zepl Notebooks ']
Q10_Part_14 1
Los valores son: [nan ' Deepnote Notebooks ']
Q10_Part_15 1
Los valores son: [nan ' Observable Notebooks ']
Q10_Part_16 1
Los valores son: [nan 'None']
Q10_OTHER 1
Los valores son: [nan 'Other']
Q18_Part_1 1
Los valores son: ['General purpose image/video tools (PIL, cv2, skimage, etc)' nan]
Q18_Part_2 1
Los valores son: [nan 'Image segmentation methods (U-Net, Mask R-CNN, etc)']
Q18_Part_3 1
Los valores son: [nan 'Object detection methods (YOLOv3, RetinaNet, etc)']
Q18_Part_4 1
Los valores son: [nan
 'Image classification and other general purpose networks (VGG, Inception, ResNet, ResNeXt, NASNet, EfficientNet, etc)']
Q18_Part_5 1
Los valores son: [nan 'Generative Networks (GAN, VAE, etc)']
Q18_Part_6 1
Los valores son: [nan 'None']
Q18_OTHER 1
Los valores son: [nan 'Other']
Q19_Part_1 1
Los valores son: ['Word embeddings/vectors (GLoVe, fastText, word2vec)' nan]
Q19_Part_2 1
Los valores son: [nan 'Encoder-decorder models (seq2seq, vanilla transformers)']
Q19_Part_3 1
Los valores son: [nan 'Contextualized embeddings (ELMo, CoVe)']
Q19_Part_4 1
Los valores son: [nan 'Transformer language models (GPT-3, BERT, XLnet, etc)']
Q19_Part_5 1
Los valores son: [nan 'None']
Q19_OTHER 1
Los valores son: [nan 'Other']
Q27_A_Part_1 1
Los valores son: [nan ' Amazon Web Services (AWS) ']
Q27_A_Part_2 1
Los valores son: [nan ' Microsoft Azure ']
Q27_A_Part_3 1
Los valores son: [' Google Cloud Platform (GCP) ' nan]
Q27_A_Part_4 1
Los valores son: [nan ' IBM Cloud / Red Hat ']
Q27_A_Part_5 1
Los valores son: [nan ' Oracle Cloud ']
Q27_A_Part_6 1
Los valores son: [nan ' SAP Cloud ']
Q27_A_Part_7 1
Los valores son: [nan ' Salesforce Cloud ']
Q27_A_Part_8 1
Los valores son: [nan ' VMware Cloud ']
Q27_A_Part_9 1
Los valores son: [nan ' Alibaba Cloud ']
Q27_A_Part_10 1
Los valores son: [nan ' Tencent Cloud ']
Q27_A_Part_11 1
Los valores son: [nan 'None']
Q27_A_OTHER 1
Los valores son: [nan 'Other']
Q28 13
Q29_A_Part_1 1
Los valores son: [nan ' Amazon Elastic Compute Cloud (EC2) ']
Q29_A_Part_2 1
Los valores son: [nan ' Microsoft Azure Virtual Machines ']
Q29_A_Part_3 1
Los valores son: [' Google Cloud Compute Engine ' nan]
Q29_A_Part_4 1
Los valores son: [nan 'No / None']
Q29_A_OTHER 1
Los valores son: [nan 'Other']
Q30_A_Part_1 1
Los valores son: [nan 'Microsoft Azure Data Lake Storage ']
Q30_A_Part_2 1
Los valores son: [nan 'Microsoft Azure Disk Storage ']
Q30_A_Part_3 1
Los valores son: [nan ' Amazon Simple Storage Service (S3)  ']
Q30_A_Part_4 1
Los valores son: [nan ' Amazon Elastic File System (EFS)  ']
Q30_A_Part_5 1
Los valores son: ['Google Cloud Storage (GCS)   ' nan]
Q30_A_Part_6 1
Los valores son: [nan ' Google Cloud Filestore ']
Q30_A_Part_7 1
Los valores son: [nan 'No / None']
Q30_A_OTHER 1
Los valores son: [nan 'Other']
Q31_A_Part_1 1
Los valores son: [nan ' Amazon SageMaker ']
Q31_A_Part_2 1
Los valores son: [nan ' Azure Machine Learning Studio ']
Q31_A_Part_3 1
Los valores son: [nan ' Google Cloud Vertex AI']
Q31_A_Part_4 1
Los valores son: [nan ' DataRobot']
Q31_A_Part_5 1
Los valores son: [nan ' Databricks']
Q31_A_Part_6 1
Los valores son: [nan ' Dataiku']
Q31_A_Part_7 1
Los valores son: [nan ' Alteryx']
Q31_A_Part_8 1
Los valores son: [nan ' Rapidminer']
Q31_A_Part_9 1
Los valores son: ['No / None' nan]
Q31_A_OTHER 1
Los valores son: [nan 'Other']
Q36_A_Part_1 1
Los valores son: [nan 'Automated data augmentation (e.g. imgaug, albumentations)']
Q36_A_Part_2 1
Los valores son: [nan 'Automated feature engineering/selection (e.g. tpot, boruta_py)']
Q36_A_Part_3 1
Los valores son: [nan 'Automated model selection (e.g. auto-sklearn, xcessiv)']
Q36_A_Part_4 1
Los valores son: [nan 'Automated model architecture searches (e.g. darts, enas)']
Q36_A_Part_5 1
Los valores son: [nan 'Automated hyperparameter tuning (e.g. hyperopt, ray.tune, Vizier)']
Q36_A_Part_6 1
Los valores son: [nan
 'Automation of full ML pipelines (e.g. Google AutoML, H2O Driverless AI)']
Q36_A_Part_7 1
Los valores son: ['No / None' nan]
Q36_A_OTHER 1
Los valores son: [nan 'Other']
Q37_A_Part_1 1
Los valores son: [nan ' Google Cloud AutoML ']
Q37_A_Part_2 1
Los valores son: [nan ' H2O Driverless AI  ']
Q37_A_Part_3 1
Los valores son: [nan ' Databricks AutoML ']
Q37_A_Part_4 1
Los valores son: [nan ' DataRobot AutoML ']
Q37_A_Part_5 1
Los valores son: [nan '  Amazon Sagemaker Autopilot ']
Q37_A_Part_6 1
Los valores son: [nan '  Azure Automated Machine Learning ']
Q37_A_Part_7 1
Los valores son: [nan 'No / None']
Q37_A_OTHER 1
Los valores son: [nan 'Other']
Q38_A_Part_1 1
Los valores son: [nan ' Neptune.ai ']
Q38_A_Part_2 1
Los valores son: [nan ' Weights & Biases ']
Q38_A_Part_3 1
Los valores son: [nan ' Comet.ml ']
Q38_A_Part_4 1
Los valores son: [nan ' Sacred + Omniboard ']
Q38_A_Part_5 1
Los valores son: [nan ' TensorBoard ']
Q38_A_Part_6 1
Los valores son: [nan ' Guild.ai ']
Q38_A_Part_7 1
Los valores son: [nan ' Polyaxon ']
Q38_A_Part_8 1
Los valores son: [nan ' ClearML ']
Q38_A_Part_9 1
Los valores son: [nan ' Domino Model Monitor ']
Q38_A_Part_10 1
Los valores son: [nan ' MLflow ']
Q38_A_Part_11 1
Los valores son: ['No / None' nan]
Q38_A_OTHER 1
Los valores son: [nan 'Other']
Q39_Part_1 1
Los valores son: [nan ' Plotly Dash ']
Q39_Part_2 1
Los valores son: [nan ' Streamlit ']
Q39_Part_3 1
Los valores son: [nan ' NBViewer ']
Q39_Part_4 1
Los valores son: [' GitHub ' nan]
Q39_Part_5 1
Los valores son: [nan ' Personal blog ']
Q39_Part_6 1
Los valores son: [' Kaggle ' nan]
Q39_Part_7 1
Los valores son: [nan ' Colab ']
Q39_Part_8 1
Los valores son: [nan ' Shiny ']
Q39_Part_9 1
Los valores son: [nan 'I do not share my work publicly']
Q39_OTHER 1
Los valores son: [nan 'Other']
Q40_Part_1 1
Los valores son: ['Coursera' nan]
Q40_Part_2 1
Los valores son: ['edX' nan]
Q40_Part_3 1
Los valores son: ['Kaggle Learn Courses' nan]
Q40_Part_4 1
Los valores son: ['DataCamp' nan]
Q40_Part_5 1
Los valores son: [nan 'Fast.ai']
Q40_Part_6 1
Los valores son: ['Udacity' nan]
Q40_Part_7 1
Los valores son: ['Udemy' nan]
Q40_Part_8 1
Los valores son: [nan 'LinkedIn Learning']
Q40_Part_9 1
Los valores son: [nan
 'Cloud-certification programs (direct from AWS, Azure, GCP, or similar)']
Q40_Part_10 1
Los valores son: [nan 'University Courses (resulting in a university degree)']
Q40_Part_11 1
Los valores son: [nan 'None']
Q40_OTHER 1
Los valores son: [nan 'Other']
Q42_Part_1 1
Los valores son: [nan 'Twitter (data science influencers)']
Q42_Part_2 1
Los valores son: ["Email newsletters (Data Elixir, O'Reilly Data & AI, etc)" nan]
Q42_Part_3 1
Los valores son: [nan 'Reddit (r/machinelearning, etc)']
Q42_Part_4 1
Los valores son: ['Kaggle (notebooks, forums, etc)' nan]
Q42_Part_5 1
Los valores son: [nan 'Course Forums (forums.fast.ai, Coursera forums, etc)']
Q42_Part_6 1
Los valores son: ['YouTube (Kaggle YouTube, Cloud AI Adventures, etc)' nan]
Q42_Part_7 1
Los valores son: ['Podcasts (Chai Time Data Science, Oâ€™Reilly Data Show, etc)' nan]
Q42_Part_8 1
Los valores son: ['Blogs (Towards Data Science, Analytics Vidhya, etc)' nan]
Q42_Part_9 1
Los valores son: ['Journal Publications (peer-reviewed journals, conference proceedings, etc)'
 nan]
Q42_Part_10 1
Los valores son: [nan 'Slack Communities (ods.ai, kagglenoobs, etc)']
Q42_Part_11 1
Los valores son: [nan 'None']
Q42_OTHER 1
Los valores son: [nan 'Other']
Q27_B_Part_1 1
Los valores son: [nan ' Amazon Web Services (AWS) ']
Q27_B_Part_2 1
Los valores son: [nan ' Microsoft Azure ']
Q27_B_Part_3 1
Los valores son: [nan ' Google Cloud Platform (GCP) ']
Q27_B_Part_4 1
Los valores son: [nan ' IBM Cloud / Red Hat ']
Q27_B_Part_5 1
Los valores son: [nan ' Oracle Cloud ']
Q27_B_Part_6 1
Los valores son: [nan ' SAP Cloud ']
Q27_B_Part_7 1
Los valores son: [nan ' VMware Cloud ']
Q27_B_Part_8 1
Los valores son: [nan ' Salesforce Cloud ']
Q27_B_Part_9 1
Los valores son: [nan ' Alibaba Cloud ']
Q27_B_Part_10 1
Los valores son: [nan ' Tencent Cloud ']
Q27_B_Part_11 1
Los valores son: [nan 'None']
Q27_B_OTHER 1
Los valores son: [nan 'Other']
Q29_B_Part_1 1
Los valores son: [nan ' Amazon Elastic Compute Cloud (EC2) ']
Q29_B_Part_2 1
Los valores son: [nan ' Microsoft Azure Virtual Machines ']
Q29_B_Part_3 1
Los valores son: [nan ' Google Cloud Compute Engine ']
Q29_B_Part_4 1
Los valores son: [nan 'None']
Q29_B_OTHER 1
Los valores son: [nan 'Other']
Q30_B_Part_1 0
Los valores son: [nan]
Q30_B_Part_2 0
Los valores son: [nan]
Q30_B_Part_3 0
Los valores son: [nan]
Q30_B_Part_4 0
Los valores son: [nan]
Q30_B_Part_5 0
Los valores son: [nan]
Q30_B_Part_6 0
Los valores son: [nan]
Q30_B_Part_7 0
Los valores son: [nan]
Q30_B_OTHER 0
Los valores son: [nan]
Q31_B_Part_1 1
Los valores son: [nan ' Amazon SageMaker ']
Q31_B_Part_2 1
Los valores son: [nan ' Azure Machine Learning Studio ']
Q31_B_Part_3 1
Los valores son: [nan ' Google Cloud Vertex AI']
Q31_B_Part_4 1
Los valores son: [nan ' DataRobot']
Q31_B_Part_5 1
Los valores son: [nan ' Databricks']
Q31_B_Part_6 1
Los valores son: [nan ' Dataiku']
Q31_B_Part_7 1
Los valores son: [nan ' Alteryx']
Q31_B_Part_8 1
Los valores son: [nan ' Rapidminer']
Q31_B_Part_9 1
Los valores son: [nan 'None']
Q31_B_OTHER 1
Los valores son: [nan 'Other']
Q32_B_Part_1 1
Los valores son: [nan 'MySQL ']
Q32_B_Part_2 1
Los valores son: [nan 'PostgreSQL ']
Q32_B_Part_3 1
Los valores son: [nan 'SQLite ']
Q32_B_Part_4 1
Los valores son: [nan 'Oracle Database ']
Q32_B_Part_5 1
Los valores son: [nan 'MongoDB ']
Q32_B_Part_6 1
Los valores son: [nan 'Snowflake ']
Q32_B_Part_7 1
Los valores son: [nan 'IBM Db2 ']
Q32_B_Part_8 1
Los valores son: [nan 'Microsoft SQL Server ']
Q32_B_Part_9 1
Los valores son: [nan 'Microsoft Azure SQL Database ']
Q32_B_Part_10 1
Los valores son: [nan 'Microsoft Azure Cosmos DB ']
Q32_B_Part_11 1
Los valores son: [nan 'Amazon Redshift ']
Q32_B_Part_12 1

## Limpieza: Eliminamos columnas

In [10]:
# funciÃ³n para eliminar las columnas en las que no nos vamos a centrar en el estudio, 
# por etiqueta/nombre de columna
def eliminar_etiqueta (dataframe, *num_columna):
    for elemento in dataframe.columns:
        for i  in num_columna:
            if i in elemento:
                dataframe.drop([elemento],axis = 1, inplace = True)
    return dataframe.columns

In [12]:
# eliminamos columnas sueltas
eliminar_etiqueta(df_unido, *['level_0', 'time', 'Q13', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q23','Q25', 'Q26'])

Index(['index', 'age', 'gender', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q20',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=238)

In [13]:
# imprimimos una lista de las columnas con los indices para poder usar la funcion eliminar_indices
lista=[]
for i, col in enumerate(df_unido.columns):
    lista.append([i, col])
    
lista

[[0, 'index'],
 [1, 'age'],
 [2, 'gender'],
 [3, 'Q3'],
 [4, 'Q4'],
 [5, 'Q5'],
 [6, 'Q6'],
 [7, 'Q8'],
 [8, 'Q11'],
 [9, 'Q20'],
 [10, 'Q21'],
 [11, 'Q22'],
 [12, 'Q33'],
 [13, 'Q35'],
 [14, 'Q41'],
 [15, 'Q7'],
 [16, 'Q9'],
 [17, 'Q12'],
 [18, 'Q14'],
 [19, 'Q24'],
 [20, 'Q32'],
 [21, 'Q34'],
 [22, 'Q10_Part_1'],
 [23, 'Q10_Part_2'],
 [24, 'Q10_Part_3'],
 [25, 'Q10_Part_4'],
 [26, 'Q10_Part_5'],
 [27, 'Q10_Part_6'],
 [28, 'Q10_Part_7'],
 [29, 'Q10_Part_8'],
 [30, 'Q10_Part_9'],
 [31, 'Q10_Part_10'],
 [32, 'Q10_Part_11'],
 [33, 'Q10_Part_12'],
 [34, 'Q10_Part_13'],
 [35, 'Q10_Part_14'],
 [36, 'Q10_Part_15'],
 [37, 'Q10_Part_16'],
 [38, 'Q10_OTHER'],
 [39, 'Q27_A_Part_1'],
 [40, 'Q27_A_Part_2'],
 [41, 'Q27_A_Part_3'],
 [42, 'Q27_A_Part_4'],
 [43, 'Q27_A_Part_5'],
 [44, 'Q27_A_Part_6'],
 [45, 'Q27_A_Part_7'],
 [46, 'Q27_A_Part_8'],
 [47, 'Q27_A_Part_9'],
 [48, 'Q27_A_Part_10'],
 [49, 'Q27_A_Part_11'],
 [50, 'Q27_A_OTHER'],
 [51, 'Q28'],
 [52, 'Q29_A_Part_1'],
 [53, 'Q29_A_Part_2'],
 [54, 'Q29_A_Part_3'],
 [55, 'Q29_A_Part_4'],
 [56, 'Q29_A_OTHER'],
 [57, 'Q30_A_Part_1'],
 [58, 'Q30_A_Part_2'],
 [59, 'Q30_A_Part_3'],
 [60, 'Q30_A_Part_4'],
 [61, 'Q30_A_Part_5'],
 [62, 'Q30_A_Part_6'],
 [63, 'Q30_A_Part_7'],
 [64, 'Q30_A_OTHER'],
 [65, 'Q31_A_Part_1'],
 [66, 'Q31_A_Part_2'],
 [67, 'Q31_A_Part_3'],
 [68, 'Q31_A_Part_4'],
 [69, 'Q31_A_Part_5'],
 [70, 'Q31_A_Part_6'],
 [71, 'Q31_A_Part_7'],
 [72, 'Q31_A_Part_8'],
 [73, 'Q31_A_Part_9'],
 [74, 'Q31_A_OTHER'],
 [75, 'Q36_A_Part_1'],
 [76, 'Q36_A_Part_2'],
 [77, 'Q36_A_Part_3'],
 [78, 'Q36_A_Part_4'],
 [79, 'Q36_A_Part_5'],
 [80, 'Q36_A_Part_6'],
 [81, 'Q36_A_Part_7'],
 [82, 'Q36_A_OTHER'],
 [83, 'Q37_A_Part_1'],
 [84, 'Q37_A_Part_2'],
 [85, 'Q37_A_Part_3'],
 [86, 'Q37_A_Part_4'],
 [87, 'Q37_A_Part_5'],
 [88, 'Q37_A_Part_6'],
 [89, 'Q37_A_Part_7'],
 [90, 'Q37_A_OTHER'],
 [91, 'Q38_A_Part_1'],
 [92, 'Q38_A_Part_2'],
 [93, 'Q38_A_Part_3'],
 [94, 'Q38_A_Part_4'],
 [95, 'Q38_A_Part_5'],
 [96, 'Q38_A_Part_6'],
 [97, 'Q38_A_Part_7'],
 [98, 'Q38_A_Part_8'],
 [99, 'Q38_A_Part_9'],
 [100, 'Q38_A_Part_10'],
 [101, 'Q38_A_Part_11'],
 [102, 'Q38_A_OTHER'],
 [103, 'Q39_Part_1'],
 [104, 'Q39_Part_2'],
 [105, 'Q39_Part_3'],
 [106, 'Q39_Part_4'],
 [107, 'Q39_Part_5'],
 [108, 'Q39_Part_6'],
 [109, 'Q39_Part_7'],
 [110, 'Q39_Part_8'],
 [111, 'Q39_Part_9'],
 [112, 'Q39_OTHER'],
 [113, 'Q40_Part_1'],
 [114, 'Q40_Part_2'],
 [115, 'Q40_Part_3'],
 [116, 'Q40_Part_4'],
 [117, 'Q40_Part_5'],
 [118, 'Q40_Part_6'],
 [119, 'Q40_Part_7'],
 [120, 'Q40_Part_8'],
 [121, 'Q40_Part_9'],
 [122, 'Q40_Part_10'],
 [123, 'Q40_Part_11'],
 [124, 'Q40_OTHER'],
 [125, 'Q42_Part_1'],
 [126, 'Q42_Part_2'],
 [127, 'Q42_Part_3'],
 [128, 'Q42_Part_4'],
 [129, 'Q42_Part_5'],
 [130, 'Q42_Part_6'],
 [131, 'Q42_Part_7'],
 [132, 'Q42_Part_8'],
 [133, 'Q42_Part_9'],
 [134, 'Q42_Part_10'],
 [135, 'Q42_Part_11'],
 [136, 'Q42_OTHER'],
 [137, 'Q27_B_Part_1'],
 [138, 'Q27_B_Part_2'],
 [139, 'Q27_B_Part_3'],
 [140, 'Q27_B_Part_4'],
 [141, 'Q27_B_Part_5'],
 [142, 'Q27_B_Part_6'],
 [143, 'Q27_B_Part_7'],
 [144, 'Q27_B_Part_8'],
 [145, 'Q27_B_Part_9'],
 [146, 'Q27_B_Part_10'],
 [147, 'Q27_B_Part_11'],
 [148, 'Q27_B_OTHER'],
 [149, 'Q29_B_Part_1'],
 [150, 'Q29_B_Part_2'],
 [151, 'Q29_B_Part_3'],
 [152, 'Q29_B_Part_4'],
 [153, 'Q29_B_OTHER'],
 [154, 'Q30_B_Part_1'],
 [155, 'Q30_B_Part_2'],
 [156, 'Q30_B_Part_3'],
 [157, 'Q30_B_Part_4'],
 [158, 'Q30_B_Part_5'],
 [159, 'Q30_B_Part_6'],
 [160, 'Q30_B_Part_7'],
 [161, 'Q30_B_OTHER'],
 [162, 'Q31_B_Part_1'],
 [163, 'Q31_B_Part_2'],
 [164, 'Q31_B_Part_3'],
 [165, 'Q31_B_Part_4'],
 [166, 'Q31_B_Part_5'],
 [167, 'Q31_B_Part_6'],
 [168, 'Q31_B_Part_7'],
 [169, 'Q31_B_Part_8'],
 [170, 'Q31_B_Part_9'],
 [171, 'Q31_B_OTHER'],
 [172, 'Q32_B_Part_1'],
 [173, 'Q32_B_Part_2'],
 [174, 'Q32_B_Part_3'],
 [175, 'Q32_B_Part_4'],
 [176, 'Q32_B_Part_5'],
 [177, 'Q32_B_Part_6'],
 [178, 'Q32_B_Part_7'],
 [179, 'Q32_B_Part_8'],
 [180, 'Q32_B_Part_9'],
 [181, 'Q32_B_Part_10'],
 [182, 'Q32_B_Part_11'],
 [183, 'Q32_B_Part_12'],
 [184, 'Q32_B_Part_13'],
 [185, 'Q32_B_Part_14'],
 [186, 'Q32_B_Part_15'],
 [187, 'Q32_B_Part_16'],
 [188, 'Q32_B_Part_17'],
 [189, 'Q32_B_Part_18'],
 [190, 'Q32_B_Part_19'],
 [191, 'Q32_B_Part_20'],
 [192, 'Q32_B_OTHER'],
 [193, 'Q34_B_Part_1'],
 [194, 'Q34_B_Part_2'],
 [195, 'Q34_B_Part_3'],
 [196, 'Q34_B_Part_4'],
 [197, 'Q34_B_Part_5'],
 [198, 'Q34_B_Part_6'],
 [199, 'Q34_B_Part_7'],
 [200, 'Q34_B_Part_8'],
 [201, 'Q34_B_Part_9'],
 [202, 'Q34_B_Part_10'],
 [203, 'Q34_B_Part_11'],
 [204, 'Q34_B_Part_12'],
 [205, 'Q34_B_Part_13'],
 [206, 'Q34_B_Part_14'],
 [207, 'Q34_B_Part_15'],
 [208, 'Q34_B_Part_16'],
 [209, 'Q34_B_OTHER'],
 [210, 'Q36_B_Part_1'],
 [211, 'Q36_B_Part_2'],
 [212, 'Q36_B_Part_3'],
 [213, 'Q36_B_Part_4'],
 [214, 'Q36_B_Part_5'],
 [215, 'Q36_B_Part_6'],
 [216, 'Q36_B_Part_7'],
 [217, 'Q36_B_OTHER'],
 [218, 'Q37_B_Part_1'],
 [219, 'Q37_B_Part_2'],
 [220, 'Q37_B_Part_3'],
 [221, 'Q37_B_Part_4'],
 [222, 'Q37_B_Part_5'],
 [223, 'Q37_B_Part_6'],
 [224, 'Q37_B_Part_7'],
 [225, 'Q37_B_OTHER'],
 [226, 'Q38_B_Part_1'],
 [227, 'Q38_B_Part_2'],
 [228, 'Q38_B_Part_3'],
 [229, 'Q38_B_Part_4'],
 [230, 'Q38_B_Part_5'],
 [231, 'Q38_B_Part_6'],
 [232, 'Q38_B_Part_7'],
 [233, 'Q38_B_Part_8'],
 [234, 'Q38_B_Part_9'],
 [235, 'Q38_B_Part_10'],
 [236, 'Q38_B_Part_11'],
 [237, 'Q38_B_OTHER']]

In [15]:
# funciÃ³n para eliminar las columnas en las que no nos vamos a centrar en el estudio, por rango de indices
def eliminar_indices (dataframe, indice1, indice2):
    for elemento in dataframe.columns[indice1:indice2]:    
        dataframe.drop([elemento],axis = 1, inplace = True)
    return dataframe.columns

In [16]:
# eliminamos las preguntas Q31A-Q38A
eliminar_indices(df_unido, 65, 103)

Index(['index', 'age', 'gender', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q20',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=200)

In [17]:
# volvemos a imprimirla lista de las columnas con los indices para poder usar la funcion eliminar_indices
lista=[]
for i, col in enumerate(df_unido.columns):
    lista.append([i, col])
    
lista

[[0, 'index'],
 [1, 'age'],
 [2, 'gender'],
 [3, 'Q3'],
 [4, 'Q4'],
 [5, 'Q5'],
 [6, 'Q6'],
 [7, 'Q8'],
 [8, 'Q11'],
 [9, 'Q20'],
 [10, 'Q21'],
 [11, 'Q22'],
 [12, 'Q33'],
 [13, 'Q35'],
 [14, 'Q41'],
 [15, 'Q7'],
 [16, 'Q9'],
 [17, 'Q12'],
 [18, 'Q14'],
 [19, 'Q24'],
 [20, 'Q32'],
 [21, 'Q34'],
 [22, 'Q10_Part_1'],
 [23, 'Q10_Part_2'],
 [24, 'Q10_Part_3'],
 [25, 'Q10_Part_4'],
 [26, 'Q10_Part_5'],
 [27, 'Q10_Part_6'],
 [28, 'Q10_Part_7'],
 [29, 'Q10_Part_8'],
 [30, 'Q10_Part_9'],
 [31, 'Q10_Part_10'],
 [32, 'Q10_Part_11'],
 [33, 'Q10_Part_12'],
 [34, 'Q10_Part_13'],
 [35, 'Q10_Part_14'],
 [36, 'Q10_Part_15'],
 [37, 'Q10_Part_16'],
 [38, 'Q10_OTHER'],
 [39, 'Q27_A_Part_1'],
 [40, 'Q27_A_Part_2'],
 [41, 'Q27_A_Part_3'],
 [42, 'Q27_A_Part_4'],
 [43, 'Q27_A_Part_5'],
 [44, 'Q27_A_Part_6'],
 [45, 'Q27_A_Part_7'],
 [46, 'Q27_A_Part_8'],
 [47, 'Q27_A_Part_9'],
 [48, 'Q27_A_Part_10'],
 [49, 'Q27_A_Part_11'],
 [50, 'Q27_A_OTHER'],
 [51, 'Q28'],
 [52, 'Q29_A_Part_1'],
 [53, 'Q29_A_Part_2'],
 [54, 'Q29_A_Part_3'],
 [55, 'Q29_A_Part_4'],
 [56, 'Q29_A_OTHER'],
 [57, 'Q30_A_Part_1'],
 [58, 'Q30_A_Part_2'],
 [59, 'Q30_A_Part_3'],
 [60, 'Q30_A_Part_4'],
 [61, 'Q30_A_Part_5'],
 [62, 'Q30_A_Part_6'],
 [63, 'Q30_A_Part_7'],
 [64, 'Q30_A_OTHER'],
 [65, 'Q39_Part_1'],
 [66, 'Q39_Part_2'],
 [67, 'Q39_Part_3'],
 [68, 'Q39_Part_4'],
 [69, 'Q39_Part_5'],
 [70, 'Q39_Part_6'],
 [71, 'Q39_Part_7'],
 [72, 'Q39_Part_8'],
 [73, 'Q39_Part_9'],
 [74, 'Q39_OTHER'],
 [75, 'Q40_Part_1'],
 [76, 'Q40_Part_2'],
 [77, 'Q40_Part_3'],
 [78, 'Q40_Part_4'],
 [79, 'Q40_Part_5'],
 [80, 'Q40_Part_6'],
 [81, 'Q40_Part_7'],
 [82, 'Q40_Part_8'],
 [83, 'Q40_Part_9'],
 [84, 'Q40_Part_10'],
 [85, 'Q40_Part_11'],
 [86, 'Q40_OTHER'],
 [87, 'Q42_Part_1'],
 [88, 'Q42_Part_2'],
 [89, 'Q42_Part_3'],
 [90, 'Q42_Part_4'],
 [91, 'Q42_Part_5'],
 [92, 'Q42_Part_6'],
 [93, 'Q42_Part_7'],
 [94, 'Q42_Part_8'],
 [95, 'Q42_Part_9'],
 [96, 'Q42_Part_10'],
 [97, 'Q42_Part_11'],
 [98, 'Q42_OTHER'],
 [99, 'Q27_B_Part_1'],
 [100, 'Q27_B_Part_2'],
 [101, 'Q27_B_Part_3'],
 [102, 'Q27_B_Part_4'],
 [103, 'Q27_B_Part_5'],
 [104, 'Q27_B_Part_6'],
 [105, 'Q27_B_Part_7'],
 [106, 'Q27_B_Part_8'],
 [107, 'Q27_B_Part_9'],
 [108, 'Q27_B_Part_10'],
 [109, 'Q27_B_Part_11'],
 [110, 'Q27_B_OTHER'],
 [111, 'Q29_B_Part_1'],
 [112, 'Q29_B_Part_2'],
 [113, 'Q29_B_Part_3'],
 [114, 'Q29_B_Part_4'],
 [115, 'Q29_B_OTHER'],
 [116, 'Q30_B_Part_1'],
 [117, 'Q30_B_Part_2'],
 [118, 'Q30_B_Part_3'],
 [119, 'Q30_B_Part_4'],
 [120, 'Q30_B_Part_5'],
 [121, 'Q30_B_Part_6'],
 [122, 'Q30_B_Part_7'],
 [123, 'Q30_B_OTHER'],
 [124, 'Q31_B_Part_1'],
 [125, 'Q31_B_Part_2'],
 [126, 'Q31_B_Part_3'],
 [127, 'Q31_B_Part_4'],
 [128, 'Q31_B_Part_5'],
 [129, 'Q31_B_Part_6'],
 [130, 'Q31_B_Part_7'],
 [131, 'Q31_B_Part_8'],
 [132, 'Q31_B_Part_9'],
 [133, 'Q31_B_OTHER'],
 [134, 'Q32_B_Part_1'],
 [135, 'Q32_B_Part_2'],
 [136, 'Q32_B_Part_3'],
 [137, 'Q32_B_Part_4'],
 [138, 'Q32_B_Part_5'],
 [139, 'Q32_B_Part_6'],
 [140, 'Q32_B_Part_7'],
 [141, 'Q32_B_Part_8'],
 [142, 'Q32_B_Part_9'],
 [143, 'Q32_B_Part_10'],
 [144, 'Q32_B_Part_11'],
 [145, 'Q32_B_Part_12'],
 [146, 'Q32_B_Part_13'],
 [147, 'Q32_B_Part_14'],
 [148, 'Q32_B_Part_15'],
 [149, 'Q32_B_Part_16'],
 [150, 'Q32_B_Part_17'],
 [151, 'Q32_B_Part_18'],
 [152, 'Q32_B_Part_19'],
 [153, 'Q32_B_Part_20'],
 [154, 'Q32_B_OTHER'],
 [155, 'Q34_B_Part_1'],
 [156, 'Q34_B_Part_2'],
 [157, 'Q34_B_Part_3'],
 [158, 'Q34_B_Part_4'],
 [159, 'Q34_B_Part_5'],
 [160, 'Q34_B_Part_6'],
 [161, 'Q34_B_Part_7'],
 [162, 'Q34_B_Part_8'],
 [163, 'Q34_B_Part_9'],
 [164, 'Q34_B_Part_10'],
 [165, 'Q34_B_Part_11'],
 [166, 'Q34_B_Part_12'],
 [167, 'Q34_B_Part_13'],
 [168, 'Q34_B_Part_14'],
 [169, 'Q34_B_Part_15'],
 [170, 'Q34_B_Part_16'],
 [171, 'Q34_B_OTHER'],
 [172, 'Q36_B_Part_1'],
 [173, 'Q36_B_Part_2'],
 [174, 'Q36_B_Part_3'],
 [175, 'Q36_B_Part_4'],
 [176, 'Q36_B_Part_5'],
 [177, 'Q36_B_Part_6'],
 [178, 'Q36_B_Part_7'],
 [179, 'Q36_B_OTHER'],
 [180, 'Q37_B_Part_1'],
 [181, 'Q37_B_Part_2'],
 [182, 'Q37_B_Part_3'],
 [183, 'Q37_B_Part_4'],
 [184, 'Q37_B_Part_5'],
 [185, 'Q37_B_Part_6'],
 [186, 'Q37_B_Part_7'],
 [187, 'Q37_B_OTHER'],
 [188, 'Q38_B_Part_1'],
 [189, 'Q38_B_Part_2'],
 [190, 'Q38_B_Part_3'],
 [191, 'Q38_B_Part_4'],
 [192, 'Q38_B_Part_5'],
 [193, 'Q38_B_Part_6'],
 [194, 'Q38_B_Part_7'],
 [195, 'Q38_B_Part_8'],
 [196, 'Q38_B_Part_9'],
 [197, 'Q38_B_Part_10'],
 [198, 'Q38_B_Part_11'],
 [199, 'Q38_B_OTHER']]

In [18]:
# eliminamos las preguntas Q27B-Q38B
eliminar_indices(df_unido, 99, None)

Index(['index', 'age', 'gender', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q20',
       'Q21', 'Q22', 'Q33', 'Q35', 'Q41', 'Q7', 'Q9', 'Q12', 'Q14', 'Q24',
       'Q32', 'Q34', 'Q10_Part_1', 'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4',
       'Q10_Part_5', 'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9',
       'Q10_Part_10', 'Q10_Part_11', 'Q10_Part_12', 'Q10_Part_13',
       'Q10_Part_14', 'Q10_Part_15', 'Q10_Part_16', 'Q10_OTHER',
       'Q27_A_Part_1', 'Q27_A_Part_2', 'Q27_A_Part_3', 'Q27_A_Part_4',
       'Q27_A_Part_5', 'Q27_A_Part_6', 'Q27_A_Part_7', 'Q27_A_Part_8',
       'Q27_A_Part_9', 'Q27_A_Part_10', 'Q27_A_Part_11', 'Q27_A_OTHER', 'Q28',
       'Q29_A_Part_1', 'Q29_A_Part_2', 'Q29_A_Part_3', 'Q29_A_Part_4',
       'Q29_A_OTHER', 'Q30_A_Part_1', 'Q30_A_Part_2', 'Q30_A_Part_3',
       'Q30_A_Part_4', 'Q30_A_Part_5', 'Q30_A_Part_6', 'Q30_A_Part_7',
       'Q30_A_OTHER', 'Q39_Part_1', 'Q39_Part_2', 'Q39_Part_3', 'Q39_Part_4',
       'Q39_Part_5', 'Q39_Part_6', 'Q39_Part_7', 'Q39_Part_8', 'Q39_Part_9',
       'Q39_OTHER', 'Q40_Part_1', 'Q40_Part_2', 'Q40_Part_3', 'Q40_Part_4',
       'Q40_Part_5', 'Q40_Part_6', 'Q40_Part_7', 'Q40_Part_8', 'Q40_Part_9',
       'Q40_Part_10', 'Q40_Part_11', 'Q40_OTHER', 'Q42_Part_1', 'Q42_Part_2',
       'Q42_Part_3', 'Q42_Part_4', 'Q42_Part_5', 'Q42_Part_6', 'Q42_Part_7',
       'Q42_Part_8', 'Q42_Part_9', 'Q42_Part_10', 'Q42_Part_11', 'Q42_OTHER'],
      dtype='object')

## Filtramos por Data Analysts

In [21]:
# filtramos el nuevo dataframe unido por respuestas de personas que se identifican como 
# Business Analyst o Data Analyst
df_da = df_unido[(df_unido ["Q5"] == "Business Analyst") | (df_unido ["Q5"] == "Data Analyst")]

In [20]:
df_da.head()

,index,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q20,Q21,Q22,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER
16,16,50-54,Man,Belgium,Bachelorâ€™s degree,Data Analyst,20+ years,Python,A laptop,Energy/Mining,"1000-9,999 employees",5-9,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",None,"Matplotlib ,Seaborn ,Plotly / Plotly Express",Analyze and understand data to influence produ...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
32,32,22-24,Nonbinary,United States of America,Some college/university study without earning ...,Data Analyst,< 1 years,R,A personal computer / desktop,Manufacturing/Fabrication,250-999 employees,3-4,NaN,NaN,NaN,R,RStudio,NVIDIA GPUs,Ggplot / ggplot2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33,30-34,Woman,Egypt,Bachelorâ€™s degree,Data Analyst,3-5 years,R,A laptop,Non-profit/Service,0-49 employees,0,NaN,NaN,"Basic statistical software (Microsoft Excel, G...",Python,"Notepad++,Jupyter Notebook",Other,None,Analyze and understand data to influence produ...,None,None,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,Coursera,NaN,Kaggle Learn Courses,DataCamp,NaN,NaN,NaN,NaN,NaN,University Courses (resulting in a university ...,NaN,Other,Twitter (data science influencers),"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
46,46,22-24,Man,China,Some college/university study without earning ...,Data Analyst,< 1 years,Python,A personal computer / desktop,Computers/Technology,0-49 employees,0,NaN,NaN,"Basic statistical software (Microsoft Excel, G...","Python, SQL, C, C++, Java, Javascript, MATLAB","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",NVIDIA GPUs,"Matplotlib ,Plotly / Plotly Express",Analyze and understand data to influence produ...,NaN,NaN,Kaggle Notebooks,NaN,Azure Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Twitter (data science influencers),NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
52,52,40-44,Man,South Africa,Masterâ€™s degree,Data Analyst,1-3 years,R,A laptop,Manufacturing/Fabrication,250-999 employees,1-2,NaN,NaN,"Local development environments (RStudio, Jupyt...","R, SQL","RStudio ,Jupyter Notebook",None,"Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny",Analyze and understand data to influence produ...,None,Microsoft Power BI,NaN,NaN,NaN,NaN,NaN,NaN,IBM Watson Studio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IBM Cloud / Red Hat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,Coursera,NaN,NaN,NaN,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Course Forums (forums.fast.ai, Coursera forums...","YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,"Slack Communities (ods.ai, kagglenoobs, etc)",NaN,NaN