In [1]:
import pandas as pd
import sys
sys.path.append('../')
from src import soporte as sp

In [2]:
pd.options.display.max_columns = None

## Cargamos los datos

In [2]:
dicc_archivos = {'df_data_xml' : 'data_xml_clean.xml', 
                     'df_data_txt' : 'data_txt_clean.txt', 
                     'df_exported_data' : 'exported_db_data.csv', 
                     'df_kaggle' : 'data_remaning_kaggle.csv'}

In [3]:
encuesta = sp.Extraccion(**dicc_archivos)

In [4]:
dicc_dataframes = encuesta.cargar_datos('../datos/')

## Unimos los dataframes


Hemos unido los dos dataframes usando merge para unir los datos de xml con los de txt.

In [5]:
df_unido = encuesta.unir_datos()

In [6]:
df_unido.head(3)

,level_0,index,time,age,gender,Q3,Q4,Q5,Q6,Q8,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,0,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,2,924,22-24,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_unido.shape

(25973, 260)

In [25]:
df_unido.to_csv('../datos/datos_unidos_raw.csv')