In [1]:
import re
import numpy as np
import pandas as pd

In [2]:
pd.options.display.max_columns=None

In [3]:
df_unido = pd.read_csv('../datos/datos_unidos_raw.csv', index_col = 0)

## Limpieza

In [4]:
def limpiar_espacios(columna):  
    try:

        patron_espacios = "\s*,\S+"
        return re.sub(patron_espacios, ", ", columna)
    except:
        return np.nan

In [5]:
def separar_comas(columna):
    try:
        patron_comas = '(,\s)a'
        return re.sub(patron_comas, "; a", columna)
    except:
        return np.nan

In [6]:
df_unido['Q24'] = df_unido['Q24'].apply(separar_comas)

In [7]:
def separar_comas2(columna):
    try:
        patron = r'(\(.*),(\s.*),(\s.*\))'
        return re.sub(patron, r'\1;\2;\3', columna)
    except:
        return np.nan

In [8]:
df_unido['Q9'] = df_unido['Q9'].apply(separar_comas2)

## Limpieza: Eliminamos columnas

In [9]:
for col in df_unido.columns:
    print(col)

level_0
index
time
age
gender
Q3
Q4
Q5
Q6
Q8
Q11
Q13
Q15
Q20
Q21
Q22
Q23
Q25
Q26
Q33
Q35
Q41
Q7
Q9
Q12
Q14
Q16
Q17
Q24
Q32
Q34
Q10_Part_1
Q10_Part_2
Q10_Part_3
Q10_Part_4
Q10_Part_5
Q10_Part_6
Q10_Part_7
Q10_Part_8
Q10_Part_9
Q10_Part_10
Q10_Part_11
Q10_Part_12
Q10_Part_13
Q10_Part_14
Q10_Part_15
Q10_Part_16
Q10_OTHER
Q18_Part_1
Q18_Part_2
Q18_Part_3
Q18_Part_4
Q18_Part_5
Q18_Part_6
Q18_OTHER
Q19_Part_1
Q19_Part_2
Q19_Part_3
Q19_Part_4
Q19_Part_5
Q19_OTHER
Q27_A_Part_1
Q27_A_Part_2
Q27_A_Part_3
Q27_A_Part_4
Q27_A_Part_5
Q27_A_Part_6
Q27_A_Part_7
Q27_A_Part_8
Q27_A_Part_9
Q27_A_Part_10
Q27_A_Part_11
Q27_A_OTHER
Q28
Q29_A_Part_1
Q29_A_Part_2
Q29_A_Part_3
Q29_A_Part_4
Q29_A_OTHER
Q30_A_Part_1
Q30_A_Part_2
Q30_A_Part_3
Q30_A_Part_4
Q30_A_Part_5
Q30_A_Part_6
Q30_A_Part_7
Q30_A_OTHER
Q31_A_Part_1
Q31_A_Part_2
Q31_A_Part_3
Q31_A_Part_4
Q31_A_Part_5
Q31_A_Part_6
Q31_A_Part_7
Q31_A_Part_8
Q31_A_Part_9
Q31_A_OTHER
Q36_A_Part_1
Q36_A_Part_2
Q36_A_Part_3
Q36_A_Part_4
Q36_A_Part_5
Q36_A_Part_6
Q36_A_Part_7
Q36_A_OTHER
Q37_A_Part_1
Q37_A_Part_2
Q37_A_Part_3
Q37_A_Part_4
Q37_A_Part_5
Q37_A_Part_6
Q37_A_Part_7
Q37_A_OTHER
Q38_A_Part_1
Q38_A_Part_2
Q38_A_Part_3
Q38_A_Part_4
Q38_A_Part_5
Q38_A_Part_6
Q38_A_Part_7
Q38_A_Part_8
Q38_A_Part_9
Q38_A_Part_10
Q38_A_Part_11
Q38_A_OTHER
Q39_Part_1
Q39_Part_2
Q39_Part_3
Q39_Part_4
Q39_Part_5
Q39_Part_6
Q39_Part_7
Q39_Part_8
Q39_Part_9
Q39_OTHER
Q40_Part_1
Q40_Part_2
Q40_Part_3
Q40_Part_4
Q40_Part_5
Q40_Part_6
Q40_Part_7
Q40_Part_8
Q40_Part_9
Q40_Part_10
Q40_Part_11
Q40_OTHER
Q42_Part_1
Q42_Part_2
Q42_Part_3
Q42_Part_4
Q42_Part_5
Q42_Part_6
Q42_Part_7
Q42_Part_8
Q42_Part_9
Q42_Part_10
Q42_Part_11
Q42_OTHER
Q27_B_Part_1
Q27_B_Part_2
Q27_B_Part_3
Q27_B_Part_4
Q27_B_Part_5
Q27_B_Part_6
Q27_B_Part_7
Q27_B_Part_8
Q27_B_Part_9
Q27_B_Part_10
Q27_B_Part_11
Q27_B_OTHER
Q29_B_Part_1
Q29_B_Part_2
Q29_B_Part_3
Q29_B_Part_4
Q29_B_OTHER
Q30_B_Part_1
Q30_B_Part_2
Q30_B_Part_3
Q30_B_Part_4
Q30_B_Part_5
Q30_B_Part_6
Q30_B_Part_7
Q30_B_OTHER
Q31_B_Part_1
Q31_B_Part_2
Q31_B_Part_3
Q31_B_Part_4
Q31_B_Part_5
Q31_B_Part_6
Q31_B_Part_7
Q31_B_Part_8
Q31_B_Part_9
Q31_B_OTHER
Q32_B_Part_1
Q32_B_Part_2
Q32_B_Part_3
Q32_B_Part_4
Q32_B_Part_5
Q32_B_Part_6
Q32_B_Part_7
Q32_B_Part_8
Q32_B_Part_9
Q32_B_Part_10
Q32_B_Part_11
Q32_B_Part_12
Q32_B_Part_13
Q32_B_Part_14
Q32_B_Part_15
Q32_B_Part_16
Q32_B_Part_17
Q32_B_Part_18
Q32_B_Part_19
Q32_B_Part_20
Q32_B_OTHER
Q34_B_Part_1
Q34_B_Part_2
Q34_B_Part_3
Q34_B_Part_4
Q34_B_Part_5
Q34_B_Part_6
Q34_B_Part_7
Q34_B_Part_8
Q34_B_Part_9
Q34_B_Part_10
Q34_B_Part_11
Q34_B_Part_12
Q34_B_Part_13
Q34_B_Part_14
Q34_B_Part_15
Q34_B_Part_16
Q34_B_OTHER
Q36_B_Part_1
Q36_B_Part_2
Q36_B_Part_3
Q36_B_Part_4
Q36_B_Part_5
Q36_B_Part_6
Q36_B_Part_7
Q36_B_OTHER
Q37_B_Part_1
Q37_B_Part_2
Q37_B_Part_3
Q37_B_Part_4
Q37_B_Part_5
Q37_B_Part_6
Q37_B_Part_7
Q37_B_OTHER
Q38_B_Part_1
Q38_B_Part_2
Q38_B_Part_3
Q38_B_Part_4
Q38_B_Part_5
Q38_B_Part_6
Q38_B_Part_7
Q38_B_Part_8
Q38_B_Part_9
Q38_B_Part_10
Q38_B_Part_11
Q38_B_OTHER

In [10]:
def eliminar_etiqueta (dataframe, *lista_columna):
    #función para eliminar las columnas en las que no nos vamos a centrar en el estudio, por etiqueta/nombre de columna, 
    #los parámetros que coge son dataframe y una lista de nombres de las columnas de ese dataframe
    for columna in dataframe.columns:
        for elemento  in lista_columna:
            if elemento == columna:
                #esta función itera por nuestra lista_columna (el arg) y comprueba si el elemento (la etiqueta a eliminar)
                # se encuentra en cada columna, y, de ser así, la eliminará usando el método .drop()
                dataframe.drop([columna],axis = 1, inplace = True)
    return dataframe.columns

In [11]:
# eliminamos columnas sueltas
eliminar_etiqueta(df_unido, *['level_0', 'index', 'time', 'Q4', 'Q11', 'Q13', 'Q20', 'Q21'])

Index(['age', 'gender', 'Q3', 'Q5', 'Q6', 'Q8', 'Q15', 'Q22', 'Q23', 'Q25',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=252)

In [12]:
for col in df_unido.columns:
    print(col)

age
gender
Q3
Q5
Q6
Q8
Q15
Q22
Q23
Q25
Q26
Q33
Q35
Q41
Q7
Q9
Q12
Q14
Q16
Q17
Q24
Q32
Q34
Q10_Part_1
Q10_Part_2
Q10_Part_3
Q10_Part_4
Q10_Part_5
Q10_Part_6
Q10_Part_7
Q10_Part_8
Q10_Part_9
Q10_Part_10
Q10_Part_11
Q10_Part_12
Q10_Part_13
Q10_Part_14
Q10_Part_15
Q10_Part_16
Q10_OTHER
Q18_Part_1
Q18_Part_2
Q18_Part_3
Q18_Part_4
Q18_Part_5
Q18_Part_6
Q18_OTHER
Q19_Part_1
Q19_Part_2
Q19_Part_3
Q19_Part_4
Q19_Part_5
Q19_OTHER
Q27_A_Part_1
Q27_A_Part_2
Q27_A_Part_3
Q27_A_Part_4
Q27_A_Part_5
Q27_A_Part_6
Q27_A_Part_7
Q27_A_Part_8
Q27_A_Part_9
Q27_A_Part_10
Q27_A_Part_11
Q27_A_OTHER
Q28
Q29_A_Part_1
Q29_A_Part_2
Q29_A_Part_3
Q29_A_Part_4
Q29_A_OTHER
Q30_A_Part_1
Q30_A_Part_2
Q30_A_Part_3
Q30_A_Part_4
Q30_A_Part_5
Q30_A_Part_6
Q30_A_Part_7
Q30_A_OTHER
Q31_A_Part_1
Q31_A_Part_2
Q31_A_Part_3
Q31_A_Part_4
Q31_A_Part_5
Q31_A_Part_6
Q31_A_Part_7
Q31_A_Part_8
Q31_A_Part_9
Q31_A_OTHER
Q36_A_Part_1
Q36_A_Part_2
Q36_A_Part_3
Q36_A_Part_4
Q36_A_Part_5
Q36_A_Part_6
Q36_A_Part_7
Q36_A_OTHER
Q37_A_Part_1
Q37_A_Part_2
Q37_A_Part_3
Q37_A_Part_4
Q37_A_Part_5
Q37_A_Part_6
Q37_A_Part_7
Q37_A_OTHER
Q38_A_Part_1
Q38_A_Part_2
Q38_A_Part_3
Q38_A_Part_4
Q38_A_Part_5
Q38_A_Part_6
Q38_A_Part_7
Q38_A_Part_8
Q38_A_Part_9
Q38_A_Part_10
Q38_A_Part_11
Q38_A_OTHER
Q39_Part_1
Q39_Part_2
Q39_Part_3
Q39_Part_4
Q39_Part_5
Q39_Part_6
Q39_Part_7
Q39_Part_8
Q39_Part_9
Q39_OTHER
Q40_Part_1
Q40_Part_2
Q40_Part_3
Q40_Part_4
Q40_Part_5
Q40_Part_6
Q40_Part_7
Q40_Part_8
Q40_Part_9
Q40_Part_10
Q40_Part_11
Q40_OTHER
Q42_Part_1
Q42_Part_2
Q42_Part_3
Q42_Part_4
Q42_Part_5
Q42_Part_6
Q42_Part_7
Q42_Part_8
Q42_Part_9
Q42_Part_10
Q42_Part_11
Q42_OTHER
Q27_B_Part_1
Q27_B_Part_2
Q27_B_Part_3
Q27_B_Part_4
Q27_B_Part_5
Q27_B_Part_6
Q27_B_Part_7
Q27_B_Part_8
Q27_B_Part_9
Q27_B_Part_10
Q27_B_Part_11
Q27_B_OTHER
Q29_B_Part_1
Q29_B_Part_2
Q29_B_Part_3
Q29_B_Part_4
Q29_B_OTHER
Q30_B_Part_1
Q30_B_Part_2
Q30_B_Part_3
Q30_B_Part_4
Q30_B_Part_5
Q30_B_Part_6
Q30_B_Part_7
Q30_B_OTHER
Q31_B_Part_1
Q31_B_Part_2
Q31_B_Part_3
Q31_B_Part_4
Q31_B_Part_5
Q31_B_Part_6
Q31_B_Part_7
Q31_B_Part_8
Q31_B_Part_9
Q31_B_OTHER
Q32_B_Part_1
Q32_B_Part_2
Q32_B_Part_3
Q32_B_Part_4
Q32_B_Part_5
Q32_B_Part_6
Q32_B_Part_7
Q32_B_Part_8
Q32_B_Part_9
Q32_B_Part_10
Q32_B_Part_11
Q32_B_Part_12
Q32_B_Part_13
Q32_B_Part_14
Q32_B_Part_15
Q32_B_Part_16
Q32_B_Part_17
Q32_B_Part_18
Q32_B_Part_19
Q32_B_Part_20
Q32_B_OTHER
Q34_B_Part_1
Q34_B_Part_2
Q34_B_Part_3
Q34_B_Part_4
Q34_B_Part_5
Q34_B_Part_6
Q34_B_Part_7
Q34_B_Part_8
Q34_B_Part_9
Q34_B_Part_10
Q34_B_Part_11
Q34_B_Part_12
Q34_B_Part_13
Q34_B_Part_14
Q34_B_Part_15
Q34_B_Part_16
Q34_B_OTHER
Q36_B_Part_1
Q36_B_Part_2
Q36_B_Part_3
Q36_B_Part_4
Q36_B_Part_5
Q36_B_Part_6
Q36_B_Part_7
Q36_B_OTHER
Q37_B_Part_1
Q37_B_Part_2
Q37_B_Part_3
Q37_B_Part_4
Q37_B_Part_5
Q37_B_Part_6
Q37_B_Part_7
Q37_B_OTHER
Q38_B_Part_1
Q38_B_Part_2
Q38_B_Part_3
Q38_B_Part_4
Q38_B_Part_5
Q38_B_Part_6
Q38_B_Part_7
Q38_B_Part_8
Q38_B_Part_9
Q38_B_Part_10
Q38_B_Part_11
Q38_B_OTHER

In [13]:
# función para eliminar las columnas en las que no nos vamos a centrar en el estudio, por rango 
def eliminar_indices (dataframe, columna1, columna2):
    #creamos un diccionario de los índices por columna de nuestro df
    diccionario = {}
    #los nombres de las columnas serán nuestras keys para poder acceder a los índices usando los nombres de las columnas (los parámetros)
    for indice, col in enumerate(df_unido.columns):
        diccionario.update({col: indice})
    print(diccionario)
    #usamos el diccionario para obtener los índices en el rango 
    if columna1 in diccionario:
        indice1 = diccionario.get(columna1)
    else: 
        print('Columna1 no está en el diccionario')
    if columna2 in diccionario:
    #usamos el +1 para poder acceder al último índice
        indice2 = diccionario.get(columna2) + 1
    else: 
        print('Columna2 no está en el diccionario')
        #usamos los índices para borrar el rango de columnas y así eliminiar varias a la vez
    for elemento in dataframe.columns[indice1:indice2]:    
        dataframe.drop([elemento],axis = 1, inplace = True)
    return dataframe.columns

Con la función nos vamos deshaciendo en rangos de las columnas que no nos aportan información con valor.

In [14]:
eliminar_indices(df_unido, 'Q12', 'Q17')

{'age': 0, 'gender': 1, 'Q3': 2, 'Q5': 3, 'Q6': 4, 'Q8': 5, 'Q15': 6, 'Q22': 7, 'Q23': 8, 'Q25': 9, 'Q26': 10, 'Q33': 11, 'Q35': 12, 'Q41': 13, 'Q7': 14, 'Q9': 15, 'Q12': 16, 'Q14': 17, 'Q16': 18, 'Q17': 19, 'Q24': 20, 'Q32': 21, 'Q34': 22, 'Q10_Part_1': 23, 'Q10_Part_2': 24, 'Q10_Part_3': 25, 'Q10_Part_4': 26, 'Q10_Part_5': 27, 'Q10_Part_6': 28, 'Q10_Part_7': 29, 'Q10_Part_8': 30, 'Q10_Part_9': 31, 'Q10_Part_10': 32, 'Q10_Part_11': 33, 'Q10_Part_12': 34, 'Q10_Part_13': 35, 'Q10_Part_14': 36, 'Q10_Part_15': 37, 'Q10_Part_16': 38, 'Q10_OTHER': 39, 'Q18_Part_1': 40, 'Q18_Part_2': 41, 'Q18_Part_3': 42, 'Q18_Part_4': 43, 'Q18_Part_5': 44, 'Q18_Part_6': 45, 'Q18_OTHER': 46, 'Q19_Part_1': 47, 'Q19_Part_2': 48, 'Q19_Part_3': 49, 'Q19_Part_4': 50, 'Q19_Part_5': 51, 'Q19_OTHER': 52, 'Q27_A_Part_1': 53, 'Q27_A_Part_2': 54, 'Q27_A_Part_3': 55, 'Q27_A_Part_4': 56, 'Q27_A_Part_5': 57, 'Q27_A_Part_6': 58, 'Q27_A_Part_7': 59, 'Q27_A_Part_8': 60, 'Q27_A_Part_9': 61, 'Q27_A_Part_10': 62, 'Q27_A_Part_11': 63, 'Q27_A_OTHER': 64, 'Q28': 65, 'Q29_A_Part_1': 66, 'Q29_A_Part_2': 67, 'Q29_A_Part_3': 68, 'Q29_A_Part_4': 69, 'Q29_A_OTHER': 70, 'Q30_A_Part_1': 71, 'Q30_A_Part_2': 72, 'Q30_A_Part_3': 73, 'Q30_A_Part_4': 74, 'Q30_A_Part_5': 75, 'Q30_A_Part_6': 76, 'Q30_A_Part_7': 77, 'Q30_A_OTHER': 78, 'Q31_A_Part_1': 79, 'Q31_A_Part_2': 80, 'Q31_A_Part_3': 81, 'Q31_A_Part_4': 82, 'Q31_A_Part_5': 83, 'Q31_A_Part_6': 84, 'Q31_A_Part_7': 85, 'Q31_A_Part_8': 86, 'Q31_A_Part_9': 87, 'Q31_A_OTHER': 88, 'Q36_A_Part_1': 89, 'Q36_A_Part_2': 90, 'Q36_A_Part_3': 91, 'Q36_A_Part_4': 92, 'Q36_A_Part_5': 93, 'Q36_A_Part_6': 94, 'Q36_A_Part_7': 95, 'Q36_A_OTHER': 96, 'Q37_A_Part_1': 97, 'Q37_A_Part_2': 98, 'Q37_A_Part_3': 99, 'Q37_A_Part_4': 100, 'Q37_A_Part_5': 101, 'Q37_A_Part_6': 102, 'Q37_A_Part_7': 103, 'Q37_A_OTHER': 104, 'Q38_A_Part_1': 105, 'Q38_A_Part_2': 106, 'Q38_A_Part_3': 107, 'Q38_A_Part_4': 108, 'Q38_A_Part_5': 109, 'Q38_A_Part_6': 110, 'Q38_A_Part_7': 111, 'Q38_A_Part_8': 112, 'Q38_A_Part_9': 113, 'Q38_A_Part_10': 114, 'Q38_A_Part_11': 115, 'Q38_A_OTHER': 116, 'Q39_Part_1': 117, 'Q39_Part_2': 118, 'Q39_Part_3': 119, 'Q39_Part_4': 120, 'Q39_Part_5': 121, 'Q39_Part_6': 122, 'Q39_Part_7': 123, 'Q39_Part_8': 124, 'Q39_Part_9': 125, 'Q39_OTHER': 126, 'Q40_Part_1': 127, 'Q40_Part_2': 128, 'Q40_Part_3': 129, 'Q40_Part_4': 130, 'Q40_Part_5': 131, 'Q40_Part_6': 132, 'Q40_Part_7': 133, 'Q40_Part_8': 134, 'Q40_Part_9': 135, 'Q40_Part_10': 136, 'Q40_Part_11': 137, 'Q40_OTHER': 138, 'Q42_Part_1': 139, 'Q42_Part_2': 140, 'Q42_Part_3': 141, 'Q42_Part_4': 142, 'Q42_Part_5': 143, 'Q42_Part_6': 144, 'Q42_Part_7': 145, 'Q42_Part_8': 146, 'Q42_Part_9': 147, 'Q42_Part_10': 148, 'Q42_Part_11': 149, 'Q42_OTHER': 150, 'Q27_B_Part_1': 151, 'Q27_B_Part_2': 152, 'Q27_B_Part_3': 153, 'Q27_B_Part_4': 154, 'Q27_B_Part_5': 155, 'Q27_B_Part_6': 156, 'Q27_B_Part_7': 157, 'Q27_B_Part_8': 158, 'Q27_B_Part_9': 159, 'Q27_B_Part_10': 160, 'Q27_B_Part_11': 161, 'Q27_B_OTHER': 162, 'Q29_B_Part_1': 163, 'Q29_B_Part_2': 164, 'Q29_B_Part_3': 165, 'Q29_B_Part_4': 166, 'Q29_B_OTHER': 167, 'Q30_B_Part_1': 168, 'Q30_B_Part_2': 169, 'Q30_B_Part_3': 170, 'Q30_B_Part_4': 171, 'Q30_B_Part_5': 172, 'Q30_B_Part_6': 173, 'Q30_B_Part_7': 174, 'Q30_B_OTHER': 175, 'Q31_B_Part_1': 176, 'Q31_B_Part_2': 177, 'Q31_B_Part_3': 178, 'Q31_B_Part_4': 179, 'Q31_B_Part_5': 180, 'Q31_B_Part_6': 181, 'Q31_B_Part_7': 182, 'Q31_B_Part_8': 183, 'Q31_B_Part_9': 184, 'Q31_B_OTHER': 185, 'Q32_B_Part_1': 186, 'Q32_B_Part_2': 187, 'Q32_B_Part_3': 188, 'Q32_B_Part_4': 189, 'Q32_B_Part_5': 190, 'Q32_B_Part_6': 191, 'Q32_B_Part_7': 192, 'Q32_B_Part_8': 193, 'Q32_B_Part_9': 194, 'Q32_B_Part_10': 195, 'Q32_B_Part_11': 196, 'Q32_B_Part_12': 197, 'Q32_B_Part_13': 198, 'Q32_B_Part_14': 199, 'Q32_B_Part_15': 200, 'Q32_B_Part_16': 201, 'Q32_B_Part_17': 202, 'Q32_B_Part_18': 203, 'Q32_B_Part_19': 204, 'Q32_B_Part_20': 205, 'Q32_B_OTHER': 206, 'Q34_B_Part_1': 207, 'Q34_B_Part_2': 208, 'Q34_B_Part_3': 209, 'Q34_B_Part_4': 210, 'Q34_B_Part_5': 211, 'Q34_B_Part_6': 212, 'Q34_B_Part_7': 213, 'Q34_B_Part_8': 214, 'Q34_B_Part_9': 215, 'Q34_B_Part_10': 216, 'Q34_B_Part_11': 217, 'Q34_B_Part_12': 218, 'Q34_B_Part_13': 219, 'Q34_B_Part_14': 220, 'Q34_B_Part_15': 221, 'Q34_B_Part_16': 222, 'Q34_B_OTHER': 223, 'Q36_B_Part_1': 224, 'Q36_B_Part_2': 225, 'Q36_B_Part_3': 226, 'Q36_B_Part_4': 227, 'Q36_B_Part_5': 228, 'Q36_B_Part_6': 229, 'Q36_B_Part_7': 230, 'Q36_B_OTHER': 231, 'Q37_B_Part_1': 232, 'Q37_B_Part_2': 233, 'Q37_B_Part_3': 234, 'Q37_B_Part_4': 235, 'Q37_B_Part_5': 236, 'Q37_B_Part_6': 237, 'Q37_B_Part_7': 238, 'Q37_B_OTHER': 239, 'Q38_B_Part_1': 240, 'Q38_B_Part_2': 241, 'Q38_B_Part_3': 242, 'Q38_B_Part_4': 243, 'Q38_B_Part_5': 244, 'Q38_B_Part_6': 245, 'Q38_B_Part_7': 246, 'Q38_B_Part_8': 247, 'Q38_B_Part_9': 248, 'Q38_B_Part_10': 249, 'Q38_B_Part_11': 250, 'Q38_B_OTHER': 251}

Index(['age', 'gender', 'Q3', 'Q5', 'Q6', 'Q8', 'Q15', 'Q22', 'Q23', 'Q25',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=248)

In [15]:
eliminar_indices(df_unido, 'Q23', 'Q35')

{'age': 0, 'gender': 1, 'Q3': 2, 'Q5': 3, 'Q6': 4, 'Q8': 5, 'Q15': 6, 'Q22': 7, 'Q23': 8, 'Q25': 9, 'Q26': 10, 'Q33': 11, 'Q35': 12, 'Q41': 13, 'Q7': 14, 'Q9': 15, 'Q24': 16, 'Q32': 17, 'Q34': 18, 'Q10_Part_1': 19, 'Q10_Part_2': 20, 'Q10_Part_3': 21, 'Q10_Part_4': 22, 'Q10_Part_5': 23, 'Q10_Part_6': 24, 'Q10_Part_7': 25, 'Q10_Part_8': 26, 'Q10_Part_9': 27, 'Q10_Part_10': 28, 'Q10_Part_11': 29, 'Q10_Part_12': 30, 'Q10_Part_13': 31, 'Q10_Part_14': 32, 'Q10_Part_15': 33, 'Q10_Part_16': 34, 'Q10_OTHER': 35, 'Q18_Part_1': 36, 'Q18_Part_2': 37, 'Q18_Part_3': 38, 'Q18_Part_4': 39, 'Q18_Part_5': 40, 'Q18_Part_6': 41, 'Q18_OTHER': 42, 'Q19_Part_1': 43, 'Q19_Part_2': 44, 'Q19_Part_3': 45, 'Q19_Part_4': 46, 'Q19_Part_5': 47, 'Q19_OTHER': 48, 'Q27_A_Part_1': 49, 'Q27_A_Part_2': 50, 'Q27_A_Part_3': 51, 'Q27_A_Part_4': 52, 'Q27_A_Part_5': 53, 'Q27_A_Part_6': 54, 'Q27_A_Part_7': 55, 'Q27_A_Part_8': 56, 'Q27_A_Part_9': 57, 'Q27_A_Part_10': 58, 'Q27_A_Part_11': 59, 'Q27_A_OTHER': 60, 'Q28': 61, 'Q29_A_Part_1': 62, 'Q29_A_Part_2': 63, 'Q29_A_Part_3': 64, 'Q29_A_Part_4': 65, 'Q29_A_OTHER': 66, 'Q30_A_Part_1': 67, 'Q30_A_Part_2': 68, 'Q30_A_Part_3': 69, 'Q30_A_Part_4': 70, 'Q30_A_Part_5': 71, 'Q30_A_Part_6': 72, 'Q30_A_Part_7': 73, 'Q30_A_OTHER': 74, 'Q31_A_Part_1': 75, 'Q31_A_Part_2': 76, 'Q31_A_Part_3': 77, 'Q31_A_Part_4': 78, 'Q31_A_Part_5': 79, 'Q31_A_Part_6': 80, 'Q31_A_Part_7': 81, 'Q31_A_Part_8': 82, 'Q31_A_Part_9': 83, 'Q31_A_OTHER': 84, 'Q36_A_Part_1': 85, 'Q36_A_Part_2': 86, 'Q36_A_Part_3': 87, 'Q36_A_Part_4': 88, 'Q36_A_Part_5': 89, 'Q36_A_Part_6': 90, 'Q36_A_Part_7': 91, 'Q36_A_OTHER': 92, 'Q37_A_Part_1': 93, 'Q37_A_Part_2': 94, 'Q37_A_Part_3': 95, 'Q37_A_Part_4': 96, 'Q37_A_Part_5': 97, 'Q37_A_Part_6': 98, 'Q37_A_Part_7': 99, 'Q37_A_OTHER': 100, 'Q38_A_Part_1': 101, 'Q38_A_Part_2': 102, 'Q38_A_Part_3': 103, 'Q38_A_Part_4': 104, 'Q38_A_Part_5': 105, 'Q38_A_Part_6': 106, 'Q38_A_Part_7': 107, 'Q38_A_Part_8': 108, 'Q38_A_Part_9': 109, 'Q38_A_Part_10': 110, 'Q38_A_Part_11': 111, 'Q38_A_OTHER': 112, 'Q39_Part_1': 113, 'Q39_Part_2': 114, 'Q39_Part_3': 115, 'Q39_Part_4': 116, 'Q39_Part_5': 117, 'Q39_Part_6': 118, 'Q39_Part_7': 119, 'Q39_Part_8': 120, 'Q39_Part_9': 121, 'Q39_OTHER': 122, 'Q40_Part_1': 123, 'Q40_Part_2': 124, 'Q40_Part_3': 125, 'Q40_Part_4': 126, 'Q40_Part_5': 127, 'Q40_Part_6': 128, 'Q40_Part_7': 129, 'Q40_Part_8': 130, 'Q40_Part_9': 131, 'Q40_Part_10': 132, 'Q40_Part_11': 133, 'Q40_OTHER': 134, 'Q42_Part_1': 135, 'Q42_Part_2': 136, 'Q42_Part_3': 137, 'Q42_Part_4': 138, 'Q42_Part_5': 139, 'Q42_Part_6': 140, 'Q42_Part_7': 141, 'Q42_Part_8': 142, 'Q42_Part_9': 143, 'Q42_Part_10': 144, 'Q42_Part_11': 145, 'Q42_OTHER': 146, 'Q27_B_Part_1': 147, 'Q27_B_Part_2': 148, 'Q27_B_Part_3': 149, 'Q27_B_Part_4': 150, 'Q27_B_Part_5': 151, 'Q27_B_Part_6': 152, 'Q27_B_Part_7': 153, 'Q27_B_Part_8': 154, 'Q27_B_Part_9': 155, 'Q27_B_Part_10': 156, 'Q27_B_Part_11': 157, 'Q27_B_OTHER': 158, 'Q29_B_Part_1': 159, 'Q29_B_Part_2': 160, 'Q29_B_Part_3': 161, 'Q29_B_Part_4': 162, 'Q29_B_OTHER': 163, 'Q30_B_Part_1': 164, 'Q30_B_Part_2': 165, 'Q30_B_Part_3': 166, 'Q30_B_Part_4': 167, 'Q30_B_Part_5': 168, 'Q30_B_Part_6': 169, 'Q30_B_Part_7': 170, 'Q30_B_OTHER': 171, 'Q31_B_Part_1': 172, 'Q31_B_Part_2': 173, 'Q31_B_Part_3': 174, 'Q31_B_Part_4': 175, 'Q31_B_Part_5': 176, 'Q31_B_Part_6': 177, 'Q31_B_Part_7': 178, 'Q31_B_Part_8': 179, 'Q31_B_Part_9': 180, 'Q31_B_OTHER': 181, 'Q32_B_Part_1': 182, 'Q32_B_Part_2': 183, 'Q32_B_Part_3': 184, 'Q32_B_Part_4': 185, 'Q32_B_Part_5': 186, 'Q32_B_Part_6': 187, 'Q32_B_Part_7': 188, 'Q32_B_Part_8': 189, 'Q32_B_Part_9': 190, 'Q32_B_Part_10': 191, 'Q32_B_Part_11': 192, 'Q32_B_Part_12': 193, 'Q32_B_Part_13': 194, 'Q32_B_Part_14': 195, 'Q32_B_Part_15': 196, 'Q32_B_Part_16': 197, 'Q32_B_Part_17': 198, 'Q32_B_Part_18': 199, 'Q32_B_Part_19': 200, 'Q32_B_Part_20': 201, 'Q32_B_OTHER': 202, 'Q34_B_Part_1': 203, 'Q34_B_Part_2': 204, 'Q34_B_Part_3': 205, 'Q34_B_Part_4': 206, 'Q34_B_Part_5': 207, 'Q34_B_Part_6': 208, 'Q34_B_Part_7': 209, 'Q34_B_Part_8': 210, 'Q34_B_Part_9': 211, 'Q34_B_Part_10': 212, 'Q34_B_Part_11': 213, 'Q34_B_Part_12': 214, 'Q34_B_Part_13': 215, 'Q34_B_Part_14': 216, 'Q34_B_Part_15': 217, 'Q34_B_Part_16': 218, 'Q34_B_OTHER': 219, 'Q36_B_Part_1': 220, 'Q36_B_Part_2': 221, 'Q36_B_Part_3': 222, 'Q36_B_Part_4': 223, 'Q36_B_Part_5': 224, 'Q36_B_Part_6': 225, 'Q36_B_Part_7': 226, 'Q36_B_OTHER': 227, 'Q37_B_Part_1': 228, 'Q37_B_Part_2': 229, 'Q37_B_Part_3': 230, 'Q37_B_Part_4': 231, 'Q37_B_Part_5': 232, 'Q37_B_Part_6': 233, 'Q37_B_Part_7': 234, 'Q37_B_OTHER': 235, 'Q38_B_Part_1': 236, 'Q38_B_Part_2': 237, 'Q38_B_Part_3': 238, 'Q38_B_Part_4': 239, 'Q38_B_Part_5': 240, 'Q38_B_Part_6': 241, 'Q38_B_Part_7': 242, 'Q38_B_Part_8': 243, 'Q38_B_Part_9': 244, 'Q38_B_Part_10': 245, 'Q38_B_Part_11': 246, 'Q38_B_OTHER': 247}

Index(['age', 'gender', 'Q3', 'Q5', 'Q6', 'Q8', 'Q15', 'Q22', 'Q41', 'Q7',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=243)

In [16]:
eliminar_indices(df_unido, 'Q18_Part_1', 'Q38_A_OTHER')

{'age': 0, 'gender': 1, 'Q3': 2, 'Q5': 3, 'Q6': 4, 'Q8': 5, 'Q15': 6, 'Q22': 7, 'Q41': 8, 'Q7': 9, 'Q9': 10, 'Q24': 11, 'Q32': 12, 'Q34': 13, 'Q10_Part_1': 14, 'Q10_Part_2': 15, 'Q10_Part_3': 16, 'Q10_Part_4': 17, 'Q10_Part_5': 18, 'Q10_Part_6': 19, 'Q10_Part_7': 20, 'Q10_Part_8': 21, 'Q10_Part_9': 22, 'Q10_Part_10': 23, 'Q10_Part_11': 24, 'Q10_Part_12': 25, 'Q10_Part_13': 26, 'Q10_Part_14': 27, 'Q10_Part_15': 28, 'Q10_Part_16': 29, 'Q10_OTHER': 30, 'Q18_Part_1': 31, 'Q18_Part_2': 32, 'Q18_Part_3': 33, 'Q18_Part_4': 34, 'Q18_Part_5': 35, 'Q18_Part_6': 36, 'Q18_OTHER': 37, 'Q19_Part_1': 38, 'Q19_Part_2': 39, 'Q19_Part_3': 40, 'Q19_Part_4': 41, 'Q19_Part_5': 42, 'Q19_OTHER': 43, 'Q27_A_Part_1': 44, 'Q27_A_Part_2': 45, 'Q27_A_Part_3': 46, 'Q27_A_Part_4': 47, 'Q27_A_Part_5': 48, 'Q27_A_Part_6': 49, 'Q27_A_Part_7': 50, 'Q27_A_Part_8': 51, 'Q27_A_Part_9': 52, 'Q27_A_Part_10': 53, 'Q27_A_Part_11': 54, 'Q27_A_OTHER': 55, 'Q28': 56, 'Q29_A_Part_1': 57, 'Q29_A_Part_2': 58, 'Q29_A_Part_3': 59, 'Q29_A_Part_4': 60, 'Q29_A_OTHER': 61, 'Q30_A_Part_1': 62, 'Q30_A_Part_2': 63, 'Q30_A_Part_3': 64, 'Q30_A_Part_4': 65, 'Q30_A_Part_5': 66, 'Q30_A_Part_6': 67, 'Q30_A_Part_7': 68, 'Q30_A_OTHER': 69, 'Q31_A_Part_1': 70, 'Q31_A_Part_2': 71, 'Q31_A_Part_3': 72, 'Q31_A_Part_4': 73, 'Q31_A_Part_5': 74, 'Q31_A_Part_6': 75, 'Q31_A_Part_7': 76, 'Q31_A_Part_8': 77, 'Q31_A_Part_9': 78, 'Q31_A_OTHER': 79, 'Q36_A_Part_1': 80, 'Q36_A_Part_2': 81, 'Q36_A_Part_3': 82, 'Q36_A_Part_4': 83, 'Q36_A_Part_5': 84, 'Q36_A_Part_6': 85, 'Q36_A_Part_7': 86, 'Q36_A_OTHER': 87, 'Q37_A_Part_1': 88, 'Q37_A_Part_2': 89, 'Q37_A_Part_3': 90, 'Q37_A_Part_4': 91, 'Q37_A_Part_5': 92, 'Q37_A_Part_6': 93, 'Q37_A_Part_7': 94, 'Q37_A_OTHER': 95, 'Q38_A_Part_1': 96, 'Q38_A_Part_2': 97, 'Q38_A_Part_3': 98, 'Q38_A_Part_4': 99, 'Q38_A_Part_5': 100, 'Q38_A_Part_6': 101, 'Q38_A_Part_7': 102, 'Q38_A_Part_8': 103, 'Q38_A_Part_9': 104, 'Q38_A_Part_10': 105, 'Q38_A_Part_11': 106, 'Q38_A_OTHER': 107, 'Q39_Part_1': 108, 'Q39_Part_2': 109, 'Q39_Part_3': 110, 'Q39_Part_4': 111, 'Q39_Part_5': 112, 'Q39_Part_6': 113, 'Q39_Part_7': 114, 'Q39_Part_8': 115, 'Q39_Part_9': 116, 'Q39_OTHER': 117, 'Q40_Part_1': 118, 'Q40_Part_2': 119, 'Q40_Part_3': 120, 'Q40_Part_4': 121, 'Q40_Part_5': 122, 'Q40_Part_6': 123, 'Q40_Part_7': 124, 'Q40_Part_8': 125, 'Q40_Part_9': 126, 'Q40_Part_10': 127, 'Q40_Part_11': 128, 'Q40_OTHER': 129, 'Q42_Part_1': 130, 'Q42_Part_2': 131, 'Q42_Part_3': 132, 'Q42_Part_4': 133, 'Q42_Part_5': 134, 'Q42_Part_6': 135, 'Q42_Part_7': 136, 'Q42_Part_8': 137, 'Q42_Part_9': 138, 'Q42_Part_10': 139, 'Q42_Part_11': 140, 'Q42_OTHER': 141, 'Q27_B_Part_1': 142, 'Q27_B_Part_2': 143, 'Q27_B_Part_3': 144, 'Q27_B_Part_4': 145, 'Q27_B_Part_5': 146, 'Q27_B_Part_6': 147, 'Q27_B_Part_7': 148, 'Q27_B_Part_8': 149, 'Q27_B_Part_9': 150, 'Q27_B_Part_10': 151, 'Q27_B_Part_11': 152, 'Q27_B_OTHER': 153, 'Q29_B_Part_1': 154, 'Q29_B_Part_2': 155, 'Q29_B_Part_3': 156, 'Q29_B_Part_4': 157, 'Q29_B_OTHER': 158, 'Q30_B_Part_1': 159, 'Q30_B_Part_2': 160, 'Q30_B_Part_3': 161, 'Q30_B_Part_4': 162, 'Q30_B_Part_5': 163, 'Q30_B_Part_6': 164, 'Q30_B_Part_7': 165, 'Q30_B_OTHER': 166, 'Q31_B_Part_1': 167, 'Q31_B_Part_2': 168, 'Q31_B_Part_3': 169, 'Q31_B_Part_4': 170, 'Q31_B_Part_5': 171, 'Q31_B_Part_6': 172, 'Q31_B_Part_7': 173, 'Q31_B_Part_8': 174, 'Q31_B_Part_9': 175, 'Q31_B_OTHER': 176, 'Q32_B_Part_1': 177, 'Q32_B_Part_2': 178, 'Q32_B_Part_3': 179, 'Q32_B_Part_4': 180, 'Q32_B_Part_5': 181, 'Q32_B_Part_6': 182, 'Q32_B_Part_7': 183, 'Q32_B_Part_8': 184, 'Q32_B_Part_9': 185, 'Q32_B_Part_10': 186, 'Q32_B_Part_11': 187, 'Q32_B_Part_12': 188, 'Q32_B_Part_13': 189, 'Q32_B_Part_14': 190, 'Q32_B_Part_15': 191, 'Q32_B_Part_16': 192, 'Q32_B_Part_17': 193, 'Q32_B_Part_18': 194, 'Q32_B_Part_19': 195, 'Q32_B_Part_20': 196, 'Q32_B_OTHER': 197, 'Q34_B_Part_1': 198, 'Q34_B_Part_2': 199, 'Q34_B_Part_3': 200, 'Q34_B_Part_4': 201, 'Q34_B_Part_5': 202, 'Q34_B_Part_6': 203, 'Q34_B_Part_7': 204, 'Q34_B_Part_8': 205, 'Q34_B_Part_9': 206, 'Q34_B_Part_10': 207, 'Q34_B_Part_11': 208, 'Q34_B_Part_12': 209, 'Q34_B_Part_13': 210, 'Q34_B_Part_14': 211, 'Q34_B_Part_15': 212, 'Q34_B_Part_16': 213, 'Q34_B_OTHER': 214, 'Q36_B_Part_1': 215, 'Q36_B_Part_2': 216, 'Q36_B_Part_3': 217, 'Q36_B_Part_4': 218, 'Q36_B_Part_5': 219, 'Q36_B_Part_6': 220, 'Q36_B_Part_7': 221, 'Q36_B_OTHER': 222, 'Q37_B_Part_1': 223, 'Q37_B_Part_2': 224, 'Q37_B_Part_3': 225, 'Q37_B_Part_4': 226, 'Q37_B_Part_5': 227, 'Q37_B_Part_6': 228, 'Q37_B_Part_7': 229, 'Q37_B_OTHER': 230, 'Q38_B_Part_1': 231, 'Q38_B_Part_2': 232, 'Q38_B_Part_3': 233, 'Q38_B_Part_4': 234, 'Q38_B_Part_5': 235, 'Q38_B_Part_6': 236, 'Q38_B_Part_7': 237, 'Q38_B_Part_8': 238, 'Q38_B_Part_9': 239, 'Q38_B_Part_10': 240, 'Q38_B_Part_11': 241, 'Q38_B_OTHER': 242}

Index(['age', 'gender', 'Q3', 'Q5', 'Q6', 'Q8', 'Q15', 'Q22', 'Q41', 'Q7',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=166)

In [17]:
eliminar_indices(df_unido, 'Q40_Part_1', 'Q38_B_OTHER')

{'age': 0, 'gender': 1, 'Q3': 2, 'Q5': 3, 'Q6': 4, 'Q8': 5, 'Q15': 6, 'Q22': 7, 'Q41': 8, 'Q7': 9, 'Q9': 10, 'Q24': 11, 'Q32': 12, 'Q34': 13, 'Q10_Part_1': 14, 'Q10_Part_2': 15, 'Q10_Part_3': 16, 'Q10_Part_4': 17, 'Q10_Part_5': 18, 'Q10_Part_6': 19, 'Q10_Part_7': 20, 'Q10_Part_8': 21, 'Q10_Part_9': 22, 'Q10_Part_10': 23, 'Q10_Part_11': 24, 'Q10_Part_12': 25, 'Q10_Part_13': 26, 'Q10_Part_14': 27, 'Q10_Part_15': 28, 'Q10_Part_16': 29, 'Q10_OTHER': 30, 'Q39_Part_1': 31, 'Q39_Part_2': 32, 'Q39_Part_3': 33, 'Q39_Part_4': 34, 'Q39_Part_5': 35, 'Q39_Part_6': 36, 'Q39_Part_7': 37, 'Q39_Part_8': 38, 'Q39_Part_9': 39, 'Q39_OTHER': 40, 'Q40_Part_1': 41, 'Q40_Part_2': 42, 'Q40_Part_3': 43, 'Q40_Part_4': 44, 'Q40_Part_5': 45, 'Q40_Part_6': 46, 'Q40_Part_7': 47, 'Q40_Part_8': 48, 'Q40_Part_9': 49, 'Q40_Part_10': 50, 'Q40_Part_11': 51, 'Q40_OTHER': 52, 'Q42_Part_1': 53, 'Q42_Part_2': 54, 'Q42_Part_3': 55, 'Q42_Part_4': 56, 'Q42_Part_5': 57, 'Q42_Part_6': 58, 'Q42_Part_7': 59, 'Q42_Part_8': 60, 'Q42_Part_9': 61, 'Q42_Part_10': 62, 'Q42_Part_11': 63, 'Q42_OTHER': 64, 'Q27_B_Part_1': 65, 'Q27_B_Part_2': 66, 'Q27_B_Part_3': 67, 'Q27_B_Part_4': 68, 'Q27_B_Part_5': 69, 'Q27_B_Part_6': 70, 'Q27_B_Part_7': 71, 'Q27_B_Part_8': 72, 'Q27_B_Part_9': 73, 'Q27_B_Part_10': 74, 'Q27_B_Part_11': 75, 'Q27_B_OTHER': 76, 'Q29_B_Part_1': 77, 'Q29_B_Part_2': 78, 'Q29_B_Part_3': 79, 'Q29_B_Part_4': 80, 'Q29_B_OTHER': 81, 'Q30_B_Part_1': 82, 'Q30_B_Part_2': 83, 'Q30_B_Part_3': 84, 'Q30_B_Part_4': 85, 'Q30_B_Part_5': 86, 'Q30_B_Part_6': 87, 'Q30_B_Part_7': 88, 'Q30_B_OTHER': 89, 'Q31_B_Part_1': 90, 'Q31_B_Part_2': 91, 'Q31_B_Part_3': 92, 'Q31_B_Part_4': 93, 'Q31_B_Part_5': 94, 'Q31_B_Part_6': 95, 'Q31_B_Part_7': 96, 'Q31_B_Part_8': 97, 'Q31_B_Part_9': 98, 'Q31_B_OTHER': 99, 'Q32_B_Part_1': 100, 'Q32_B_Part_2': 101, 'Q32_B_Part_3': 102, 'Q32_B_Part_4': 103, 'Q32_B_Part_5': 104, 'Q32_B_Part_6': 105, 'Q32_B_Part_7': 106, 'Q32_B_Part_8': 107, 'Q32_B_Part_9': 108, 'Q32_B_Part_10': 109, 'Q32_B_Part_11': 110, 'Q32_B_Part_12': 111, 'Q32_B_Part_13': 112, 'Q32_B_Part_14': 113, 'Q32_B_Part_15': 114, 'Q32_B_Part_16': 115, 'Q32_B_Part_17': 116, 'Q32_B_Part_18': 117, 'Q32_B_Part_19': 118, 'Q32_B_Part_20': 119, 'Q32_B_OTHER': 120, 'Q34_B_Part_1': 121, 'Q34_B_Part_2': 122, 'Q34_B_Part_3': 123, 'Q34_B_Part_4': 124, 'Q34_B_Part_5': 125, 'Q34_B_Part_6': 126, 'Q34_B_Part_7': 127, 'Q34_B_Part_8': 128, 'Q34_B_Part_9': 129, 'Q34_B_Part_10': 130, 'Q34_B_Part_11': 131, 'Q34_B_Part_12': 132, 'Q34_B_Part_13': 133, 'Q34_B_Part_14': 134, 'Q34_B_Part_15': 135, 'Q34_B_Part_16': 136, 'Q34_B_OTHER': 137, 'Q36_B_Part_1': 138, 'Q36_B_Part_2': 139, 'Q36_B_Part_3': 140, 'Q36_B_Part_4': 141, 'Q36_B_Part_5': 142, 'Q36_B_Part_6': 143, 'Q36_B_Part_7': 144, 'Q36_B_OTHER': 145, 'Q37_B_Part_1': 146, 'Q37_B_Part_2': 147, 'Q37_B_Part_3': 148, 'Q37_B_Part_4': 149, 'Q37_B_Part_5': 150, 'Q37_B_Part_6': 151, 'Q37_B_Part_7': 152, 'Q37_B_OTHER': 153, 'Q38_B_Part_1': 154, 'Q38_B_Part_2': 155, 'Q38_B_Part_3': 156, 'Q38_B_Part_4': 157, 'Q38_B_Part_5': 158, 'Q38_B_Part_6': 159, 'Q38_B_Part_7': 160, 'Q38_B_Part_8': 161, 'Q38_B_Part_9': 162, 'Q38_B_Part_10': 163, 'Q38_B_Part_11': 164, 'Q38_B_OTHER': 165}

Index(['age', 'gender', 'Q3', 'Q5', 'Q6', 'Q8', 'Q15', 'Q22', 'Q41', 'Q7',
       'Q9', 'Q24', 'Q32', 'Q34', 'Q10_Part_1', 'Q10_Part_2', 'Q10_Part_3',
       'Q10_Part_4', 'Q10_Part_5', 'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8',
       'Q10_Part_9', 'Q10_Part_10', 'Q10_Part_11', 'Q10_Part_12',
       'Q10_Part_13', 'Q10_Part_14', 'Q10_Part_15', 'Q10_Part_16', 'Q10_OTHER',
       'Q39_Part_1', 'Q39_Part_2', 'Q39_Part_3', 'Q39_Part_4', 'Q39_Part_5',
       'Q39_Part_6', 'Q39_Part_7', 'Q39_Part_8', 'Q39_Part_9', 'Q39_OTHER'],
      dtype='object')

In [18]:
for i in df_unido.columns:
    print(i)

age
gender
Q3
Q5
Q6
Q8
Q15
Q22
Q41
Q7
Q9
Q24
Q32
Q34
Q10_Part_1
Q10_Part_2
Q10_Part_3
Q10_Part_4
Q10_Part_5
Q10_Part_6
Q10_Part_7
Q10_Part_8
Q10_Part_9
Q10_Part_10
Q10_Part_11
Q10_Part_12
Q10_Part_13
Q10_Part_14
Q10_Part_15
Q10_Part_16
Q10_OTHER
Q39_Part_1
Q39_Part_2
Q39_Part_3
Q39_Part_4
Q39_Part_5
Q39_Part_6
Q39_Part_7
Q39_Part_8
Q39_Part_9
Q39_OTHER

In [19]:
# guardamos los datos unidos con las columnas eliminadas en un archivo de csv
df_unido.to_csv('../datos/datos_limpios.csv')

## Cambiar nombres de las columnas

In [20]:
df_limpio = df_unido.copy()

In [21]:
lista_nombres_nuevos = ['age', 'gender', 'country', 'job_title', 'years_programming', 'dev_language', 'first_language_rec', 'IDE', 'notebooks', 'visualisation', 'ML', 'size_DA_dept', 'work_activities', 'big_data', 'BI_tools', 'sharing']

In [22]:
df_limpio['Q3'].unique()

array(['India', 'Indonesia', 'Pakistan', 'Mexico', 'Russia', 'Turkey',
       'Australia', 'Nigeria', 'Greece', 'Belgium', 'Japan', 'Egypt',
       'Singapore', 'Brazil', 'Poland', 'China',
       'Iran, Islamic Republic of...', 'United States of America',
       'Italy', 'Viet Nam', 'Israel', 'Peru', 'South Africa', 'Other',
       'Spain', 'Bangladesh',
       'United Kingdom of Great Britain and Northern Ireland', 'France',
       'Switzerland', 'Algeria', 'Tunisia', 'Argentina', 'Sweden',
       'Colombia', 'I do not wish to disclose my location', 'Canada',
       'Chile', 'Netherlands', 'Ukraine', 'Saudi Arabia', 'Romania',
       'Morocco', 'Austria', 'Taiwan', 'Kenya', 'Belarus', 'Ireland',
       'Portugal', 'Hong Kong (S.A.R.)', 'Denmark', 'Germany',
       'South Korea', 'Philippines', 'Sri Lanka', 'United Arab Emirates',
       'Uganda', 'Ghana', 'Malaysia', 'Thailand', 'Nepal', 'Kazakhstan',
       'Ethiopia', 'Iraq', 'Ecuador', 'Norway', 'Czech Republic'],
      dtype=object)

In [23]:
europa = ['Greece', 'Belgium', 'Poland', 'Italy', 'Spain', 'United Kingdom of Great Britain and Northern Ireland', 'France',
       'Switzerland', 'Sweden', 'Netherlands', 'Ukraine', 'Romania', 'Austria', 'Belarus', 'Ireland',
       'Portugal', 'Denmark', 'Germany', 'Norway', 'Czech Republic']

In [24]:
asia = ['India', 'Indonesia', 'Pakistan', 'Russia', 'Turkey', 'Japan', 'Singapore', 'China', 'Iran, Islamic Republic of...', 'Viet Nam', 'Israel', 'Bangladesh',
       'Saudi Arabia', 'Taiwan', 'Hong Kong (S.A.R.)', 'South Korea', 'Philippines', 'Sri Lanka', 'United Arab Emirates', 'Malaysia', 'Thailand', 'Nepal', 'Kazakhstan', 'Iraq']

In [25]:
america = ['Mexico', 'Brazil', 'United States of America',
       'Peru', 'Argentina', 'Colombia', 'Canada', 'Chile', 'Ecuador']

In [26]:
africa = ['Uganda', 'Ghana','Algeria', 'Tunisia', 'South Africa', 'Nigeria', 'Kenya','Egypt', 'Ethiopia', 'Morocco']

In [27]:
oceania = ['Australia']

In [28]:
other = ['Other', 'I do not wish to disclose my location']

In [29]:
lista_condicion = [df_limpio['Q3'].isin(europa), df_limpio['Q3'].isin(asia), df_limpio['Q3'].isin(america), df_limpio['Q3'].isin(africa), df_limpio['Q3'].isin(oceania), df_limpio['Q3'].isin(other)]

In [30]:
lista_opciones = ['Europe', 'Asia', 'America', 'Africa', 'Oceania', 'Other' ]

In [31]:
df_limpio['continent'] = np.select(lista_condicion, lista_opciones)

In [32]:
df_limpio.head()

,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,continent
0,50-54,Man,India,Other,5-10 years,Python,5-10 years,3-4,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Asia
1,50-54,Man,Indonesia,Program/Project Manager,20+ years,Python,< 1 year,1-2,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia
2,22-24,Man,Pakistan,Software Engineer,1-3 years,Python,I do not use machine learning methods,0,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",None of these activities are an important par...,"MySQL , MongoDB",None,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,Asia
3,45-49,Man,Mexico,Research Scientist,20+ years,Python,5-10 years,0,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",Do research that advances the state of the ar...,NaN,NaN,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,America
4,45-49,Man,India,Other,< 1 years,Python,10-20 years,5-9,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",Analyze and understand data to influence produ...,None,Microsoft Power BI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,Asia

In [33]:
lista_nombres_nuevos

['age',
 'gender',
 'country',
 'job_title',
 'years_programming',
 'dev_language',
 'first_language_rec',
 'IDE',
 'notebooks',
 'visualisation',
 'ML',
 'size_DA_dept',
 'work_activities',
 'big_data',
 'BI_tools',
 'sharing']

In [34]:
for i in df_limpio.columns:
    print(i)

age
gender
Q3
Q5
Q6
Q8
Q15
Q22
Q41
Q7
Q9
Q24
Q32
Q34
Q10_Part_1
Q10_Part_2
Q10_Part_3
Q10_Part_4
Q10_Part_5
Q10_Part_6
Q10_Part_7
Q10_Part_8
Q10_Part_9
Q10_Part_10
Q10_Part_11
Q10_Part_12
Q10_Part_13
Q10_Part_14
Q10_Part_15
Q10_Part_16
Q10_OTHER
Q39_Part_1
Q39_Part_2
Q39_Part_3
Q39_Part_4
Q39_Part_5
Q39_Part_6
Q39_Part_7
Q39_Part_8
Q39_Part_9
Q39_OTHER
continent

In [35]:
diccionario_nombres = {'age':'age',
 'gender':'gender',
 'Q3':'country',
 'Q5':'job_title',
 'Q6':'years_programming',
 'Q7':'dev_language',
 'Q8':'first_language_rec',
 'Q9':'IDE',
 'Q10_Part_1':'notebooks_KaggleNotebooks',
 'Q10_Part_2':'notebooks_ColabNotebooks',
 'Q10_Part_3':'notebooks_AzureNotebooks',
 'Q10_Part_4':'notebooks_Paperspace/Gradient',
 'Q10_Part_5':'notebooks_Binder/JupyterHub',
 'Q10_Part_6':'notebooks_CodeOcean',
 'Q10_Part_7':'notebooks_IBMWatsonStudio',
 'Q10_Part_8':'notebooks_AmazonSagemakerStudioNotebooks',
 'Q10_Part_9':'notebooks_AmazonEMRNotebooks',
 'Q10_Part_10':'notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI)',
 'Q10_Part_11':'notebooks_GoogleCloudDatalab',
 'Q10_Part_12':'notebooks_DatabricksCollaborativeNotebooks',
 'Q10_Part_13':'notebooks_Zeppelin/ZeplNotebooks',
 'Q10_Part_14':'notebooks_DeepnoteNotebooks',
 'Q10_Part_15':'notebooks_ObservableNotebooks',
 'Q10_Part_16':'notebooks_None',
 'Q10_OTHER':'notebooks_Other',
 'Q14':'visualisation',
 'Q41':'primary_data_tool',
 'Q15':'ML',
 'Q22':'size_DA_dept',
 'Q24':'work_activities',
 'Q32':'big_data',
 'Q34':'BI_tools',
 'Q39_Part_1':'sharing_PlotlyDash',
 'Q39_Part_2':'sharing_Streamlit',
 'Q39_Part_3':'sharing_NBViewer',
 'Q39_Part_4':'sharing_GitHub',
 'Q39_Part_5':'sharing_Personalblog',
 'Q39_Part_6':'sharing_Kaggle',
 'Q39_Part_7':'sharing_Colab',
 'Q39_Part_8':'sharing_Shiny',
 'Q39_Part_9':'sharing_does_not_share',
 'Q39_OTHER':'sharing_Other'}

In [36]:
df_limpio['Q10_Part_16'].unique()

array([nan, 'None'], dtype=object)

In [37]:
df_limpio.rename(columns=diccionario_nombres, inplace=True)
df_limpio.head(2)

,age,gender,country,job_title,years_programming,first_language_rec,ML,size_DA_dept,primary_data_tool,dev_language,IDE,work_activities,big_data,BI_tools,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other,continent
0,50-54,Man,India,Other,5-10 years,Python,5-10 years,3-4,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Asia
1,50-54,Man,Indonesia,Program/Project Manager,20+ years,Python,< 1 year,1-2,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia

In [38]:
df_limpio.columns.tolist()

['age',
 'gender',
 'country',
 'job_title',
 'years_programming',
 'first_language_rec',
 'ML',
 'size_DA_dept',
 'primary_data_tool',
 'dev_language',
 'IDE',
 'work_activities',
 'big_data',
 'BI_tools',
 'notebooks_KaggleNotebooks',
 'notebooks_ColabNotebooks',
 'notebooks_AzureNotebooks',
 'notebooks_Paperspace/Gradient',
 'notebooks_Binder/JupyterHub',
 'notebooks_CodeOcean',
 'notebooks_IBMWatsonStudio',
 'notebooks_AmazonSagemakerStudioNotebooks',
 'notebooks_AmazonEMRNotebooks',
 'notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI)',
 'notebooks_GoogleCloudDatalab',
 'notebooks_DatabricksCollaborativeNotebooks',
 'notebooks_Zeppelin/ZeplNotebooks',
 'notebooks_DeepnoteNotebooks',
 'notebooks_ObservableNotebooks',
 'notebooks_None',
 'notebooks_Other',
 'sharing_PlotlyDash',
 'sharing_Streamlit',
 'sharing_NBViewer',
 'sharing_GitHub',
 'sharing_Personalblog',
 'sharing_Kaggle',
 'sharing_Colab',
 'sharing_Shiny',
 'sharing_does_not_share',
 'sharing_Other',
 'continent']

In [39]:
nuevo_orden = ['age',
 'gender',
 'country',
 'continent',
 'job_title',
 'work_activities',
  'size_DA_dept',
 'years_programming',
 'first_language_rec',
 'dev_language',
 'primary_data_tool',
 'IDE',
 'big_data',
 'BI_tools',
 'ML',
 'notebooks_KaggleNotebooks',
 'notebooks_ColabNotebooks',
 'notebooks_AzureNotebooks',
 'notebooks_Paperspace/Gradient',
 'notebooks_Binder/JupyterHub',
 'notebooks_CodeOcean',
 'notebooks_IBMWatsonStudio',
 'notebooks_AmazonSagemakerStudioNotebooks',
 'notebooks_AmazonEMRNotebooks',
 'notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI)',
 'notebooks_GoogleCloudDatalab',
 'notebooks_DatabricksCollaborativeNotebooks',
 'notebooks_Zeppelin/ZeplNotebooks',
 'notebooks_DeepnoteNotebooks',
 'notebooks_ObservableNotebooks',
 'notebooks_None',
 'notebooks_Other',
 'sharing_PlotlyDash',
 'sharing_Streamlit',
 'sharing_NBViewer',
 'sharing_GitHub',
 'sharing_Personalblog',
 'sharing_Kaggle',
 'sharing_Colab',
 'sharing_Shiny',
 'sharing_does_not_share',
 'sharing_Other'
 ]

In [40]:
df_limpio = df_limpio.reindex(columns=nuevo_orden)
df_limpio.head()

,age,gender,country,continent,job_title,work_activities,size_DA_dept,years_programming,first_language_rec,dev_language,primary_data_tool,IDE,big_data,BI_tools,ML,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other
0,50-54,Man,India,Asia,Other,None of these activities are an important par...,3-4,5-10 years,Python,"Python, R","Local development environments (RStudio, Jupyt...",Vim / Emacs,PostgreSQL,None,5-10 years,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN
1,50-54,Man,Indonesia,Asia,Program/Project Manager,Build and/or run the data infrastructure that...,1-2,20+ years,Python,"SQL, C, C++, Java","Advanced statistical software (SPSS, SAS, etc.)","Notepad++,Jupyter Notebook",NaN,NaN,< 1 year,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22-24,Man,Pakistan,Asia,Software Engineer,None of these activities are an important par...,0,1-3 years,Python,"Python, C++, Java","Basic statistical software (Microsoft Excel, G...","PyCharm ,Jupyter Notebook, Other","MySQL , MongoDB",None,I do not use machine learning methods,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN
3,45-49,Man,Mexico,America,Research Scientist,Do research that advances the state of the ar...,0,20+ years,Python,Python,"Local development environments (RStudio, Jupyt...","Spyder,Jupyter Notebook",NaN,NaN,5-10 years,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,45-49,Man,India,Asia,Other,Analyze and understand data to influence produ...,5-9,< 1 years,Python,"Python, C, MATLAB","Local development environments (RStudio, Jupyt...","Spyder,MATLAB ,Jupyter Notebook",None,Microsoft Power BI,10-20 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN

In [42]:
df_limpio.to_csv('../datos/datos_limpios.csv')

## Dividimos las columnas multirespuestas

In [43]:
#esta función crea un dicionario con el número de la columna como keys y una lista de los valores únicos de la columna como values
def dict_respuestas(dataframe):
    
    dic_respuestas = {}
    
    for col in dataframe.columns:
        lista_nueva = []
        #ignoramos la columna index
        if col == "index":
            pass
        #comprobamos si los valores únicos son más de 20 - si es una pregunta multirespuesta 
        elif len(dataframe[col].unique()) > 22:
            #crea una lista de los valores únicos
                lista_unicos = list(dataframe[col].unique())
                for sublist in lista_unicos:
                    #cada lista dentro de los valores únicos se divide por las comas 
                    try:
                        lista_nueva.extend(sublist.split(","))
                    except:
                        pass
                    #lista de todas las posibles respuestas individuales
                    #la convertimos en set para eliminar los duplicados 
                    set_unicos = set(lista_nueva)
                    #lo volvemos a convertir en lista para poder usarla cómodamente
                    lista_nueva = list(set_unicos)
        else:
            #si no es multirespuesta podemos usar el unique para ver los valores únicos 
            lista_nueva = list(dataframe[col].unique())
        #list comprehension para quitar los nulos    
        lista_sin_nan = [item for item in lista_nueva if not (pd.isnull(item)) == True]
        #metemos la lista sin nulos en un diccionario donde el key es el número de la columna y los values con la lista de valores únicos lista_sin_nan
        dic_respuestas[col] = lista_sin_nan
        
        print("-------------------")
        print (f"{col} : {dic_respuestas[col]}")

    return dic_respuestas

In [44]:
diccionario_respuestas = dict_respuestas(df_limpio)

-------------------
age : ['50-54', '22-24', '45-49', '25-29', '18-21', '30-34', '40-44', '35-39', '70+', '55-59', '60-69']
-------------------
gender : ['Man', 'Woman', 'Nonbinary', 'Prefer not to say', 'Prefer to self-describe']
-------------------
country : ['Norway', 'Ireland', ' Islamic Republic of...', 'Poland', 'Peru', 'Denmark', 'Australia', 'South Korea', 'I do not wish to disclose my location', 'Israel', 'Italy', 'Uganda', 'Singapore', 'Argentina', 'Germany', 'Nigeria', 'Viet Nam', 'Mexico', 'France', 'Turkey', 'Canada', 'Colombia', 'Pakistan', 'Tunisia', 'Portugal', 'Morocco', 'Romania', 'Austria', 'Egypt', 'United States of America', 'China', 'Indonesia', 'Czech Republic', 'Russia', 'Belarus', 'Saudi Arabia', 'United Arab Emirates', 'Nepal', 'Philippines', 'Ukraine', 'Iran', 'Ghana', 'Bangladesh', 'Japan', 'Malaysia', 'Thailand', 'South Africa', 'Greece', 'India', 'Brazil', 'Chile', 'United Kingdom of Great Britain and Northern Ireland', 'Kazakhstan', 'Iraq', 'Sweden', 'Algeria', 'Sri Lanka', 'Other', 'Hong Kong (S.A.R.)', 'Spain', 'Taiwan', 'Ethiopia', 'Netherlands', 'Ecuador', 'Kenya', 'Switzerland', 'Belgium']
-------------------
continent : ['Asia', 'America', 'Oceania', 'Africa', 'Europe', 'Other']
-------------------
job_title : ['Other', 'Program/Project Manager', 'Software Engineer', 'Research Scientist', 'Currently not employed', 'Student', 'Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Business Analyst', 'Data Engineer', 'Product Manager', 'Statistician', 'Developer Relations/Advocacy', 'DBA/Database Engineer']
-------------------
work_activities : [' Build prototypes to explore applying machine learning to new areas', ' Build and/or run a machine learning service that operationally improves my product or workflows', 'Analyze and understand data to influence product or business decisions', ' None of these activities are an important part of my role at work', ' Do research that advances the state of the art of machine learning', ' Experimentation and iteration to improve existing ML models', ' Other', ' Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data']
-------------------
size_DA_dept : ['3-4', '1-2', '0', '5-9', '10-14', '20+', '15-19']
-------------------
years_programming : ['5-10 years', '20+ years', '1-3 years', '< 1 years', '3-5 years', '10-20 years', 'I have never written code']
-------------------
first_language_rec : ['Python', 'SQL', 'R', 'MATLAB', 'C', 'Julia', 'Other', 'C++', 'Javascript', 'Java', 'None', 'Bash', 'Swift']
-------------------
dev_language : [' C++', ' Julia', ' C', ' Bash', ' MATLAB', ' SQL', 'Python', ' Javascript', ' R', ' Swift', ' Other', ' None', ' Java']
-------------------
primary_data_tool : ['Local development environments (RStudio, JupyterLab, etc.)', 'Advanced statistical software (SPSS, SAS, etc.)', 'Basic statistical software (Microsoft Excel, Google Sheets, etc.)', 'Business intelligence software (Salesforce, Tableau, Spotfire, etc.)', 'Cloud-based data software & APIs (AWS, GCP, Azure, etc.)', 'Other']
-------------------
IDE : ['Visual Studio Code (VSCode) ', 'Jupyter Notebook', 'MATLAB ', 'Visual Studio ', 'Jupyter (JupyterLab; Jupyter Notebooks; etc) ', ' Spyder', 'PyCharm ', ' Sublime Text', ' Other', 'RStudio ', ' None', ' Notepad++', ' Vim / Emacs']
-------------------
big_data : [' IBM Db2 ', ' Amazon Aurora ', ' Google Cloud SQL ', ' Google Cloud BigTable ', ' SQLite ', ' Other', ' PostgreSQL ', ' Google Cloud BigQuery ', 'MySQL ', ' Oracle Database ', ' Microsoft Azure SQL Database ', ' MongoDB ', ' None', ' Amazon Redshift ', ' Google Cloud Spanner ', ' Amazon RDS ', ' Microsoft SQL Server ', ' Google Cloud Firestore ', ' Microsoft Azure Cosmos DB ', ' Amazon DynamoDB ', ' Snowflake ']
-------------------
BI_tools : [' Salesforce', 'Amazon QuickSight', ' Sisense ', ' Tableau CRM', ' Google Data Studio', ' SAP Analytics Cloud ', ' Qlik', ' Microsoft Power BI', ' TIBCO Spotfire', ' Looker', ' Microsoft Azure Synapse ', ' Other', ' Alteryx ', ' Domo', ' None', ' Tableau', ' Thoughtspot ']
-------------------
ML : ['5-10 years', '< 1 year', 'I do not use machine learning methods', '10-20 years', '2-3 years', '1-2 years', '4-5 years', '3-4 years', '20 or more years']
-------------------
notebooks_KaggleNotebooks : [' Kaggle Notebooks']
-------------------
notebooks_ColabNotebooks : ['Colab Notebooks']
-------------------
notebooks_AzureNotebooks : ['Azure Notebooks']
-------------------
notebooks_Paperspace/Gradient : [' Paperspace / Gradient ']
-------------------
notebooks_Binder/JupyterHub : [' Binder / JupyterHub ']
-------------------
notebooks_CodeOcean : [' Code Ocean ']
-------------------
notebooks_IBMWatsonStudio : [' IBM Watson Studio ']
-------------------
notebooks_AmazonSagemakerStudioNotebooks : [' Amazon Sagemaker Studio Notebooks ']
-------------------
notebooks_AmazonEMRNotebooks : [' Amazon EMR Notebooks ']
-------------------
notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI) : ['Google Cloud Notebooks (AI Platform / Vertex AI) ']
-------------------
notebooks_GoogleCloudDatalab : ['Google Cloud Datalab']
-------------------
notebooks_DatabricksCollaborativeNotebooks : [' Databricks Collaborative Notebooks ']
-------------------
notebooks_Zeppelin/ZeplNotebooks : [' Zeppelin / Zepl Notebooks ']
-------------------
notebooks_DeepnoteNotebooks : [' Deepnote Notebooks ']
-------------------
notebooks_ObservableNotebooks : [' Observable Notebooks ']
-------------------
notebooks_None : ['None']
-------------------
notebooks_Other : ['Other']
-------------------
sharing_PlotlyDash : [' Plotly Dash ']
-------------------
sharing_Streamlit : [' Streamlit ']
-------------------
sharing_NBViewer : [' NBViewer ']
-------------------
sharing_GitHub : [' GitHub ']
-------------------
sharing_Personalblog : [' Personal blog ']
-------------------
sharing_Kaggle : [' Kaggle ']
-------------------
sharing_Colab : [' Colab ']
-------------------
sharing_Shiny : [' Shiny ']
-------------------
sharing_does_not_share : ['I do not share my work publicly']
-------------------
sharing_Other : ['Other']

In [45]:
lista_nuevas_columnas = ['dev_language_Java',
 'dev_language_None',
 'dev_language_Javascript',
 'dev_language_R',
 'dev_language_C++',
 'dev_language_C',
 'dev_language_Bash',
 'dev_language_Other',
 'dev_language_Python',
 'dev_language_Julia',
 'dev_language_SQL',
 'dev_language_MATLAB',
 'dev_language_Swift']

In [46]:
def divided_names(column_name, **diccionario):
    lista_1 = []
    for col in diccionario[column_name]:
        lista_1.append(col.strip())
        
    lista_2 = []
    for i in lista_1:
        lista_2.append(f"{column_name}_{i}")
    
    return lista_2

In [47]:
lista_dev_languages = divided_names('dev_language', **diccionario_respuestas)

In [48]:
lista_dev_languages

['dev_language_C++',
 'dev_language_Julia',
 'dev_language_C',
 'dev_language_Bash',
 'dev_language_MATLAB',
 'dev_language_SQL',
 'dev_language_Python',
 'dev_language_Javascript',
 'dev_language_R',
 'dev_language_Swift',
 'dev_language_Other',
 'dev_language_None',
 'dev_language_Java']

In [50]:
diccionario_respuestas['dev_language']

[' C++',
 ' Julia',
 ' C',
 ' Bash',
 ' MATLAB',
 ' SQL',
 'Python',
 ' Javascript',
 ' R',
 ' Swift',
 ' Other',
 ' None',
 ' Java']

In [51]:
def buscar (lista_string, columna):
    try:
        for i in lista_string:
            if i in columna:
                return 1
            else:
                return 0
    except:
        return np.nan

In [53]:
df_limpio.columns

Index(['age', 'gender', 'country', 'continent', 'job_title', 'work_activities',
       'size_DA_dept', 'years_programming', 'first_language_rec',
       'dev_language', 'primary_data_tool', 'IDE', 'big_data', 'BI_tools',
       'ML', 'notebooks_KaggleNotebooks', 'notebooks_ColabNotebooks',
       'notebooks_AzureNotebooks', 'notebooks_Paperspace/Gradient',
       'notebooks_Binder/JupyterHub', 'notebooks_CodeOcean',
       'notebooks_IBMWatsonStudio', 'notebooks_AmazonSagemakerStudioNotebooks',
       'notebooks_AmazonEMRNotebooks',
       'notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI)',
       'notebooks_GoogleCloudDatalab',
       'notebooks_DatabricksCollaborativeNotebooks',
       'notebooks_Zeppelin/ZeplNotebooks', 'notebooks_DeepnoteNotebooks',
       'notebooks_ObservableNotebooks', 'notebooks_None', 'notebooks_Other',
       'sharing_PlotlyDash', 'sharing_Streamlit', 'sharing_NBViewer',
       'sharing_GitHub', 'sharing_Personalblog', 'sharing_Kaggle',
       'sharing_Colab', 'sharing_Shiny', 'sharing_does_not_share',
       'sharing_Other'],
      dtype='object')

In [55]:
lista_dev_languages

['dev_language_C++',
 'dev_language_Julia',
 'dev_language_C',
 'dev_language_Bash',
 'dev_language_MATLAB',
 'dev_language_SQL',
 'dev_language_Python',
 'dev_language_Javascript',
 'dev_language_R',
 'dev_language_Swift',
 'dev_language_Other',
 'dev_language_None',
 'dev_language_Java']

In [56]:
lista_respuestas_dev_lang = diccionario_respuestas['dev_language']

In [58]:
def buscar (columna):
    try:
        for i in lista_respuestas_dev_lang:
            if i in columna:
                return 1
            else:
                return 0
    except:
        return np.nan

In [63]:
lista_dev_languages

['dev_language_C++',
 'dev_language_Julia',
 'dev_language_C',
 'dev_language_Bash',
 'dev_language_MATLAB',
 'dev_language_SQL',
 'dev_language_Python',
 'dev_language_Javascript',
 'dev_language_R',
 'dev_language_Swift',
 'dev_language_Other',
 'dev_language_None',
 'dev_language_Java']

In [60]:
for i in lista_dev_languages:
    df_limpio[i] = df_limpio['dev_language'].apply(buscar)

In [62]:
df_limpio.head(2)

,age,gender,country,continent,job_title,work_activities,size_DA_dept,years_programming,first_language_rec,dev_language,primary_data_tool,IDE,big_data,BI_tools,ML,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other,dev_language_C++,dev_language_Julia,dev_language_C,dev_language_Bash,dev_language_MATLAB,dev_language_SQL,dev_language_Python,dev_language_Javascript,dev_language_R,dev_language_Swift,dev_language_Other,dev_language_None,dev_language_Java
0,50-54,Man,India,Asia,Other,None of these activities are an important par...,3-4,5-10 years,Python,"Python, R","Local development environments (RStudio, Jupyt...",Vim / Emacs,PostgreSQL,None,5-10 years,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,50-54,Man,Indonesia,Asia,Program/Project Manager,Build and/or run the data infrastructure that...,1-2,20+ years,Python,"SQL, C, C++, Java","Advanced statistical software (SPSS, SAS, etc.)","Notepad++,Jupyter Notebook",NaN,NaN,< 1 year,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

## Filtramos por Data Analysts

In [ ]:
# filtramos el nuevo dataframe unido por respuestas de personas que se identifican como 
# Business Analyst o Data Analyst
df_da_ba = df_limpio[(df_limpio ["job_title"] == "Business Analyst") | (df_limpio ["job_title"] == "Data Analyst")]

In [ ]:
df_da_ba.head(3)

,age,gender,country,continent,job_title,work_activities,size_DA_dept,years_programming,first_language_rec,dev_language,primary_data_tool,IDE,big_data,BI_tools,ML,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other
16,50-54,Man,Belgium,Europe,Data Analyst,Analyze and understand data to influence produ...,5-9,20+ years,Python,"Python, SQL","Local development environments (RStudio, Jupyt...","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",NaN,NaN,1-2 years,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,22-24,Nonbinary,United States of America,America,Data Analyst,NaN,3-4,< 1 years,R,R,NaN,RStudio,NaN,NaN,I do not use machine learning methods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,30-34,Woman,Egypt,Africa,Data Analyst,Analyze and understand data to influence produ...,0,3-5 years,R,Python,"Basic statistical software (Microsoft Excel, G...","Notepad++,Jupyter Notebook",None,None,I do not use machine learning methods,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN

In [ ]:
# guardamos los datos unidos con las columnas eliminadas en un archivo de csv
df_da_ba.to_csv('../datos/datos_da_ba.csv')