In [1]:
import re
import numpy as np
import pandas as pd
import pickle

In [136]:
pd.options.display.max_columns=None
pd.options.display.max_rows=100

In [3]:
df_unido = pd.read_csv('../datos/datos_unidos_raw.csv', index_col = 0)

## Limpieza

In [4]:
def limpiar_espacios(columna):  
    try:

        patron_espacios = "\s*,\S+"
        return re.sub(patron_espacios, ", ", columna)
    except:
        return np.nan

In [5]:
def separar_comas(columna):
    try:
        patron_comas = '(,\s)a'
        return re.sub(patron_comas, "; a", columna)
    except:
        return np.nan

In [6]:
df_unido['Q24'] = df_unido['Q24'].apply(separar_comas)

In [7]:
def separar_comas2(columna):
    try:
        patron = r'(\(.*),(\s.*),(\s.*\))'
        return re.sub(patron, r'\1;\2;\3', columna)
    except:
        return np.nan

In [8]:
df_unido['Q9'] = df_unido['Q9'].apply(separar_comas2)

## Limpieza: Eliminamos columnas

In [9]:
def eliminar_etiqueta (dataframe, *lista_columna):
    #función para eliminar las columnas en las que no nos vamos a centrar en el estudio, por etiqueta/nombre de columna, 
    #los parámetros que coge son dataframe y una lista de nombres de las columnas de ese dataframe
    for columna in dataframe.columns:
        for elemento  in lista_columna:
            if elemento == columna:
                #esta función itera por nuestra lista_columna (el arg) y comprueba si el elemento (la etiqueta a eliminar)
                # se encuentra en cada columna, y, de ser así, la eliminará usando el método .drop()
                dataframe.drop([columna],axis = 1, inplace = True)
    return dataframe.columns

In [10]:
# eliminamos columnas sueltas
eliminar_etiqueta(df_unido, *['level_0', 'index', 'time', 'Q4', 'Q11', 'Q12', 'Q13', 'Q16', 'Q17', 'Q20', 'Q21'])

Index(['age', 'gender', 'Q3', 'Q5', 'Q6', 'Q8', 'Q15', 'Q22', 'Q23', 'Q25',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=249)

In [11]:
# función para eliminar las columnas en las que no nos vamos a centrar en el estudio, por rango 
def eliminar_indices (dataframe, columna1, columna2):
    #creamos un diccionario de los índices por columna de nuestro df
    diccionario = {}
    #los nombres de las columnas serán nuestras keys para poder acceder a los índices usando los nombres de las columnas (los parámetros)
    for indice, col in enumerate(df_unido.columns):
        diccionario.update({col: indice})
    print(diccionario)
    #usamos el diccionario para obtener los índices en el rango 
    if columna1 in diccionario:
        indice1 = diccionario.get(columna1)
    else: 
        print('Columna1 no está en el diccionario')
    if columna2 in diccionario:
    #usamos el +1 para poder acceder al último índice
        indice2 = diccionario.get(columna2) + 1
    else: 
        print('Columna2 no está en el diccionario')
        #usamos los índices para borrar el rango de columnas y así eliminiar varias a la vez
    for elemento in dataframe.columns[indice1:indice2]:    
        dataframe.drop([elemento],axis = 1, inplace = True)
    return dataframe.columns

Con la función nos vamos deshaciendo en rangos de las columnas que no nos aportan información con valor.

In [12]:
eliminar_indices(df_unido, 'Q23', 'Q35')

{'age': 0, 'gender': 1, 'Q3': 2, 'Q5': 3, 'Q6': 4, 'Q8': 5, 'Q15': 6, 'Q22': 7, 'Q23': 8, 'Q25': 9, 'Q26': 10, 'Q33': 11, 'Q35': 12, 'Q41': 13, 'Q7': 14, 'Q9': 15, 'Q14': 16, 'Q24': 17, 'Q32': 18, 'Q34': 19, 'Q10_Part_1': 20, 'Q10_Part_2': 21, 'Q10_Part_3': 22, 'Q10_Part_4': 23, 'Q10_Part_5': 24, 'Q10_Part_6': 25, 'Q10_Part_7': 26, 'Q10_Part_8': 27, 'Q10_Part_9': 28, 'Q10_Part_10': 29, 'Q10_Part_11': 30, 'Q10_Part_12': 31, 'Q10_Part_13': 32, 'Q10_Part_14': 33, 'Q10_Part_15': 34, 'Q10_Part_16': 35, 'Q10_OTHER': 36, 'Q18_Part_1': 37, 'Q18_Part_2': 38, 'Q18_Part_3': 39, 'Q18_Part_4': 40, 'Q18_Part_5': 41, 'Q18_Part_6': 42, 'Q18_OTHER': 43, 'Q19_Part_1': 44, 'Q19_Part_2': 45, 'Q19_Part_3': 46, 'Q19_Part_4': 47, 'Q19_Part_5': 48, 'Q19_OTHER': 49, 'Q27_A_Part_1': 50, 'Q27_A_Part_2': 51, 'Q27_A_Part_3': 52, 'Q27_A_Part_4': 53, 'Q27_A_Part_5': 54, 'Q27_A_Part_6': 55, 'Q27_A_Part_7': 56, 'Q27_A_Part_8': 57, 'Q27_A_Part_9': 58, 'Q27_A_Part_10': 59, 'Q27_A_Part_11': 60, 'Q27_A_OTHER': 61, 'Q28': 62, 'Q29_A_Part_1': 63, 'Q29_A_Part_2': 64, 'Q29_A_Part_3': 65, 'Q29_A_Part_4': 66, 'Q29_A_OTHER': 67, 'Q30_A_Part_1': 68, 'Q30_A_Part_2': 69, 'Q30_A_Part_3': 70, 'Q30_A_Part_4': 71, 'Q30_A_Part_5': 72, 'Q30_A_Part_6': 73, 'Q30_A_Part_7': 74, 'Q30_A_OTHER': 75, 'Q31_A_Part_1': 76, 'Q31_A_Part_2': 77, 'Q31_A_Part_3': 78, 'Q31_A_Part_4': 79, 'Q31_A_Part_5': 80, 'Q31_A_Part_6': 81, 'Q31_A_Part_7': 82, 'Q31_A_Part_8': 83, 'Q31_A_Part_9': 84, 'Q31_A_OTHER': 85, 'Q36_A_Part_1': 86, 'Q36_A_Part_2': 87, 'Q36_A_Part_3': 88, 'Q36_A_Part_4': 89, 'Q36_A_Part_5': 90, 'Q36_A_Part_6': 91, 'Q36_A_Part_7': 92, 'Q36_A_OTHER': 93, 'Q37_A_Part_1': 94, 'Q37_A_Part_2': 95, 'Q37_A_Part_3': 96, 'Q37_A_Part_4': 97, 'Q37_A_Part_5': 98, 'Q37_A_Part_6': 99, 'Q37_A_Part_7': 100, 'Q37_A_OTHER': 101, 'Q38_A_Part_1': 102, 'Q38_A_Part_2': 103, 'Q38_A_Part_3': 104, 'Q38_A_Part_4': 105, 'Q38_A_Part_5': 106, 'Q38_A_Part_6': 107, 'Q38_A_Part_7': 108, 'Q38_A_Part_8': 109, 'Q38_A_Part_9': 110, 'Q38_A_Part_10': 111, 'Q38_A_Part_11': 112, 'Q38_A_OTHER': 113, 'Q39_Part_1': 114, 'Q39_Part_2': 115, 'Q39_Part_3': 116, 'Q39_Part_4': 117, 'Q39_Part_5': 118, 'Q39_Part_6': 119, 'Q39_Part_7': 120, 'Q39_Part_8': 121, 'Q39_Part_9': 122, 'Q39_OTHER': 123, 'Q40_Part_1': 124, 'Q40_Part_2': 125, 'Q40_Part_3': 126, 'Q40_Part_4': 127, 'Q40_Part_5': 128, 'Q40_Part_6': 129, 'Q40_Part_7': 130, 'Q40_Part_8': 131, 'Q40_Part_9': 132, 'Q40_Part_10': 133, 'Q40_Part_11': 134, 'Q40_OTHER': 135, 'Q42_Part_1': 136, 'Q42_Part_2': 137, 'Q42_Part_3': 138, 'Q42_Part_4': 139, 'Q42_Part_5': 140, 'Q42_Part_6': 141, 'Q42_Part_7': 142, 'Q42_Part_8': 143, 'Q42_Part_9': 144, 'Q42_Part_10': 145, 'Q42_Part_11': 146, 'Q42_OTHER': 147, 'Q27_B_Part_1': 148, 'Q27_B_Part_2': 149, 'Q27_B_Part_3': 150, 'Q27_B_Part_4': 151, 'Q27_B_Part_5': 152, 'Q27_B_Part_6': 153, 'Q27_B_Part_7': 154, 'Q27_B_Part_8': 155, 'Q27_B_Part_9': 156, 'Q27_B_Part_10': 157, 'Q27_B_Part_11': 158, 'Q27_B_OTHER': 159, 'Q29_B_Part_1': 160, 'Q29_B_Part_2': 161, 'Q29_B_Part_3': 162, 'Q29_B_Part_4': 163, 'Q29_B_OTHER': 164, 'Q30_B_Part_1': 165, 'Q30_B_Part_2': 166, 'Q30_B_Part_3': 167, 'Q30_B_Part_4': 168, 'Q30_B_Part_5': 169, 'Q30_B_Part_6': 170, 'Q30_B_Part_7': 171, 'Q30_B_OTHER': 172, 'Q31_B_Part_1': 173, 'Q31_B_Part_2': 174, 'Q31_B_Part_3': 175, 'Q31_B_Part_4': 176, 'Q31_B_Part_5': 177, 'Q31_B_Part_6': 178, 'Q31_B_Part_7': 179, 'Q31_B_Part_8': 180, 'Q31_B_Part_9': 181, 'Q31_B_OTHER': 182, 'Q32_B_Part_1': 183, 'Q32_B_Part_2': 184, 'Q32_B_Part_3': 185, 'Q32_B_Part_4': 186, 'Q32_B_Part_5': 187, 'Q32_B_Part_6': 188, 'Q32_B_Part_7': 189, 'Q32_B_Part_8': 190, 'Q32_B_Part_9': 191, 'Q32_B_Part_10': 192, 'Q32_B_Part_11': 193, 'Q32_B_Part_12': 194, 'Q32_B_Part_13': 195, 'Q32_B_Part_14': 196, 'Q32_B_Part_15': 197, 'Q32_B_Part_16': 198, 'Q32_B_Part_17': 199, 'Q32_B_Part_18': 200, 'Q32_B_Part_19': 201, 'Q32_B_Part_20': 202, 'Q32_B_OTHER': 203, 'Q34_B_Part_1': 204, 'Q34_B_Part_2': 205, 'Q34_B_Part_3': 206, 'Q34_B_Part_4': 207, 'Q34_B_Part_5': 208, 'Q34_B_Part_6': 209, 'Q34_B_Part_7': 210, 'Q34_B_Part_8': 211, 'Q34_B_Part_9': 212, 'Q34_B_Part_10': 213, 'Q34_B_Part_11': 214, 'Q34_B_Part_12': 215, 'Q34_B_Part_13': 216, 'Q34_B_Part_14': 217, 'Q34_B_Part_15': 218, 'Q34_B_Part_16': 219, 'Q34_B_OTHER': 220, 'Q36_B_Part_1': 221, 'Q36_B_Part_2': 222, 'Q36_B_Part_3': 223, 'Q36_B_Part_4': 224, 'Q36_B_Part_5': 225, 'Q36_B_Part_6': 226, 'Q36_B_Part_7': 227, 'Q36_B_OTHER': 228, 'Q37_B_Part_1': 229, 'Q37_B_Part_2': 230, 'Q37_B_Part_3': 231, 'Q37_B_Part_4': 232, 'Q37_B_Part_5': 233, 'Q37_B_Part_6': 234, 'Q37_B_Part_7': 235, 'Q37_B_OTHER': 236, 'Q38_B_Part_1': 237, 'Q38_B_Part_2': 238, 'Q38_B_Part_3': 239, 'Q38_B_Part_4': 240, 'Q38_B_Part_5': 241, 'Q38_B_Part_6': 242, 'Q38_B_Part_7': 243, 'Q38_B_Part_8': 244, 'Q38_B_Part_9': 245, 'Q38_B_Part_10': 246, 'Q38_B_Part_11': 247, 'Q38_B_OTHER': 248}

Index(['age', 'gender', 'Q3', 'Q5', 'Q6', 'Q8', 'Q15', 'Q22', 'Q41', 'Q7',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=244)

In [13]:
eliminar_indices(df_unido, 'Q18_Part_1', 'Q38_A_OTHER')

{'age': 0, 'gender': 1, 'Q3': 2, 'Q5': 3, 'Q6': 4, 'Q8': 5, 'Q15': 6, 'Q22': 7, 'Q41': 8, 'Q7': 9, 'Q9': 10, 'Q14': 11, 'Q24': 12, 'Q32': 13, 'Q34': 14, 'Q10_Part_1': 15, 'Q10_Part_2': 16, 'Q10_Part_3': 17, 'Q10_Part_4': 18, 'Q10_Part_5': 19, 'Q10_Part_6': 20, 'Q10_Part_7': 21, 'Q10_Part_8': 22, 'Q10_Part_9': 23, 'Q10_Part_10': 24, 'Q10_Part_11': 25, 'Q10_Part_12': 26, 'Q10_Part_13': 27, 'Q10_Part_14': 28, 'Q10_Part_15': 29, 'Q10_Part_16': 30, 'Q10_OTHER': 31, 'Q18_Part_1': 32, 'Q18_Part_2': 33, 'Q18_Part_3': 34, 'Q18_Part_4': 35, 'Q18_Part_5': 36, 'Q18_Part_6': 37, 'Q18_OTHER': 38, 'Q19_Part_1': 39, 'Q19_Part_2': 40, 'Q19_Part_3': 41, 'Q19_Part_4': 42, 'Q19_Part_5': 43, 'Q19_OTHER': 44, 'Q27_A_Part_1': 45, 'Q27_A_Part_2': 46, 'Q27_A_Part_3': 47, 'Q27_A_Part_4': 48, 'Q27_A_Part_5': 49, 'Q27_A_Part_6': 50, 'Q27_A_Part_7': 51, 'Q27_A_Part_8': 52, 'Q27_A_Part_9': 53, 'Q27_A_Part_10': 54, 'Q27_A_Part_11': 55, 'Q27_A_OTHER': 56, 'Q28': 57, 'Q29_A_Part_1': 58, 'Q29_A_Part_2': 59, 'Q29_A_Part_3': 60, 'Q29_A_Part_4': 61, 'Q29_A_OTHER': 62, 'Q30_A_Part_1': 63, 'Q30_A_Part_2': 64, 'Q30_A_Part_3': 65, 'Q30_A_Part_4': 66, 'Q30_A_Part_5': 67, 'Q30_A_Part_6': 68, 'Q30_A_Part_7': 69, 'Q30_A_OTHER': 70, 'Q31_A_Part_1': 71, 'Q31_A_Part_2': 72, 'Q31_A_Part_3': 73, 'Q31_A_Part_4': 74, 'Q31_A_Part_5': 75, 'Q31_A_Part_6': 76, 'Q31_A_Part_7': 77, 'Q31_A_Part_8': 78, 'Q31_A_Part_9': 79, 'Q31_A_OTHER': 80, 'Q36_A_Part_1': 81, 'Q36_A_Part_2': 82, 'Q36_A_Part_3': 83, 'Q36_A_Part_4': 84, 'Q36_A_Part_5': 85, 'Q36_A_Part_6': 86, 'Q36_A_Part_7': 87, 'Q36_A_OTHER': 88, 'Q37_A_Part_1': 89, 'Q37_A_Part_2': 90, 'Q37_A_Part_3': 91, 'Q37_A_Part_4': 92, 'Q37_A_Part_5': 93, 'Q37_A_Part_6': 94, 'Q37_A_Part_7': 95, 'Q37_A_OTHER': 96, 'Q38_A_Part_1': 97, 'Q38_A_Part_2': 98, 'Q38_A_Part_3': 99, 'Q38_A_Part_4': 100, 'Q38_A_Part_5': 101, 'Q38_A_Part_6': 102, 'Q38_A_Part_7': 103, 'Q38_A_Part_8': 104, 'Q38_A_Part_9': 105, 'Q38_A_Part_10': 106, 'Q38_A_Part_11': 107, 'Q38_A_OTHER': 108, 'Q39_Part_1': 109, 'Q39_Part_2': 110, 'Q39_Part_3': 111, 'Q39_Part_4': 112, 'Q39_Part_5': 113, 'Q39_Part_6': 114, 'Q39_Part_7': 115, 'Q39_Part_8': 116, 'Q39_Part_9': 117, 'Q39_OTHER': 118, 'Q40_Part_1': 119, 'Q40_Part_2': 120, 'Q40_Part_3': 121, 'Q40_Part_4': 122, 'Q40_Part_5': 123, 'Q40_Part_6': 124, 'Q40_Part_7': 125, 'Q40_Part_8': 126, 'Q40_Part_9': 127, 'Q40_Part_10': 128, 'Q40_Part_11': 129, 'Q40_OTHER': 130, 'Q42_Part_1': 131, 'Q42_Part_2': 132, 'Q42_Part_3': 133, 'Q42_Part_4': 134, 'Q42_Part_5': 135, 'Q42_Part_6': 136, 'Q42_Part_7': 137, 'Q42_Part_8': 138, 'Q42_Part_9': 139, 'Q42_Part_10': 140, 'Q42_Part_11': 141, 'Q42_OTHER': 142, 'Q27_B_Part_1': 143, 'Q27_B_Part_2': 144, 'Q27_B_Part_3': 145, 'Q27_B_Part_4': 146, 'Q27_B_Part_5': 147, 'Q27_B_Part_6': 148, 'Q27_B_Part_7': 149, 'Q27_B_Part_8': 150, 'Q27_B_Part_9': 151, 'Q27_B_Part_10': 152, 'Q27_B_Part_11': 153, 'Q27_B_OTHER': 154, 'Q29_B_Part_1': 155, 'Q29_B_Part_2': 156, 'Q29_B_Part_3': 157, 'Q29_B_Part_4': 158, 'Q29_B_OTHER': 159, 'Q30_B_Part_1': 160, 'Q30_B_Part_2': 161, 'Q30_B_Part_3': 162, 'Q30_B_Part_4': 163, 'Q30_B_Part_5': 164, 'Q30_B_Part_6': 165, 'Q30_B_Part_7': 166, 'Q30_B_OTHER': 167, 'Q31_B_Part_1': 168, 'Q31_B_Part_2': 169, 'Q31_B_Part_3': 170, 'Q31_B_Part_4': 171, 'Q31_B_Part_5': 172, 'Q31_B_Part_6': 173, 'Q31_B_Part_7': 174, 'Q31_B_Part_8': 175, 'Q31_B_Part_9': 176, 'Q31_B_OTHER': 177, 'Q32_B_Part_1': 178, 'Q32_B_Part_2': 179, 'Q32_B_Part_3': 180, 'Q32_B_Part_4': 181, 'Q32_B_Part_5': 182, 'Q32_B_Part_6': 183, 'Q32_B_Part_7': 184, 'Q32_B_Part_8': 185, 'Q32_B_Part_9': 186, 'Q32_B_Part_10': 187, 'Q32_B_Part_11': 188, 'Q32_B_Part_12': 189, 'Q32_B_Part_13': 190, 'Q32_B_Part_14': 191, 'Q32_B_Part_15': 192, 'Q32_B_Part_16': 193, 'Q32_B_Part_17': 194, 'Q32_B_Part_18': 195, 'Q32_B_Part_19': 196, 'Q32_B_Part_20': 197, 'Q32_B_OTHER': 198, 'Q34_B_Part_1': 199, 'Q34_B_Part_2': 200, 'Q34_B_Part_3': 201, 'Q34_B_Part_4': 202, 'Q34_B_Part_5': 203, 'Q34_B_Part_6': 204, 'Q34_B_Part_7': 205, 'Q34_B_Part_8': 206, 'Q34_B_Part_9': 207, 'Q34_B_Part_10': 208, 'Q34_B_Part_11': 209, 'Q34_B_Part_12': 210, 'Q34_B_Part_13': 211, 'Q34_B_Part_14': 212, 'Q34_B_Part_15': 213, 'Q34_B_Part_16': 214, 'Q34_B_OTHER': 215, 'Q36_B_Part_1': 216, 'Q36_B_Part_2': 217, 'Q36_B_Part_3': 218, 'Q36_B_Part_4': 219, 'Q36_B_Part_5': 220, 'Q36_B_Part_6': 221, 'Q36_B_Part_7': 222, 'Q36_B_OTHER': 223, 'Q37_B_Part_1': 224, 'Q37_B_Part_2': 225, 'Q37_B_Part_3': 226, 'Q37_B_Part_4': 227, 'Q37_B_Part_5': 228, 'Q37_B_Part_6': 229, 'Q37_B_Part_7': 230, 'Q37_B_OTHER': 231, 'Q38_B_Part_1': 232, 'Q38_B_Part_2': 233, 'Q38_B_Part_3': 234, 'Q38_B_Part_4': 235, 'Q38_B_Part_5': 236, 'Q38_B_Part_6': 237, 'Q38_B_Part_7': 238, 'Q38_B_Part_8': 239, 'Q38_B_Part_9': 240, 'Q38_B_Part_10': 241, 'Q38_B_Part_11': 242, 'Q38_B_OTHER': 243}

Index(['age', 'gender', 'Q3', 'Q5', 'Q6', 'Q8', 'Q15', 'Q22', 'Q41', 'Q7',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=167)

In [14]:
eliminar_indices(df_unido, 'Q40_Part_1', 'Q38_B_OTHER')

{'age': 0, 'gender': 1, 'Q3': 2, 'Q5': 3, 'Q6': 4, 'Q8': 5, 'Q15': 6, 'Q22': 7, 'Q41': 8, 'Q7': 9, 'Q9': 10, 'Q14': 11, 'Q24': 12, 'Q32': 13, 'Q34': 14, 'Q10_Part_1': 15, 'Q10_Part_2': 16, 'Q10_Part_3': 17, 'Q10_Part_4': 18, 'Q10_Part_5': 19, 'Q10_Part_6': 20, 'Q10_Part_7': 21, 'Q10_Part_8': 22, 'Q10_Part_9': 23, 'Q10_Part_10': 24, 'Q10_Part_11': 25, 'Q10_Part_12': 26, 'Q10_Part_13': 27, 'Q10_Part_14': 28, 'Q10_Part_15': 29, 'Q10_Part_16': 30, 'Q10_OTHER': 31, 'Q39_Part_1': 32, 'Q39_Part_2': 33, 'Q39_Part_3': 34, 'Q39_Part_4': 35, 'Q39_Part_5': 36, 'Q39_Part_6': 37, 'Q39_Part_7': 38, 'Q39_Part_8': 39, 'Q39_Part_9': 40, 'Q39_OTHER': 41, 'Q40_Part_1': 42, 'Q40_Part_2': 43, 'Q40_Part_3': 44, 'Q40_Part_4': 45, 'Q40_Part_5': 46, 'Q40_Part_6': 47, 'Q40_Part_7': 48, 'Q40_Part_8': 49, 'Q40_Part_9': 50, 'Q40_Part_10': 51, 'Q40_Part_11': 52, 'Q40_OTHER': 53, 'Q42_Part_1': 54, 'Q42_Part_2': 55, 'Q42_Part_3': 56, 'Q42_Part_4': 57, 'Q42_Part_5': 58, 'Q42_Part_6': 59, 'Q42_Part_7': 60, 'Q42_Part_8': 61, 'Q42_Part_9': 62, 'Q42_Part_10': 63, 'Q42_Part_11': 64, 'Q42_OTHER': 65, 'Q27_B_Part_1': 66, 'Q27_B_Part_2': 67, 'Q27_B_Part_3': 68, 'Q27_B_Part_4': 69, 'Q27_B_Part_5': 70, 'Q27_B_Part_6': 71, 'Q27_B_Part_7': 72, 'Q27_B_Part_8': 73, 'Q27_B_Part_9': 74, 'Q27_B_Part_10': 75, 'Q27_B_Part_11': 76, 'Q27_B_OTHER': 77, 'Q29_B_Part_1': 78, 'Q29_B_Part_2': 79, 'Q29_B_Part_3': 80, 'Q29_B_Part_4': 81, 'Q29_B_OTHER': 82, 'Q30_B_Part_1': 83, 'Q30_B_Part_2': 84, 'Q30_B_Part_3': 85, 'Q30_B_Part_4': 86, 'Q30_B_Part_5': 87, 'Q30_B_Part_6': 88, 'Q30_B_Part_7': 89, 'Q30_B_OTHER': 90, 'Q31_B_Part_1': 91, 'Q31_B_Part_2': 92, 'Q31_B_Part_3': 93, 'Q31_B_Part_4': 94, 'Q31_B_Part_5': 95, 'Q31_B_Part_6': 96, 'Q31_B_Part_7': 97, 'Q31_B_Part_8': 98, 'Q31_B_Part_9': 99, 'Q31_B_OTHER': 100, 'Q32_B_Part_1': 101, 'Q32_B_Part_2': 102, 'Q32_B_Part_3': 103, 'Q32_B_Part_4': 104, 'Q32_B_Part_5': 105, 'Q32_B_Part_6': 106, 'Q32_B_Part_7': 107, 'Q32_B_Part_8': 108, 'Q32_B_Part_9': 109, 'Q32_B_Part_10': 110, 'Q32_B_Part_11': 111, 'Q32_B_Part_12': 112, 'Q32_B_Part_13': 113, 'Q32_B_Part_14': 114, 'Q32_B_Part_15': 115, 'Q32_B_Part_16': 116, 'Q32_B_Part_17': 117, 'Q32_B_Part_18': 118, 'Q32_B_Part_19': 119, 'Q32_B_Part_20': 120, 'Q32_B_OTHER': 121, 'Q34_B_Part_1': 122, 'Q34_B_Part_2': 123, 'Q34_B_Part_3': 124, 'Q34_B_Part_4': 125, 'Q34_B_Part_5': 126, 'Q34_B_Part_6': 127, 'Q34_B_Part_7': 128, 'Q34_B_Part_8': 129, 'Q34_B_Part_9': 130, 'Q34_B_Part_10': 131, 'Q34_B_Part_11': 132, 'Q34_B_Part_12': 133, 'Q34_B_Part_13': 134, 'Q34_B_Part_14': 135, 'Q34_B_Part_15': 136, 'Q34_B_Part_16': 137, 'Q34_B_OTHER': 138, 'Q36_B_Part_1': 139, 'Q36_B_Part_2': 140, 'Q36_B_Part_3': 141, 'Q36_B_Part_4': 142, 'Q36_B_Part_5': 143, 'Q36_B_Part_6': 144, 'Q36_B_Part_7': 145, 'Q36_B_OTHER': 146, 'Q37_B_Part_1': 147, 'Q37_B_Part_2': 148, 'Q37_B_Part_3': 149, 'Q37_B_Part_4': 150, 'Q37_B_Part_5': 151, 'Q37_B_Part_6': 152, 'Q37_B_Part_7': 153, 'Q37_B_OTHER': 154, 'Q38_B_Part_1': 155, 'Q38_B_Part_2': 156, 'Q38_B_Part_3': 157, 'Q38_B_Part_4': 158, 'Q38_B_Part_5': 159, 'Q38_B_Part_6': 160, 'Q38_B_Part_7': 161, 'Q38_B_Part_8': 162, 'Q38_B_Part_9': 163, 'Q38_B_Part_10': 164, 'Q38_B_Part_11': 165, 'Q38_B_OTHER': 166}

Index(['age', 'gender', 'Q3', 'Q5', 'Q6', 'Q8', 'Q15', 'Q22', 'Q41', 'Q7',
       'Q9', 'Q14', 'Q24', 'Q32', 'Q34', 'Q10_Part_1', 'Q10_Part_2',
       'Q10_Part_3', 'Q10_Part_4', 'Q10_Part_5', 'Q10_Part_6', 'Q10_Part_7',
       'Q10_Part_8', 'Q10_Part_9', 'Q10_Part_10', 'Q10_Part_11', 'Q10_Part_12',
       'Q10_Part_13', 'Q10_Part_14', 'Q10_Part_15', 'Q10_Part_16', 'Q10_OTHER',
       'Q39_Part_1', 'Q39_Part_2', 'Q39_Part_3', 'Q39_Part_4', 'Q39_Part_5',
       'Q39_Part_6', 'Q39_Part_7', 'Q39_Part_8', 'Q39_Part_9', 'Q39_OTHER'],
      dtype='object')

In [15]:
for i in df_unido.columns:
    print(i)

age
gender
Q3
Q5
Q6
Q8
Q15
Q22
Q41
Q7
Q9
Q14
Q24
Q32
Q34
Q10_Part_1
Q10_Part_2
Q10_Part_3
Q10_Part_4
Q10_Part_5
Q10_Part_6
Q10_Part_7
Q10_Part_8
Q10_Part_9
Q10_Part_10
Q10_Part_11
Q10_Part_12
Q10_Part_13
Q10_Part_14
Q10_Part_15
Q10_Part_16
Q10_OTHER
Q39_Part_1
Q39_Part_2
Q39_Part_3
Q39_Part_4
Q39_Part_5
Q39_Part_6
Q39_Part_7
Q39_Part_8
Q39_Part_9
Q39_OTHER

## Creamos una columna nueva 'continent'

In [16]:
df_limpio = df_unido.copy()

In [17]:
dicc_continentes = {'Europe': ['Greece', 'Belgium', 'Poland', 'Italy', 'Spain', 'United Kingdom of Great Britain and Northern Ireland', 'France',
                            'Switzerland', 'Sweden', 'Netherlands', 'Ukraine', 'Romania', 'Austria', 'Belarus', 'Ireland',
                            'Portugal', 'Denmark', 'Germany', 'Norway', 'Czech Republic'],
                    'Asia': ['India', 'Indonesia', 'Pakistan', 'Russia', 'Turkey', 'Japan', 'Singapore', 'China', 'Iran, Islamic Republic of...', 
                             'Viet Nam', 'Israel', 'Bangladesh', 'Saudi Arabia', 'Taiwan', 'Hong Kong (S.A.R.)', 'South Korea', 'Philippines', 'Sri Lanka', 
                             'United Arab Emirates', 'Malaysia', 'Thailand', 'Nepal', 'Kazakhstan', 'Iraq'],
                    'America': ['Mexico', 'Brazil', 'United States of America',
                                'Peru', 'Argentina', 'Colombia', 'Canada', 'Chile', 'Ecuador'],
                    'Africa':['Uganda', 'Ghana','Algeria', 'Tunisia', 'South Africa', 'Nigeria', 'Kenya','Egypt', 'Ethiopia', 'Morocco'],
                    'Oceania': ['Australia'],
                    'Other' : ['Other', 'I do not wish to disclose my location']}

In [18]:
def continent(col):
    try:
        for key in dicc_continentes.keys():
                if col in dicc_continentes[key]:
                    return key
                else:
                    pass
    except:
        pass

In [19]:
df_limpio['continent'] = df_limpio['Q3'].apply(continent)

In [20]:
df_limpio.head(2)

,age,gender,Q3,Q5,Q6,Q8,Q15,Q22,Q41,Q7,Q9,Q14,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,continent
0,50-54,Man,India,Other,5-10 years,Python,5-10 years,3-4,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Asia
1,50-54,Man,Indonesia,Program/Project Manager,20+ years,Python,< 1 year,1-2,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia

## Cambiar nombres de las columnas

In [21]:
lista_nombres_nuevos = ['age', 'gender', 'country', 'job_title', 'years_programming', 'dev_language', 'first_language_rec', 'IDE', 'notebooks', 'visualisation', 'ML', 'size_DA_dept', 'work_activities', 'big_data', 'BI_tools', 'sharing']

In [22]:
diccionario_nombres = {'age':'age',
 'gender':'gender',
 'Q3':'country',
 'Q5':'job_title',
 'Q6':'years_programming',
 'Q7':'dev_language',
 'Q8':'first_language_rec',
 'Q9':'IDE',
 'Q10_Part_1':'notebooks_KaggleNotebooks',
 'Q10_Part_2':'notebooks_ColabNotebooks',
 'Q10_Part_3':'notebooks_AzureNotebooks',
 'Q10_Part_4':'notebooks_Paperspace/Gradient',
 'Q10_Part_5':'notebooks_Binder/JupyterHub',
 'Q10_Part_6':'notebooks_CodeOcean',
 'Q10_Part_7':'notebooks_IBMWatsonStudio',
 'Q10_Part_8':'notebooks_AmazonSagemakerStudioNotebooks',
 'Q10_Part_9':'notebooks_AmazonEMRNotebooks',
 'Q10_Part_10':'notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI)',
 'Q10_Part_11':'notebooks_GoogleCloudDatalab',
 'Q10_Part_12':'notebooks_DatabricksCollaborativeNotebooks',
 'Q10_Part_13':'notebooks_Zeppelin/ZeplNotebooks',
 'Q10_Part_14':'notebooks_DeepnoteNotebooks',
 'Q10_Part_15':'notebooks_ObservableNotebooks',
 'Q10_Part_16':'notebooks_None',
 'Q10_OTHER':'notebooks_Other',
 'Q14':'visualisation',
 'Q41':'primary_data_tool',
 'Q15':'ML',
 'Q22':'size_DA_dept',
 'Q24':'work_activities',
 'Q32':'big_data',
 'Q34':'BI_tools',
 'Q39_Part_1':'sharing_PlotlyDash',
 'Q39_Part_2':'sharing_Streamlit',
 'Q39_Part_3':'sharing_NBViewer',
 'Q39_Part_4':'sharing_GitHub',
 'Q39_Part_5':'sharing_Personalblog',
 'Q39_Part_6':'sharing_Kaggle',
 'Q39_Part_7':'sharing_Colab',
 'Q39_Part_8':'sharing_Shiny',
 'Q39_Part_9':'sharing_does_not_share',
 'Q39_OTHER':'sharing_Other'}

In [23]:
df_limpio.rename(columns=diccionario_nombres, inplace=True)
df_limpio.head(2)

,age,gender,country,job_title,years_programming,first_language_rec,ML,size_DA_dept,primary_data_tool,dev_language,IDE,visualisation,work_activities,big_data,BI_tools,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other,continent
0,50-54,Man,India,Other,5-10 years,Python,5-10 years,3-4,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Asia
1,50-54,Man,Indonesia,Program/Project Manager,20+ years,Python,< 1 year,1-2,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia

In [24]:
nuevo_orden = ['age',
 'gender',
 'country',
 'continent',
 'job_title',
 'work_activities',
  'size_DA_dept',
 'years_programming',
 'first_language_rec',
 'dev_language',
 'primary_data_tool',
 'IDE',
 'big_data',
 'BI_tools',
 'visualisation',
 'ML',
 'notebooks_KaggleNotebooks',
 'notebooks_ColabNotebooks',
 'notebooks_AzureNotebooks',
 'notebooks_Paperspace/Gradient',
 'notebooks_Binder/JupyterHub',
 'notebooks_CodeOcean',
 'notebooks_IBMWatsonStudio',
 'notebooks_AmazonSagemakerStudioNotebooks',
 'notebooks_AmazonEMRNotebooks',
 'notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI)',
 'notebooks_GoogleCloudDatalab',
 'notebooks_DatabricksCollaborativeNotebooks',
 'notebooks_Zeppelin/ZeplNotebooks',
 'notebooks_DeepnoteNotebooks',
 'notebooks_ObservableNotebooks',
 'notebooks_None',
 'notebooks_Other',
 'sharing_PlotlyDash',
 'sharing_Streamlit',
 'sharing_NBViewer',
 'sharing_GitHub',
 'sharing_Personalblog',
 'sharing_Kaggle',
 'sharing_Colab',
 'sharing_Shiny',
 'sharing_does_not_share',
 'sharing_Other'
 ]

In [25]:
df_limpio = df_limpio.reindex(columns=nuevo_orden)
df_limpio.head(1)

,age,gender,country,continent,job_title,work_activities,size_DA_dept,years_programming,first_language_rec,dev_language,primary_data_tool,IDE,big_data,BI_tools,visualisation,ML,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other
0,50-54,Man,India,Asia,Other,None of these activities are an important par...,3-4,5-10 years,Python,"Python, R","Local development environments (RStudio, Jupyt...",Vim / Emacs,PostgreSQL,None,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",5-10 years,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN

In [26]:
#df_limpio.to_csv('../datos/datos_limpios.csv')

## Dividimos las columnas multirespuestas

In [27]:
#esta función crea un dicionario con el número de la columna como keys y una lista de los valores únicos de la columna como values
def dict_respuestas(dataframe):
    
    dic_respuestas = {}
    
    for col in dataframe.columns:
        lista_nueva = []
        #ignoramos la columna index
        if col == "index":
            pass
        #comprobamos si los valores únicos son más de 20 - si es una pregunta multirespuesta 
        elif len(dataframe[col].unique()) > 22:
            #crea una lista de los valores únicos
                lista_unicos = list(dataframe[col].unique())
                for sublist in lista_unicos:
                    #cada lista dentro de los valores únicos se divide por las comas 
                    try:
                        lista_nueva.extend(sublist.split(","))
                    except:
                        pass
                    #lista de todas las posibles respuestas individuales
                    #la convertimos en set para eliminar los duplicados 
                    set_unicos = set(lista_nueva)
                    #lo volvemos a convertir en lista para poder usarla cómodamente
                    lista_nueva = list(set_unicos)
        else:
            #si no es multirespuesta podemos usar el unique para ver los valores únicos 
            lista_nueva = list(dataframe[col].unique())
        #list comprehension para quitar los nulos    
        lista_sin_nan = [item for item in lista_nueva if not (pd.isnull(item)) == True]
        #metemos la lista sin nulos en un diccionario donde el key es el número de la columna y los values con la lista de valores únicos lista_sin_nan
        dic_respuestas[col] = lista_sin_nan

    return dic_respuestas

In [28]:
diccionario_respuestas = dict_respuestas(df_limpio)

In [29]:
lista_columnas_dividir = ['dev_language', 'IDE', 'visualisation', 'work_activities', 'big_data', 'BI_tools']

In [30]:
def buscar(columna, string):
    try:
        if string in columna:
            return 1
        else:
            return 0
    except:
        return np.nan

In [31]:
def dividir_columnas(dataframe, lista_columnas, **dicc_respuestas):
    for col in lista_columnas:
        lista_nombres = []
        lista_respuestas = dicc_respuestas[col]
        for elemento in lista_respuestas:
            nombre_columna = f"{col}_{elemento.strip()}"
            lista_nombres.append(nombre_columna)
            dataframe[nombre_columna] = dataframe.apply(lambda df: buscar(df[col], elemento), axis=1)

In [32]:
dividir_columnas(df_limpio,lista_columnas_dividir,**diccionario_respuestas)

In [33]:
df_limpio.sample()

,age,gender,country,continent,job_title,work_activities,size_DA_dept,years_programming,first_language_rec,dev_language,primary_data_tool,IDE,big_data,BI_tools,visualisation,ML,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other,dev_language_SQL,dev_language_C,dev_language_MATLAB,dev_language_None,dev_language_Other,dev_language_Swift,dev_language_Java,dev_language_Julia,dev_language_Python,dev_language_Javascript,dev_language_R,dev_language_C++,dev_language_Bash,IDE_Notepad++,IDE_None,IDE_Other,IDE_Vim / Emacs,IDE_Visual Studio,IDE_PyCharm,IDE_Visual Studio Code (VSCode),IDE_MATLAB,IDE_Spyder,IDE_Sublime Text,IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc),IDE_Jupyter Notebook,IDE_RStudio,visualisation_Ggplot / ggplot2,visualisation_None,visualisation_Plotly / Plotly Express,visualisation_Other,visualisation_Bokeh,visualisation_Matplotlib,visualisation_Seaborn,visualisation_D3 js,visualisation_Geoplotlib,visualisation_Altair,visualisation_Leaflet / Folium,visualisation_Shiny,work_activities_Other,work_activities_Build prototypes to explore applying machine learning to new areas,work_activities_Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data,work_activities_Analyze and understand data to influence product or business decisions,work_activities_None of these activities are an important part of my role at work,work_activities_Experimentation and iteration to improve existing ML models,work_activities_Do research that advances the state of the art of machine learning,work_activities_Build and/or run a machine learning service that operationally improves my product or workflows,big_data_Amazon Aurora,big_data_SQLite,big_data_Microsoft Azure SQL Database,big_data_MySQL,big_data_Google Cloud BigTable,big_data_Oracle Database,big_data_None,big_data_Other,big_data_MongoDB,big_data_Amazon RDS,big_data_Google Cloud Spanner,big_data_Google Cloud BigQuery,big_data_Amazon Redshift,big_data_Microsoft Azure Cosmos DB,big_data_Amazon DynamoDB,big_data_IBM Db2,big_data_Google Cloud SQL,big_data_PostgreSQL,big_data_Google Cloud Firestore,big_data_Microsoft SQL Server,big_data_Snowflake,BI_tools_Thoughtspot,BI_tools_None,BI_tools_TIBCO Spotfire,BI_tools_Other,BI_tools_Looker,BI_tools_Amazon QuickSight,BI_tools_Microsoft Azure Synapse,BI_tools_Domo,BI_tools_Microsoft Power BI,BI_tools_Google Data Studio,BI_tools_SAP Analytics Cloud,BI_tools_Tableau CRM,BI_tools_Sisense,BI_tools_Tableau,BI_tools_Alteryx,BI_tools_Salesforce,BI_tools_Qlik
3992,40-44,Man,Other,Other,Research Scientist,None of these activities are an important par...,1-2,20+ years,C,"Python, SQL, C, C++, Java, Javascript","Local development environments (RStudio, Jupyt...","Visual Studio Code (VSCode) ,Jupyter Notebook,...",NaN,NaN,Matplotlib,3-4 years,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
lista_activities_col = []
for col in df_limpio.columns:
    if 'work_activities' in col:
        lista_activities_col.append(col)
lista_activities_col

['work_activities',
 'work_activities_Other',
 'work_activities_Build prototypes to explore applying machine learning to new areas',
 'work_activities_Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data',
 'work_activities_Analyze and understand data to influence product or business decisions',
 'work_activities_None of these activities are an important part of my role at work',
 'work_activities_Experimentation and iteration to improve existing ML models',
 'work_activities_Do research that advances the state of the art of machine learning',
 'work_activities_Build and/or run a machine learning service that operationally improves my product or workflows']

In [35]:
diccionario_nombres_activities = {'work_activities_Analyze and understand data to influence product or business decisions':'activities_analyze_data',
                                'work_activities_Experimentation and iteration to improve existing ML models':'activities_improve_ML',
                                'work_activities_Build prototypes to explore applying machine learning to new areas':'activities_ML_prototypes',
                                'work_activities_None of these activities are an important part of my role at work':'activities_None',
                                'work_activities_Build and/or run the data infrastructure that my business uses for storing; analyzing; and operationalizing data':'activities_data_infrastructure',
                                'work_activities_Build and/or run a machine learning service that operationally improves my product or workflows':'activities_run_ML',
                                'work_activities_Other':'activities_Other',
                                'work_activities_Do research that advances the state of the art of machine learning':'activities_ML_research'}

In [36]:
df_limpio.rename(columns = diccionario_nombres_activities, inplace=True)

In [37]:
diccionario_respuestas2 = dict_respuestas(df_limpio)

In [39]:
with open ('../datos/diccionario_respuestas.pkl', 'wb') as f:
    pickle.dump(diccionario_respuestas2, f)

In [ ]:
#df_limpio.to_csv('../datos/datos_limpios_divididos.csv')

## Reemplazamos valores por 1.0s

In [40]:
with open('../datos/diccionario_respuestas.pkl', 'rb') as f:
    diccionario_guardado = pickle.load(f)

In [41]:
df_unos = df_limpio.copy()

In [42]:
def strip_col(columna):
    try:
        return columna.strip()
    except:
        return columna

In [43]:
for key, value in diccionario_guardado.items():
    if 'sharing' in key or 'notebooks_' in key:
        diccionario_guardado[key] = value[0].strip()

In [44]:
for key, value in diccionario_guardado.items():
    if 'sharing' in key or 'notebooks_' in key:
        df_unos[key] = df_unos[key].apply(strip_col)
        df_unos[key].replace(to_replace = value, value = 1.0, inplace=True)

In [45]:
df_unos['notebooks_KaggleNotebooks'].unique()

array([nan,  1.])

In [46]:
lista_columnas_dividir2 = ['primary_data_tool', 'first_language_rec']

dividir_columnas(df_unos, lista_columnas_dividir2, **diccionario_guardado)

In [48]:
lista_primary_tool_col = []
for col in df_unos.columns:
    if 'primary_data_tool' in col:
        lista_primary_tool_col.append(col)
lista_primary_tool_col

['primary_data_tool',
 'primary_data_tool_Local development environments (RStudio, JupyterLab, etc.)',
 'primary_data_tool_Advanced statistical software (SPSS, SAS, etc.)',
 'primary_data_tool_Basic statistical software (Microsoft Excel, Google Sheets, etc.)',
 'primary_data_tool_Business intelligence software (Salesforce, Tableau, Spotfire, etc.)',
 'primary_data_tool_Cloud-based data software & APIs (AWS, GCP, Azure, etc.)',
 'primary_data_tool_Other']

In [49]:
diccionario_nombres_primarytool = {'primary_data_tool_Local development environments (RStudio, JupyterLab, etc.)':'primary_tool_local_dev_env',
 'primary_data_tool_Advanced statistical software (SPSS, SAS, etc.)':'primary_tool_adv_stats',
 'primary_data_tool_Basic statistical software (Microsoft Excel, Google Sheets, etc.)':'primary_tool_basic_stats',
 'primary_data_tool_Business intelligence software (Salesforce, Tableau, Spotfire, etc.)':'primary_tool_BI',
 'primary_data_tool_Cloud-based data software & APIs (AWS, GCP, Azure, etc.)':'primary_tool_cloud_APIs',
 'primary_data_tool_Other':'primary_tool_Other'}

In [50]:
df_unos.rename(columns = diccionario_nombres_primarytool, inplace=True)

In [51]:
df_unos.head(2)

,age,gender,country,continent,job_title,work_activities,size_DA_dept,years_programming,first_language_rec,dev_language,primary_data_tool,IDE,big_data,BI_tools,visualisation,ML,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other,dev_language_SQL,dev_language_C,dev_language_MATLAB,dev_language_None,dev_language_Other,dev_language_Swift,dev_language_Java,dev_language_Julia,dev_language_Python,dev_language_Javascript,dev_language_R,dev_language_C++,dev_language_Bash,IDE_Notepad++,IDE_None,IDE_Other,IDE_Vim / Emacs,IDE_Visual Studio,IDE_PyCharm,IDE_Visual Studio Code (VSCode),IDE_MATLAB,IDE_Spyder,IDE_Sublime Text,IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc),IDE_Jupyter Notebook,IDE_RStudio,visualisation_Ggplot / ggplot2,visualisation_None,visualisation_Plotly / Plotly Express,visualisation_Other,visualisation_Bokeh,visualisation_Matplotlib,visualisation_Seaborn,visualisation_D3 js,visualisation_Geoplotlib,visualisation_Altair,visualisation_Leaflet / Folium,visualisation_Shiny,activities_Other,activities_ML_prototypes,activities_data_infrastructure,activities_analyze_data,activities_None,activities_improve_ML,activities_ML_research,activities_run_ML,big_data_Amazon Aurora,big_data_SQLite,big_data_Microsoft Azure SQL Database,big_data_MySQL,big_data_Google Cloud BigTable,big_data_Oracle Database,big_data_None,big_data_Other,big_data_MongoDB,big_data_Amazon RDS,big_data_Google Cloud Spanner,big_data_Google Cloud BigQuery,big_data_Amazon Redshift,big_data_Microsoft Azure Cosmos DB,big_data_Amazon DynamoDB,big_data_IBM Db2,big_data_Google Cloud SQL,big_data_PostgreSQL,big_data_Google Cloud Firestore,big_data_Microsoft SQL Server,big_data_Snowflake,BI_tools_Thoughtspot,BI_tools_None,BI_tools_TIBCO Spotfire,BI_tools_Other,BI_tools_Looker,BI_tools_Amazon QuickSight,BI_tools_Microsoft Azure Synapse,BI_tools_Domo,BI_tools_Microsoft Power BI,BI_tools_Google Data Studio,BI_tools_SAP Analytics Cloud,BI_tools_Tableau CRM,BI_tools_Sisense,BI_tools_Tableau,BI_tools_Alteryx,BI_tools_Salesforce,BI_tools_Qlik,primary_tool_local_dev_env,primary_tool_adv_stats,primary_tool_basic_stats,primary_tool_BI,primary_tool_cloud_APIs,primary_tool_Other,first_language_rec_Python,first_language_rec_SQL,first_language_rec_R,first_language_rec_MATLAB,first_language_rec_C,first_language_rec_Julia,first_language_rec_Other,first_language_rec_C++,first_language_rec_Javascript,first_language_rec_Java,first_language_rec_None,first_language_rec_Bash,first_language_rec_Swift
0,50-54,Man,India,Asia,Other,None of these activities are an important par...,3-4,5-10 years,Python,"Python, R","Local development environments (RStudio, Jupyt...",Vim / Emacs,PostgreSQL,None,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",5-10 years,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,50-54,Man,Indonesia,Asia,Program/Project Manager,Build and/or run the data infrastructure that...,1-2,20+ years,Python,"SQL, C, C++, Java","Advanced statistical software (SPSS, SAS, etc.)","Notepad++,Jupyter Notebook",NaN,NaN,Matplotlib,< 1 year,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#df_unos.to_csv('../datos/datos_divididos_unos.csv')

## Reemplazamos 1.0s por valores

In [174]:
df_sin_unos = pd.read_csv('../datos/datos_limpios_divididos.csv')

In [104]:
lista_columnas_reemplazar = ['dev_language_', 'IDE_', 'visualisation_', 'activities_', 'big_data_', 'BI_tools_']

In [92]:
for key in diccionario_respuestas.keys():
    for i, x in enumerate(diccionario_respuestas[key]):
        if type(diccionario_respuestas[key]) == list:
            try:
                diccionario_respuestas[key][i] = diccionario_respuestas[key][i].strip()
            except:
                pass
        else:
            pass

In [160]:
for col in df_sin_unos.columns:
    for i in lista_columnas_reemplazar:
        if i in col:
            df_sin_unos[col] = df_sin_unos[col].astype('object')

In [172]:
def reemplazar_unos(col, string):
    if col == 1.0:
            return string
    else:
        return col

In [181]:
def reemplazar_prefix(col, string):
    try:
        return col.replace(string, "")
    except:
        return ""

In [173]:
test = reemplazar_unos(1.0, 'dev_language_R')
test

'dev_language_R'

In [178]:
for col in df_sin_unos.columns:
    for i in lista_columnas_reemplazar:
        if i in col:
            df_sin_unos[col] = df_sin_unos.apply(lambda x: reemplazar_unos(x[col], col), axis=1)

In [182]:
for col in df_sin_unos.columns:
    for i in lista_columnas_reemplazar:
        if i in col:
            df_sin_unos[col] = df_sin_unos.apply(lambda x: reemplazar_prefix(x[col], i), axis=1)

In [183]:
df_sin_unos.sample(5)

,Unnamed: 0,age,gender,country,continent,job_title,work_activities,size_DA_dept,years_programming,first_language_rec,dev_language,primary_data_tool,IDE,big_data,BI_tools,visualisation,ML,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other,dev_language_Javascript,dev_language_None,dev_language_R,dev_language_Bash,dev_language_Python,dev_language_Other,dev_language_C,dev_language_MATLAB,dev_language_Julia,dev_language_Java,dev_language_C++,dev_language_Swift,dev_language_SQL,IDE_None,IDE_Sublime Text,IDE_Vim / Emacs,IDE_RStudio,IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc),IDE_Other,IDE_Visual Studio,IDE_Notepad++,IDE_Visual Studio Code (VSCode),IDE_Spyder,IDE_PyCharm,IDE_MATLAB,IDE_Jupyter Notebook,visualisation_None,visualisation_Matplotlib,visualisation_Other,visualisation_Seaborn,visualisation_Altair,visualisation_Shiny,visualisation_D3 js,visualisation_Bokeh,visualisation_Leaflet / Folium,visualisation_Plotly / Plotly Express,visualisation_Geoplotlib,visualisation_Ggplot / ggplot2,activities_ML_prototypes,activities_run_ML,activities_ML_research,activities_Other,activities_improve_ML,activities_None,activities_analyze_data,activities_data_infrastructure,big_data_Google Cloud Firestore,big_data_Google Cloud BigTable,big_data_Google Cloud Spanner,big_data_PostgreSQL,big_data_Microsoft Azure Cosmos DB,big_data_SQLite,big_data_Amazon DynamoDB,big_data_None,big_data_Microsoft Azure SQL Database,big_data_Amazon RDS,big_data_Other,big_data_Snowflake,big_data_Amazon Aurora,big_data_Google Cloud SQL,big_data_Microsoft SQL Server,big_data_Oracle Database,big_data_Google Cloud BigQuery,big_data_Amazon Redshift,big_data_IBM Db2,big_data_MongoDB,big_data_MySQL,BI_tools_None,BI_tools_Tableau,BI_tools_Looker,BI_tools_Google Data Studio,BI_tools_TIBCO Spotfire,BI_tools_Other,BI_tools_Qlik,BI_tools_Tableau CRM,BI_tools_SAP Analytics Cloud,BI_tools_Sisense,BI_tools_Microsoft Power BI,BI_tools_Amazon QuickSight,BI_tools_Salesforce,BI_tools_Microsoft Azure Synapse,BI_tools_Domo,BI_tools_Thoughtspot,BI_tools_Alteryx
19357,19357,22-24,Man,Canada,America,Software Engineer,Analyze and understand data to influence produ...,1-2,3-5 years,C++,C++,Other,None,None,None,None,2-3 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,,,,,,,C,,,,C++,,,None,,,,,,,,,,,,,None,,,,,,,,,,,,ML_prototypes,run_ML,ML_research,,improve_ML,,analyze_data,data_infrastructure,,,,,,,,None,,,,,,,,,,,,,,None,,,,,,,,,,,,,,,,
24407,24407,18-21,Man,Viet Nam,Asia,Machine Learning Engineer,Analyze and understand data to influence produ...,20+,1-3 years,Python,"Python, C++",NaN,"Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",NaN,NaN,Matplotlib,1-2 years,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,Python,,C,,,,C++,,,,,,,Jupyter (JupyterLab; Jupyter Notebooks; etc),,,Notepad++,,,PyCharm,,Jupyter Notebook,,Matplotlib,,,,,,,,,,,,run_ML,,,improve_ML,,analyze_data,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9094,9094,22-24,Man,Pakistan,Asia,Student,NaN,NaN,1-3 years,Python,"Python, SQL, C, C++, Java, Javascript, MATLAB",Other,"Visual Studio Code (VSCode) ,PyCharm ,MATLAB",NaN,NaN,None,I do not use machine learning methods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Javascript,,,,Python,,C,MATLAB,,Java,C++,,SQL,,,,,,,Visual Studio,,Visual Studio Code (VSCode),,PyCharm,MATLAB,,None,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
8093,8093,50-54,Man,United States of America,America,Machine Learning Engineer,Build prototypes to explore applying machine ...,1-2,10-20 years,Python,"Python, R, SQL","Local development environments (RStudio, Jupyt...","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",Google Cloud BigQuery,None,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,D3 js",5-10 years,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Notebooks (AI Platform / Vertex AI),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,NaN,Colab,NaN,NaN,NaN,,,R,,Python,,,,,,,,SQL,,,,RStudio,Jupyter (JupyterLab; Jupyter Notebooks; etc),,,,,,,,Jupyter Notebook,,Matplotlib,,Seaborn,,,D3 js,,,,,Ggplot / ggplot2,ML_prototypes,,ML_research,,,,,,,,,,,,,,,,,,,,,,Google Cloud BigQuery,,,,,None,,,,,,,,,,,,,,,,
11029,11029,30-34,Woman,India,Asia,Software Engineer,Analyze and understand data to influence produ...,20+,< 1 years,Python,Python,"Cloud-based data software & APIs (AWS, GCP, Az...",Jupyter Notebook,"MySQL , Google Cloud BigQuery , Google Cloud SQL",None,"Matplotlib ,Seaborn ,Plotly / Plotly Express",1-2 years,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Notebooks (AI Platform / Vertex AI),Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,NaN,NaN,NaN,NaN,NaN,,,,,Python,,,,,,,,,,,,,,,,,,,,,Jupyter Notebook,,Matplotlib,,Seaborn,,,,,,Plotly / Plotly Express,,,ML_prototypes,run_ML,ML_research,,improve_ML,,analyze_data,,,,,,,,,,,,,,,Google Cloud SQL,,,Google Cloud BigQuery,,,,MySQL,None,,,,,,,,,,,,,,,,

In [184]:
#df_sin_unos.to_csv('../datos/datos_sin_unos.csv')

## Filtramos por Data Analysts

In [74]:
# filtramos el nuevo dataframe unido por respuestas de personas que se identifican como 
# Business Analyst o Data Analyst
df_da_ba = df_limpio[(df_limpio ["job_title"] == "Business Analyst") | (df_limpio ["job_title"] == "Data Analyst")]

In [75]:
df_da_ba.head(3)

,age,gender,country,continent,job_title,work_activities,size_DA_dept,years_programming,first_language_rec,dev_language,primary_data_tool,IDE,big_data,BI_tools,visualisation,ML,notebooks_KaggleNotebooks,notebooks_ColabNotebooks,notebooks_AzureNotebooks,notebooks_Paperspace/Gradient,notebooks_Binder/JupyterHub,notebooks_CodeOcean,notebooks_IBMWatsonStudio,notebooks_AmazonSagemakerStudioNotebooks,notebooks_AmazonEMRNotebooks,notebooks_GoogleCloudNotebooks(AIPlatform/VertexAI),notebooks_GoogleCloudDatalab,notebooks_DatabricksCollaborativeNotebooks,notebooks_Zeppelin/ZeplNotebooks,notebooks_DeepnoteNotebooks,notebooks_ObservableNotebooks,notebooks_None,notebooks_Other,sharing_PlotlyDash,sharing_Streamlit,sharing_NBViewer,sharing_GitHub,sharing_Personalblog,sharing_Kaggle,sharing_Colab,sharing_Shiny,sharing_does_not_share,sharing_Other,dev_language_SQL,dev_language_C,dev_language_MATLAB,dev_language_None,dev_language_Other,dev_language_Swift,dev_language_Java,dev_language_Julia,dev_language_Python,dev_language_Javascript,dev_language_R,dev_language_C++,dev_language_Bash,IDE_Notepad++,IDE_None,IDE_Other,IDE_Vim / Emacs,IDE_Visual Studio,IDE_PyCharm,IDE_Visual Studio Code (VSCode),IDE_MATLAB,IDE_Spyder,IDE_Sublime Text,IDE_Jupyter (JupyterLab; Jupyter Notebooks; etc),IDE_Jupyter Notebook,IDE_RStudio,visualisation_Ggplot / ggplot2,visualisation_None,visualisation_Plotly / Plotly Express,visualisation_Other,visualisation_Bokeh,visualisation_Matplotlib,visualisation_Seaborn,visualisation_D3 js,visualisation_Geoplotlib,visualisation_Altair,visualisation_Leaflet / Folium,visualisation_Shiny,activities_Other,activities_ML_prototypes,activities_data_infrastructure,activities_analyze_data,activities_None,activities_improve_ML,activities_ML_research,activities_run_ML,big_data_Amazon Aurora,big_data_SQLite,big_data_Microsoft Azure SQL Database,big_data_MySQL,big_data_Google Cloud BigTable,big_data_Oracle Database,big_data_None,big_data_Other,big_data_MongoDB,big_data_Amazon RDS,big_data_Google Cloud Spanner,big_data_Google Cloud BigQuery,big_data_Amazon Redshift,big_data_Microsoft Azure Cosmos DB,big_data_Amazon DynamoDB,big_data_IBM Db2,big_data_Google Cloud SQL,big_data_PostgreSQL,big_data_Google Cloud Firestore,big_data_Microsoft SQL Server,big_data_Snowflake,BI_tools_Thoughtspot,BI_tools_None,BI_tools_TIBCO Spotfire,BI_tools_Other,BI_tools_Looker,BI_tools_Amazon QuickSight,BI_tools_Microsoft Azure Synapse,BI_tools_Domo,BI_tools_Microsoft Power BI,BI_tools_Google Data Studio,BI_tools_SAP Analytics Cloud,BI_tools_Tableau CRM,BI_tools_Sisense,BI_tools_Tableau,BI_tools_Alteryx,BI_tools_Salesforce,BI_tools_Qlik
16,50-54,Man,Belgium,Europe,Data Analyst,Analyze and understand data to influence produ...,5-9,20+ years,Python,"Python, SQL","Local development environments (RStudio, Jupyt...","Jupyter (JupyterLab; Jupyter Notebooks; etc) ,...",NaN,NaN,"Matplotlib ,Seaborn ,Plotly / Plotly Express",1-2 years,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,22-24,Nonbinary,United States of America,America,Data Analyst,NaN,3-4,< 1 years,R,R,NaN,RStudio,NaN,NaN,Ggplot / ggplot2,I do not use machine learning methods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,30-34,Woman,Egypt,Africa,Data Analyst,Analyze and understand data to influence produ...,0,3-5 years,R,Python,"Basic statistical software (Microsoft Excel, G...","Notepad++,Jupyter Notebook",None,None,None,I do not use machine learning methods,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [76]:
# guardamos los datos unidos con las columnas eliminadas en un archivo de csv
#df_da_ba.to_csv('../datos/datos_da_ba.csv')